/* ::::: http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic ::::: */

@font-face {
  font-family: "PT Serif";  font-style: normal;  font-weight: 400;  src: local("PT Serif"), local("PTSerif-Regular"), url('sdri4fy9boijubgq53yzcfeszw2xoq-xsnqo47m55da.woff') format("woff");}
@font-face {
  font-family: "PT Serif";  font-style: normal;  font-weight: 700;  src: local("PT Serif Bold"), local("PTSerif-Bold"), url('qabk9ixt-lftj_dqzv7xpibn6udyhwbl620a-irfubk.woff') format("woff");}
@font-face {
  font-family: "PT Serif";  font-style: italic;  font-weight: 400;  src: local("PT Serif Italic"), local("PTSerif-Italic"), url('03apdn7fff3h6ngcgalqzbsxeywm7fgeyasgu71clg0.woff') format("woff");}
@font-face {
  font-family: "PT Serif";  font-style: italic;  font-weight: 700;  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url('foydq9xjp--nfyix2tbz9qfharv2pggt5kf0an0s4mm.woff') format("woff");}
/* ::::: http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic ::::: */

@font-face {
  font-family: "PT Sans";  font-style: normal;  font-weight: 400;  src: local("PT Sans"), local("PTSans-Regular"), url('lkf8nhxswg5ybwegxk8ubq.woff') format("woff");}
@font-face {
  font-family: "PT Sans";  font-style: normal;  font-weight: 700;  src: local("PT Sans Bold"), local("PTSans-Bold"), url('0xxgqssc1g4rdrdjjkzrnbsxeywm7fgeyasgu71clg0.woff') format("woff");}
@font-face {
  font-family: "PT Sans";  font-style: italic;  font-weight: 400;  src: local("PT Sans Italic"), local("PTSans-Italic"), url('pipmhy90p7jtyjpxuz2cld8e0i7kzn-epnyo3hzu7kw.woff') format("woff");}
@font-face {
  font-family: "PT Sans";  font-style: italic;  font-weight: 700;  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url('lillydvubyemzyzn7gblkhhcuogz7vygh680lgh-uxm.woff') format("woff");}
/* ::::: http://beyondgrep.com/bg.css ::::: */

p, dd, dt { font-family: "PT Serif",Georgia,serif; }
h1, h2, h3, h4, h5, h6, .nav, .footer { font-family: "PT Sans",Tahoma,sans-serif; }
.footer { font-size: 12px; text-align: center; }
pre { font-family: courier; }
body { margin: 0pt; padding: 0pt; background: url('bg_tile.jpg') repeat scroll 0% 0% rgb(243, 242, 242); }
.logo { font-family: courier; float: left; display: inline; color: rgb(255, 255, 255); font-size: 2.5em; font-weight: normal; margin: 0pt 10px; padding: 6px 0pt 0pt; }
.logo a { text-decoration: none; color: rgb(255, 255, 255); border: medium none; }
.logo a:hover { color: rgb(242, 156, 128); border: medium none; background: none repeat scroll 0% 0% transparent; }
.nav { margin: auto; width: 90%; background-color: rgb(230, 58, 0); overflow: hidden; border-radius: 0pt 0pt 10px 10px; }
.nav ul { font-size: 0.95em; list-style: none outside none; padding: 0pt; margin: 0pt; float: right; }
.nav li { margin: 0pt; float: left; }
.nav li a { float: left; text-align: center; display: block; width: 8em; border-left: 1px solid rgb(207, 53, 0); padding: 20px 0pt; text-decoration: none; color: rgb(255, 255, 255); border-bottom: medium none; }
.nav li a:hover { background-color: rgb(207, 53, 0); border-bottom: medium none; text-decoration: none; }
.nav li:first-child a { background-color: rgb(255, 180, 59); color: rgb(207, 53, 0); font-weight: bold; }
.nav li:first-child a:hover { background-color: rgb(255, 171, 36); }
.footer { margin-top: auto; margin-right: auto; margin-left: auto; margin-bottom: 0pt ! important; width: 90%; background-color: rgb(226, 226, 226); overflow: hidden; border-radius: 10px 10px 0pt 0pt; color: rgb(158, 158, 158); }
.footer a { color: rgb(79, 79, 79); }
.billbox { margin: auto; width: 90%; overflow: hidden; clear: both; padding: 30px 0pt 0pt; }
.billhead { font-size: 3em; color: rgb(130, 130, 130); font-weight: bold; padding-left: 30px; float: left; }
.billhead pre { margin: auto 0.1em; }
.billtext { overflow: hidden; padding: 20px 30px 0pt; }
.billtext h1 { margin: 0pt; }
h1 { font-size: 2em; }
h2 { margin-top: 0pt; font-size: 1.5em; }
a { color: rgb(230, 58, 0); text-decoration: none; border-bottom: 1px solid rgb(220, 220, 220); }
a:hover { color: rgb(207, 53, 0); text-decoration: none; border-bottom: 1px solid rgb(207, 53, 0); background: none repeat scroll 0% 0% rgb(239, 207, 197); }
.content { margin: 15px auto; width: 90%; overflow: hidden; clear: both; }
.feature-bullets { float: left; display: block; clear: both; width: 65%; padding: 10px; overflow: hidden; border-radius: 10px 10px 10px 10px; background: url('bg_tile_white.jpg') repeat scroll 0% 0% rgb(251, 251, 251); }
.feature-security, .feature-install, .feature-testimonials, .feature-twitter { background: url('bg_tile_white.jpg') repeat scroll 0% 0% rgb(251, 251, 251); border-radius: 10px 10px 10px 10px; float: right; width: 30%; padding: 10px; margin-bottom: 10px; }
.feature-security h2 { background-color: rgb(255, 180, 59); color: rgb(207, 53, 0); }
.feature-bullets dt { font-weight: bold; margin: 0pt; }
.feature-bullets dd { margin: 0pt 0pt 14px 0px; padding-bottom: 14px; border-bottom: 1px solid rgb(220, 220, 220); }
.feature-bullets dd:last-child { border-bottom: medium none; }
.feature-bullets dt:before { display: block; float: left; margin-right: 10px; }
dt.fast:before { content: url('lightning.png'); }
dt.pc:before { content: url('pcwindows.png'); }
dt.search:before { content: url('search.png'); }
dt.keystrokes:before { content: url('keystrokes.png'); }
dt.open:before { content: url('open.png'); }
