div, a { margin: 0px; padding: 0px; }
a#wmadi_188874739619 { display: block; position: absolute; bottom: 0pt; right: 0pt; width: 24px; height: 0pt; padding-top: 18px; overflow: hidden; background: url('3.png') repeat scroll 0% 0% transparent; outline: 0pt none; }
a#wmadi_188874739619:hover { width: 130px; background: url('_3.png') repeat scroll 0% 0% transparent; }
