a:link, a:visited, a:hover, a:active { color: rgb(0, 0, 255); cursor: pointer; }
body, table, div, ul, li { font-size: 10px; margin: 0px; padding: 0px; }
body { background-color: transparent; font-family: verdana,arial,sans-serif; height: 100%; }
#aus { height: 600px; width: 160px; }
#ads { left: 0px; position: absolute; top: 18px; width: 160px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 116px; margin: 0px 5px; overflow: hidden; width: 150px; }
.ad { margin: 0px; }
.adt { font-size: 13px; font-weight: bold; }
.adb { color: rgb(0, 0, 0); display: block; font-size: 13px; }
.adu { color: rgb(0, 153, 0); font-size: 10px; line-height: 12px; overflow: hidden; white-space: nowrap; }
.adus { cursor: pointer; }
.adc { height: 116px; overflow: hidden; table-layout: fixed; width: 100%; }
#abgi { left: 2px; position: absolute; top: 2px; }
#aubg { background-color: rgb(255, 255, 255); border: 0px solid rgb(255, 255, 255); display: none; height: 600px; width: 160px; }
.bg { background-color: rgb(255, 255, 255); border: 0px solid rgb(255, 255, 255); height: 18px; position: absolute; width: 18px; }
#tlc { background-color: rgb(255, 255, 255); border-left-width: 0px; border-top-width: 0px; left: 0px; top: 0px; }
#trc { background-color: rgb(255, 255, 255); border-right-width: 0px; border-top-width: 0px; left: 142px; top: 0px; }
#blc { background-color: rgb(255, 255, 255); border-bottom-width: 0px; border-left-width: 0px; left: 0px; top: 582px; }
#brc { background-color: rgb(255, 255, 255); border-bottom-width: 0px; border-right-width: 0px; left: 142px; top: 582px; }
#bgtf { border-top-width: 0px; left: 18px; top: 0px; width: 124px; }
#bgbf { border-bottom-width: 0px; left: 18px; top: 582px; width: 124px; }
#bgcf { border-left-width: 0px; border-right-width: 0px; height: 564px; left: 0px; top: 18px; width: 160px; }
#tlc .rc_bg div { background-color: rgb(255, 255, 255); }
#trc .rc_bg div { background-color: rgb(255, 255, 255); }
#blc .rc_bg div { background-color: rgb(255, 255, 255); }
#brc .rc_bg div { background-color: rgb(255, 255, 255); }
