/* ::::: http://static.howtoforge.com/misc/drupal.css ::::: */

form { margin: 0pt; padding: 0pt; }
hr { height: 1px; border: 1px solid gray; }
img { border: 0pt none; }
table { border-collapse: collapse; }
.menu { padding: 0pt 0pt 0pt 0.5em; }
.menu ul { list-style: none outside none; border: medium none; text-align: left; }
.menu li a { width: 100%; text-decoration: none; }
li.expanded { list-style-type: circle; list-style-image: url('menu-expanded.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li.collapsed { list-style-type: disc; list-style-image: url('menu-collapsed.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li.leaf { list-style-type: square; list-style-image: url('menu-leaf.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
.breadcrumb { padding-bottom: 0.5em; }
.block ul { margin: 0pt; padding: 0pt 0pt 0.25em 1em; }
.item-list ul { margin: 0pt 0pt 0.75em; padding: 0pt; }
.item-list ul li { margin: 0pt 0pt 0.25em 1.5em; padding: 0pt; list-style: disc outside none; }
.form-item { margin-top: 1em; margin-bottom: 1em; }
.form-item label { font-weight: bold; }
.form-submit { margin: 0.5em 0pt; }
.more-link { text-align: right; }
.book { margin: 1em 0pt; }
.book .tree { padding-top: 1em; border-top: 1px solid rgb(136, 136, 136); padding-bottom: 1em; }
.book .nav { border-top: 1px solid rgb(136, 136, 136); border-bottom: 1px solid rgb(136, 136, 136); padding-bottom: 3em; padding-top: 1em; clear: both; }
.book .nav .links { clear: both; }
.book .nav .titles { clear: both; }
.book .nav .prev { float: left; text-align: left; width: 45%; }
.book .nav .next { float: right; text-align: right; width: 45%; }
.user-login-block { text-align: center; }
.command { padding: 1em; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; font-family: Courier New,Courier,mono; font-size: 12px; font-style: italic; }
.system { color: black; font-family: Courier New,Courier,mono; font-size: 12px; font-style: italic; }
.highlight { color: rgb(255, 0, 0); font-family: Georgia,"Times New Roman",Times,serif; font-size: 12px; text-decoration: underline; }
/* ::::: http://static.howtoforge.com/modules/copyright/copyright.css ::::: */

.copyright-footer { text-align: center; color: gray; margin: 0.5em; }
/* ::::: http://static.howtoforge.com/modules/taxonomy_dhtml/menuExpandable3.css ::::: */

/* ::::: http://static.howtoforge.com/modules/trip_search/tripsearch.css ::::: */

/* ::::: http://static.howtoforge.com/modules/userinfo/userinfo.css ::::: */

/* ::::: http://static.howtoforge.com/themes/htf_glass/screen.css ::::: */

#block-sitemenu-0 h2, .sidebar .block-user .content { margin: 0pt; padding: 0pt; border: 0pt none; }
#block-user-1 h2, .sidebar .block-user .content { margin: 0pt; padding: 0pt; border: 0pt none; }
.block-user .menu:after { display: block; clear: both; padding-top: 0pt; line-height: 0.1; font-size: 1px; content: url('key-point_bl.gif'); margin: 0pt; height: 8px; }
.block-user .menu { margin-bottom: 1em; }
.block-user .menu, .block-user .menu ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
.block-user .menu ul { padding: 0.3em 0pt; }
.block-user .menu ul li { display: block; padding: 0.3em 0pt 0.3em 10px; margin: 0pt; list-style-type: none; list-style-image: none; }
.block-user .menu li.expanded { background: url('icons_expanded.png') no-repeat scroll 0px 6px transparent; }
.block-user .menu li.leaf { background: url('icons_leaf.png') no-repeat scroll 0px 6px transparent; }
.block-user .menu li.collapsed { background: url('icons_collapsed.png') no-repeat scroll 0px 6px transparent; }
.block-user .menu li.expanded:hover { background-position: -200px 6px; }
.block-user .menu li.leaf:hover { background-position: -200px 6px; }
.block-user .menu li.collapsed:hover { background-position: -200px 6px; }
.block-user .menu li a { display: block; padding: 0pt 0pt 0pt 10px; margin: 0pt; text-decoration: none; font-size: 110%; }
.block-user .menu li a:hover { text-decoration: underline; }
html, body { margin: 0px; padding: 0px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
body { margin: 0px; padding: 20px; }
div { border: 0pt none; margin: 0px; padding: 0px; }
#wrapper1, #wrapper2 { margin: 0px; padding: 0px; }
#wrapper1 {  }
#wrapper2 {  }
.header { margin: 0px; padding: 0px; color: rgb(0, 0, 0); background-color: transparent; border: 0pt none; }
.columns { margin: -1px 0px 0px; padding: 0px; border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.columns { border: medium none; margin-top: 0px; background-color: transparent; }
.leftcolumn { float: left; left: 0px; width: 150px; margin: -11px 0px 0px; padding: 0px; }
.leftcolumn { margin-top: 0px; }
.centercolumn { margin: 0px; padding: 0px; }
.centercolumn { margin-right: 0px; margin-left: -5px; }
.centercolumn { margin-right: 0px; margin-left: 150px; }
.footer, .middle { clear: both; margin: -7px 0px 0px; padding: 6px; text-align: center; color: rgb(221, 221, 221); background-color: transparent; border: 0pt none; }
.footer, .middle { margin-top: 0px; }
.headerpadding, .centerpadding { margin: 0px; padding: 0px; }
.leftpadding, .rightpadding { margin: 0px; padding: 0px; }
.centerpadding { padding-left: 20px; padding-right: 20px; }
.clearing { height: 0pt; clear: both; display: none; }
/* ::::: http://www.howtoforge.com/themes/htf_glass/style-1.1.9.css ::::: */

body { color: rgb(51, 51, 51); font-family: verdana,sans-serif; background-color: rgb(255, 255, 255); font-size: 76%; margin: 0pt; padding: 0pt; }
p { margin: 0pt 0pt 0.8em; padding: 0pt; }
hr { border: 1px dashed rgb(102, 102, 102); }
pre { background-color: rgb(239, 239, 239); border: 1px inset; width: 500px; height: 250px; overflow: auto; margin: 0pt; padding: 6px; }
h1, h2, h3, h4, h5, h6 { border-bottom: 1px solid rgb(204, 204, 204); font-family: arial,verdana,sans-serif; margin: 1em 0pt 0.2em; padding: 0pt 0pt 0.1em; }
h3 { padding-bottom: 0.2em; margin-bottom: 0pt; }
#header, .main-content, #footer { font-family: verdana,sans-serif; }
h1, h2, .form-item label, .main-content .node .links { font-weight: 400; }
#site-name { font-size: 2.5em; padding-top: 3px; margin: 0pt; }
h2, pre, #site-slogan, form #body, .form-item textarea, form #signature { font-size: 150%; }
h3, .sidebar .block h2, .item-list .title, .comment .title, .comment-folded .subject, button.form-submit, form #title, #block-user-1 h2 span, code { font-size: 120%; }
.main-content .node .info, #header form label, #header form input, #header form #submit, #breadcrumbs, .main-content .breadcrumb, .main-content td, .main-content th, #help, #recent-affiliate, #block-affiliates-0, #block-block-25 .earners, #block-block-25 .h-nav-list, #block-user-0 .item-list { font-size: 90%; }
#header { background: url('bg_header_bottom_left15.png') repeat scroll left bottom transparent; position: relative; height: 90px; margin: 0pt 0pt 1em; padding: 0pt 10px; }
#header h1 { position: absolute; top: 0pt; left: 0pt; font-size: 2px; border: medium none; height: 8px; z-index: 100; margin: 0pt; }
#header form { position: absolute; top: 0pt; right: 0pt; text-align: right; white-space: nowrap; margin: 0pt; padding: 12px 20px 0pt 0pt; }
#header form #keys { width: 170px; font-size: 85%; border: 1px solid rgb(144, 151, 162); background: url('bg_input.png') repeat-x scroll center bottom rgb(234, 235, 235); padding: 2px; }
#site-name, #site-name a, #header a { color: rgb(255, 255, 255); text-decoration: none; }
#header ul { width: auto; position: absolute; bottom: 0pt; right: 0pt; list-style: none outside none; z-index: 90; margin: 0pt; padding: 0pt 15px 0pt 0pt; }
#header li { float: right; background: url('header_tab7.gif') no-repeat scroll 100% -600px transparent; display: inline; white-space: nowrap; border-bottom: 1px solid rgb(81, 83, 88); margin: 0pt 1px 0pt 0pt; padding: 0pt 6px 0pt 0pt; }
#header ul a { float: left; display: block; background: url('header_tab7.gif') no-repeat scroll 0pt -600px transparent; font-weight: 700; color: rgb(255, 255, 255); text-decoration: none; padding: 4px 4px 4px 10px; }
#header ul li:hover a { background-position: 0pt -400px; }
#header ul li:hover { background-position: 100% -400px; }
#breadcrumbs { display: block; margin: 6px 0pt; padding: 0pt; }
#breadcrumbs:before { content: "You are here: "; }
#breadcrumbs span, .breadcrumb { display: inline; margin: 0pt; padding: 0pt; }
#search .form-text { width: 100px; border: 1px solid rgb(19, 149, 210); margin: 0pt; padding: 2px; }
#search .form-submit { border: medium none; background-color: transparent; margin: 0pt; padding: 0pt; }
#footer { background: url('bg_fusszeile.png') repeat scroll left bottom transparent; border-top: 1px solid rgb(102, 102, 102); text-align: center; font-size: 0.8em; color: rgb(102, 102, 102); margin: 2em 0pt; padding: 1em 0pt; }
#footer p { margin: 0.6em 0pt; }
#content-title, #title { margin: 0pt 0pt 10px; padding: 0pt; }
.main-content { line-height: 1.3; margin: 0pt; padding: 0pt; }
.main-content .node { margin: 0pt 8px 1em; }
.main-content .node .content { font-size: 12px; margin: 0pt; padding: 5px 10px; }
.main-content .node .info { color: rgb(119, 119, 119); background-color: transparent; margin: 0pt; }
.main-content .node .links, .main-content .comment .links { border-bottom: 1px dotted rgb(221, 221, 221); text-align: right; font-size: 12px; margin: 0pt; padding: 0pt 0pt 3px; }
.main-content .comment .links { margin-bottom: 0pt; }
.main-content .breadcrumb { color: rgb(102, 187, 0); margin: 0pt 0pt 10px 10px; padding: 0pt; }
.main-content .breadcrumb a:first-letter { text-transform: uppercase; }
.comment { background-color: rgb(237, 243, 249); margin: 0.5em 0pt; padding: 1em; }
.comment .title, .comment-folded .subject { color: rgb(119, 119, 119); }
.comment .author, span.credit { color: rgb(153, 153, 153); padding-bottom: 1em; }
.comment .content { padding-top: 0.5em; margin-left: 1em; }
.sidebar { width: 160px; margin: 0pt; padding: 0pt; }
.sidebar .block { margin-bottom: 15px; background: none repeat scroll 0% 0% transparent; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(191, 191, 191) rgb(191, 191, 191) rgb(191, 191, 191) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; width: 160px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; padding: 2px 5px 0pt 0pt; }
.sidebar .block h2 { font-family: arial,verdana,sans-serif; color: rgb(0, 102, 204); font-size: 140%; font-weight: 700; background-color: rgb(237, 239, 244); border-bottom: 1px dotted rgb(191, 191, 191); border-top-right-radius: 20px; margin: -2px -5px 0pt 0pt; padding: 5px 0pt 5px 10px; }
.sidebar .block .content { font-family: arial,verdana,sans-serif; margin: 0pt 6px; padding: 5px 0pt; }
.sidebar .block .item-list li { padding-left: 0pt; margin-left: 0pt; margin-bottom: 0.5em; list-style: none outside none; }
.sidebar .block input.form-text { width: 105px; }
.main-content table { border: 1px solid rgb(255, 255, 255); background-color: rgb(255, 255, 255); margin: 0pt 0pt 1em; padding: 0pt; }
td, th, .main-content td { vertical-align: top; margin: 0pt; padding: 2px; }
form label:hover, form .form-item label { color: rgb(51, 51, 51); cursor: pointer; }
form label:hover { color: rgb(0, 51, 153); border-bottom: 1px solid rgb(0, 51, 153); }
form #title, .form-text, .form-password, textarea { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border-color: rgb(153, 153, 153) rgb(231, 231, 231) rgb(231, 231, 231) rgb(153, 153, 153); border-style: solid; border-width: 1px; padding: 2px 4px; }
input[type="submit"] { font-size: 135%; margin-top: 2px; padding: 3px 10px; }
#login-block, .block .user-login-block { text-align: left; }
.main-content li { margin-top: 0.2em; margin-bottom: 0.2em; }
a:hover, .content a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
.hide { overflow: hidden; visibility: hidden; display: none; clear: none; }
.additional_links { margin-right: 5px; margin-top: 0pt; margin-bottom: 2px; font-size: 11px; }
img, h6, .sidebar table, .sidebar th, .sidebar td, .main-content .item-list .icon img { border: 0pt none; }
h3, h4, h5, h6, #site-name, #site-slogan, .main-content .breadcrumb, .comment .title, .comment-folded .subject, #help:before, fieldset legend, input[type="submit"], .comment .new, .comment-folded .new, #block-user-1 h2 span, .main-content .links .read-more, #block-sitemenu-0 .title, dt { font-weight: 700; }
#content-title, #title, h1, #maintitle, .main-content h2, .main-content .box h2, .main-content .node h2, .pager-list { font-size: 160%; }
h4, h5, h6, #search .form-text, #sidebar-left h2, .sidebar .block-search .form-submit, .sidebar .block .content, #main-nav a, fieldset legend, .form-item label, .comment select, #pager, input, textarea, #block-user-1 .content .menu, #sidebar-left .block .content, .node .links, .comment .links, .comment .new, .comment .author, span.credit, .comment-folded .new, .box select { font-size: 100%; }
#footer span, #footer a, #footer p span, #footer p a { white-space: nowrap; }
#footer a, .sitemap:hover { text-decoration: underline; }
#footer p a:hover, #content-title, #title, .main-content h2, .main-content h2 a, .main-content h2 a:link, .main-content h2 a:visited, a:active { color: rgb(0, 0, 0); }
.main-content h2 a:hover, a, .content a, :link { color: rgb(0, 51, 153); text-decoration: underline; }
.main-content .node .content, .comment .content, .main-content ul { line-height: 150%; }
.user-login-block .form-item, .user-login-block .form-item label, .filter-tips-short li, .more-tips { margin: 0pt; padding: 0pt; }
*:before, #pager a { color: rgb(0, 77, 129); }
#header .auxnav { float: right; background: none repeat scroll 0% 0% transparent; }
#header .auxnav ul { float: left; position: relative; top: 0pt; right: -5px; background: none repeat scroll 0% 0% transparent; margin: 0pt; padding: 0pt 0.8em 2px; }
#header .auxnav li { float: left; list-style: none outside none; border-right: 1px solid rgb(23, 96, 146); background: none repeat scroll 0% 0% rgb(237, 239, 244); font-family: arial,verdana,sans-serif; font-size: 10px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; margin: 0pt; padding: 0pt; }
#header .auxnav li.auxnavcontr { background: none repeat scroll 0% 0% rgb(102, 107, 224); }
#header .auxnav li.auxnavsubs { background: none repeat scroll 0% 0% rgb(0, 176, 59); }
#header .auxnav ul a { background: none repeat scroll 0% 0% transparent; }
#header .auxnav li a { float: left; line-height: 20px; font-size: 1.2em; color: rgb(0, 102, 204); text-decoration: none; margin-bottom: 2px; padding: 0pt 1em; }
#header .auxnav li a:hover { color: rgb(237, 239, 244); border-bottom: 2px solid rgb(237, 239, 244); margin-bottom: 0pt; background: none repeat scroll 0% 0% rgb(0, 102, 204); border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }
form#search { text-align: right; white-space: nowrap; margin: 0pt 6px; }
form#search .form-text { width: 100px; height: 16px; border: 1px solid rgb(19, 149, 210); font-weight: 700; font-size: 16px; position: absolute; top: 31px; right: 40px; margin: 0pt; padding: 2px; }
form#search .form-submit { position: absolute; top: 30px; right: 10px; }
#header .auxnav li.auxnavcontr a, #header .auxnav li.auxnavsubs a { color: rgb(255, 255, 255); }
.block-user .menu li a, .block-user .menu li a:visited { margin-left: 2px; display: inline; }
.block-user .menu li.leaf a, .block-user .menu li.leaf a:visited { margin-left: 8px; display: inline; }
/* ::::: http://static.howtoforge.com/jquery/thickbox.css ::::: */

* { padding: 0pt; margin: 0pt; }
