a:link { color: rgb(0, 0, 0); }
a:visited { color: rgb(0, 0, 0); }
a:hover { color: rgb(0, 0, 0); }
a:active { color: rgb(0, 0, 0); }
.tmc { background: none repeat scroll 0% 0% rgb(88, 88, 90); border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); font: 11px Arial,sans-serif; padding: 3px; position: absolute; z-index: 9020; }
.tmc.right { margin-left: 8px; }
.tmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0pt; position: absolute; width: 0pt; font-size: 0pt; line-height: 0; }
.tmc.bottom .tip { border-bottom: 4px solid rgb(88, 88, 90); top: -4px; }
.tmc.right .tip { right: 3px; }
.tmc .tooltip-content { display: block; }
.tooltip-content { display: none; }
div, ul, li { margin: 0pt; padding: 0pt; }
#abgc { height: 15px; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0pt; width: 15px; z-index: 9010; }
#abgb { height: 100%; }
#abgc svg { display: block; }
#abgs { display: none; height: 100%; }
#abgl { text-decoration: none; }
#cbc { cursor: pointer; height: 20px; right: 0pt; margin: 0pt; overflow: hidden; padding: 0pt; position: absolute; top: 0pt; width: 16px; z-index: 9010; display: none; }
#cbc #cb-x { visibility: visible; position: absolute; right: 0pt; top: 0pt; }
#cbc #cb-x-hover { visibility: hidden; position: absolute; right: 0pt; top: 0pt; }
#cbc #cbm { left: 0pt; height: 100%; position: absolute; top: 0pt; width: 100%; }
#cbtf { background-color: white; display: none; height: 100%; left: 0pt; position: absolute; top: 0pt; width: 100%; z-index: 9010; }
#cbtf a, #cbtf a:visited, #cbtf a:link { color: rgb(51, 102, 204); font-size: 13px; text-decoration: underline; }
.cbfsp { display: none; margin: 15px; font-family: Arial,sans-serif; font-size: 13px; }
.cbfspt { font-size: 28px; font-weight: 600; margin-left: 5px; margin-right: 5px; }
.cbfspm { font-weight: 600; margin-bottom: 10px; margin-top: 10px; vertical-align: middle; }
.cbfspq { width: 100%; margin: 0pt 0pt 3px; }
.cbfspq:hover { background-color: lightblue; cursor: default; }
