/* ::::: http://css.techsupportalert.com/files/css/css_64494d36e4b11de79c79016173f5939a.css ::::: */

form.fivestar-widget { clear: both; display: block; }
form.fivestar-widget select, form.fivestar-widget input { margin: 0pt; }
.fivestar-combo-stars .fivestar-static-form-item { float: left; margin-right: 40px; }
.fivestar-combo-stars .fivestar-form-item { float: left; }
.fivestar-static-form-item .form-item, .fivestar-form-item .form-item { margin: 0pt; }
div.fivestar-widget-static { display: block; }
div.fivestar-widget-static .star { float: left; width: 17px; height: 15px; overflow: hidden; text-indent: -999em; background: url('star.gif') no-repeat scroll 0pt 0pt transparent; }
div.fivestar-widget-static .star span.on { display: block; width: 100%; height: 100%; background: url('star.gif') no-repeat scroll 0pt -32px transparent; }
div.fivestar-widget { display: block; }
div.fivestar-widget .cancel, div.fivestar-widget .star { float: left; width: 17px; height: 15px; overflow: hidden; text-indent: -999em; }
div.fivestar-widget .cancel, div.fivestar-widget .cancel a { background: url('delete.gif') no-repeat scroll 0pt -16px transparent; text-decoration: none; }
div.fivestar-widget .star, div.fivestar-widget .star a { background: url('star.gif') no-repeat scroll 0pt 0pt transparent; text-decoration: none; }
div.fivestar-widget .cancel a, div.fivestar-widget .star a { display: block; width: 100%; height: 100%; background-position: 0pt 0pt; cursor: pointer; }
form.fivestar-widget div.description { margin-bottom: 0pt; }
div.fivestar-widget-static .star { background-image: url('star.png'); }
div.fivestar-widget-static .star span.on { background-image: url('star.png'); }
div.fivestar-widget .cancel, div.fivestar-widget .cancel a { background-image: url('cancel.png'); }
div.fivestar-widget .star, div.fivestar-widget .star a { background-image: url('star.png'); }
form { margin: 0pt; padding: 0pt; }
hr { height: 1px; border: 1px solid gray; }
img { border: 0pt none; }
table { border-collapse: collapse; }
th { text-align: left; padding-right: 1em; border-bottom: 3px solid rgb(204, 204, 204); }
.clear-block:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clear-block { display: inline-block; }
.clear-block { display: block; }
tr.even, tr.odd { background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(204, 204, 204); padding: 0.1em 0.6em; }
td.active { background-color: rgb(221, 221, 221); }
tbody { border-top: 1px solid rgb(204, 204, 204); }
thead th { text-align: left; padding-right: 1em; border-bottom: 3px solid rgb(204, 204, 204); }
.item-list ul { margin: 0pt 0pt 0.75em; padding: 0pt; }
.item-list ul li { margin: 0pt 0pt 0.25em 1.5em; padding: 0pt; list-style: disc outside none; }
.form-item { margin-top: 1em; margin-bottom: 1em; }
.form-item .description { font-size: 0.85em; }
.form-item label { display: block; font-weight: bold; }
.marker, .form-required { color: rgb(255, 0, 0); }
.more-link { text-align: right; }
.item-list .pager { clear: both; text-align: center; }
.item-list .pager li { background-image: none; display: inline; list-style-type: none; padding: 0.5em; }
.pager-current { font-weight: bold; }
.container-inline div, .container-inline label { display: inline; }
.resizable-textarea { width: 95%; }
.resizable-textarea .grippie { height: 9px; overflow: hidden; background: url('grippie.png') no-repeat scroll center 2px rgb(238, 238, 238); border-right: 1px solid rgb(221, 221, 221); border-width: 0pt 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; cursor: s-resize; }
html.js .resizable-textarea textarea { margin-bottom: 0pt; width: 100%; display: block; }
ul.menu { list-style: none outside none; border: medium none; text-align: left; }
ul.menu li { margin: 0pt 0pt 0pt 0.5em; }
li.expanded { list-style-type: circle; list-style-image: url('menu-expanded.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li.leaf { list-style-type: square; list-style-image: url('menu-leaf.png'); padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
li a.active { color: rgb(0, 0, 0); }
ul.links { margin: 0pt; padding: 0pt; }
ul.links.inline { display: inline; }
ul.links li { display: inline; list-style-type: none; padding: 0pt 0.5em; }
.block ul { margin: 0pt; padding: 0pt 0pt 0.25em 1em; }
.rtecenter { text-align: center; }
tbody { border: 0pt none; }
.a2a_menu tbody { border: 0pt none ! important; }
.print_html, .print_mail, .print_pdf { margin-left: 1em; }
img.print-icon { vertical-align: middle; }
img.print-icon-margin { padding-right: 4px; }
.indented { margin-left: 25px; }
html, body, div, span, p, blockquote, pre, code, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, label, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0pt; padding: 0pt; }
img { border: 0pt none; }
table, tbody, tr, th, td { border: 0pt none; }
body { background: url('repeat-x.png') repeat-x scroll 0pt 0pt rgb(0, 51, 102); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; font-weight: normal; line-height: 160%; }
h1, h2 { font-weight: normal; }
h1 { font-size: 2em; line-height: 1; margin-bottom: 12px; }
h2 { font-size: 1.5em; margin-bottom: 14px; }
h3 { font-size: 1.2em; font-weight: bold; line-height: 1; margin-bottom: 14px; }
a, a:link, a:visited { color: rgb(39, 99, 140); margin: 0pt; padding: 0pt; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
html { background: none repeat scroll 0% 0% rgb(245, 246, 240); color: rgb(51, 51, 51); min-width: 975px; }
#page { margin: 0pt; width: 100%; }
p { font-size: 1em; font-weight: normal; line-height: 1.5; margin-bottom: 10px; }
ul { margin: 6px 0pt 12px; padding: 0pt; }
ul.menu li, .item-list ul li { margin: 2px 0pt 2px 6px; }
ul.menu ul, .item-list ul ul { margin-left: 0pt; }
ul li, ul.menu li, .item-list ul li, li.leaf { margin: 2px 0pt; padding: 2px 0pt 0pt 16px; }
ul li, ul.menu li, .item-list ul li, li.leaf { background: url('sprite.png') no-repeat scroll 0pt -704px transparent; list-style-image: none; list-style-type: none; }
div.block ul { padding: 0pt 0pt 3px; }
ul.links li, ul.links.inline { background: none repeat scroll 0% 0% transparent; }
#user-login-form div.item-list ul li, div.terms ul li { list-style-type: none; margin: 0pt; }
body.layout-main-last #sidebar-last li.leaf, body.layout-main-last #sidebar-last ul.menu li, body.layout-main-last #sidebar-last .item-list ul li, #content-content .node ul li, #content-bottom ul li { background: url('sprite.png') no-repeat scroll 0pt -704px transparent; font-family: Verdana,Arial,Helvetica,sans-serif; list-style-image: none; list-style-type: none; margin-left: 8px; padding-left: 20px; }
hr { border: 1px solid rgb(177, 194, 211); }
#header-wrapper { background-color: inherit; }
#header { background-color: inherit; margin: 0pt auto; padding: 0pt; width: 960px; }
#header #search { text-align: center; }
#header #search-box { background-color: rgb(225, 225, 225); border: 1px solid rgb(204, 204, 204); float: right; padding: 8px; position: relative; top: 0pt; width: 247px; }
#header #search-box input.form-text { height: 16px; padding: 4px 2px; width: 166px; }
#header #search-box input.form-submit { background: none repeat scroll 0% 0% rgb(239, 235, 231); border: 1px solid rgb(204, 204, 204); color: rgb(25, 71, 101); cursor: pointer; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 1.1em; font-weight: normal; outline: medium none; padding: 3px 3px 2px; text-transform: none; }
#header #search-box label, #header #search-box a.advanced-search-link { display: none; }
#header-first { float: left; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; margin: 0pt 30px -14px 0pt; width: 380px; }
#header-first #logo { background: url('sprite.png') no-repeat scroll 0pt -620px transparent; float: left; width: 400px; height: 80px; margin: 0pt 14px 0pt 0pt; }
#header-middle { float: left; margin: 0pt 20px 0pt 0pt; width: 230px; }
#header-last { float: right; margin: 10px 0pt 0pt; width: 300px; text-align: right; }
#primary-menu-wrapper { margin: 0pt auto; position: relative; width: 960px; z-index: 5; }
#preface { background: url('repeat-x.png') repeat-x scroll 0pt -145px rgb(20, 74, 110); min-height: 24px; height: 30px; }
#preface-wrapper { color: rgb(255, 255, 204); font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 1.5em; margin: 0pt auto; padding: 0pt 0pt 0pt 14px; width: 960px; }
#preface-wrapper.prefaces-1 div.column { float: left; width: 100%; }
#preface-wrapper a:link, #preface-wrapper a:visited { color: rgb(255, 255, 238); text-decoration: underline; }
#preface-wrapper a:link:hover, #preface-wrapper a:visited:hover { border-bottom: medium none; text-decoration: none; }
#main-wrapper { background: url('repeat-y.png') repeat-y scroll 0% 0% rgb(253, 253, 253); }
#main { background: none repeat scroll 0% 0% rgb(253, 253, 253); margin: 0pt auto; width: 960px; }
#main-wrapper a.active { color: rgb(20, 74, 109); text-decoration: underline; }
#sidebar-first { float: left; font-family: Tahoma,Arial,Helvetica,sans-serif; }
#sidebar-last { background: none repeat scroll 0% 0% transparent; float: right; margin: 0pt 0pt 0pt 10px; font-family: Tahoma,Arial,Helvetica,sans-serif; }
#content-wrapper { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif; float: left; }
#content-top { margin: 0pt 0pt 30px; }
#content { font-family: Verdana,Tahoma,Arial,Helvetica,sans-serif; margin: 0pt 0pt 20px; }
#content-inner { clear: left; }
#footer { border-bottom: 1px solid rgb(177, 194, 211); border-top: 1px solid rgb(177, 194, 211); clear: both; display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 0.9em; margin: auto 0pt; overflow: hidden; padding: 10px 0pt; text-align: center; width: 960px; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0pt; height: 0pt; visibility: hidden; }
h1.title { border-bottom: 1px solid rgb(177, 194, 211); clear: left; font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,"Trebuchet MS",sans-serif; font-size: 1.833em; font-weight: 600; line-height: 1.2727em; }
h2.title { font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,"Trebuchet MS",sans-serif; font-size: 1.333em; font-weight: 600; margin: 0pt; text-transform: uppercase; }
div.node { margin: 0pt 0pt 30px; }
#content-content .node ul.links li, #content-content .node ul.inline li, #content-content .node .links a { background: none repeat scroll 0% 0% transparent; margin: 0pt; padding: 0pt 14px 0pt 0pt; }
div.node .read-more a, div.node .more-link a, div.node .links a { font-size: 0.9em; font-weight: bold; margin: 0pt; }
.submitted, .terms { font-size: 0.9em; }
.vocab-name { font-weight: bold; }
.terms { line-height: 130%; }
#content-content .terms ul.taxonomy li { background: none repeat scroll 0% 0% transparent; margin: 10px 0pt 5px; padding: 0pt; }
#content-content .terms ul.taxonomy ul.vocab-list, #content-content .terms ul.taxonomy li.vocab-term { background: none repeat scroll 0% 0% transparent; display: inline; padding: 0pt 0pt 0pt 2px; }
div.node.full-node div.content { border-bottom: 1px solid rgb(177, 194, 211); padding-top: 20px; padding-bottom: 20px; }
div.block { position: relative; }
div.block-wrapper { margin: 10px 0pt; }
#user-login-form .item-list ul li, div.terms ul li { list-style-type: none; margin: 2px 0pt 0pt 16px; }
#preface-wrapper .block .content { margin: 10px 0pt 0pt; }
body.layout-first-main-last #sidebar-first .block-wrapper, body.layout-first-main-last #sidebar-last .block-wrapper { margin: 0pt 0pt 10px; }
#sidebar-first h2.block-title, #sidebar-last h2.block-title, #postscript-wrapper h2.block-title { color: rgb(0, 0, 0); padding: 8px 8px 6px 46px; text-align: right; background: url('repeat-x.png') repeat-x scroll 0pt -819px transparent; border: 1px solid rgb(187, 187, 187); font-size: 1.2em; }
#sidebar-first div.block div.content, #sidebar-last div.block div.content, #postscript-wrapper div.block div.content { background: none repeat scroll 0% 0% rgb(242, 246, 249); border-bottom: 3px solid rgb(241, 245, 247); padding: 10px 10px 8px; }
#preface-wrapper div.block div.content, body.layout-main-last #sidebar-last div.block div.content { border: medium none; }
#preface-wrapper div.block div.content, body.layout-main-last #sidebar-last div.block div.content, #footer div.block div.content { background: none repeat scroll 0% 0% transparent; border-bottom: medium none; margin: 0pt; padding: 0pt; }
div.block ul li a, div.block ul.menu li a { font-size: 1em; font-weight: bold; }
div.block ul.menu li, div.block .item-list ul li { margin: 0pt; }
div.rounded-block { margin-top: -1px; }
p.rounded-topspace { margin-bottom: 0pt; margin-top: -1px; }
p.rounded-bottomspace { margin-bottom: -10px; margin-top: 10px; }
div.rounded-block-top-left, div.rounded-block-top-right, div.rounded-block-bottom-left, div.rounded-block-bottom-right { background: url('sprite.png') no-repeat scroll 0pt -276px transparent; font-size: 2px; height: 11px; }
div.rounded-block-top-left, div.rounded-block-bottom-left { margin-right: 11px; }
div.rounded-block-top-right { background-position: 100% -276px; }
div.rounded-block-top-right, div.rounded-block-bottom-right { margin-left: 11px; margin-top: -11px; }
div.rounded-block-bottom-left { background-position: 0pt -285px; }
div.rounded-block-bottom-right { background-position: 100% -285px; }
div.rounded-outside, div.rounded-inside { background: url('repeat-y.png') repeat-y scroll 100% 0pt transparent; padding-right: 8px; }
div.rounded-inside { background-position: -310px 0pt; padding: 0pt 0pt 0pt 8px; }
#primary-menu { display: block; float: right; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 1em; font-weight: normal; margin-top: 12px; padding: 0pt; position: relative; text-transform: uppercase; }
#primary-menu ul.menu li { background: url('sprite.png') no-repeat scroll 0pt -304px transparent; display: block; float: left; margin: 0pt 4px 0pt 0pt; padding: 0pt 0pt 0pt 0.833em; position: relative; width: auto; }
#primary-menu ul.menu li:hover, #primary-menu ul.menu li.hover, #primary-menu ul.menu li.active-trail { background: url('sprite.png') no-repeat scroll 0pt -333px transparent; }
#primary-menu ul.menu li a { background: url('sprite.png') no-repeat scroll 100% -372px transparent; color: rgb(253, 253, 253); display: block; padding: 0.416em 0.833em 0.083em 0pt; text-decoration: none; }
#primary-menu ul.menu li a:hover, #primary-menu ul.menu li:hover a, #primary-menu ul.menu li.hover a, #primary-menu ul.menu li.active-trail a { background: url('sprite.png') no-repeat scroll 100% -401px transparent; color: rgb(23, 64, 125); }
#primary-menu ul.menu li ul { background: url('sprite.png') no-repeat scroll 0pt -164px transparent; left: -999em; margin: 0pt 0pt 0pt -10px; padding: 2px 0pt 4px; position: absolute; width: 144px; z-index: 2; }
#primary-menu ul.menu li:hover ul, #primary-menu ul.menu li.hover ul { display: block; left: auto; color: rgb(23, 64, 125); }
#primary-menu ul.menu li ul li { background: none repeat scroll 0% 0% rgb(244, 207, 115); border-bottom: 1px solid rgb(131, 166, 56); float: left; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 0.916em; height: auto; margin: 0pt; }
#primary-menu ul.menu li ul li:hover { background: none repeat scroll 0% 0% rgb(244, 207, 115); }
#primary-menu ul.menu li ul li.last { border-bottom: medium none; }
#primary-menu ul.menu li ul li a, #primary-menu ul.menu li ul li a:link, #primary-menu ul.menu li ul li a:visited { background: none repeat scroll 0% 0% rgb(244, 207, 115); color: rgb(21, 75, 111); display: block; margin: 0pt; padding: 4px 0pt; text-transform: none; width: 135px; }
#primary-menu ul.menu li ul li a:hover { background: none repeat scroll 0% 0% rgb(244, 207, 115); color: rgb(23, 64, 125); display: block; margin: 0pt; padding: 4px 0pt; text-decoration: none; }
form { margin: 0pt; padding: 0pt; }
select.form-select, input.form-text, textarea.form-textarea { background-color: rgb(254, 254, 254); color: rgb(51, 51, 51); border: 1px solid rgb(155, 171, 176); padding: 2px 0pt; }
body.layout-first-main-last select.form-select, body.layout-first-main-last input.form-text, body.layout-first-main-last textarea.form-textarea, body.layout-first-main-last div.resizable-textarea, body.layout-first-main-last div.resizable-textarea .grippie { width: 99%; }
input.form-submit, input.teaser-button { background: url('repeat-x.png') repeat-x scroll 0pt -334px transparent; border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); cursor: pointer; font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; font-size: 0.916em; font-weight: bold; margin: 0pt 4px; padding: 2px 4px; text-transform: uppercase; outline: 1px solid rgb(155, 171, 176); }
input.form-submit:hover, input.teaser-button:hover { background: url('repeat-x.png') repeat-x scroll 0pt -384px transparent; cursor: pointer; }
div.form-item label { font-weight: normal; }
#main-wrapper .item-list .pager { clear: both; margin: 0pt 0pt 20px; text-align: center; }
#preface-wrapper .item-list .pager li, #main-wrapper .item-list .pager li { background-image: none; display: inline; list-style-type: none; margin: 0pt; padding: 2px; }
#main-wrapper .item-list .pager a.active { color: rgb(39, 99, 140); font-size: 1em; font-weight: bold; padding: 4px; text-decoration: none; }
#main-wrapper .pager li.pager-current { background-color: rgb(217, 219, 205); border: 1px solid rgb(38, 105, 150); color: rgb(51, 51, 51); margin: 0pt 4px; padding: 4px; }
#main-wrapper .pager-first, #main-wrapper .pager-next, #main-wrapper .pager-previous, #main-wrapper .pager-item, #main-wrapper .pager-last { background-color: rgb(253, 255, 239); border: 1px solid rgb(38, 105, 150); margin: 0pt 4px; padding: 4px; }
#main-wrapper .pager-first:hover, #main-wrapper .pager-next:hover, #main-wrapper .pager-previous:hover, #main-wrapper .pager-item:hover, #main-wrapper .pager-previous:hover, #main-wrapper .pager-last:hover { background-color: rgb(234, 239, 203); }
table { border-collapse: collapse; margin-bottom: 1em; width: 100%; }
.layout-first-main-last table { border-collapse: collapse; margin: 0pt 0pt 10px; width: 57%; }
th { text-align: left; padding-right: 1em; border-bottom: 3px solid rgb(204, 204, 204); }
tr { padding: 0.1em 0.6em; }
td { padding: 3px; }
td.active { background: none repeat scroll 0% 0% transparent; }
tr.even { background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(204, 204, 204); }
tr.odd { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); }
thead th { color: rgb(51, 51, 51); text-align: left; padding-right: 1em; border-bottom: 1px solid rgb(204, 204, 204); }
#comments { clear: both; }
#comments h2.comments { background-color: rgb(255, 214, 114); color: rgb(255, 255, 255); font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,"Trebuchet MS",sans-serif; font-size: 1.333em; font-weight: 600; padding: 6px 14px 6px 52px; text-transform: uppercase; }
#comments .content { background: none repeat scroll 0% 0% transparent; border: medium none; }
#main-wrapper #comments a.active { color: rgb(39, 99, 140); text-decoration: none; }
.box { padding: 10px; }
#comment-form { margin: 0pt 0pt 20px; padding: 0pt 20px; }
.comment { border-bottom: 1px solid rgb(187, 187, 187); margin: 6px 0pt 0pt; padding: 10px; }
.comment .links a { font-size: 0.9em; text-align: right; }
.comment ul.links { text-align: right; clear: right; }
#content-content .comment ul.links li { background: none repeat scroll 0% 0% transparent; margin: 0pt 10px 0pt 0pt; padding: 0pt; }
blockquote * > :first-child { background: none repeat scroll 0% 0% transparent; padding: 0pt; }
#skip a, #skip a:hover, #skip a:visited { height: 1px; left: 0pt; overflow: hidden; position: absolute; top: -500px; width: 1px; }
#skip a:active, #skip a:focus { height: auto; position: static; width: auto; }
@media print {
  body { background: none repeat scroll 0% 0% white; font-size: 10pt; }
  #header, #header-top, #header-wrapper, #primary-menu-wrapper, #sidebar-first, #sidebar-last, #preface-wrapper, #content-tabs, #mission, #slogan, #postscript-wrapper, #footer-top, #footer, #primary-menu, #search-box, #logo { display: none; }
  #page, #main-wrapper, #content-wrapper, #content-top, #content, #content-bottom { background: none repeat scroll 0% 0% transparent; border: 0pt none; color: black; float: none ! important; margin: 0pt; padding: 0pt; width: auto; }
  #content-wrapper { margin: 0pt 3%; }
}
table.review { border-collapse: collapse; border-top: 1px solid rgb(203, 206, 195); width: 100%; }
td.review-title { padding-top: 6px; padding-bottom: 6px; vertical-align: middle; background-color: rgb(238, 238, 238); }
div.review-title { font-size: 14px; font-weight: bold; color: rgb(0, 0, 1); }
table.review-details { width: 100%; }
td.bordered { border: 1px solid rgb(203, 206, 195); }
img.left, .field-type-image, img[align="left"] { float: left; margin: 2px 20px 5px 0pt; }
div.credit { background-color: rgb(238, 238, 238); padding: 2px; }
div.body { padding: 2px; }
#content h2 { font-size: 1.333em; font-weight: bold; padding-left: 4px; padding-bottom: 4px; border-bottom: 1px dotted rgb(202, 203, 205); line-height: 120%; }
div.preface-block { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; margin-top: -3px; }
ol ol, ol ul, ul ol, ul ul { margin: 0pt; padding: 0pt; }
table.views-table, table.views-entry, table.sticky-header, table.sticky-table, table.diff { width: 100%; }
#content-content { width: 100%; }
html { width: 99.75%; }
#tooltip { position: absolute; z-index: 3000; background: url('repeat-x.png') repeat-x scroll 0pt -468px rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); padding: 14px; font-family: Verdana,Arial,Helvetica,sans-serif; }
#tooltip h3, #tooltip div { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 13px; font-weight: normal; margin: 0pt; line-height: normal; }
input.form-text { background-image: none ! important; }
.feed { background: url('icon.png') no-repeat scroll 0pt -1508px transparent; width: 16px; height: 16px; }
.face { background: url('icon.png') no-repeat scroll 0pt -1534px transparent; }
.twitter { background: url('icon.png') no-repeat scroll 0pt -1569px transparent; }
.banner-reward2 { background: url('sprite.png') no-repeat scroll 0pt -440px transparent; width: 100px; height: 80px; border: medium none; }
.banner-reward { background: url('sprite.png') no-repeat scroll 0pt -530px transparent; width: 100px; height: 80px; border: medium none; }
#block-block-21 .preface-block { text-align: right; padding-right: 18px; }
#block-block-21 .preface-block a { text-decoration: none; }
#block-block-11 .feed { margin-right: 4px; margin-bottom: -2px; }
#block-block-11 #block-11-a { color: rgb(46, 113, 158); text-decoration: underline; }
#block-block-11 #input { width: 100%; }
#block-block-11 #button { margin-top: 4px; }
div.block-icon { height: 48px; left: 0pt; position: absolute; top: -0.666em; width: 48px; }
div.block-comment div.block-icon, div.comments-block-icon, #block-views-comments_recent-block div.block-icon { background: url('result.png') no-repeat scroll 0px -210px transparent; }
div.block-menu div.block-icon, body.layout-main-last #sidebar-last div.block-menu h2.block-title { background: url('result.png') no-repeat scroll 0px -126px transparent; }
div.block-user div.block-icon, body.layout-main-last #sidebar-last div.block-user h2.block-title { background: url('result.png') no-repeat scroll 0px -84px transparent; }
div.block-block div.block-icon, body.layout-main-last #sidebar-last div.block-menu h2.block-title { background: url('result.png') no-repeat scroll 0px -210px transparent; }
#block-block-11 div.block-icon { background: url('result.png') no-repeat scroll 0px 0px transparent; }
#block-views-118b43e8248f69e8a11a4e1996a7a375 div.block-icon { background: url('result.png') no-repeat scroll 0px -252px transparent; }
#block-views-tracker_updated_only-block_1 div.block-icon { background: url('result.png') no-repeat scroll 0px -294px transparent; }
#block-views-articles_by_user_rating-block_1 div.block-icon { background: url('result.png') no-repeat scroll 0px -168px transparent; }
#block-views-5c6f20eccafaaae472f19682f8491590 div.block-icon { background: url('result.png') no-repeat scroll 0px -168px transparent; }
#header-last .es { width: 16px; height: 11px; background: url('result.png') no-repeat scroll -19px -1033px transparent; }
#header-wrapper, #primary-menu-wrapper, #preface, #main-wrapper { padding: 0pt 10px; }
#header { width: 100%; min-width: 960px; }
#header-first { width: 40%; min-width: 380px; }
#header-middle { width: 24%; min-width: 230px; }
#header-last { width: 30%; min-width: 300px; }
#primary-menu-wrapper { width: 98%; min-width: 960px; }
#preface-wrapper { width: 100%; min-width: 960px; }
#main { width: 100%; min-width: 960px; }
#footer { width: 100%; min-width: 960px; }
#preface-wrapper #preface-last { margin-right: 0pt; }
body.layout-first-main-last #sidebar-first { width: 20%; float: left; padding-top: 20px; }
body.layout-first-main-last #content-wrapper { width: 56%; float: left; margin: 0pt; padding: 20px 0pt 0pt 20px; overflow: hidden; }
body.layout-first-main-last #sidebar-last { width: 20%; float: right; padding-top: 20px; }
body { font-family: Georgia,Garamond,Times New Roman,serif; }
/* ::::: http://www.techsupportalert.com/themes/acquia_marina/review-icons.css ::::: */

.wot-icon { display: inline; height: 16px; padding-top: 3px; padding-left: 16px; width: 16px; }
.wot-r5 { background: url('5.png') no-repeat scroll right bottom transparent; }
.a2a_menu, .a2a_menu * { float: none; margin: 0pt; padding: 0pt; height: auto; width: auto; }
.a2a_menu table { border-collapse: collapse; border-spacing: 0pt; width: auto; }
.a2a_menu table, .a2a_menu tbody, .a2a_menu td, .a2a_menu tr { border: 0pt none; margin: 0pt; padding: 0pt; background-color: rgb(255, 255, 255); }
.a2a_menu td { vertical-align: top; }
.a2a_menu, .a2a_menu_inside { border-radius: 16px 16px 16px 16px; }
.a2a_menu { display: none; z-index: 9999999; position: absolute; direction: ltr; min-width: 200px; background: none repeat scroll 0% 0% rgba(238, 238, 238, 0.6); font: 12px/12px Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); border: 1px solid transparent; padding: 7px; vertical-align: baseline; overflow: hidden; }
.a2a_menu_inside { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); padding: 8px; }
.a2a_menu a span, .a2a_tabs .a2a_tab_selected span { color: rgb(0, 0, 255); }
.a2a_menu a:hover span, .a2a_tabs div span, .a2a_tabs a span { color: rgb(0, 0, 0); }
.a2a_menu a, #a2a_hist_list a, .a2a_tabs div { color: rgb(0, 0, 255); text-decoration: none; font: 12px/12px Arial,Helvetica,sans-serif; height: auto; width: auto; clear: none; outline: medium none; border-radius: 8px 8px 8px 8px; }
.a2a_menu a:visited, #a2a_hist_list a:visited { color: rgb(0, 0, 255); clear: right; }
.a2a_menu a:hover, .a2a_menu a:active, .a2a_menu a.a2a_i:focus, .a2a_tabs div:hover { color: rgb(0, 0, 0); border: 1px solid rgb(204, 204, 204); background-color: rgb(238, 238, 238); text-decoration: none; }
.a2a_menu span, .a2a_img { background: url('icons_19.png') no-repeat scroll 0% 0% transparent; border: 0pt none; display: block; line-height: 16px; }
.a2a_menu span.a2a_i_find { height: 16px; left: 5px; position: absolute; top: 2px; width: 16px; }
.a2a_menu_title_container { margin-bottom: 2px; padding: 6px; }
.a2a_menu_find_container { position: relative; text-align: left; margin: 4px 1px; padding: 1px 24px 1px 0pt; border: 1px solid rgb(204, 204, 204); border-radius: 8px 8px 8px 8px; }
.a2a_menu input, .a2a_menu input[type="text"] { display: block; background-image: none; line-height: 100%; margin: 0pt; overflow: hidden; padding: 0pt; box-shadow: none; }
.a2a_menu_title_container input.a2a_menu_title { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border: 0pt none; margin: 0pt; padding: 0pt; width: 100%; }
.a2a_menu_find_container input.a2a_menu_find { position: relative; left: 24px; color: rgb(0, 0, 0); font-size: 12px; padding: 2px 0pt; outline: 0pt none; border: 0pt none; background-color: transparent; width: 250px; }
table.a2a_cols_container { width: 100%; }
.a2a_cols { width: 50%; }
.a2a_clear { clear: both; }
.a2a_hr { margin: 0pt 12px 12px; padding: 1px; background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.a2a_nowrap { white-space: nowrap; }
.a2a_note { margin: 0pt auto; padding: 9px; font-size: 11px; text-align: center; }
.a2a_note .a2a_note_note { margin: 0pt 0pt 9px; color: rgb(0, 0, 0); }
.a2a_wide a { display: block; margin-top: 3px; border: 1px solid rgb(238, 238, 238); padding: 3px; text-align: center; }
.a2a_tabs { float: left; margin: 0pt 0pt 3px; }
.a2a_tabs a, .a2a_tabs div { margin: 1px; background-color: rgb(238, 238, 238); border: 1px solid rgb(238, 238, 238); font-size: 11px; padding: 6px 12px 2px; white-space: nowrap; }
.a2a_tabs a span, .a2a_tabs div span { margin-bottom: 4px; padding-left: 20px; }
.a2a_tabs a, .a2a_tabs a:visited, .a2a_tabs a:hover, .a2a_tabs div, .a2a_tabs div:hover { cursor: pointer; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(0, 0, 0); border-bottom-left-radius: 0pt; border-bottom-right-radius: 0pt; }
a.a2a_tab_selected, a.a2a_tab_selected:visited, a.a2a_tab_selected:hover, a.a2a_tab_selected:active, a.a2a_tab_selected:focus, div.a2a_tab_selected, div.a2a_tab_selected:hover { color: rgb(0, 0, 255); background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
a.a2a_i { display: block; padding: 4px 6px; border: 1px solid rgb(255, 255, 255); text-align: left; white-space: nowrap; }
a.a2a_i span { padding-left: 20px; }
a.a2a_emailer { display: inline-block; border: 1px solid rgb(238, 238, 238); margin: 0pt 9px; text-align: center; }
a.a2a_email_client { padding-left: 6px; }
a.a2a_email_client span { display: inline-block; height: 16px; line-height: 16px; margin: 0pt 2px; padding-left: 0pt; width: 16px; }
a.a2a_menu_show_more_less { margin: 4px 0pt 8px; padding: 0pt; }
a.a2a_menu_show_more_less span { display: inline-block; height: 14px; margin: 0pt auto; vertical-align: baseline; width: 16px; }
div.a2a_menu_powered_by { background-color: rgb(238, 238, 238); font-size: 9px; color: rgb(153, 153, 153); text-align: center; padding: 4px; border-radius: 8px 8px 8px 8px; }
div.a2a_menu_powered_by a, div.a2a_menu_powered_by a:visited { display: inline; font-size: 9px; line-height: 9px; color: rgb(153, 153, 153); }
div.a2a_menu_powered_by a:hover { border: 0pt none; text-decoration: underline; }
.a2a_i_aim { background-position: 0pt -51px ! important; }
.a2a_i_allvoices { background-position: 0pt -68px ! important; }
.a2a_i_amazon { background-position: 0pt -85px ! important; }
.a2a_i_aol { background-position: 0pt -102px ! important; }
.a2a_i_apple_mail { background-position: 0pt -119px ! important; }
.a2a_i_arto { background-position: 0pt -136px ! important; }
.a2a_i_ask { background-position: 0pt -153px ! important; }
.a2a_i_backflip { background-position: 0pt -187px ! important; }
.a2a_i_bebo { background-position: 0pt -204px ! important; }
.a2a_i_bibsonomy { background-position: 0pt -221px ! important; }
.a2a_i_bitty { background-position: 0pt -238px ! important; }
.a2a_i_blinklist { background-position: 0pt -255px ! important; }
.a2a_i_blogger { background-position: 0pt -272px ! important; }
.a2a_i_blogmarks { background-position: 0pt -306px ! important; }
.a2a_i_bookmark { background-position: 0pt -340px ! important; }
.a2a_i_bookmarks_fr { background-position: 0pt -357px ! important; }
.a2a_i_box { background-position: 0pt -374px ! important; }
.a2a_i_buddymarks { background-position: 0pt -391px ! important; }
.a2a_i_care2 { background-position: 0pt -459px ! important; }
.a2a_i_citeulike { background-position: 0pt -493px ! important; }
.a2a_i_connotea { background-position: 0pt -527px ! important; }
.a2a_i_current { background-position: 0pt -544px ! important; }
.a2a_i_dailyme { background-position: 0pt -561px ! important; }
.a2a_i_darr { background-position: 0pt -595px ! important; }
.a2a_i_default { background-position: 0pt -629px ! important; }
.a2a_i_delicious { background-position: 0pt -646px ! important; }
.a2a_i_digg { background-position: 0pt -680px ! important; }
.a2a_i_diglog { background-position: 0pt -697px ! important; }
.a2a_i_diigo { background-position: 0pt -714px ! important; }
.a2a_i_dzone { background-position: 0pt -731px ! important; }
.a2a_i_email { background-position: 0pt -748px ! important; }
.a2a_i_evernote { background-position: 0pt -782px ! important; }
.a2a_i_expression { background-position: 0pt -816px ! important; }
.a2a_i_facebook { background-position: 0pt -833px ! important; }
.a2a_i_fark { background-position: 0pt -850px ! important; }
.a2a_i_faves { background-position: 0pt -867px ! important; }
.a2a_i_find { background-position: 0pt -1020px ! important; }
.a2a_i_folkd { background-position: 0pt -1088px ! important; }
.a2a_i_friendfeed { background-position: 0pt -1122px ! important; }
.a2a_i_funp { background-position: 0pt -1156px ! important; }
.a2a_i_gabbr { background-position: 0pt -1206px ! important; }
.a2a_i_gmail { background-position: 0pt -1240px ! important; }
.a2a_i_google { background-position: 0pt -1257px ! important; }
.a2a_i_google_buzz { background-position: 0pt -1274px ! important; }
.a2a_i_hellotxt { background-position: 0pt -1308px ! important; }
.a2a_i_hemidemi { background-position: 0pt -1325px ! important; }
.a2a_i_hugg { background-position: 0pt -1376px ! important; }
.a2a_i_hyves { background-position: 0pt -1393px ! important; }
.a2a_i_identica { background-position: 0pt -1410px ! important; }
.a2a_i_imera { background-position: 0pt -1444px ! important; }
.a2a_i_instapaper { background-position: 0pt -1461px ! important; }
.a2a_i_jamespot { background-position: 0pt -1512px ! important; }
.a2a_i_jumptags { background-position: 0pt -1546px ! important; }
.a2a_i_khabbr { background-position: 0pt -1563px ! important; }
.a2a_i_kledy { background-position: 0pt -1580px ! important; }
.a2a_i_linkagogo { background-position: 0pt -1614px ! important; }
.a2a_i_linkatopia { background-position: 0pt -1631px ! important; }
.a2a_i_linkedin { background-position: 0pt -1648px ! important; }
.a2a_i_live { background-position: 0pt -1665px ! important; }
.a2a_i_livejournal { background-position: 0pt -1682px ! important; }
.a2a_i_maple { background-position: 0pt -1716px ! important; }
.a2a_i_meneame { background-position: 0pt -1733px ! important; }
.a2a_i_mindbodygreen { background-position: 0pt -1750px ! important; }
.a2a_i_mister-wong { background-position: 0pt -1784px ! important; }
.a2a_i_mixx { background-position: 0pt -1801px ! important; }
.a2a_i_mozillaca { background-position: 0pt -1835px ! important; }
.a2a_i_msdn { background-position: 0pt -1852px ! important; }
.a2a_i_multiply { background-position: 0pt -1869px ! important; }
.a2a_i_mylinkvault { background-position: 0pt -1903px ! important; }
.a2a_i_myspace { background-position: 0pt -1920px ! important; }
.a2a_i_netlog { background-position: 0pt -1954px ! important; }
.a2a_i_netvibes { background-position: 0pt -1988px ! important; }
.a2a_i_netvouz { background-position: 0pt -2005px ! important; }
.a2a_i_newstrust { background-position: 0pt -2124px ! important; }
.a2a_i_newsvine { background-position: 0pt -2141px ! important; }
.a2a_i_nowpublic { background-position: 0pt -2158px ! important; }
.a2a_i_oneview { background-position: 0pt -2192px ! important; }
.a2a_i_orkut { background-position: 0pt -2226px ! important; }
.a2a_i_outlook { background-position: 0pt -2243px ! important; }
.a2a_i_phonefavs { background-position: 0pt -2294px ! important; }
.a2a_i_ping { background-position: 0pt -2311px ! important; }
.a2a_i_plaxo { background-position: 0pt -2328px ! important; }
.a2a_i_plurk { background-position: 0pt -2345px ! important; }
.a2a_i_posterous { background-position: 0pt -2396px ! important; }
.a2a_i_printfriendly { background-position: 0pt -2430px ! important; }
.a2a_i_protopage { background-position: 0pt -2464px ! important; }
.a2a_i_pusha { background-position: 0pt -2481px ! important; }
.a2a_i_reader { background-position: 0pt -2532px ! important; }
.a2a_i_reddit { background-position: 0pt -2549px ! important; }
.a2a_i_segnalo { background-position: 0pt -2583px ! important; }
.a2a_i_share { background-position: 0pt -2600px ! important; }
.a2a_i_shoutwire { background-position: 0pt -2617px ! important; }
.a2a_i_simpy { background-position: 0pt -2651px ! important; }
.a2a_i_sitejot { background-position: 0pt -2668px ! important; }
.a2a_i_slashdot { background-position: 0pt -2702px ! important; }
.a2a_i_smaknews { background-position: 0pt -2719px ! important; }
.a2a_i_sphere { background-position: 0pt -2787px ! important; }
.a2a_i_sphinn { background-position: 0pt -2803px ! important; }
.a2a_i_spurl { background-position: 0pt -2820px ! important; }
.a2a_i_squidoo { background-position: 0pt -2837px ! important; }
.a2a_i_startaid { background-position: 0pt -2854px ! important; }
.a2a_i_strands { background-position: 0pt -2871px ! important; }
.a2a_i_stumbleupon { background-position: 0pt -2888px ! important; }
.a2a_i_symbaloo { background-position: 0pt -2922px ! important; }
.a2a_i_tagza { background-position: 0pt -2956px ! important; }
.a2a_i_tailrank { background-position: 0pt -2973px ! important; }
.a2a_i_technet { background-position: 0pt -2990px ! important; }
.a2a_i_technorati { background-position: 0pt -3007px ! important; }
.a2a_i_technotizie { background-position: 0pt -3024px ! important; }
.a2a_i_thunderbird { background-position: 0pt -3075px ! important; }
.a2a_i_tipd { background-position: 0pt -3092px ! important; }
.a2a_i_tumblr { background-position: 0pt -3126px ! important; }
.a2a_i_twiddla { background-position: 0pt -3143px ! important; }
.a2a_i_twitter { background-position: 0pt -3177px ! important; }
.a2a_i_typepad { background-position: 0pt -3211px ! important; }
.a2a_i_unalog { background-position: 0pt -3262px ! important; }
.a2a_i_viadeo { background-position: 0pt -3279px ! important; }
.a2a_i_webnews { background-position: 0pt -3296px ! important; }
.a2a_i_windows_mail { background-position: 0pt -3348px ! important; }
.a2a_i_wink { background-position: 0pt -3365px ! important; }
.a2a_i_wists { background-position: 0pt -3399px ! important; }
.a2a_i_wordpress { background-position: 0pt -3416px ! important; }
.a2a_i_xerpi { background-position: 0pt -3450px ! important; }
.a2a_i_yahoo { background-position: 0pt -3484px ! important; }
.a2a_i_yample { background-position: 0pt -3501px ! important; }
.a2a_i_yigg { background-position: 0pt -3518px ! important; }
.a2a_i_yim { background-position: 0pt -3535px ! important; }
.a2a_i_yoolink { background-position: 0pt -3552px ! important; }
.a2a_i_youmob { background-position: 0pt -3569px ! important; }
