a { color: rgb(255, 255, 255); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
body { background-color: transparent; font-family: verdana,arial,sans-serif; }
#adunit { background-color: rgb(71, 137, 188); height: 250px; width: 300px; }
#ads { height: 250px; left: 0px; position: absolute; top: 0px; width: 300px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0pt; }
.rhtitle { color: rgb(255, 255, 255); text-decoration: none; word-wrap: break-word; }
.rhtitle:hover { text-decoration: underline; }
.rhbody { color: rgb(255, 255, 255); word-wrap: break-word; }
.rhurlctr { cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.rhurl { text-decoration: none; }
.rhurl span { color: rgb(253, 245, 238); }
.rhbutton { background: none repeat scroll 0% 0% rgb(164, 159, 154); cursor: pointer; display: inline-block; height: 100%; margin: 0pt; width: 100%; }
.rhbutton img { border-width: 0pt; display: block; }
.rhbutton:hover { background: none repeat scroll 0% 0% rgb(117, 114, 110); }
.rh-nessie-button .rhbutton { border-radius: 50% 50% 50% 50%; }
.rh-nessie-button .rhbutton img { height: 56%; padding: 22% 28% 22% 36%; width: 36%; }
#ads ul li { height: 250px; width: 300px; }
.rh { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 10px; width: 280px; }
.rh > table { height: 100%; }
.rh-body { display: inline-block; font-size: 16px; line-height: 22px; max-width: 280px; overflow: hidden; padding: 0pt; }
.rh-bodyc { padding: 0pt; vertical-align: top; }
.rh-nessie-button { display: inline-block; height: 40px; overflow: hidden; padding: 13px 0pt 3px; width: 40px; }
.rh-nessie-buttonc { padding: 0pt; text-align: center; vertical-align: middle; width: 280px; }
.rh-title { display: inline-block; font-size: 28px; line-height: 34px; max-width: 280px; overflow: hidden; padding: 0pt; }
.rh-titlec { padding: 0pt; }
.rh-url { display: inline-block; font-size: 16px; line-height: 22px; max-width: 280px; overflow: hidden; padding: 9px 0pt; white-space: nowrap; }
.rh-urlc { padding: 0pt; }
.rh0 { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 0pt; width: 280px; }
.rh0 > table { width: 100%; }
.rh02 { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 0pt; width: 280px; }
.rh02 > table { height: 100%; }
.rh02c { padding: 0pt; width: 280px; }
.rh0c { padding: 0pt; width: 280px; }
div, ul, li { margin: 0pt; padding: 0pt; }
#abgc { height: 15px; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0pt; width: 15px; z-index: 9010; }
#abgb { height: 100%; }
#abgc svg { display: block; }
#abgs { display: none; height: 100%; }
#abgl { text-decoration: none; }
#cbc { background-image: url('x_button_blue2.png'); background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0pt; top: 0pt; margin: 0pt; overflow: hidden; padding: 0pt; position: absolute; width: 16px; z-index: 9010; display: none; }
#cbc > #cb-x { height: 15px; position: absolute; width: 16px; right: 0pt; top: 0pt; }
#cbc > #cbm { height: 100%; left: 0pt; position: absolute; top: 0pt; width: 100%; }
#cbtf { background-color: white; display: none; height: 100%; left: 0pt; position: absolute; top: 0pt; width: 100%; z-index: 9010; }
#cbtf a, #cbtf a:visited, #cbtf a:link { color: rgb(51, 102, 204); font-size: 13px; text-decoration: underline; }
.cbfs_page { display: none; margin: 15px; font-family: Arial,sans-serif; font-size: 13px; }
.cbfs_check { height: 30px; }
.cbfs_title { font-size: 28px; font-weight: 600; margin-left: 5px; margin-right: 5px; }
.cbfs_undo { font-size: 18px; font-weight: normal; }
.cbfs_logo { height: 36px; }
.cbfs_msg_bold { font-weight: 600; vertical-align: middle; }
.cbfs_msg { vertical-align: middle; }
.cbfs_pad { padding: 5px; }
.cbfs_query { width: 100%; margin: 0pt 0pt 3px; }
.cbfs_query:hover { background-color: lightblue; cursor: default; }
.tmc { background: none repeat scroll 0% 0% rgb(88, 88, 90); border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); font: 11px Arial,sans-serif; padding: 3px; position: absolute; z-index: 9020; }
.tmc.right { margin-left: 8px; }
.tmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0pt; position: absolute; width: 0pt; font-size: 0pt; line-height: 0; }
.tmc.bottom .tip { border-bottom: 4px solid rgb(88, 88, 90); top: -4px; }
.tmc.right .tip { right: 3px; }
.tmc .tooltip-content { display: block; }
.tooltip-content { display: none; }
