/* ::::: http://jack-kelly.com/files/css/css_pbm0lsQQJ7A7WCCIMgxLho6mI_kBNgznNUWmTWcnfoE.css ::::: */

.form-textarea-wrapper textarea { display: block; margin: 0pt; width: 100%; -moz-box-sizing: border-box; }
.resizable-textarea .grippie { background: url('grippie.png') no-repeat scroll center 2px rgb(238, 238, 238); border-right: 1px solid rgb(221, 221, 221); border-width: 0pt 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; cursor: s-resize; height: 9px; overflow: hidden; }
.container-inline div, .container-inline label { display: inline; }
.element-invisible { position: absolute ! important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static ! important; clip: auto; overflow: visible; height: auto; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
ul.menu { border: medium none; list-style: none outside none; text-align: left; }
ul.menu li { margin: 0pt 0pt 0pt 0.5em; }
ul li.collapsed { list-style-image: url('menu-collapsed.png'); list-style-type: disc; }
ul li.leaf { list-style-image: url('menu-leaf.png'); list-style-type: square; }
li.expanded, li.collapsed, li.leaf { padding: 0.2em 0.5em 0pt 0pt; margin: 0pt; }
ul.inline, ul.links.inline { display: inline; padding-left: 0pt; }
ul.inline li { display: inline; list-style-type: none; padding: 0pt 0.5em; }
.breadcrumb { padding-bottom: 0.5em; }
fieldset { margin-bottom: 1em; padding: 0.5em; }
form { margin: 0pt; padding: 0pt; }
hr { border: 1px solid gray; height: 1px; }
img { border: 0pt none; }
.form-item, .form-actions { margin-top: 1em; margin-bottom: 1em; }
.form-item .description { font-size: 0.85em; }
label { display: block; font-weight: bold; }
label.option { display: inline; font-weight: normal; }
input.form-checkbox, input.form-radio { vertical-align: middle; }
.marker, .form-required { color: rgb(255, 0, 0); }
.container-inline .form-actions, .container-inline.form-actions { margin-top: 0pt; margin-bottom: 0pt; }
.more-link { text-align: right; }
/* ::::: http://jack-kelly.com/files/css/css_-0uJJfBe63ePLKDvXwFKr4RNMq2cHOWJfVVLVsHnTAU.css ::::: */

#comments { margin-top: 15px; }
.field .field-label { font-weight: bold; }
#edit-mollom-captcha { display: block; }
/* ::::: http://jack-kelly.com/files/css/css_09kjvAUdFvCyaIGODn4oEbJpSr-o0IOilBUdmkIjMnI.css ::::: */

span.geshifilter { display: inline; padding: 0pt; margin: 0pt; border: medium none; }
div.geshifilter { display: block; padding: 0.5em; margin: 0.5em; border: 1px solid rgb(204, 204, 204); background-color: rgb(248, 248, 248); color: rgb(34, 34, 34); line-height: 1.3; overflow: auto; }
div.geshifilter pre { margin: 0pt; padding: 0pt; line-height: 1.3; }
.tagclouds.level1 { font-size: 1em; }
.tagclouds.level2 { font-size: 1.2em; }
.tagclouds.level3 { font-size: 1.4em; }
.tagclouds.level4 { font-size: 1.6em; }
.tagclouds.level6 { font-size: 2em; }
.addtoany { display: inline; }
.addtoany_list { display: inline; line-height: 16px; }
.addtoany_list > a, .addtoany_list a img, .addtoany_list a > span { vertical-align: middle; }
.addtoany_list > a { display: inline-block; font-size: 16px; padding: 0pt 4px; }
.addtoany_list a:hover:hover img, .addtoany_list a:hover span { opacity: 0.7; }
.addtoany_list a.addtoany_share_save img { border: 0pt none; width: auto; height: auto; }
.text-format-wrapper .form-item { margin-bottom: 0pt; }
.filter-wrapper { border-top: 0pt none; margin: 0pt; padding: 1.5em 0pt; }
.filter-wrapper .form-item { float: left; padding: 0pt 0pt 0.5em 1.5em; }
.filter-wrapper .form-item label { display: inline; }
.filter-help { float: right; padding: 0pt 1.5em 0.5em; }
.filter-help p { margin: 0pt; }
.filter-help a { background: url('help.png') no-repeat scroll right center transparent; padding: 0pt 20px; }
.filter-guidelines { clear: left; padding: 0pt 1.5em; }
.tips { margin-top: 0pt; margin-bottom: 0pt; padding-top: 0pt; padding-bottom: 0pt; font-size: 0.9em; }
/* ::::: http://jack-kelly.com/files/css/css_DA76D3kkHaT_VUm3Aj1Txz0yCM9z9qrYjWlPOR-gAwk.css ::::: */

html, body, #page { height: 100%; }
#page-wrapper { min-height: 100%; min-width: 960px; }
#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer { width: 960px; margin-left: auto; margin-right: auto; }
#header div.section { position: relative; }
#content, #sidebar-first, #sidebar-second, .region-triptych-first, .region-triptych-middle, .region-triptych-last, .region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn, .region-footer-fourthcolumn { display: inline; float: left; position: relative; }
.one-sidebar #content { width: 720px; }
#sidebar-first, #sidebar-second { width: 240px; }
#main-wrapper { min-height: 300px; }
#content .section, .sidebar .section { padding: 0pt 15px; }
#breadcrumb { margin: 0pt 15px; }
#footer-wrapper { padding: 35px 5px 30px; }
body { line-height: 1.5; font-size: 87.5%; word-wrap: break-word; margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; }
a:link, a:visited { text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { margin: 1em 0pt 0.5em; font-weight: inherit; }
h1 { font-size: 1.357em; color: rgb(0, 0, 0); }
h2 { font-size: 1.143em; }
p { margin: 0pt 0pt 1.2em; }
img { outline: 0pt none; }
code, pre, kbd, samp, var { padding: 0pt 0.4em; font-size: 0.77em; font-family: Menlo,Consolas,"Andale Mono","Lucida Console","Nimbus Mono L","DejaVu Sans Mono",monospace,"Courier New"; }
code { background-color: rgba(40, 40, 0, 0.06); }
pre { background-color: rgba(40, 40, 0, 0.06); margin: 10px 0pt; overflow: hidden; padding: 15px; white-space: pre-wrap; }
body, #site-slogan, .ui-widget, .comment-form label { font-family: Georgia,"Times New Roman",Times,serif; }
#header, #footer-wrapper, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, div.meta, p.comment-time, table, .breadcrumb { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
input, textarea, select, a.button { font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif; }
.block ol, .block ul { margin: 0pt; padding: 0pt 0pt 0.25em 1em; }
ul.menu li { margin: 0pt; }
.region-content ul, .region-content ol { margin: 1em 0pt; padding: 0pt 0pt 0.25em 2.5em; }
ul.tips { padding: 0pt 0pt 0pt 1.25em; }
#skip-link { left: 50%; margin-left: -5.25em; margin-top: 0pt; position: absolute; width: auto; z-index: 50; }
#skip-link a, #skip-link a:link, #skip-link a:visited { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); color: rgb(255, 255, 255); display: block; font-size: 0.94em; line-height: 1.7; padding: 1px 10px 2px; text-decoration: none; border-radius: 0pt 0pt 10px 10px; }
#skip-link a:hover, #skip-link a:active, #skip-link a:focus { outline: 0pt none; }
#name-and-slogan { float: left; padding-top: 34px; margin: 0pt 0pt 30px 15px; }
#site-name { font-size: 1.821em; color: rgb(104, 104, 104); line-height: 1; }
#site-name a { font-weight: normal; }
#site-slogan { font-size: 0.929em; margin-top: 7px; word-spacing: 0.1em; font-style: italic; }
#main { margin-top: 20px; margin-bottom: 40px; }
.content { margin-top: 10px; }
h1#page-title { font-size: 2em; line-height: 1; }
#content h2 { margin-bottom: 2px; font-size: 1.429em; line-height: 1.4; }
.node .content { font-size: 1.071em; }
.node-full { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0pt; }
.meta { font-size: 0.857em; color: rgb(104, 105, 107); margin-bottom: -5px; }
.field-type-taxonomy-term-reference { margin: 0pt 0pt 1.2em; }
.field-type-taxonomy-term-reference .field-label { font-weight: normal; margin: 0pt; padding-right: 5px; }
.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference ul.links { font-size: 0.8em; }
.field-type-taxonomy-term-reference ul.links { padding: 0pt; margin: 0pt; list-style: none outside none; }
.field-type-taxonomy-term-reference ul.links li { float: left; padding: 0pt 1em 0pt 0pt; white-space: nowrap; }
.link-wrapper { text-align: right; }
ul.links { color: rgb(104, 105, 107); font-size: 0.821em; }
.sidebar .section { padding-top: 10px; }
.sidebar .block { border: 1px solid; padding: 15px 20px; margin: 0pt 0pt 20px; }
.sidebar h2 { margin: 0pt 0pt 0.5em; border-bottom: 1px solid rgb(214, 214, 214); padding-bottom: 5px; text-shadow: 0pt 1px 0pt rgb(255, 255, 255); font-size: 1.071em; line-height: 1.2; }
.sidebar .block .content { font-size: 0.914em; line-height: 1.4; }
#footer-wrapper { color: rgba(255, 255, 255, 0.65); font-size: 0.857em; }
.tabs { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; margin-bottom: 20px; }
.breadcrumb { font-size: 0.929em; }
input.form-submit, a.button { background: url('buttons.png') repeat-x scroll 0pt 0pt rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(228, 228, 228) rgb(210, 210, 210) rgb(180, 180, 180); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; color: rgb(58, 58, 58); cursor: pointer; font-size: 0.929em; font-weight: normal; text-align: center; margin-bottom: 1em; margin-right: 0.6em; padding: 4px 17px; border-radius: 15px 15px 15px 15px; }
fieldset { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); margin-top: 10px; margin-bottom: 32px; padding: 0pt 0pt 10px; position: relative; top: 12px; border-radius: 4px 4px 4px 4px; }
.fieldset-wrapper { margin-top: 25px; }
.filter-wrapper { top: 0pt; padding: 1em 0pt 0.2em; border-top-left-radius: 0pt; border-top-right-radius: 0pt; }
.filter-help a { font-size: 0.857em; padding: 2px 20px 0pt; }
.filter-wrapper .form-item label { margin-right: 10px; }
.filter-wrapper .form-item { padding: 0pt 0pt 0.5em 0.5em; }
.filter-guidelines { padding: 0pt 1.5em 0pt 0.5em; }
fieldset .fieldset-wrapper { padding: 0pt 10px; }
input { margin: 2px 0pt; padding: 4px; }
input, textarea { font-size: 0.929em; }
textarea { line-height: 1.5; }
textarea.form-textarea, select.form-select { padding: 4px; }
input.form-text, textarea.form-textarea, select.form-select { border: 1px solid rgb(204, 204, 204); }
input.form-submit:hover, input.form-submit:focus { background: none repeat scroll 0% 0% rgb(222, 222, 222); }
.form-item { margin-bottom: 1em; margin-top: 2px; }
.form-item label { font-size: 0.929em; }
.form-type-radio label, .form-type-checkbox label { margin-left: 4px; }
.form-actions { padding-top: 10px; }
.comment-form label { float: left; font-size: 0.929em; width: 120px; }
.comment-form input, .comment-form .form-select { margin: 0pt; border-radius: 4px 4px 4px 4px; }
.comment-form .form-type-textarea label { float: none; }
.comment-form .form-item, .comment-form .form-radios, .comment-form .form-type-checkbox, .comment-form .form-select { margin-bottom: 10px; overflow: hidden; }
.comment-form .form-type-checkbox, .comment-form .form-radios { margin-left: 120px; }
.comment-form .form-type-checkbox label, .comment-form .form-radios label { float: none; margin-top: 0pt; }
.one-sidebar .comment-form .form-text { width: 500px; }
.comment-form .form-item .description { font-size: 0.786em; line-height: 1.2; margin-left: 120px; }
#content h2.comment-form { margin-bottom: 0.5em; }
.comment-form .form-textarea { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.comment-form fieldset.filter-wrapper .fieldset-wrapper, .comment-form .text-format-wrapper .form-item { margin-top: 0pt; margin-bottom: 0pt; }
.filter-wrapper label { width: auto; float: none; }
.filter-wrapper .form-select { min-width: 120px; }
.comment-form fieldset.filter-wrapper .tips { font-size: 0.786em; }
#comment-body-add-more-wrapper .form-type-textarea label { margin-bottom: 0.4em; }
#edit-actions input { margin-right: 0.6em; }
#block-search-form { padding-bottom: 7px; }
#block-search-form .content { margin-top: 0pt; }
#search-form input#edit-keys, #block-search-form .form-item-search-block-form input { float: left; font-size: 1em; height: 1.143em; margin-right: 5px; width: 9em; }
#search-block-form input.form-submit, #search-form input.form-submit { margin-left: 0pt; margin-right: 0pt; height: 25px; width: 34px; padding: 0pt; cursor: pointer; text-indent: -9999px; border-color: rgb(228, 228, 228) rgb(210, 210, 210) rgb(180, 180, 180); background: url('search-button.png') no-repeat scroll center top transparent; overflow: hidden; }
#search-block-form input.form-submit:hover, #search-block-form input.form-submit:focus, #search-form input.form-submit:hover, #search-form input.form-submit:focus { background-position: center bottom; }
body, body.overlay { color: rgb(59, 59, 59); }
#page, #main-wrapper, #main-menu-links li a.active, #main-menu-links li.active-trail a { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#header { background-color: rgb(72, 169, 228); background-image: -moz-linear-gradient(center top , rgb(7, 121, 191) 0%, rgb(72, 169, 228) 100%); }
a { color: rgb(0, 113, 179); }
a:hover, a:focus { color: rgb(1, 143, 226); }
a:active { color: rgb(35, 174, 255); }
.sidebar .block { background-color: rgb(246, 246, 242); border-color: rgb(249, 249, 249); }
#page-wrapper, #footer-wrapper { background: none repeat scroll 0% 0% rgb(41, 41, 41); }
.region-header, .region-header a, .region-header li a.active, #name-and-slogan, #name-and-slogan a, #secondary-menu-links li a { color: rgb(255, 254, 255); }
div#cccwr div { font: 11px/16px sans-serif; margin: 0pt; text-align: left; }
div#cccwr #ccc-icon { cursor: pointer; display: none; z-index: 9999; bottom: 0pt; left: 0pt; position: fixed; }
div#ccc-icon button { background: url('undefined') no-repeat scroll 0pt 0pt transparent; border: 0pt none; height: 62px; width: 62px; }
div#ccc-icon button span { visibility: hidden; }
.ccc-left #ccc-icon.ccc-triangle button { background-position: -62px 0pt ! important; }
.ccc-left .ccc-go #ccc-icon.ccc-triangle button { background-position: -62px -62px ! important; }
.ccc-widget { position: fixed; bottom: 35px; left: 70px; z-index: 9999; display: none; }
.ccc-outer { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(240, 148, 43); border-radius: 5px 5px 5px 5px; box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.3); color: rgb(136, 136, 136); left: 70px; width: 200px; bottom: 30px; }
.ccc-expand, .ccc-close, .ccc-inner h2 { background: url('undefined') no-repeat scroll 0pt 0pt transparent; border: 0pt none; }
.ccc-inner { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 5px 5px 5px 0pt; position: relative; z-index: 2; }
.ccc-content { padding: 5px 10px 10px; }
.ccc-icon { background-position: 0pt -18px; height: 34px; left: 0pt; position: absolute; text-indent: -999em; top: 0pt; width: 40px; }
.ccc-close { background-position: 0pt -40px; border: 0pt none; height: 13px; position: absolute; right: 11px; text-indent: -999em; top: 11px; width: 13px; }
.ccc-inner h2 { background-color: rgb(240, 148, 43); background-position: 9px 6px; border-radius: 3px 3px 0pt 0pt; color: rgb(255, 255, 255); font-size: 1.3em; font-weight: bold; margin: 0pt; padding: 10px 9px 8px 44px; }
.ccc-inner p { margin: 5px 0pt 8px; padding: 0pt; }
.ccc-inner a { color: rgb(240, 148, 43); }
.ccc-inner a, .ccc-inner a:hover { text-decoration: none; }
#cccwr button { cursor: pointer; }
.ccc-expanded { display: none; }
.ccc-expand { background: none repeat scroll 0% 0% rgb(240, 148, 43); border: 0pt none; border-radius: 0pt 0pt 5px 5px; box-shadow: 0pt 0pt 5px rgba(0, 0, 0, 0.3); color: rgb(255, 255, 255); bottom: -25px; cursor: pointer; font-size: 1em; left: 50%; line-height: 25px; margin-left: -40px; position: absolute; text-align: center; text-indent: 0pt; width: 80px; z-index: 1; }
.ccc-inner .ccc-about { margin: 0pt; position: relative; text-align: right; top: 5px; }
.ccc-about small { font-size: 10px; }
#cccwr.ccc-left .ccc-outer, #cccwr.ccc-left .ccc-inner { border-radius: 5px 5px 5px 0pt; }
#cccwr.ccc-left .ccc-expand { left: 0pt; margin-left: 0pt; right: auto; }
#cccwr.ccc-dark .ccc-outer { background: none repeat scroll 0% 0% rgba(20, 20, 20, 0.898); border-radius: 5px 5px 5px 0pt; border-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
#cccwr.ccc-dark .ccc-inner { background: none repeat scroll 0% 0% transparent; }
#cccwr.ccc-dark .ccc-inner p { color: rgb(255, 255, 255); }
#cccwr.ccc-dark .ccc-inner h2 { background-color: transparent; background-position: 9px -54px; background-repeat: no-repeat; }
#cccwr.ccc-dark .ccc-content { padding-top: 0pt; }
#cccwr.ccc-dark .ccc-expand { height: 27px; border-right: 1px solid rgb(0, 0, 0); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(0, 0, 0) rgb(0, 0, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; padding-top: 0pt; background: none repeat scroll 0% 0% rgba(20, 20, 20, 0.898); }
#cccwr.ccc-dark .ccc-close { background-position: 0pt -100px; }
#cccwr #ccc-cookies-switch { width: 180px; height: 30px; overflow: hidden; display: none; }
#cccwr #cctoggle { display: inline-block; width: 180px; height: 30px; background: url('undefined') no-repeat scroll 0% 0% transparent; line-height: 28px; font-size: 13px; color: white; }
#cccwr #ccc-implicit-warning { display: none; }
#cccwr #ccc-explicit-checkbox { display: none; }
#cccwr .cctoggle-text-on { padding-left: 70px; }
#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
.a2a_menu, .a2a_menu * { -moz-box-sizing: content-box; float: none; margin: 0pt; padding: 0pt; height: auto; width: auto; }
.a2a_menu { width: 300px; }
.a2a_menu, .a2a_menu_inside { border-radius: 16px 16px 16px 16px; }
.a2a_menu { display: none; z-index: 9999999; position: absolute; direction: ltr; min-width: 200px; background: none repeat scroll 0% 0% rgba(238, 238, 238, 0.6); font: 12px/12px Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); border: 1px solid transparent; padding: 7px; vertical-align: baseline; overflow: hidden; }
.a2a_menu_inside { background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); padding: 8px; }
.a2a_menu a span, .a2a_tabs .a2a_tab_selected span { color: rgb(0, 0, 255); }
.a2a_menu a:hover span, .a2a_tabs div span, .a2a_tabs a span { color: rgb(0, 0, 0); }
.a2a_menu a, #a2a_hist_list a, .a2a_tabs div { color: rgb(0, 0, 255); text-decoration: none; font: 12px/12px Arial,Helvetica,sans-serif; height: auto; width: auto; outline: medium none; border-radius: 8px 8px 8px 8px; }
.a2a_menu a:visited, #a2a_hist_list a:visited { color: rgb(0, 0, 255); }
.a2a_menu a:hover, .a2a_menu a:active, .a2a_menu a.a2a_i:focus, .a2a_tabs div:hover { color: rgb(0, 0, 0); border: 1px solid rgb(204, 204, 204); background-color: rgb(238, 238, 238); text-decoration: none; }
.a2a_menu span, .a2a_img { background: url('icons.26.png') no-repeat scroll 0% 0% transparent; border: 0pt none; display: block; line-height: 16px; }
.a2a_menu span.a2a_i_find { height: 16px; left: 5px; position: absolute; top: 2px; width: 16px; }
.a2a_menu_title_container { margin-bottom: 2px; padding: 6px; }
.a2a_menu_find_container { position: relative; text-align: left; margin: 4px 1px; padding: 1px 24px 1px 0pt; border: 1px solid rgb(204, 204, 204); border-radius: 8px 8px 8px 8px; }
.a2a_cols_container { border-bottom-right-radius: 8px; border-top-right-radius: 8px; }
.a2a_cols_container .a2a_col1 { overflow-x: hidden; overflow-y: auto; }
.a2a_menu input, .a2a_menu input[type="text"] { display: block; background-image: none; line-height: 100%; margin: 0pt; overflow: hidden; padding: 0pt; box-shadow: none; }
.a2a_menu_title_container input.a2a_menu_title { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border: 0pt none; margin: 0pt; padding: 0pt; width: 99%; }
.a2a_menu_find_container input.a2a_menu_find { position: relative; left: 24px; color: rgb(0, 0, 0); font-size: 12px; padding: 2px 0pt; outline: 0pt none; border: 0pt none; background-color: transparent; width: 99%; }
.a2a_clear { clear: both; }
.a2a_kit a { cursor: pointer; }
.a2a_wide a { display: block; margin-top: 3px; border: 1px solid rgb(238, 238, 238); padding: 3px; text-align: center; }
.a2a_tabs { float: left; margin: 0pt 0pt 3px; }
.a2a_tabs a, .a2a_tabs div { margin: 1px; background-color: rgb(238, 238, 238); border: 1px solid rgb(238, 238, 238); font-size: 11px; padding: 6px 12px; white-space: nowrap; }
.a2a_tabs a span, .a2a_tabs div span { display: inline-block; padding-left: 20px; height: auto; width: auto; }
.a2a_tabs_default a span, .a2a_tabs_default div span { height: auto; max-width: 99px; overflow: hidden; padding-left: 20px; width: auto; }
.a2a_tabs a, .a2a_tabs a:visited, .a2a_tabs a:hover, .a2a_tabs div, .a2a_tabs div:hover { cursor: pointer; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(0, 0, 0); border-bottom-left-radius: 0pt; border-bottom-right-radius: 0pt; }
a.a2a_tab_selected, a.a2a_tab_selected:visited, a.a2a_tab_selected:hover, a.a2a_tab_selected:active, a.a2a_tab_selected:focus, div.a2a_tab_selected, div.a2a_tab_selected:hover { color: rgb(0, 0, 255); background-color: rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
a.a2a_i { display: block; float: left; border: 1px solid rgb(255, 255, 255); padding: 4px 6px; text-align: left; white-space: nowrap; width: 126px; }
a.a2a_i span { padding-left: 20px; }
a.a2a_email_client span { display: inline-block; height: 16px; line-height: 16px; margin: 0pt 2px; padding-left: 0pt; width: 16px; }
a.a2a_menu_show_more_less { margin: 4px 0pt 8px; padding: 0pt; }
a.a2a_menu_show_more_less span { display: inline-block; height: 14px; margin: 0pt auto; vertical-align: baseline; width: 16px; }
div.a2a_menu_powered_by { background-color: rgb(238, 238, 238); font-size: 9px; color: rgb(153, 153, 153); text-align: center; margin-top: 4px; padding: 3px; border-radius: 8px 8px 8px 8px; }
div.a2a_menu_powered_by a, div.a2a_menu_powered_by a:visited { display: inline; font-size: 9px; color: rgb(153, 153, 153); }
div.a2a_menu_powered_by a:hover { border: 0pt none; text-decoration: underline; }
.a2a_dd img { border: 0pt none; }
.a2a_i_a2a { background-position: 0pt 0pt ! important; }
.a2a_i_aim { background-position: 0pt -51px ! important; }
.a2a_i_allvoices { background-position: 0pt -68px ! important; }
.a2a_i_amazon { background-position: 0pt -85px ! important; }
.a2a_i_aol { background-position: 0pt -102px ! important; }
.a2a_i_app_net { background-position: 0pt -119px ! important; }
.a2a_i_apple_mail { background-position: 0pt -136px ! important; }
.a2a_i_arto { background-position: 0pt -153px ! important; }
.a2a_i_baidu { background-position: 0pt -170px ! important; }
.a2a_i_bebo { background-position: 0pt -187px ! important; }
.a2a_i_bibsonomy { background-position: 0pt -204px ! important; }
.a2a_i_bitty { background-position: 0pt -221px ! important; }
.a2a_i_blinklist { background-position: 0pt -238px ! important; }
.a2a_i_blogger { background-position: 0pt -255px ! important; }
.a2a_i_blogmarks { background-position: 0pt -289px ! important; }
.a2a_i_bookmarks_fr { background-position: 0pt -340px ! important; }
.a2a_i_box { background-position: 0pt -357px ! important; }
.a2a_i_buddymarks { background-position: 0pt -374px ! important; }
.a2a_i_buffer { background-position: 0pt -391px ! important; }
.a2a_i_care2 { background-position: 0pt -408px ! important; }
.a2a_i_citeulike { background-position: 0pt -442px ! important; }
.a2a_i_darr { background-position: 0pt -493px ! important; }
.a2a_i_delicious { background-position: 0pt -544px ! important; }
.a2a_i_diaspora { background-position: 0pt -578px ! important; }
.a2a_i_digg { background-position: 0pt -595px ! important; }
.a2a_i_diigo { background-position: 0pt -612px ! important; }
.a2a_i_dzone { background-position: 0pt -629px ! important; }
.a2a_i_email { background-position: 0pt -646px ! important; }
.a2a_i_email_bw { background-position: 0pt -663px ! important; }
.a2a_i_evernote { background-position: 0pt -680px ! important; }
.a2a_i_facebook { background-position: 0pt -697px ! important; }
.a2a_i_fark { background-position: 0pt -714px ! important; }
.a2a_i_find { background-position: 0pt -816px ! important; }
.a2a_i_flipboard { background-position: 0pt -867px ! important; }
.a2a_i_folkd { background-position: 0pt -884px ! important; }
.a2a_i_friendfeed { background-position: 0pt -901px ! important; }
.a2a_i_funp { background-position: 0pt -918px ! important; }
.a2a_i_gmail { background-position: 0pt -935px ! important; }
.a2a_i_google { background-position: 0pt -952px ! important; }
.a2a_i_google_plus { background-position: 0pt -969px ! important; }
.a2a_i_instapaper { background-position: 0pt -1003px ! important; }
.a2a_i_jamespot { background-position: 0pt -1037px ! important; }
.a2a_i_jumptags { background-position: 0pt -1054px ! important; }
.a2a_i_khabbr { background-position: 0pt -1071px ! important; }
.a2a_i_kindle { background-position: 0pt -1088px ! important; }
.a2a_i_linkagogo { background-position: 0pt -1122px ! important; }
.a2a_i_linkatopia { background-position: 0pt -1139px ! important; }
.a2a_i_linkedin { background-position: 0pt -1156px ! important; }
.a2a_i_livejournal { background-position: 0pt -1173px ! important; }
.a2a_i_mail_ru { background-position: 0pt -1190px ! important; }
.a2a_i_mendeley { background-position: 0pt -1207px ! important; }
.a2a_i_meneame { background-position: 0pt -1224px ! important; }
.a2a_i_mister-wong { background-position: 0pt -1258px ! important; }
.a2a_i_myspace { background-position: 0pt -1292px ! important; }
.a2a_i_netlog { background-position: 0pt -1309px ! important; }
.a2a_i_netvouz { background-position: 0pt -1343px ! important; }
.a2a_i_newstrust { background-position: 0pt -1394px ! important; }
.a2a_i_newsvine { background-position: 0pt -1411px ! important; }
.a2a_i_nowpublic { background-position: 0pt -1428px ! important; }
.a2a_i_odnoklassniki { background-position: 0pt -1445px ! important; }
.a2a_i_orkut { background-position: 0pt -1496px ! important; }
.a2a_i_outlook { background-position: 0pt -1513px ! important; }
.a2a_i_outlook_com { background-position: 0pt -1530px ! important; }
.a2a_i_phonefavs { background-position: 0pt -1564px ! important; }
.a2a_i_pinboard { background-position: 0pt -1581px ! important; }
.a2a_i_pinterest { background-position: 0pt -1598px ! important; }
.a2a_i_plurk { background-position: 0pt -1615px ! important; }
.a2a_i_pocket { background-position: 0pt -1632px ! important; }
.a2a_i_printfriendly { background-position: 0pt -1683px ! important; }
.a2a_i_protopage { background-position: 0pt -1700px ! important; }
.a2a_i_pusha { background-position: 0pt -1717px ! important; }
.a2a_i_reddit { background-position: 0pt -1751px ! important; }
.a2a_i_rediff { background-position: 0pt -1768px ! important; }
.a2a_i_segnalo { background-position: 0pt -1785px ! important; }
.a2a_i_sitejot { background-position: 0pt -1836px ! important; }
.a2a_i_slashdot { background-position: 0pt -1853px ! important; }
.a2a_i_springpad { background-position: 0pt -1870px ! important; }
.a2a_i_startaid { background-position: 0pt -1887px ! important; }
.a2a_i_stumbleupon { background-position: 0pt -1904px ! important; }
.a2a_i_symbaloo { background-position: 0pt -1938px ! important; }
.a2a_i_technotizie { background-position: 0pt -1955px ! important; }
.a2a_i_thunderbird { background-position: 0pt -2006px ! important; }
.a2a_i_tuenti { background-position: 0pt -2023px ! important; }
.a2a_i_tumblr { background-position: 0pt -2040px ! important; }
.a2a_i_twiddla { background-position: 0pt -2057px ! important; }
.a2a_i_twitter { background-position: 0pt -2074px ! important; }
.a2a_i_typepad { background-position: 0pt -2091px ! important; }
.a2a_i_viadeo { background-position: 0pt -2142px ! important; }
.a2a_i_vk { background-position: 0pt -2159px ! important; }
.a2a_i_wanelo { background-position: 0pt -2176px ! important; }
.a2a_i_webnews { background-position: 0pt -2193px ! important; }
.a2a_i_whatsapp { background-position: 0pt -2210px ! important; }
.a2a_i_windows_mail { background-position: 0pt -2227px ! important; }
.a2a_i_wists { background-position: 0pt -2261px ! important; }
.a2a_i_wordpress { background-position: 0pt -2278px ! important; }
.a2a_i_xerpi { background-position: 0pt -2295px ! important; }
.a2a_i_xing { background-position: 0pt -2312px ! important; }
.a2a_i_yahoo { background-position: 0pt -2329px ! important; }
.a2a_i_yigg { background-position: 0pt -2346px ! important; }
.a2a_i_yim { background-position: 0pt -2363px ! important; }
.a2a_i_yoolink { background-position: 0pt -2380px ! important; }
.a2a_i_youmob { background-position: 0pt -2397px ! important; }
