/* ::::: http://www.mygooglest.com/fni/css/common.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; font-size: 12px; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; font-family: Verdana,Arial,Helvetica,sans-serif; }
body { line-height: 1.4em; }
ol, ul { list-style: none outside none; }
:focus { outline: 0pt none; }
html, body, #content { min-height: 100%; width: 100%; height: 100%; }
html > body, html > body #content { height: auto; }
#content { position: absolute; top: 0pt; left: auto; }
#navigation { position: fixed; top: 0pt; left: 0pt; width: 12em; min-height: 100%; z-index: 20; background-color: rgb(0, 122, 0); color: rgb(255, 255, 255); }
#table-of-contents { float: right; background-color: rgb(255, 255, 255); padding: 0pt 0pt 1em 1em; }
#org-content { padding-left: 13em; margin-top: 4em; min-width: 388px; max-width: 780px; margin-bottom: 9em; }
#footer { position: absolute; bottom: 0pt; width: 100%; border-top: 1px dotted gray; }
h1 { font-size: 2em; line-height: 1.4em; color: green; border-bottom: 2px solid rgb(170, 170, 170); margin: 1.4em 0pt 0.6em; }
h2 { font-size: 1.5em; border-top: 1px solid rgb(165, 203, 148); background: none repeat scroll 0% 0% rgb(230, 255, 230); margin: 1.2em 0pt 0.5em; padding: 0.1em 0pt 0.2em 0.3em; }
h3 { font-size: 1.3em; margin: 1em 0pt 0.4em 1em; padding: 0pt 0pt 0.1em 0.1em; border-bottom: 1px solid rgb(204, 204, 204); }
p, dl { margin: 0.6em 1em 0.6em 3.5em; }
ul { list-style-type: disc; margin-left: 4.8em; }
ul ul { margin-left: 2em; }
pre.src, pre.example { clear: both; margin: 1em 1em 1em 3.2em; padding: 0.3em 0.5em; background-color: rgb(255, 255, 222); border: 1px dotted rgb(204, 204, 204); }
pre, code { font-family: "Courier New",Courier,Monospace; font-size: 1.1em; }
#navigation h2 { margin: 0pt 0pt 0.5em; padding: 0.3em 0pt 0.5em; color: rgb(255, 255, 255); background-color: rgb(33, 79, 13); border: medium none; font-size: 1em; text-align: center; }
#navigation ul { list-style: none outside none; margin: 0pt; padding-left: 1em; color: rgb(255, 255, 255); }
#navigation ul ul { padding-left: 1em; }
#navigation li { font-size: 0.9em; font-weight: bold; }
#navigation li li { font-weight: normal; }
#navigation li a { margin-left: -1.1em; padding-left: 1.1em; }
#navigation li li a { margin-left: -2.2em; padding-left: 2.2em; }
#navigation a { display: block; color: rgb(255, 255, 255); font-size: 1em; text-decoration: none; }
#navigation a:hover { background-color: rgb(0, 204, 0); }
#table-of-contents h2 { margin: 0pt; color: rgb(255, 255, 255); background-color: rgb(0, 204, 0); font-size: 1em; text-align: center; border-width: 1px; border-style: solid solid none; border-color: rgb(102, 102, 102); }
#table-of-contents h2 { margin: 0pt; color: rgb(255, 255, 255); background-color: rgb(0, 204, 0); font-size: 1em; text-align: center; border-width: 1px; border-style: solid solid none; border-color: rgb(102, 102, 102); }
#footer p { margin: 0pt; padding-left: 13em; }
#navigation h2 { background: url('197786_54294899.jpg') no-repeat scroll 0% 0% transparent; padding-top: 100px; }
pre.src span { font-family: "Courier New",Courier,Monospace; }
a { color: green; background-color: inherit; font: inherit; text-decoration: underline; }
a:hover { text-decoration: underline; }
a#current-emacs { background: url('current.gif') no-repeat scroll 101% center transparent; cursor: text; }
