.al { font-family: arial,sans-serif; font-size: 13px; line-height: 14px; white-space: nowrap; }
.al .alt, .al a { color: rgb(21, 92, 142); font-weight: normal; text-decoration: underline; white-space: nowrap; }
.al a:hover { color: rgb(142, 21, 92); text-decoration: underline; }
