/* ::::: http://i.linuxtoy.org/docs/guide/docbook.css ::::: */

body { font-family: verdana,tahoma,helvetica,arial,sans-serif; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(34, 34, 34); margin: 1em; padding: 0pt; font-size: 1em; line-height: 1.2em; }
a:link { color: rgb(34, 34, 187); background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
a:visited { color: rgb(126, 73, 136) ! important; background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
a:hover, a:focus { color: rgb(211, 14, 8) ! important; background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
a:active { color: rgb(107, 119, 177) ! important; background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
div.sect1, div.appendix { padding-left: 0.3em; }
h1, h2, h3, h4, h5, h6, b, .strong { color: rgb(0, 0, 0); font-weight: bold; line-height: 1em; }
h2 { font-size: 144%; }
div.navheader, div.navfooter { background: none repeat scroll 0% 0% rgb(236, 237, 239); margin: 0pt; padding: 0.1em 0.5em; }
div.navheader { border-bottom: 1px solid rgb(219, 221, 236); }
div.navfooter { border-top: 1px solid rgb(219, 221, 236); }
.informaltable table { border-right: 1px none; border-style: dashed none none; border-color: rgb(153, 153, 153) -moz-use-text-color -moz-use-text-color; border-width: 1px; margin-left: 10px; margin-right: auto; }
.informaltable table th, .informaltable table tr td { border-right: 1px none; border-bottom: 1px dashed rgb(153, 153, 153); border-width: 0pt 1px 1px 0pt; padding: 0.2em 0.4em 0.2em 0.8em; text-align: left; }
.variablelist td span, td p { margin: 0.25em; }
p, blockquote { padding-left: 1em; padding-right: 1em; }
tt, code, kbd, pre, .command { font-family: monospace; }
pre { background-color: rgb(229, 229, 229); border: 1px dotted rgb(102, 102, 153); padding: 0.5em 1em; margin: 0pt 2em 0.5em; font-weight: bold; }
.userinput { color: blue; }
pre.screen { color: rgb(0, 0, 0); background-color: rgb(233, 233, 233); font-weight: normal; max-height: 20em; overflow: auto; }
