/* ::::: http://i.linuxtoy.org/docs/guide/docbook.css ::::: */

body { font-family: verdana,tahoma,helvetica,arial,sans-serif; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(34, 34, 34); margin: 1em; padding: 0pt; font-size: 1em; line-height: 1.2em; }
a:link { color: rgb(34, 34, 187); background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
a:visited { color: rgb(126, 73, 136) ! important; background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
a:hover, a:focus { color: rgb(211, 14, 8) ! important; background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
a:active { color: rgb(107, 119, 177) ! important; background: none repeat scroll 0% 0% rgb(230, 230, 250); text-decoration: none; }
.book .titlepage { background: none repeat scroll 0% 0% rgb(245, 246, 247); margin: 0px auto; padding: 0pt 1em; }
.book hr { background: none repeat scroll 0% 0% rgb(219, 221, 236); height: 0.3em; border: 0px none; margin: 0pt -1em; padding: 0pt; }
h1, h2, h3, h4, h5, h6, b, .strong { color: rgb(0, 0, 0); font-weight: bold; line-height: 1em; }
h1 { font-size: 173%; text-align: center; }
.book h1 { margin: 0pt; padding: 0.4em; }
h3 { font-size: 120%; }
div.navheader, div.navfooter { background: none repeat scroll 0% 0% rgb(236, 237, 239); margin: 0pt; padding: 0.1em 0.5em; }
div.navheader { border-bottom: 1px solid rgb(219, 221, 236); }
div.navfooter { border-top: 1px solid rgb(219, 221, 236); }
div.toc { padding-left: 1em; }
dl { padding-left: 1em; }
dt { font-weight: bold; margin-left: 1em; }
dd { margin-bottom: 0.6em; margin-left: 1em; }
p, blockquote { padding-left: 1em; padding-right: 1em; }
