/* ::::: http://noone.org/static/orangetwo.css ::::: */

body { margin: 0px; padding: 0px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: medium; }
body, p, h1, h2, h3, h4, h5, h6, ul, ol, dl, div, td, th { font-family: Georgia,Lucida,Tahoma,Verdana,Helvetica,sans-serif; }
code, kbd, pre, xmp, listing, plaintext, tt, a code, code a, a kbd, kbd a, a tt, tt a, pre a { font-family: "Lucida Console","Lucida Typewriter","Courier New",Courier,typewriter,monospace; font-size: 100%; }
h1, h2 { font-size: large; padding-top: 0px; padding-bottom: 0.2em; }
h1.date, .rightpane h1, .rightpane h2, h5 { font-size: x-small; font-family: Lucida,Tahoma,Verdana,Helvetica,sans-serif; letter-spacing: 0.5em; text-transform: uppercase; padding: 3px; margin: 16px 0px 0px; }
h1.date { margin-left: -16px; }
.rightpane h1, .rightpane h2 { text-align: left; }
.rightpane h1 { font-size: small; }
h3 { font-size: large; padding-top: 0px; margin-top: 0px; padding-bottom: 0.2em; }
h4 { font-size: small; padding-top: 0px; padding-bottom: 0.1em; }
h4.related_stories { font-size: x-small; font-family: "Lucida, Tahoma, Verdana, Helvetica, sans-serif"; margin: 0px; letter-spacing: 0.5em; text-transform: uppercase; padding-top: 0px; }
ul.related_stories { font-size: x-small; margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 6px; margin-left: 12px; padding-left: 12px; }
li.related_stories { font-size: x-small; margin-bottom: -2px; padding-bottom: 0px; margin-top: -2px; padding-top: 0px; }
.rightpane p, #nav p { font-size: small; padding-left: 2ex; }
.rightpane ul { font-size: small; }
address, #foot { font-style: normal; font-size: x-small; }
hr { display: none; }
small { font-size: 90%; }
.blosxomstoryfoot { font-size: x-small; margin-bottom: 12px; padding: 6px 12px; border: 1px solid rgb(204, 204, 204); border-radius: 12px 12px 12px 12px; }
.slashslash { letter-spacing: -0.3em; }
small.smpref { font-size: 50%; }
.inside { margin: 12px 6px 6px; padding-top: 8px; padding-bottom: 8px; }
.prevnext { text-align: right; font-size: x-small; position: relative; top: 8px; right: -24px; }
.month-calendar-day-head { font-size: 100%; }
ul.categorytree, ul.recent { margin-left: 0px; padding-left: 1.5em ! important; }
li.categorytree_item { margin-left: 1.5em ! important; padding-left: 0px; }
a.categorytree { font-weight: bold; }
.feeds { font-size: 80%; white-space: nowrap; }
code, blockquote, pre { background-color: rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); }
code { border-radius: 3px 3px 3px 3px; padding: 1px; }
#content li { padding-top: 0.5ex; padding-bottom: 0.5ex; }
#searchform input { font-family: Georgia,Lucida,Tahoma,Verdana,Helvetica,sans-serif; font-size: 10pt; }
#find, #submit { background-color: rgb(238, 238, 238); color: rgb(102, 102, 102); border: 1px solid rgb(204, 204, 204); border-radius: 12px 12px 12px 12px; }
#find { border-top-right-radius: 0px; border-bottom-right-radius: 0px; padding-left: 6px; border-right: 0px none; }
#submit { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
#find:hover, #submit:hover { background-color: rgb(255, 204, 102); color: rgb(102, 102, 102); }
#logo { position: relative; text-align: center; width: 137px; margin: 0px 5px 20px -5px; padding: 50px 10px 5px; background-color: rgb(255, 204, 102); color: rgb(255, 255, 255); }
#logotext { position: relative; z-index: 10; margin: 0px; padding: 0px; color: rgb(255, 255, 255); font-family: Lucida,Helvetica,sans-serif; font-weight: 100; font-size: 11pt; letter-spacing: 5px; text-transform: uppercase; text-align: center; }
#logo strong { font-weight: 900; }
#l1 { letter-spacing: 0.25em; }
#l2 { letter-spacing: 0.31em; }
#logotext a { color: rgb(255, 255, 255); text-decoration: none; }
#topbox, #thebox, #foot, .rightpane { color: rgb(102, 102, 102); border: 1px solid rgb(204, 204, 204); border-radius: 12px 12px 12px 12px; margin: 12px; padding: 0px 24px; }
#topbox { background-image: url('skagen3.2-blend.jpg'); background-repeat: no-repeat; background-position: right center; height: 110px; padding: 0px 24px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; margin-right: 0px; }
#outerbox { position: relative; top: 0px; left: 0px; padding: 0px; margin: 0px; }
.rightpane { margin: 0px 0px 16px 0pt; padding: 0px 18px 12px; }
#rightpane, #middlepane { position: absolute; top: 0px; width: 200px; padding: 0px; margin: 0px; }
#rightpane { right: 12px; width: 200px; }
#middlepane { right: 224px; width: 200px; }
#thebox, #foot { margin-right: 436px; }
#thebox {  }
#content { color: rgb(102, 102, 102); margin: 0px; padding: 0px 10px 10px; font-size: 9pt; }
#foot { padding: 8px 24px; border: 1px solid rgb(204, 204, 204); font-style: normal; font-size: x-small; text-align: center; color: rgb(102, 102, 102); }
a:link, .BLI { text-decoration: none; color: rgb(255, 153, 0); }
a:visited { text-decoration: none; color: rgb(255, 136, 0); }
a.ext:link, #technorati a:link, .BLE, a.tr-linkcount:link { text-decoration: none; color: rgb(98, 194, 58); }
a.ext:visited, #technorati a:visited, a.tr-linkcount:visited { text-decoration: none; color: rgb(0, 164, 45); }
a.uni:link, .BLU { text-decoration: none; color: rgb(134, 179, 244); }
a.uni:visited { text-decoration: none; color: rgb(104, 159, 242); }
a:active, a:hover, a:focus, a.uni:active, a.uni:hover, a.uni:focus, a.ext:active, a.ext:hover, a.ext:focus, a.mail:active, a.mail:hover, a.mail:focus { text-decoration: underline overline; }
a.wiki:link, a.wiki:visited, .BLW { text-decoration: none; color: rgb(128, 0, 64); border-bottom: 1px dashed rgb(128, 0, 64); }
a.wiki:hover, a.wiki:focus, a.wiki:active { text-decoration: none; color: rgb(128, 0, 64); border-bottom: 1px solid rgb(128, 0, 64); }
h1 a:link, h1 a:visited { text-decoration: underline overline; }
h1 a:hover, h1 a:active, h1 a:focus { text-decoration: none; }
img { margin: 6px; }
acronym { text-decoration: none; border-bottom: 1px dashed rgb(255, 153, 0); cursor: help; }
#nav { position: relative; right: 0px; top: -105px; height: 105px; margin: 0px 0px -105px 180px; padding: 0px; color: rgb(153, 153, 153); font-weight: normal; font-size: small; }
.dept { margin-top: -10px; margin-bottom: 20px; font-size: 80%; color: rgb(102, 102, 102); border: 1px solid rgb(204, 204, 204); border-radius: 12px 12px 12px 12px; padding: 2px 12px 2px 6px; background-color: rgb(238, 238, 238); }
#buttons { padding-top: 5px; }
.rightpane img { margin: 1px 0pt 0pt; }
div#akct { position: absolute; top: 0px; right: 0px; z-index: 2342; width: 113px; height: 88px; background-image: url('akvse.gif'); background-repeat: no-repeat; background-position: right top; border: medium none; padding: 0pt; margin: 0pt; text-align: right; }
div#akct img { border: medium none; padding: 0pt; margin: 0pt; background: none repeat scroll 0% 0% transparent; }
div#akct a#akpeel img { width: 113px; height: 88px; }
div#akct a, div#akct a:hover { text-decoration: none; border: medium none; padding: 0pt; margin: 0pt; display: block; background: none repeat scroll 0% 0% transparent; }
div#akct a#akpeel:hover { position: absolute; top: 0px; right: 0px; z-index: 4223; width: 500px; height: 500px; display: block; background-image: url('akvsb.gif'); background-repeat: no-repeat; background-position: right top; }
div#akct a#akpreload { background-image: url('akvsb.gif'); background-repeat: no-repeat; background-position: 234px 0px; }
.delicious-tags { font-family: arial,sans-serif; }
.delicious-tags a { text-decoration: none; }
.delicious-tags a:hover { text-decoration: underline; }
.delicious-tags ul { list-style-type: none; margin: 0pt; padding: 0pt; text-align: justify; }
.delicious-cloud li { display: inline; text-align: justify; background-image: none ! important; padding: 0pt; margin: 0pt; }
.delicious-cloud li:before { content: "" ! important; }
