/* ::::: http://www.reddit.com/static/reddit.css ::::: */

html { height: 100%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, iframe { margin: 0pt; padding: 0pt; }
fieldset, img { border: 0pt none; }
body { font: x-small verdana,arial,helvetica,sans-serif; background-color: white; z-index: 1; }
a img { border: 0pt none; }
a { text-decoration: none; color: rgb(51, 102, 153); }
.arrow { margin: 2px auto 0px; height: 14px; display: block; cursor: pointer; background-position: center center; background-repeat: no-repeat; width: 15px; }
.arrow.up { background-image: url('sprite-reddit.ckm8crabdau.png'); background-position: -16px -570px; background-repeat: no-repeat; }
.arrow.down { background-image: url('sprite-reddit.ckm8crabdau.png'); background-position: -99px -553px; background-repeat: no-repeat; }
.entry { overflow: hidden; margin-left: 3px; opacity: 1; }
.score.likes, .score.dislikes { display: none; }
.clear { clear: both; }
.button { border-collapse: collapse; color: gray; text-align: center; margin: 1px; }
.button .arrow { width: 15px; }
.button.thing { margin: 0px; padding: 0px; }
.button-body { background-color: transparent; }
.button .blog { border: 1px solid rgb(199, 222, 247); color: gray; text-align: center; margin: 0px; border-radius: 4px 4px 4px 4px; background-color: white; }
.button .blog .score { white-space: nowrap; }
.button { color: rgb(51, 102, 153); }
.button a:hover { text-decoration: underline; }
.button .blog1 { font-size: x-small; }
.button .blog1 .arrow { float: left; margin-left: 2px; margin-right: 2px; }
.button .blog1 .headimgcell { background-color: rgb(199, 222, 247); width: 18px; float: left; }
.button .blog1 .headimgcell a { display: inline-block; }
.button .blog1 .score { margin-top: 2px; margin-right: 5px; }
