/* ::::: http://alexott.net/web.css ::::: */

body { margin: 0pt auto; padding: 0pt; font: 83% Verdana,Tahoma,Arial,sans-serif; background: url('bg.gif') repeat-y scroll center top rgb(244, 244, 244); color: rgb(64, 64, 64); }
#wrap { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(64, 64, 64); margin: 0pt auto; width: 950px; }
a { text-decoration: none; font-weight: bold; color: rgb(40, 110, 160); background-color: inherit; }
a:hover { text-decoration: underline; color: rgb(40, 110, 160); background-color: inherit; }
a img { border: 0pt none; }
p { margin: 0pt 0pt 0.7em; }
#header { margin: 10px 0pt 0pt; padding: 0pt; height: 65px; }
#header h1 { color: rgb(80, 80, 80); background-color: inherit; width: 600px; margin: 0pt 0pt 10px; font-size: 1.4em; float: left; }
#header p { width: 350px; float: right; text-align: center; margin: 8px 0pt 0pt; font-weight: bold; line-height: 1.1em; }
#leftside { clear: left; float: left; width: 180px; margin: 0pt 0pt 5px; padding: 0pt; }
#leftside h2, #leftside h3 { color: rgb(80, 80, 80); background-color: inherit; font-size: 1.3em; margin: 0pt 0pt 5px; padding: 0pt; }
#leftside div.announce { clear: left; margin: 10px 0pt 15px; padding: 7px 5px; width: 166px; font-size: 0.9em; background-color: rgb(244, 244, 244); color: rgb(80, 80, 80); border-left: 4px solid rgb(204, 204, 204); line-height: 1.5em; }
ul.avmenu { width: 180px; margin: 0pt 0pt 18px; padding: 0pt; list-style: none outside none; }
ul.avmenu li { width: 180px; padding: 0pt; line-height: 1.4em; display: inline; }
ul.avmenu li a { background-color: rgb(244, 244, 244); color: rgb(80, 80, 80); font-weight: bold; width: 170px; float: left; margin-bottom: 5px; padding: 5px 1px 5px 5px; border-left: 4px solid rgb(204, 204, 204); text-decoration: none; }
ul.avmenu li a:hover, ul.avmenu li a.current { background-color: rgb(234, 234, 234); border-left: 4px solid rgb(40, 110, 160); color: rgb(80, 80, 80); }
#contentwide { margin: 0pt 0pt 5px 190px; border-left: 1px solid rgb(240, 240, 240); padding: 0pt 0pt 0pt 10px; line-height: 1.3em; }
#content h2, #contentwide h2, #contentwide2 h2 { font-size: 1.4em; margin: 4px 0pt 10px; }
#content h3, #contentwide h3, #contentwide2 h3 { font-size: 1.2em; margin: 5px 0pt; }
#content h4, #contentwide h4, #contentwide2 h4 { font-size: 1.1em; margin: 0pt 0pt 5px; }
#screenshot img { padding: 1px; display: inline; background: none repeat scroll 0% 0% rgb(204, 204, 204); color: rgb(48, 48, 48); border: 4px solid rgb(240, 240, 240); width: 750px; }
#content ul, #contentwide ul, #contentwide2 ul, #content ol, #contentwide ol, #contentwide2 ol { margin: 5px 0pt 16px 20px; padding: 0pt; }
#content li, #contentwide li, #contentwide2 li { margin: 0pt; padding: 4px 0pt 0pt 5px; }
#rule { clear: both; margin: 0pt auto; padding: 10px 0pt; border-top: 2px solid rgb(224, 224, 224); text-align: center; color: rgb(128, 128, 128); background: none repeat scroll 0% 0% rgb(255, 255, 255); font: 83% Verdana,Tahoma,Arial,sans-serif; }
#lastchange { clear: both; margin: 0pt auto; padding: 2px 0pt; text-align: left; color: rgb(128, 128, 128); background: none repeat scroll 0% 0% rgb(255, 255, 255); font: 83% Verdana,Tahoma,Arial,sans-serif; }
#footer { clear: both; margin: 0pt auto; padding: 15px 0pt; border-top: 4px solid rgb(240, 240, 240); width: 950px; text-align: center; color: rgb(128, 128, 128); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#footer p { margin: 0pt; padding: 0pt; }
#footer a { color: rgb(128, 128, 128); background-color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; }
#footer a:hover { text-decoration: underline; }
.hide { display: none; }
