a:link, a:visited, a:hover, a:active { color: rgb(0, 0, 255); cursor: pointer; }
body, table, div, ul, li { font-size: 10px; margin: 0px; padding: 0px; }
body { background-color: transparent; font-family: arial,sans-serif; height: 100%; }
#aus { height: 90px; width: 728px; }
#ads { left: 0px; position: absolute; top: 1px; width: 728px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 24px; margin: 0px 0px 0px 6px; overflow: hidden; width: 716px; }
.adtuc { width: 1000px; }
.ad { margin: 0px; overflow: hidden; }
.adt { font-size: 14px; font-weight: bold; line-height: 18px; }
.adb { color: rgb(0, 0, 0); font-size: 14px; line-height: 18px; }
.adu { color: rgb(0, 153, 0); font-size: 10px; line-height: 18px; overflow: hidden; white-space: nowrap; }
.adus { cursor: pointer; }
.adc { height: 24px; overflow: hidden; table-layout: fixed; width: 100%; }
#abgi { left: 648px; position: absolute; top: 73px; }
#aubg { background-color: rgb(255, 255, 255); border: 0px solid rgb(255, 255, 255); display: none; height: 90px; width: 728px; }
.bg { background-color: rgb(255, 255, 255); border: 0px solid rgb(255, 255, 255); height: 18px; position: absolute; width: 18px; }
#tlc { background-color: rgb(255, 255, 255); border-left-width: 0px; border-top-width: 0px; left: 0px; top: 0px; }
#trc { background-color: rgb(255, 255, 255); border-right-width: 0px; border-top-width: 0px; left: 710px; top: 0px; }
#blc { background-color: rgb(255, 255, 255); border-bottom-width: 0px; border-left-width: 0px; left: 0px; top: 72px; }
#brc { background-color: rgb(255, 255, 255); border-bottom-width: 0px; border-right-width: 0px; left: 710px; top: 72px; }
#bgtf { border-top-width: 0px; left: 18px; top: 0px; width: 692px; }
#bgbf { border-bottom-width: 0px; left: 18px; top: 72px; width: 692px; }
#bgcf { border-left-width: 0px; border-right-width: 0px; height: 54px; left: 0px; top: 18px; width: 728px; }
#tlc .rc_bg div { background-color: rgb(255, 255, 255); }
#trc .rc_bg div { background-color: rgb(255, 255, 255); }
#blc .rc_bg div { background-color: rgb(255, 255, 255); }
#brc .rc_bg div { background-color: rgb(255, 255, 255); }
