/* ::::: http://blog.yangyubo.com/static/style.css ::::: */

/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic ::::: */

@font-face {
  font-family: "Open Sans";  font-style: normal;  font-weight: 300;  src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatxhcuogz7vygh680lgh-uxm.woff') format("woff");}
@font-face {
  font-family: "Open Sans";  font-style: normal;  font-weight: 400;  src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");}
@font-face {
  font-family: "Open Sans";  font-style: italic;  font-weight: 300;  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('prmixeptr36kac0geaetxh_xhqygav9bl_zqbyuxnqu.woff') format("woff");}
@font-face {
  font-family: "Open Sans";  font-style: italic;  font-weight: 400;  src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbobn6udyhwbl620a-irfubk.woff') format("woff");}
/* ::::: http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic ::::: */

@font-face {
  font-family: "Ubuntu Mono";  font-style: normal;  font-weight: 400;  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url('vizhet7ak-lrxzmxzuafkybn6udyhwbl620a-irfubk.woff') format("woff");}
@font-face {
  font-family: "Ubuntu Mono";  font-style: normal;  font-weight: 700;  src: local("Ubuntu Mono Bold"), local("UbuntuMono-Bold"), url('ceqtzgkhipo8pjj4molytjqr_3kx9_hjxbbyu8s6in0.woff') format("woff");}
@font-face {
  font-family: "Ubuntu Mono";  font-style: italic;  font-weight: 400;  src: local("Ubuntu Mono Italic"), local("UbuntuMono-Italic"), url('kakuhxahzoeecowahsrka9kzxw4syc4bjuaifc1sxii.woff') format("woff");}
@font-face {
  font-family: "Ubuntu Mono";  font-style: italic;  font-weight: 700;  src: local("Ubuntu Mono Bold Italic"), local("UbuntuMono-BoldItalic"), url('n_d8tv_joiiyymxr4eav9qrv2f9rptaqyj4qibdfkzm.woff') format("woff");}
body { font: 300 17px/25px 'Open Sans',sans-serif; margin: 0pt; padding: 0pt; }
a { color: black; font-weight: 400; }
a:hover { color: rgb(204, 0, 51); }
h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans',sans-serif; font-weight: 300; color: rgb(34, 34, 34); }
h1.title { width: 560px; }
h1, h2 { margin: 10px 0pt 25px; }
h1 { font-size: 42px; line-height: 52px; }
div.container { width: 740px; margin: 48px auto; padding: 0pt; }
div.header { float: left; }
div.navigation { float: right; }
div.header, div.navigation { height: 25px; margin-bottom: 42px; }
div.navigation ul { margin: 0pt; padding: 0pt; list-style: none outside none; }
div.navigation ul li { display: inline; margin: 0pt 2px; padding: 0pt; }
div.body { clear: both; }
div.footer { border-top: 1px solid rgb(85, 85, 85); padding-top: 9px; margin-top: 42px; font-size: 16px; text-align: center; color: rgb(85, 85, 85); }
div.footer p { margin: 0pt; }
p, div.line-block, ul, ol, pre, table { margin: 25px 0pt; }
ul ol, ol ul, ul ul, ol ol { margin: 10px 0pt; padding: 0pt 0pt 0pt 40px; }
li { padding: 0pt; }
h1 + p.date { margin-top: -25px; }
pre, code, tt { font-family: 'Ubuntu Mono','Consolas','Deja Vu Sans Mono','Bitstream Vera Sans Mono','Monaco','Courier New'; font-size: 0.9em; }
code, tt { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
p.tags { text-align: right; }
/* ::::: http://blog.yangyubo.com/static/_pygments.css ::::: */

/* ::::: http://blog.yangyubo.com/static/_pygments.css ::::: */

