/* ::::: http://www.21andy.com/blog/all.css ::::: */

* { font-family: "Microsoft Yahei",Tahoma,Verdana,Arial; margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6 { font-family: "Microsoft Yahei","Trebuchet MS",Tahoma,Verdana,Arial; }
.fix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0pt; height: 0pt; }
.fix { display: inline-block; }
html[xmlns] .fix { display: block; }
a, a:link, a:visited { background-color: transparent; color: rgb(0, 0, 0); text-decoration: none; }
a:hover, a:hover span { color: rgb(0, 204, 153); text-decoration: none; }
a:active { color: rgb(0, 204, 153); }
blockquote { background: none repeat scroll 0% 0% rgb(243, 251, 249); border: 4px solid rgb(200, 237, 227); margin: 10px 0pt; padding: 10px; }
body { background: none repeat scroll 0% 0% rgb(51, 51, 51); color: rgb(51, 51, 51); font-family: Tahoma,Verdana,Arial; font-size: 12px; margin: 0pt; padding: 0pt; text-align: center; }
cite { font-style: normal; font-weight: bold; }
#page { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); margin: 0pt auto; padding: 0pt 0pt 10px; text-align: left; width: 770px; }
div#side { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); display: block; float: left; margin-left: -760px; overflow: hidden; width: 130px; }
div#wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(51, 51, 51); float: left; width: 100%; }
#main { float: right; padding: 0pt 10px 0pt 0pt; font-size: 12px; line-height: 1.5em; width: 610px; }
#main .box { font-size: 12px; }
.post h1 { border-bottom: 2px solid rgb(51, 51, 51); font-weight: normal; font-size: 22px; line-height: 2em; text-align: center; }
.post h2 { font-size: 14px; line-height: 1.8em; background: none repeat scroll 0% 0% rgb(244, 244, 244); padding: 0pt 0.5em; }
form { border: 0pt none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: bold; }
hr { display: none; }
img { border: medium none; }
li { list-style-type: none; }
ol.commentlist li { font-size: 12px; border-bottom: 1px solid rgb(187, 187, 187); padding: 10px 0pt; }
strong { color: rgb(0, 204, 255); }
.box { margin: 0pt 0pt 10px; }
.box .con, .st-related-posts { border-width: 1px; border-style: solid; border-color: rgb(51, 51, 51) rgb(187, 187, 187) rgb(187, 187, 187); padding: 5px 10px; }
.box .con li { clear: both; display: block; overflow: hidden; position: relative; text-align: left; white-space: nowrap; width: 100%; }
.box .con li p { white-space: normal; }
.boxhead, .box h2, .box h3 { font-size: 12px; background: none repeat scroll 0% 0% rgb(51, 51, 51); color: rgb(255, 255, 255); line-height: 21px; text-indent: 10px; }
.boxhead a, .box h2 a, .box h3 a { color: rgb(255, 255, 255); text-decoration: none; }
.box li, .st-related-posts li { line-height: 1.4em; }
.entrytext { line-height: 1.5em; padding: 10px 20px; }
.entrytext {  }
.entrytext blockquote p { margin: 0pt; padding: 0pt; }
.entrytext h2 { font-size: 18px; }
.entrytext h3 { font-size: 16px; }
.entrytext ol li { list-style-position: inside; list-style-type: decimal; }
.entrytext p { margin: 0pt; padding: 0.5em 0pt; }
.entrytext ul li { list-style: square inside none; }
.entrytext ul, .entrytext ol { padding: 5px 0pt 5px 20px; }
.entrytext ul, .entrytext ol {  }
.navigation, .box2 { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); line-height: 1.5em; margin: 10px 0pt; padding: 5px 10px; text-indent: 10px; }
.postmeta { color: rgb(102, 102, 102); font-size: 12px; padding: 8px 0pt 0pt; text-align: center; }
.postmeta a { color: rgb(0, 204, 153); }
#commentarea #submit { background: none repeat scroll 0% 0% rgb(51, 51, 51); border: medium none; color: rgb(255, 255, 255); font-weight: bold; height: 20px; line-height: 20px; padding: 0pt 10px; }
#commentarea input, #commentarea textarea { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); font-size: 12px; line-height: 19px; }
#commentarea p { padding: 3px; }
#footer { font-family: Tahoma,Arial; background: none repeat scroll 0% 0% rgb(51, 51, 51); clear: both; color: rgb(255, 255, 255); font-size: 11px; line-height: 1.3em; margin: 0pt 10px; padding: 10px; text-align: center; }
#footer a { color: rgb(255, 255, 255); }
#header { position: relative; }
#logo { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
#logo a:link, #logo a:visited, #logo a:hover, #logo a:active { background-image: url('logo.gif'); background-position: center center; background-repeat: no-repeat; color: rgb(255, 255, 255); display: block; height: 70px; overflow: hidden; text-indent: -9999px; width: 250px; }
.entrytext a:link, .entrytext a:visited { color: rgb(0, 204, 153); }
.entrytext a:hover, .entrytext a:active { color: rgb(0, 204, 153); text-decoration: underline; }
#nowplace { background: url('dot2.png') no-repeat scroll 7px center transparent; line-height: 30px; margin: 0pt 5px; text-indent: 22px; }
#side .box .con, #sidebar .box .con { border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(187, 187, 187) rgb(187, 187, 187); }
#side .box h2, #side .box h3, #sidebar .box h2, #sidebar .box h3 { background: none repeat scroll 0% 0% rgb(51, 51, 51); border: 1px solid rgb(51, 51, 51); color: rgb(255, 255, 255); line-height: 21px; text-indent: 10px; }
/* ::::: http://www.21andy.com/blog/wp-content/plugins/download-monitor/page-addon/styles.css?ver=3.0.1 ::::: */

.thdrpy { padding: 2px 0pt; }
.thdrpy a { font-family: Tahoma; font-size: 10px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(120, 170, 250); padding: 1px 5px; }
#commentform #comment { width: 95%; }
