/* ::::: http://www.azproxies.com/includes/css/iframe.css ::::: */

img { border: medium none; }
ul { margin: 0pt; padding: 0pt; }
li { margin: 0pt; padding: 0pt; display: block; width: 240px; }
a, a:visited, a:active { display: block; width: 240px; color: rgb(0, 0, 0); text-decoration: none; }
a:hover { background: none repeat scroll 0% 0% rgb(225, 18, 18); }
.first { background: none repeat scroll 0% 0% rgb(255, 102, 0); }
.third { background: none repeat scroll 0% 0% rgb(102, 255, 102); }
