/* ::::: http://www.azproxies.com/includes/css/main.css ::::: */

body { margin: 0pt; padding: 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 12px; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
img { border: medium none; }
form { margin: 0pt; padding: 0pt; }
#hdr { width: 100%; height: 50px; }
#subhdr { border-bottom: 5px solid rgb(225, 18, 18); }
#hdrnav { margin: 0px auto; width: 95%; height: 50px; }
#hdrnav ul { margin: 0pt; padding: 0pt; display: block; float: right; list-style: none outside none; }
#hdrnav ul li { margin-left: 10px; display: block; float: left; font-weight: bold; background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#hdrnav ul li a, #hdrnav ul li a:visited, #hdrnav ul li a:active { padding: 8px; display: block; color: rgb(225, 18, 18); }
#hdrnav ul li a:hover { text-decoration: none; background: none repeat scroll 0% 0% rgb(225, 18, 18); color: rgb(255, 255, 255); }
#logo { margin-top: 10px; float: left; }
#content { margin: 0px auto; width: 775px; clear: both; }
#content h1, h2 { margin: 0pt; padding: 0pt; font-size: 16px; }
#content h3 { margin: 0pt; padding: 0pt; font-size: 14px; text-decoration: underline; }
#content a, a:visited, a:active { color: rgb(225, 18, 18); }
#content a:hover { text-decoration: none; }
#content small { float: right; font-weight: bold; }
#ads { margin: 0px auto; padding: 20px 0px; width: 728px; height: 90px; }
#main #list a, a:visited, a:active { color: rgb(0, 0, 0); }
#lft { margin-top: 20px; padding: 0pt 3px; width: 269px; float: left; }
#lftL2 { margin-top: 10px; padding: 0pt 3px; width: 269px; float: left; }
#boxTop { width: 269px; height: 10px; background: url('box-top.png') no-repeat scroll left top transparent; }
#boxInner { width: 269px; background: url('box-inner.png') repeat-y scroll 0% 0% transparent; }
#boxInner .box { margin: 0pt 5px; width: 259px; height: 300px; border: 0px none; }
#boxInner #ssl { margin-top: 5px; margin-bottom: 5px; }
#boxInner #Random { margin-top: 5px; margin-bottom: 5px; }
#boxBottom { width: 269px; height: 10px; background: url('box-bottom.png') no-repeat scroll left top transparent; }
#boxFeaturedTop { width: 269px; height: 10px; background: url('box-featured-top.png') no-repeat scroll left top transparent; }
#boxFeaturedInner { width: 269px; background: url('box-featured-inner.png') repeat-y scroll 0% 0% transparent; }
#boxFeaturedInner ul { margin: 0pt 5px; padding: 0pt; list-style: none outside none; }
#boxFeaturedInner li { margin: 0pt; padding-left: 10px; display: block; width: 230px; }
#boxFeaturedInner li a, #boxFeaturedInner li a:visited, #boxFeaturedInner li a:active { text-decoration: none; font-size: 13px; color: rgb(225, 18, 18); }
#boxFeaturedInner li a:hover { text-decoration: underline; }
#boxFeaturedBottom { width: 269px; height: 10px; background: url('box-featured-bottom.png') no-repeat scroll left top transparent; }
#boxStatisticsTop { width: 490px; height: 10px; background: url('box-statistics-top.png') no-repeat scroll left top transparent; }
#boxStatisticsInner { width: 490px; background: url('box-statistics-inner.png') repeat-y scroll 0% 0% transparent; }
#boxStatisticsInner table { margin: 0pt 5px 0pt 15px; padding: 0pt; width: 480px; border: 0pt none; border-collapse: collapse; font-size: 13px; }
#boxStatisticsInner table td { margin: 0pt; padding: 0pt; }
#boxStatisticsBottom { width: 490px; height: 10px; background: url('box-statistics-bottom.png') no-repeat scroll left top transparent; }
#rgt { margin-top: 20px; padding: 0pt 5px; width: 490px; float: right; }
#rgt .rss { float: right; }
#rgt .welcome { float: left; margin: 0pt; padding: 0pt; font-size: 16px; font-weight: bold; }
#rgt .clear { margin-top: 3px; clear: both; }
#rgt table { margin: 0pt; padding: 0pt; width: 100%; border: 0pt none; border-collapse: collapse; }
#rgt table .label { padding-right: 5px; width: 160px; text-align: right; }
#rgt table .field, #Email { width: 150px; }
#rgtL2 { margin-top: 10px; padding: 0pt 5px; width: 490px; float: right; }
#preclr { margin: 0pt; padding: 0pt; width: 100%; height: 10px; clear: both; }
#ftr { margin-top: 25px; background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#ftr p { margin: 0pt; padding: 0pt 0pt 5px; font-size: 11px; text-align: center; }
#ftr a, a:visited, a:active { color: rgb(0, 0, 255); }
#ftr a:hover { text-decoration: none; }
#subftr { border-bottom: 5px solid rgb(225, 18, 18); }
