a:link { color: rgb(255, 255, 255); }
a:visited { color: rgb(255, 255, 255); }
a:hover { color: rgb(255, 255, 255); }
a:active { color: rgb(255, 255, 255); }
.tmc { background: none repeat scroll 0% 0% rgb(88, 88, 90); border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); font: 11px Arial,sans-serif; padding: 3px; position: absolute; z-index: 9020; }
.tmc.right { margin-left: 8px; }
.tmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0pt; position: absolute; width: 0pt; font-size: 0pt; line-height: 0; }
.tmc.bottom .tip { border-bottom: 4px solid rgb(88, 88, 90); top: -4px; }
.tmc.right .tip { right: 3px; }
.tmc .tooltip-content { display: block; }
.tooltip-content { display: none; }
div, ul, li { margin: 0pt; padding: 0pt; }
#abgc { height: 15px; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0pt; width: 19px; z-index: 9010; }
#abgb { height: 100%; }
#abgc img { display: block; }
#abgs { display: none; height: 100%; }
#abgl { text-decoration: none; }
#cbc { background-image: url('x_button_blue2.png'); background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0pt; top: 0pt; margin: 0pt; overflow: hidden; padding: 0pt; position: absolute; width: 16px; z-index: 9010; display: none; }
#cbc > #cb-x { height: 15px; position: absolute; width: 16px; right: 0pt; top: 0pt; }
#cbc > #cbm { height: 100%; left: 0pt; position: absolute; top: 0pt; width: 100%; }
#cbtf { background-color: white; left: 0px; position: absolute; top: 0px; display: none; z-index: 9020; width: 100%; height: 100%; }
#cbtf p { margin: 0px; padding: 35px; font-family: Arial,sans-serif; color: rgb(51, 51, 51); font-size: 13px; }
#cbtf a, #cbtf a:visited, #cbtf a:link { color: rgb(51, 102, 204); text-decoration: underline; font-size: 13px; }
#cbtf #confirm, #cbtf #confirm a { font-size: 18px; font-weight: bold; }
#cbtf #confirm img { height: 14px; }
#cbtf #logo { height: 28px; vertical-align: middle; }
