/* ::::: http://lifegoo.pluskid.org/wiki/css/style.css ::::: */

body { margin: 10px; padding: 0pt; font: 12px sans-serif,Verdana,Tahoma,helvetica; }
#navmenu { clear: left; float: left; width: 150px; margin: 0pt 0pt 20px; padding: 0pt; font-size: 0.9em; border: 1px solid rgb(154, 183, 194); }
#navmenu h2 { font-size: 1em; margin: 0pt 0pt 0.2em; padding: 2px 0pt 2px 5px; color: black; background-color: rgb(213, 226, 230); }
#navmenu ul { width: 150px; font-size: 1em; padding-left: 25px; margin: 5px 2px 5px 0pt; }
#navmenu li { list-style: disc outside none; color: black; }
#navmenu li a { font-weight: bold; height: 18px; text-decoration: none; color: grey; }
#navmenu li a:hover { color: black; text-decoration: underline; }
#content { margin: 0pt 0pt 0pt 160px; line-height: 1.4em; text-align: left; color: black; border: 1px solid rgb(154, 183, 194); }
h1 { margin: 5px 0pt 10px; padding: 3px; background-color: rgb(27, 27, 27); background-image: url('top_bg.jpg'); color: black; border: 1px solid rgb(154, 183, 194); text-align: center; font-family: 楷体,华文行楷,Sans,"Sans Serif"; }
#content h2 { margin: 0pt; padding: 3px 0pt 7px 5px; font-size: 1.5em; color: black; background-color: rgb(213, 226, 230); }
#content h3 { color: black; margin: 0px 0px 5px 0pt; padding: 5px 5px 5px 10px; font-size: 1.2em; border-top: 1px solid rgb(154, 183, 194); border-bottom: 1px solid rgb(154, 183, 194); font-variant: small-caps; }
#content a { text-decoration: none; color: grey; }
#content a:hover { color: black; background-color: rgb(244, 252, 229); outline: 1px solid rgb(230, 242, 207); }
#content a:visited { color: grey; }
#content dt { margin-left: 15px; }
div.contents h2 { margin-bottom: 0pt; background-image: url('contents_h2.gif'); background-position: right center; background-repeat: no-repeat; }
div.contents { border-bottom: 1px solid rgb(154, 183, 194); background-image: url('contents.jpg'); background-position: right top; background-repeat: no-repeat; padding: 0pt 0pt 5px; }
div.contents dl { margin: 2px 0pt; padding: 0pt; }
div.contents dd { margin: 0pt 0pt 0pt 16px; padding: 0pt 0pt 0pt 10px; border-left: 1px dotted; }
#content div.contents a { padding-left: 12px; background-image: url('mark-grey.png'); background-position: left center; background-repeat: no-repeat; }
#content div.contents a:hover { background-image: url('mark-blue.png'); }
