/* ::::: http://www.quarkphysics.ca/ssh/css/reset.css ::::: */

html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; vertical-align: baseline; }
body { line-height: 1.2; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
li { list-style: none outside none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
:focus { outline: 0pt none; }
/* ::::: http://www.quarkphysics.ca/ssh/css/fonts.css ::::: */

body { font: 13px/1.231 arial,helvetica,clean,sans-serif; }
table { font-size: inherit; }
/* ::::: http://www.quarkphysics.ca/ssh/css/base.css ::::: */

h1 { font-size: 138.5%; }
h2 { font-size: 123.1%; }
h3 { font-size: 108%; }
h1, h2, h3 { margin: 1em 0pt; }
h1, h2, h3, h4, h5, h6, strong, dt { font-weight: bold; }
em { font-style: italic; }
blockquote, ul, ol, dl { margin: 1em; }
ol, ul, dl { margin-left: 2em; }
ol li { list-style: decimal outside none; }
ul li { list-style: disc outside none; }
th, td { border: 1px solid rgb(0, 0, 0); padding: 0.5em; }
th { font-weight: bold; text-align: center; }
p, fieldset, table, pre { margin-bottom: 1em; }
/* ::::: http://www.quarkphysics.ca/ssh/css/ssh_style.css ::::: */

body { background: url('stripe.png') repeat scroll 0% 0% transparent; text-align: left; }
#page-wrap { background: none repeat scroll 0% 0% rgb(221, 221, 221); min-width: 900px; max-width: 1240px; margin: 10px auto; }
#page-wrap #inside { margin: 10px 10px 0px; padding-top: 10px; padding-bottom: 10px; overflow: hidden; }
#header { left: 260px; top: 0px; background-color: rgb(0, 63, 122); display: block; font-family: "Lucida Sans Unicode",arial,sans-serif; font-size: 182%; font-weight: bold; line-height: 22px; text-align: center; text-decoration: underline; }
#menu { position: fixed; left: 25px; top: 135px; background-color: rgb(255, 255, 255); width: 190px; margin: 10px 10px 10px 0pt; padding: 0pt 10px; display: block; float: left; overflow: hidden; border-style: solid; border-width: medium; border-color: orange; text-align: left; border-radius: 12px 12px 12px 12px; box-shadow: 10px 15px 10px rgb(36, 71, 102); }
#menu h1 { margin-bottom: 0.6em; }
#menu ol { font-size: 93%; }
#menu li { padding: 2px; }
#menu #curr { color: rgb(170, 0, 0); background-color: rgb(255, 255, 170); font-weight: bold; }
#main { margin-left: 260px; display: block; text-align: left; margin-right: 20px; }
#footer { background: none repeat scroll 0% 0% rgb(38, 127, 35); text-align: center; padding: 20px 10px 10px; margin-top: 15px; border-top: 2px solid rgb(255, 255, 0); color: white; clear: both; position: relative; }
#footer th, td { border: medium none; }
#footer p { color: white; }
a:link { color: rgb(0, 0, 170); text-decoration: none; background-color: transparent; font-weight: bold; }
a:visited { color: rgb(0, 0, 170); text-decoration: none; background-color: transparent; font-weight: bold; }
a:hover { color: rgb(51, 0, 204); text-decoration: none; background-color: rgb(255, 255, 170); font-weight: bold; }
h1 { font-family: helvetica,geneva,arial,sans-serif; font-size: 146.5%; font-weight: bold; background-color: transparent; line-height: 22px; padding: 0px; display: block; text-align: center; }
h2 { font-family: helvetica,geneva,arial,sans-serif; font-size: 123.1%; font-weight: bold; color: rgb(0, 80, 96); background-color: transparent; }
h3 { font-family: helvetica,geneva,arial,sans-serif; font-size: 108%; font-weight: bold; color: rgb(0, 68, 0); background-color: transparent; }
p { color: rgb(0, 0, 0); }
p.in { margin-left: 30px; }
.in { margin-left: 30px; }
.l0 li { list-style-type: upper-roman; }
.l1 li { list-style-type: decimal; }
hr { height: 3px; width: 100%; background: none repeat scroll 0% 0% rgb(204, 0, 0); color: rgb(204, 0, 0); border: 0pt none; text-align: left; }
table.table1 { border: 5px inset; background: none repeat scroll 0% 0% white; padding: 3px; }
table.table1 th { background: none repeat scroll 0% 0% rgb(255, 255, 153); }
.orange { padding: 8px; font-weight: bold; color: rgb(255, 187, 51); background-color: rgb(64, 80, 80); border-radius: 8px 8px 8px 8px; }
.orange2 { padding-left: 5px; padding-right: 5px; color: rgb(255, 187, 51); background-color: rgb(64, 80, 80); }
