/* ::::: http://images1.wikia.nocookie.net/__wikia_combined/cb=25024&type=CoreCSS&themename=jade&rtl=&StaticChute=&browser=notIE ::::: */

.editsection { float: right; margin-left: 5px; }
#wikia_page { font: x-small sans-serif; }
#article { font-size: 127%; line-height: 1.5em; }
.visualClear { clear: both; }
table { font-size: 100%; }
a { text-decoration: none; color: rgb(0, 43, 184); background: none repeat scroll 0% 0% transparent; }
a:visited { color: rgb(90, 54, 150); }
a:active { color: rgb(250, 167, 0); }
a:hover { text-decoration: underline; }
a.new { color: rgb(186, 0, 0) ! important; }
a.new:visited { color: rgb(165, 88, 88); }
img { border: medium none; vertical-align: middle; }
p { margin: 0.4em 0pt 0.5em; line-height: 1.5em; }
hr { height: 1px; color: rgb(170, 170, 170); background-color: rgb(170, 170, 170); border: 0pt none; margin: 0.2em 0pt; }
h1, h2, h3, h4, h5, h6 { background: none repeat scroll 0% 0% transparent; font-weight: normal; margin: 0pt; padding-top: 0.5em; padding-bottom: 0.17em; border-bottom: 1px solid rgb(170, 170, 170); overflow: hidden; }
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
h3 { font-size: 132%; }
ul { line-height: 1.5em; list-style-type: square; margin: 0.3em 0pt 0pt 1.5em; padding: 0pt; list-style-image: url('bullet.gif'); }
li { margin-bottom: 0.1em; }
dt { font-weight: bold; margin-bottom: 0.1em; }
dl { margin-top: 0.2em; margin-bottom: 0.5em; }
dd { line-height: 1.5em; margin-left: 2em; margin-bottom: 0.1em; }
form { border: medium none; margin: 0pt; }
pre { padding: 1em; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; overflow: auto; max-height: 800px; }
#siteSub { display: none; }
#contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0pt 0pt 1.4em 1em; color: rgb(125, 125, 125); width: auto; }
#bodyContent h1, #bodyContent h2 { margin-bottom: 0.6em; }
#bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0.3em; }
.firstHeading { margin-bottom: 0.1em; overflow: visible; }
.error { color: red; font-size: larger; }
#catlinks { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); color: black; padding: 10px 5px; margin-top: 1em; clear: both; }
#bodyContent a.external, #bodyContent a[href^="gopher://"] { background: url('external.png') no-repeat scroll right center transparent; padding-right: 13px; }
a.external { color: rgb(51, 102, 187); }
.printfooter { display: none; }
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6, .reset pre, .reset code, .reset form, .reset fieldset, .reset legend, .reset input, .reset textarea, .reset p, .reset blockquote, .reset th, .reset td { margin: 0pt; padding: 0pt; line-height: normal; }
.reset table { border-collapse: collapse; border-spacing: 0pt; }
.reset fieldset, .reset img { border: 0pt none; }
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset strong, .reset th, .reset var { font-style: normal; font-weight: normal; }
.reset li { list-style: none outside none; }
.reset input, .reset textarea, .reset select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a.wikia-button, span.wikia-button a, input[type="submit"], input[type="reset"], input[type="button"], button { background-color: rgb(0, 153, 51); background-image: -moz-linear-gradient(center top , rgb(0, 153, 51) 20%, rgb(0, 103, 34) 70%); border: 1px solid rgb(190, 221, 190); color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font: bold 12px/17px "Lucida Grande",sans-serif; height: 17px; margin: 0pt; padding: 0pt 7px; text-decoration: none; white-space: nowrap; -moz-border-radius: 7px 7px 7px 7px; -moz-box-shadow: 0pt 0pt 0pt 1px rgb(44, 128, 44); }
input[type="submit"], input[type="reset"], input[type="button"], button { height: 19px; }
input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0pt; border: 0pt none; }
a.wikia-button, span.wikia-button a, input[type="submit"], input[type="reset"], input[type="button"], button { overflow: visible; width: auto; }
a.wikia-button:visited, span.wikia-button a:visited { color: rgb(255, 255, 255); }
a.wikia-button:hover, span.wikia-button a:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover { text-decoration: none; text-shadow: 0pt 1px 1px rgb(0, 0, 0); }
a.wikia-button:active, span.wikia-button a:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active { color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(0, 103, 34) 20%, rgb(0, 153, 51) 70%); }
.sprite, .sprite-small { background-image: url('monaco-sprite.png'); }
.sprite { height: 16px; width: 16px; }
.sprite-small { height: 12px; width: 12px; }
.sprite, .sprite-small { position: relative; vertical-align: middle; }
.sprite { top: -2px; }
.sprite-small { top: -1px; }
.sprite-small.add { background-position: -36px -94px; }
.sprite.edit { background-position: 0pt -106px; }
.sprite.photo { background-position: -32px -106px; }
.sprite.history { background-position: 0pt -122px; }
.sprite.pagelink { background-position: -16px -122px; }
.sprite.move { background-position: -32px -122px; }
.sprite.error { background-position: -16px -138px; }
.sprite.random { background-position: -64px -138px; }
.sprite.share { background-position: -64px -154px; }
.sprite.recent { background-position: 0pt -170px; }
.sprite.search { background-position: -32px -170px; }
.sprite.watch { background-position: -17px -170px; }
body { font-family: arial,sans-serif; font-size: 10pt; margin: 0pt; }
.color1, .yui-panel .hd { background-color: rgb(51, 102, 204); color: white; }
.color1 a { color: white; }
.color2 { background-color: rgb(245, 245, 245); }
.dark_text_1 { color: rgb(51, 102, 204); }
.accent { background-color: rgb(214, 224, 245); border-color: rgb(51, 102, 204); color: rgb(0, 0, 0); }
.neutral { background-color: rgb(238, 238, 238); border-color: rgb(170, 170, 170); color: rgb(0, 0, 0); }
.monaco_shrinkwrap { position: relative; width: 100%; }
#background_accent1 { background-repeat: no-repeat; margin-right: 481px; position: absolute; right: 50%; z-index: 2; }
#background_accent2 { background-repeat: no-repeat; background-position: 481px 0px; left: 50%; position: absolute; width: 50%; z-index: 2; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#LEFT_SKYSCRAPER_1, #LEFT_NAVBOX_1, #LEFT_NAVBOX_2 { margin: 0pt auto 10px; }
#LEFT_SKYSCRAPER_2 { margin: 0pt auto; }
#TOP_LEADERBOARD { margin-bottom: 10px; margin-right: auto; margin-left: auto; width: 728px; }
#wikia_header { border-bottom: 1px solid rgb(153, 153, 153); height: 50px; position: relative; }
#wikia_logo { background: url('wikia_logo.png') no-repeat scroll 0% 0% transparent; height: 24px; margin: 0pt auto; padding: 0pt; text-indent: -5000px; width: 93px; }
#wikia_logo a { display: block; height: 24px; width: 93px; }
.header-button, .header-button:hover, .header-button:active { background-image: none; border: 0pt none; font: bold 8pt/15px "Arial",sans-serif; height: 15px; text-shadow: none; text-transform: uppercase; -moz-border-radius: 5px 5px 5px 5px; -moz-box-shadow: none; filter: none; }
.header-button img { background: url('monaco-sprite.png') repeat scroll -72px -94px transparent; height: 4px; margin-left: 3px; width: 7px; }
#userData { line-height: 32px; position: absolute; right: 5px; top: 0pt; }
#userData span { font-size: 9pt; margin-right: 5px; }
#userData #fbconnect { margin-right: 12px; }
#userData span .fb_button_text { margin-right: 1px; }
#wikiaBranding { text-align: center; padding-top: 5px; position: relative; width: 216px; z-index: 2; }
#wikia_header #headerButtonHub { margin-top: 3px; }
#background_strip { background: none repeat scroll 0% 0% white; border-bottom: 1px solid rgb(153, 153, 153); height: 155px; }
#wiki_logo { background-repeat: no-repeat; background-position: center center; height: 155px; position: absolute; text-indent: -1000px; width: 216px; z-index: 3; }
#wiki_logo a { display: block; height: 155px; width: 216px; text-decoration: none; }
#accent_graphic1 { left: 0pt; position: absolute; }
#accent_graphic2 { position: absolute; right: 0pt; }
#request_wiki {  }
#request_wiki_ad { margin-left: 10px; }
#requestWikiData { font-size: 9pt; left: 221px; line-height: 32px; position: absolute; top: 0pt; white-space: nowrap; }
#wikia_page { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); height: 1%; margin: 0pt 5px 0pt 216px; position: relative; overflow: visible; top: -176px; }
#page_bar { background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.06) 0%, transparent 33%, transparent 42%, rgba(0, 0, 0, 0.1) 100%); background-position: left top; background-repeat: repeat-x; color: white; font-family: tahoma,sans-serif; font-size: 11pt; margin: 2px 2px 0pt; overflow: hidden; padding: 0pt 5px; }
#page_controls li { float: left; margin-right: 12px; line-height: 32px; position: relative; }
#page_controls img { top: -1px; }
#page_controls a { background: none repeat scroll 0% 0% transparent; margin-left: 2px; position: relative; text-decoration: none; }
#page_controls a:hover { text-decoration: underline; }
#page_tabs { float: right; font-family: arial,sans-serif; }
#page_tabs li { background-color: rgb(238, 238, 238); color: rgb(0, 0, 0); cursor: pointer; float: left; padding: 0pt 8px; height: 27px; line-height: 27px; margin-left: 3px; margin-top: 5px; }
#page_tabs li.selected { background-color: white; color: rgb(0, 0, 0); font-weight: bold; }
#page_tabs a { background: none repeat scroll 0% 0% transparent; color: rgb(0, 0, 0); text-decoration: none; }
#page_tabs a:hover { text-decoration: underline; }
#article { min-height: 200px; padding: 10px; position: relative; overflow: visible; }
#articleFooter { border-top: 1px dashed rgb(204, 204, 204); font-size: 9pt; margin: 0pt; overflow: hidden; padding: 0pt; }
#articleFooter table { border-collapse: collapse; width: 100%; }
#articleFooter td { padding: 10px; vertical-align: top; }
#articleFooter td.col2 { border-left: 1px dashed rgb(204, 204, 204); width: 50%; }
#articleFooter strong { border: 0pt none; color: rgb(51, 51, 51); font-size: 10pt; font-weight: bold; float: left; line-height: 22px; margin: 0pt 10px 0pt 0pt; padding: 0pt; clear: both; }
#articleFooter ul.actions { margin: 0pt; padding: 0pt; }
#articleFooter ul.actions li { line-height: 1.5em; padding: 2px 0pt; position: relative; clear: both; margin-right: 25px; overflow: hidden ! important; }
#articleFooter ul.actions li div { display: inline; position: relative; }
#fe_history { float: left; }
#fe_permalink { float: left; }
#fe_recent { float: left; clear: none ! important; }
#fe_whatlinkshere { float: left; clear: none ! important; }
#articleFooter .col2 strong { display: block; }
.editsection-upper { margin-left: 16px; position: relative; margin-bottom: -2px; top: -3px; font-size: 67%; }
#bodyContent a.external, #bodyContent a[href^="gopher://"] { background: url('monaco-sprite.png') no-repeat scroll right top transparent; }
#widget_sidebar { left: 5px; position: absolute; top: 5px; width: 206px; z-index: 995; }
#sidebar_1 { padding-bottom: 100px; }
.widget { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); color: rgb(0, 0, 0); margin-bottom: 10px ! important; padding: 2px ! important; }
.widget dt { cursor: move; font-family: tahoma,arial,sans-serif; font-size: 9pt; font-weight: bold; line-height: 1.2em; padding: 3px; }
.loggedout .widget dt { cursor: default; }
.widget dd { font-size: 9pt; padding: 7px; margin: 0pt; max-height: 250px; overflow-y: auto; overflow-x: hidden; }
.widget li { padding: 0.15em 0pt; }
.widget form input { margin: 3px 0pt; width: 170px; }
#search_box { background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.06) 0%, transparent 33%, transparent 42%, rgba(0, 0, 0, 0.1) 100%); background-position: left top; background-repeat: repeat-x; padding: 4px; position: relative; }
#searchform { background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , rgb(191, 191, 191) 0%, rgb(255, 255, 255) 40%); border: 1px solid rgb(0, 51, 153); -moz-border-radius: 5px 5px 5px 5px; }
#search_field { background: none repeat scroll 0% 0% transparent; border: 0pt none; color: gray; font-size: 9pt; height: 22px; line-height: 22px; margin: 0pt; padding: 0pt 3px; width: 164px; }
#search-button { border-left: 1px solid rgb(204, 204, 204); height: 16px; margin: 0pt; position: absolute; right: 8px; top: 8px; width: 16px; }
#navigation * { overflow: visible; }
#navigation .widget { margin: 0pt ! important; }
.sub-menu { border: 1px solid rgb(212, 223, 215); padding: 5px 0px; position: absolute; right: -205px; top: 0pt; width: 200px; z-index: 1000; }
#navigation .menu-item { border-bottom: 1px solid rgb(238, 238, 238); display: block; font-family: Tahoma,arial,sans-serif; font-weight: bold; height: 1%; padding: 0pt; position: relative; }
#navigation a { color: rgb(51, 51, 51); display: block; height: 1%; padding: 3px 5px; text-decoration: none; overflow: hidden; }
#navigation .Monaco-sidebar_more { text-align: right; }
#navigation em { font-family: arial,sans-serif; font-size: 16pt; font-weight: bold; line-height: 20px; position: absolute; right: 3px; top: 0px; }
#navigation .widget { margin: 0pt; }
#link_box_table { font-size: 8pt; font-weight: bold; width: 100%; }
#link_box_table td { padding: 1px 4px; vertical-align: top; overflow: hidden; }
#link_box_table a { background: none repeat scroll 0% 0% transparent; }
#link_box_dynamic .link_box_dynamic_item:first-line { line-height: 16px; }
#link_box_dynamic .link_box_dynamic_item { padding: 3px 0pt; position: relative; }
#search_box { position: relative; z-index: 1; }
#wpName1Ajax, #wpPassword1Ajax, #wpName2Ajax, #wpPassword2Ajax { float: left; margin-right: 5px; }
.toolbar { border-top-style: solid; border-top-width: 1px; padding: 3px 5px ! important; }
#positioned_elements { visibility: hidden; }
#wpName1Ajax, #wpPassword1Ajax { width: 150px; }
#wpName2Ajax, #wpPassword2Ajax, #wpName1Ajax, #wpPassword1Ajax { width: 150px; }
#monaco_footer { font-size: x-small; margin: 0pt 5px 0pt 220px; position: relative; top: -155px; height: 1px; }
#spotlight_footer { font-size: x-small; margin-bottom: 20px; overflow: hidden; }
#spotlight_footer table { width: 100%; }
#spotlight_footer table td { padding: 5px; text-align: center; }
#wikia_footer { font-size: 9pt; margin-bottom: 20px; width: 100%; }
#wikia_footer th, #wikia_footer td { padding-bottom: 15px; vertical-align: middle; }
#wikia_corporate_footer { padding-top: 10px; text-align: center; }
.star-rating, .star-rating a:hover, .star-rating .current-rating { background: url('monaco-sprite.png') repeat-x scroll 0pt -40px transparent; }
.star-rating { float: left; height: 18px; list-style: none outside none; margin: 0px; padding: 0px; position: relative; width: 100px; overflow: hidden; }
.star-rating li { float: left; margin: 0px; padding: 0px; }
.star-rating a { display: block; height: 18px; overflow: hidden; padding: 0px; position: absolute; text-decoration: none; text-indent: -9000px; width: 20px; z-index: 20; top: 0px; cursor: pointer; }
.star-rating a:hover { background-position: 0pt -76px; border: medium none; left: 0px; z-index: 2; cursor: pointer; }
.star-rating .one-star { left: 0px; }
.star-rating .one-star:hover { width: 20px; }
.star-rating .two-stars { left: 20px; }
.star-rating .two-stars:hover { width: 40px; }
.star-rating .three-stars { left: 40px; }
.star-rating .three-stars:hover { width: 60px; }
.star-rating .four-stars { left: 60px; }
.star-rating .four-stars:hover { width: 80px; }
.star-rating .five-stars { left: 80px; }
.star-rating .five-stars:hover { width: 100px; }
.star-rating .current-rating { background-position: 0pt -58px; height: 18px; position: absolute; text-indent: -9000px; z-index: 1; }
#unrateLink { display: block; float: left; height: 18px; line-height: 18px; margin-left: 10px; position: relative; top: 2px; }
#unrateLink a:hover { text-decoration: underline; }
#widget_sidebar { z-index: 20; }
.WidgetCommunity dd { max-height: none; padding: 0pt; }
.activityfeed img.sprite { margin-left: -20px; }
.WidgetCommunity .community_header { border-bottom-style: solid; border-bottom-width: 1px; padding: 2px 4px; }
.WidgetCommunity .article_count { font-size: 15pt; font-weight: bold; }
.WidgetCommunity .toolbar { height: 1%; text-align: right; overflow: hidden; }
.WidgetCommunity .widgetfeed { margin-top: 4px; margin-left: 25px; }
.WidgetCommunity .widgetfeed li { height: 1%; margin-bottom: 4px; position: relative; }
.WidgetCommunity li strong { font-weight: bold; font-size: 10pt; position: relative; }
.color1, .color1 a, .yui-panel .hd { background-color: rgb(34, 139, 34); }
.color2 { background-color: rgb(242, 242, 242); }
.dark_text_1 { color: rgb(34, 139, 34); }
.accent { background-color: rgb(211, 232, 211); border-color: rgb(34, 139, 34); color: rgb(0, 0, 0); }
#searchform { border-color: rgb(19, 80, 19); }
#wikia_logo { background-image: url('wikia_logo_001.png'); }
/* ::::: http://images.wikia.com/common/releases_201008.1/skins/monaco/jade/css/main.css?25024 ::::: */

.color1, .color1 a, .yui-panel .hd { background-color: rgb(34, 139, 34); }
.color2 { background-color: rgb(242, 242, 242); }
.dark_text_1 { color: rgb(34, 139, 34); }
.accent { background-color: rgb(211, 232, 211); border-color: rgb(34, 139, 34); color: rgb(0, 0, 0); }
#searchform { border-color: rgb(19, 80, 19); }
#wikia_logo { background-image: url('wikia_logo_002.png'); }
/* ::::: http://vim.wikia.com/__wikia_combined/cb=125024&type=SiteCSS&themename=jade&rtl= ::::: */

a.new, #quickbar a.new { color: rgb(204, 34, 0); }
.fb_reset { background: none repeat scroll 0% 0% transparent; border-spacing: 0pt; border: 0pt none; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0pt; overflow: visible; padding: 0pt; text-align: left; text-decoration: none; text-indent: 0pt; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_button, .fb_button_rtl { background: url('deh9tyqv.png') no-repeat scroll 0% 0% rgb(41, 68, 126); cursor: pointer; display: inline-block; padding: 0pt 0pt 0pt 1px; text-decoration: none; outline: medium none; }
.fb_button .fb_button_text, .fb_button_rtl .fb_button_text { background: url('deh9tyqv.png') repeat scroll 0% 0% rgb(95, 120, 171); border-top: 1px solid rgb(135, 154, 192); border-bottom: 1px solid rgb(26, 53, 110); color: rgb(255, 255, 255); display: block; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-weight: bold; padding: 2px 6px 3px; margin: 1px 1px 0pt 21px; text-shadow: none; }
a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl { text-decoration: none; }
a.fb_button:active .fb_button_text, a.fb_button_rtl:active .fb_button_text, .fb_button:active .fb_button_text, .fb_button_rtl:active .fb_button_text { border-bottom: 1px solid rgb(41, 68, 126); border-top: 1px solid rgb(69, 97, 157); background: none repeat scroll 0% 0% rgb(79, 106, 163); text-shadow: none; }
.fb_button_small, .fb_button_small_rtl { background-position: left -232px; font-size: 10px; line-height: 10px; }
.fb_button_small .fb_button_text { padding: 2px 6px 3px; margin-left: 17px; }
a.fb_button_small:active, .fb_button_small:active { background-position: left -250px; }
