/* ::::: http://xahlee.org/lbasic.css ::::: */

a:visited, a:link { text-decoration: none; }
a:link:hover, a:visited:hover { text-decoration: underline; background-color: pink; }
body { font-family: "Arial Unicode MS","DejaVu Sans",sans-serif; }
div.ftr { background-color: rgb(255, 248, 220); text-align: center; clear: both; }
div.ftr div { display: inline; }
