/* ::::: http://0.tqn.com/0g/dc/s69.css ::::: */

html, body, div, span, applet, object, iframe, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, button, textarea { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0pt; padding: 0pt; text-decoration: inherit; }
fieldset, a img, iframe { border: 0pt none; }
input { font-size: inherit; margin: 0pt; vertical-align: middle; }
input[type="hidden"] { display: none; }
dl, ol, ul { position: relative; z-index: 0; }
html { height: 100%; }
body { background: none repeat scroll 0% 0% rgb(239, 236, 230); color: rgb(51, 51, 51); font: 12px/1.5 Verdana; text-align: center; }
a:link, a:visited, .a { color: rgb(51, 102, 204); cursor: pointer; text-decoration: underline; }
body a:hover, a:active, #abw a:hover { text-decoration: underline; outline: 0pt none; }
i, em, cite, dfn, ins { font-style: italic; }
b, strong, dt { font-weight: bold; }
button { border: 0pt none; cursor: pointer; padding: 0pt; overflow: hidden; vertical-align: middle; }
label { cursor: pointer; }
#abw { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 3px solid rgb(255, 51, 0); margin: 0pt auto 0.75em; position: relative; padding: 0pt 15px; text-align: left; width: 930px; }
#abh { background: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 75%, rgb(241, 241, 237)) repeat scroll 0% 0% transparent; border-bottom: 1px solid rgb(204, 204, 204); margin: 0pt -15px; padding: 0pt 15px; position: relative; z-index: 19; }
.ma { clear: left; margin: 0pt 0pt 9px 2px; float: left; }
.lg { float: left; margin-right: 10px; }
.lg img { padding-top: 3px; }
.ma h2, .ma h1, .ma .h2, .ma .h1 { color: rgb(189, 182, 163); float: left; font: bold 24px/1 Arial; letter-spacing: -0.05em; margin-top: 4px; }
#abw .ma a { color: rgb(189, 182, 163); text-decoration: none; white-space: nowrap; }
.ct { clear: left; font: 9px/1.5 Verdana; margin-right: 300px; padding: 0.25em 0pt; }
.ct li { display: inline; background: url('ct2.1.png') no-repeat scroll 0pt 0.3em transparent; padding: 0pt 5px 0pt 10px; }
.ct a { text-decoration: none; }
.ct .h { background: none repeat scroll 0pt 50% transparent; padding-left: 0pt; }
#abh .gs, #abf .gs { width: 330px; float: right; margin-bottom: 12px; }
.gs input { background: url('spi.png') no-repeat scroll 3px -252px rgb(255, 255, 255); border: 1px inset rgb(221, 221, 221); font-size: 120%; margin: 0pt 7px 0pt 0pt; padding: 2px 3px 3px 16px; width: 225px; }
.gs .btn { background: url('srch.1.png') repeat scroll 0% 0% transparent; height: 22px; margin-top: -1px; width: 70px; }
#adL { background: url('abg.png') no-repeat scroll 0pt 50% transparent; margin-bottom: 9px; padding-left: 12px; text-align: left; }
#adB, #adC, #adP { color: rgb(102, 102, 102); margin: 0.25em 0pt; text-align: center; }
#aba #adB iframe, #aba #adC iframe, #aba #adP iframe { border: 0pt none; margin-top: 0pt; }
#pa { bottom: 4px; font: 10px/1.8 Verdana; position: absolute; right: 15px; z-index: 5; }
#pa li { display: inline; }
#pa a { background: url('spi_001.png') no-repeat scroll 0% 0% transparent; display: block; float: left; padding-left: 22px; }
#pra a { margin-left: 12px; }
#ea a { background: url('shbo.png') no-repeat scroll 3px 3px transparent; }
#com { border-left: 1px solid rgb(218, 217, 212); color: rgb(102, 102, 102); float: right; font: 11px/1.63 Verdana; margin-top: 12px; padding: 0pt 0pt 0pt 18px; position: relative; width: 318px; z-index: 5; }
#com a { text-decoration: none; }
form.nl label { font-weight: bold; }
.nl input { border-width: 1px 1px 0pt 0pt; border-style: solid solid none none; border-color: rgb(144, 144, 144) rgb(205, 205, 203) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; color: rgb(127, 127, 127); font: 11px/1.3 Verdana; padding: 4px 1%; width: 98%; }
form.nl span { background: none repeat scroll 0% 0% rgb(241, 239, 235); display: block; float: left; margin: 0pt 3px 0pt 0pt; padding: 3px; width: 205px; }
.nl button { background: -moz-linear-gradient(rgb(100, 159, 233), rgb(33, 113, 193)) repeat scroll 0% 0% transparent; border-radius: 4px 4px 4px 4px; color: rgb(255, 255, 255); display: block; font: bold 12px/1.5 Arial; height: 22px; margin-top: 3px; padding: 0pt 6px; position: relative; text-align: center; text-indent: 0pt; width: auto; }
#articlebody, #channelbody, #chb, #abc #mimg, #pagination, .pagination, #coda, #gB2, #prea, .ssnav.lo, .cta { margin-right: 351px; }
#abm { position: relative; }
#abm ul li { margin-left: 18px; }
#abm ul li, #abm ol ul li { list-style-type: disc; }
#abc { float: left; margin: 0pt -336px 0pt 0pt; position: relative; width: 100%; }
#articlebody { margin-bottom: 1.5em; margin-top: 1.5em; position: static; }
#aba, #widgets { background: none repeat scroll 0% 0% rgb(255, 255, 255); float: right; position: relative; width: 336px; z-index: 9; }
#aba iframe { margin: 0.75em 0pt; }
#abf { clear: both; margin: 1.5em 0pt 15px; position: relative; }
#lks { bottom: 0pt; font: 11px/1.65 Verdana; height: 1.65em; position: absolute; right: 0pt; }
.rss a, a.rss { background: url('rss.png') no-repeat scroll left center transparent; padding: 4px 0pt 4px 18px; }
#abi { background: none repeat scroll 0% 0% rgb(239, 236, 230); clear: both; color: rgb(153, 153, 153); border-top: 3px solid rgb(255, 51, 0); font: 11px/1.2 Verdana; padding: 6px 15px; position: relative; margin: 0pt -15px; }
#abi a { text-decoration: none; }
#abi ul, #abi p, #abi div { margin-bottom: 0.5em; }
#mf, #si, #li, #ci { clear: left; float: left; position: relative; z-index: 5; }
#di { float: right; text-align: right; }
.pane { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(231, 228, 218); margin: 0.5em 0pt; padding: 5px; }
#abw .hl li { display: inline; float: left; line-height: 1.2; border-left: 1px solid; margin: 0pt 0pt 0pt 0.6em; padding: 0pt 0pt 0pt 0.6em; }
#abw .hl .f { border: 0pt none; margin: 0pt; padding: 0pt; }
.btn { background: url('spb.2.png') no-repeat scroll 0% 0% transparent; border: 0pt none; height: 31px; padding: 0pt; text-align: left; text-indent: -9999px; }
.clear:after, .ma:after, #up:after, #abw #abt:after, #articlebody .entry:after, #tt47 #articlebody ul:after, .vbtns:after, #coda:after, #gi:after, #cgSc:after, #thumbpromo:after, #lp-tp:after, #abi:after, .gallerynav:after, .ignav:after, #recipesearch form:after, #com form:after, #fpromo:after, .form1:after, #tt20 .promo:after, #sitelist:after, #gsl:after, #cgScL:after, #vdCB:after, #videos dl:after, #gi .cr:after, #gi .so:after, #tt33 #gB2:after, #forumnav:after, #browse:after, #clist ul:after, #sspre:after, #bc2:after, #aba #m9:after, .modal:after, #sub:after, #choose:after, .fbbx:after, #abh:after, #abf:after, #mn:after, .sm:after { clear: both; content: "."; display: block; height: 0pt; visibility: hidden; }
.clear, .ma.ma, #up, #abw #abt, #articlebody .entry, #tt47 #articlebody ul, .vbtns, #coda, #gi, #cgSc, #thumbpromo, #lp-tp, #abi, .gallerynav, .ignav, #recipesearch form, #com form, #fpromo, form1, #tt20 .promo, #sitelist, #gsl, #cgScl, #vdCB, #videos dl, #gi .cr, #gi .so, #tt33 #gB2, #forumnav, #browse, #clist ul, #sspre, #bc2, #aba #m9, .modal, #sub, #choose, .fbbx, #abh, #abf, #mn, .sm {  }
#abt { color: rgb(77, 74, 66); font: 11px/1.65 Verdana; margin: 12px 351px 12px 0pt; position: relative; }
h1, .h1 { color: rgb(62, 62, 62); font: 22px/1.2 Georgia; }
h2, h1 .n2, .h2, .h1 .n2 { color: rgb(77, 74, 66); font: 14px/1.3 Verdana; }
#abt p, #abt div { padding-right: 1em; }
#abt #by { clear: left; float: left; }
#by a { text-decoration: none; }
.tr { border-top: 1px solid rgb(229, 229, 229); border-bottom: 1px solid rgb(229, 229, 229); color: rgb(102, 102, 102); clear: right; font: 12px/1.5 Verdana; padding: 5px 8px; }
.tr h4, .tr .h4, .tr .n4 { display: inline; font-weight: bold; }
.tr ul, .tr ol { display: inline; }
.tr li { display: inline; padding-left: 0.75em; }
.tr a { padding-left: 0.75em; }
#spacer, .sp { clear: left; float: left; height: 16.5em; width: 1px; }
#sp2 { height: 36em; }
#coda #gi p, #coda #gi ul { margin-right: 91px; }
#articlebody h2, #articlebody .h2, #articlebody h3, #articlebody .h3, #articlebody h4, #articlebody .h4, #articlebody .n3, #articlebody .n4 { color: inherit; font-size: 100%; font-weight: bold; margin: 1.5em 0pt; }
#tt5 #articlebody h2, #tt5 #articlebody .h2, #tt6 #articlebody h2, #tt6 #articlebody .h2 { font-weight: bold; margin: 1.5em 0pt; }
#articlebody p, .gt2 #articlebody div, .gt6 #articlebody div, #articlebody ul, #articlebody ol, #articlebody dl, #articlebody blockquote, #articlebody pre, #articlebody form { margin: 1.5em 0pt; }
#abi #lftr, #abi #zIhf, #abi #zIHC { margin-bottom: 0pt; }
#abi #lftr { float: left; width: 630px; }
.pane h3, .pane .h3, #rel .lkbx h5, #rel .lkbx .h5, #vdpop .lkbx h5, #vdpop .lkbx .h5, .pane .n3 { color: rgb(122, 119, 100); background: none repeat scroll 0% 0% rgb(247, 247, 239); font: bold 20px/1.5 Arial; margin-bottom: 6px; padding: 0pt 6px; text-align: center; }
#coda { clear: both; margin-bottom: 1.5em; min-height: 9em; position: relative; }
#coda .lkbx, #coda #rel, #coda #ll { clear: left; margin-bottom: 1.5em; position: relative; z-index: 5; width: 50%; }
#browse, #fpromo { color: rgb(102, 102, 102); font-size: 11px; float: left; margin-bottom: 3em; }
#browse h3, #browse .h3, #browse .n3, #fpromo h3, #fpromo .h3, #fpromo .n3 { color: rgb(122, 119, 100); font: 18px/1.5em Georgia; margin-bottom: 12px; text-align: left; }
#browse h4, #browse .h4, #fpromo h4, #fpromo .h4 { font-weight: bold; clear: left; }
#browse a, #fpromo a { text-decoration: none; }
#browse ul, #fpromo ul { position: static; }
#browse { clear: both; width: 61%; margin-right: 1.6%; }
#bc1 { border-left: 1px solid rgb(229, 229, 221); float: right; margin-bottom: 0.5em; padding: 0pt 12px; width: 31%; }
#browse ul { margin-bottom: 1.5em; color: rgb(136, 136, 136); }
#browse ul.col1 { padding-right: 5%; }
#browse ul li { margin-left: 15px; }
#bc2 { margin-bottom: 0.5em; width: 63%; }
#bc2 .tr, #bcl { border: 0pt none; clear: none; float: left; font-size: 11px; margin-bottom: 1.5em; }
#bc2 .tr, #bcl, #bc2 .n5 { padding: 0pt 0pt 0pt 2%; width: 98%; }
#bc2 .tr h4, #bc2 .tr .h4 { display: block; font-weight: bold; }
#bc2 .tr ul { display: block; }
#bc2 .tr li { display: list-item; padding-left: 0pt; }
#bc2 .tr li a { padding: 0pt; }
#bc2 ul { float: left; padding: 0pt; width: 47%; }
#gi { color: rgb(102, 102, 102); font: 11px/1.3 Verdana; position: relative; }
#coda #gi { bottom: 0pt; border-bottom: 1px solid rgb(234, 234, 234); position: absolute; right: 0pt; width: 45%; }
#gi .cr { padding-bottom: 6px; margin: 0pt 0pt 0pt 91px; min-height: 79px; position: relative; }
#coda #gi .cr { margin: 0pt; }
#gi p a { font-weight: bold; }
#gi .img { font: 11px/1.3 Georgia; }
#coda #gi .img { bottom: 0pt; position: absolute; right: 6px; }
#gi img { display: block; }
#coda #gi ul { color: rgb(51, 51, 51); font: 11px/1.5 Verdana; }
.so li { float: left; margin-right: 5px; }
#coda #gi li, #tt1 #gi .so li { background: url('bl2.png') no-repeat scroll 0pt 0.45em transparent; list-style: none outside none; margin-left: 0pt; padding-left: 10px; }
#gi a { text-decoration: none; }
#gi a:hover { text-decoration: underline; }
.so a { color: rgb(255, 102, 0); }
.gB, #m9, #oF { color: rgb(102, 102, 102); line-height: 1.2; overflow: hidden; position: relative; z-index: 5; }
#gB2 { clear: left; float: left; width: 575px; margin: 1.5em 0pt; }
#coda h5, #coda .h5, #coda .n5 { font-weight: bold; }
#up { border: 0pt none; bottom: -1px; clear: both; }
#up li { display: block; float: left; }
#up a { background: -moz-linear-gradient(-90deg, rgb(255, 255, 255) 50%, rgb(227, 226, 221)) repeat scroll 0% 0% transparent; border: 1px solid rgb(204, 204, 204); border-top-left-radius: 7px; border-top-right-radius: 7px; display: block; float: left; font: bold 12px/22px Helvetica,Arial,sans-serif; margin: -1px -1px 0pt 0pt; min-width: 50px; overflow: hidden; padding: 0pt 14px; text-align: center; text-decoration: none; white-space: nowrap; }
#up a:hover { color: rgb(71, 71, 71); text-decoration: none; }
#up .h span { background: url('spi_001.png') no-repeat scroll right -272px transparent; display: block; padding-right: 24px; margin-right: -4px; }
:first-child + html #sharemail .sharesub { margin-top: 1.75em; }
:first-child + html #shareform input#left { margin-bottom: 0pt; }
@media screen and (max-width: 700px) {
  #tt62 #abw { min-width: 320px; }
  #tt62 #abw .ma * { float: none; }
  #tt62 #abc { float: none; margin: 0pt; width: auto; }
  #tt62 #articlebody, #tt62 #abm nav { margin-right: 0pt; }
  #tt62 #aba { float: none; width: auto; }
  #tt62 #aba .lkbx, #tt62 #aba #related { clear: left; float: left; width: 49%; }
  #tt62 #aba #gB3 { margin: 0pt; padding: 0pt; position: absolute; right: 0pt; top: 0pt; width: 49%; }
}
@media print {
  #abi, #coda, .ct, #abf, #fpromo, #leaderboard, .gB, #gsearch, .gs, .meta, #m9, #oF, .tr, #pagination, #up, #utilities, #sidebar, .sb, #spacer, .sp, #abt ul, #aba, #vdpyr, #vdMrC, iframe#c, #vdCB, #vdTb, #tt37 #articlebody h1, #tt37 #articlebody .h1, #vdTrn h2, #vdTrn #articlebody.h2 #by, #tt39 ol.contents, .ssnav, .gallerynav, .fs { display: none; }
  body { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
  #tt1 #abw, #tt29 #abw, #tt33 #abw, * html #abw { max-width: 100%; min-width: 0pt; width: auto; }
  #articlebody, #abt, #abw, #abc { height: auto; margin-left: 0pt; margin-right: 0pt; margin-top: 0pt; min-height: 0pt; padding-left: 0pt; padding-right: 0pt; float: none; }
  #abh { padding: 10px 0pt 0pt 18px ! important; }
  #abt { background: none repeat scroll 0% 0% transparent ! important; padding-left: 0pt ! important; padding-right: 0pt ! important; page-break-after: avoid; page-break-inside: avoid; }
  #abw #articlebody { margin-top: 1.5em; }
  #articlebody div { background: none repeat scroll 0% 0% transparent ! important; margin: 1.5em 0pt; }
  #abc .imgwrapper { margin-right: 0pt; margin-top: 0pt; page-break-inside: avoid; }
  #abc .imgwrapper p { margin: 0pt; }
  #tt28 #abc .imgwrapper { float: right; }
  #tt29 #abc .imgwrapper { float: none; margin: 1.5em 0pt; }
  #tt29 .imgwrapper img, #tt29 .imgwrapper .cap, #tt29 .imgwrapper cite { max-width: 100%; }
  #tt29 #articlebody h2, #tt29 #articlebody .h2 { margin-top: 1.5em; }
  #tt29 #articlebody h4, #tt29 #articlebody .h4 { margin: 0pt; }
  #pd { clear: both; }
  #pd p { font: italic 10px/1.5 Verdana; margin: 1.8em 0pt; }
  .more { display: none; }
  #lc, #lp-side { width: 35%; }
  #rc, #lp-main { margin-left: 40%; width: 60%; }
  #essentials div { padding: 0pt; }
  #thumbpromo dl { margin-right: 0pt; width: 50%; }
  #abc #pd p { margin: 0pt; }
  #linklist { page-break-inside: avoid; font-size: 80%; }
  #linklist h3, #linklist .h3 { font-weight: bold; }
  #tt37 #articlebody #prea { margin: 10px 0pt; font-weight: bold; }
  #tt33 #articlebody { margin-bottom: 1.5em; }
  #sspre { background: none repeat scroll 0pt 50% transparent; margin: 0pt; padding: 0pt; text-align: center; }
  #ssimg { display: inline-block; text-align: left; }
  #tt52 .edit { display: none; }
}
.nd button, input, select, textarea { margin: 0pt; }
.nd label, .nd input[type="button"], .nd input[type="submit"], button { cursor: pointer; }
#rs { margin: 0pt 0pt 10px; }
#rs #n5 { font-weight: bold; }
#rs a { padding: 7px; text-transform: capitalize; }
