html, body, div, span, h3, h4, p { margin: 0pt; padding: 0pt; }
body { color: rgb(51, 51, 51); font: 12px/1.5 Verdana; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: 0pt; width: 334px; }
.pane { border: 1px solid rgb(231, 228, 218); padding: 5px; background: none repeat scroll 0% 0% white; margin: 0.5em 0pt; }
.pane h3 { background: none repeat scroll 0% 0% rgb(247, 247, 239); padding: 0pt 6px; }
a { color: rgb(51, 102, 204); text-decoration: none; }
#fpr h3 { color: rgb(122, 119, 100); font: 18px/1.5em Georgia; margin-bottom: 12px; text-align: left; }
#fpr .fpni { margin: 0pt 0pt 1em 10px; }
#fpr .fpni h4 { font: bold 14px Georgia; }
#fpr h4 { font-weight: bold; clear: left; }
#fpr .more a { background: url('ar1r.png') no-repeat scroll 100% 3px transparent; padding: 0pt 14px 0pt 0pt; }
#fpr a { text-decoration: none; }
