a { color: rgb(0, 0, 255); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
#ads { height: 232px; left: 0px; position: absolute; top: 0px; width: 300px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 56px; line-height: 0; padding: 1px 4px; overflow: hidden; width: 292px; }
.adc { height: 56px; table-layout: fixed; width: 100%; }
.attribution li { float: right; height: 18px; }
