html, body, div, h3, h4, p, a { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0pt; padding: 0pt; text-decoration: inherit; }
a img { border: 0pt none; }
html { height: 100%; }
body { background: none repeat scroll 0% 0% rgb(239, 236, 230); color: rgb(51, 51, 51); font: 12px/1.5 Verdana; text-align: center; }
a:link, a:visited { color: rgb(51, 102, 204); text-decoration: underline; }
body a:hover, a:active { text-decoration: underline; }
#widgets { background: none repeat scroll 0% 0% rgb(255, 255, 255); float: right; position: relative; width: 336px; }
body#widgets { height: 100%; position: static; text-align: left; width: 100%; }
body#widgets .pane { margin: 0pt; }
.pane { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(231, 228, 218); margin: 0.5em 0pt; padding: 5px; }
#widgets a { text-decoration: none; }
.pane h3 { color: rgb(122, 119, 100); background: none repeat scroll 0% 0% rgb(247, 247, 239); font: bold 20px/1.5 Arial; margin-bottom: 6px; padding: 0pt 6px; text-align: center; }
#pg.pane { overflow: hidden; font: 11px/1.5 Verdana; }
#pg h4 { display: inline; font-weight: bold; }
#pg .cntnr { padding: 12px 12px 0pt; }
#pg img { border: 1px solid rgb(239, 240, 235); float: left; margin: 0pt 12px 6px 0pt; padding: 3px; height: 125px; }
#pg #price a { color: rgb(51, 51, 51); display: block; margin: 12px 0pt; text-decoration: none; }
#pg .n { color: rgb(255, 102, 0); }
#p0, #p1, #p2, #p3, #p4 { display: none; }
#pg #fp img { height: 31px; width: 123px; border: medium none; }
#pg { height: 198px; }
