/* ::::: http://gtmick.com/photo/index.php?q=aHR0cDovL3MwLndwLmNvbS93cC1jb250ZW50L3RoZW1lcy9wdWIvY2hhb3N0aGVvcnkvc3R5bGUuY3NzP209MTI5MTMyMDI4NGc%3D ::::: */

abbr.published { border: 0pt none; cursor: default; margin: 0pt; }
div.entry-content p { margin: 0pt 0pt 1em; }
div.entry-content ul li { list-style: square outside none; }
body.single .entry-meta { font-size: 0.9em; }
body.single div.navigation { padding: 0pt 0pt 3em; }
abbr, acronym { border-bottom: 1px dotted blue; cursor: help; }
code, pre { font-family: "courier new",courier,monospace; }
form#commentform, form#commentform p { padding: 0pt; }
form#commentform .required { color: red; }
#respond p { line-height: 18px; margin-bottom: 10px; }
#respond input[type="text"], #respond textarea { font-family: "courier new",courier,monospace; font-size: 12px; }
#respond input[type="text"] { float: left; margin-right: 6px; }
#respond textarea { height: 13em; margin: 0pt 0pt 0.5em; overflow: auto; width: 66%; }
#respond label { clear: right; font-size: 11px; }
#respond .comment-form-comment label, #respond .form-allowed-tags { display: none; }
.commentlist .children { margin-left: 3em; }
div.sidebar div, div.sidebar h3, div.sidebar h4, div.sidebar ul, div.sidebar li { margin: 0pt; padding: 0pt; }
div.sidebar li { list-style: none outside none; }
div.sidebar li form { margin: 0.2em 0pt 0pt; padding: 0pt; }
div.sidebar h3 { font-size: 1.2em; }
div.sidebar ul ul { margin: 0pt 0pt 0pt 1em; }
div.sidebar ul ul li { margin: 0pt; list-style: disc outside none; }
div.sidebar input#s { width: 7em; }
.alignleft, div.nav-previous, #archives-by-category { float: left; }
.alignright, div.nav-next, #archives-by-month { float: right; }
div#nav-above, body.single div#nav-below { display: none; }
body.single div#nav-above { display: block; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td { margin: 0pt; padding: 0pt; }
fieldset, img, abbr { border: 0pt none; }
a { text-decoration: none; }
body { background: none repeat scroll 0% 0% rgb(27, 27, 27); font: 62.5%/175% Verdana,Arial,Helvetica,Tahoma,sans-serif; color: rgb(221, 221, 221); }
a { color: rgb(109, 207, 246); }
#wrapper {  }
#content { margin: 0pt auto; overflow: hidden; width: 780px; min-height: 100px; }
#header { border-bottom: 1px solid rgb(36, 36, 36); background: none repeat scroll 0% 0% rgb(10, 10, 10); padding: 25px 0pt 10px; }
#blog-description { color: rgb(153, 153, 153); }
#innerheader { margin: 0pt auto; width: 780px; }
#header h1 { margin: 1px 0pt; font-family: Helvetica,Arial,"Lucida Grande","Lucida Sans",Verdana,sans-serif; font-size: 24px; font-weight: normal; }
#header h1 a { color: rgb(255, 255, 255); }
#footer { text-align: center; clear: both; padding: 15px 0pt; background: none repeat scroll 0% 0% rgb(17, 17, 17); border-bottom: 1px solid rgb(36, 36, 36); }
body.single div#nav-above.navigation { display: none; }
.post, #content .page { font-size: 1.2em; line-height: 1.7; margin-bottom: 25px; }
.post, .page { overflow: auto; width: 100%; }
h2.entry-title { font-size: 24px; letter-spacing: -0.04em; line-height: normal; margin-bottom: 10px; }
h2.entry-title a { font-style: normal; font-weight: normal; }
.entry-content { overflow: hidden; width: 510px; float: right; }
.entry-meta { font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; float: left; width: 250px; font-size: 11px; }
.entry-meta ul { list-style: none outside none; border-top: 1px solid rgb(34, 34, 34); }
.entry-meta li { border-bottom: 1px solid rgb(34, 34, 34); line-height: normal; padding: 5px 2px; }
#globalnav { width: 780px; margin: -1px auto 1px; text-align: right; }
#globalnav #menu { list-style: none outside none; float: right; }
#globalnav #menu li { float: left; }
#globalnav #menu li a { display: block; background: none repeat scroll 0% 0% rgb(10, 10, 10); border-top: 1px solid rgb(10, 10, 10); border-bottom: 1px solid rgb(36, 36, 36); color: rgb(204, 204, 204); padding: 9px 15px 10px; }
#globalnav #menu li a:hover, #globalnav #menu li .current_page_item { border-top: 1px solid rgb(28, 28, 28); background: none repeat scroll 0% 0% rgb(17, 17, 17); }
#container { padding-top: 55px; margin-top: 0pt; }
#globalnav li { position: relative; }
#sidebar { margin-top: 15px; background: url('index_005.php') repeat-x scroll center top rgb(17, 17, 17); clear: both; }
#innerbar { background: url('index_006.php') repeat-x scroll center top transparent; margin: 0pt auto; padding: 60px 0pt 0pt; width: 780px; }
.sidebar { background: none repeat scroll 0% 0% rgb(27, 27, 27); border-top: 1px solid rgb(57, 57, 57); float: left; padding: 10px; width: 365px; overflow: hidden; }
.sidebar h3 { border-bottom: 1px solid rgb(85, 85, 85); display: inline; }
#primary { margin-right: 10px; }
.sidebar ul li { margin-bottom: 10px; }
.sidebar ul li ul { padding-top: 3px; padding-left: 10px; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.comments { clear: both; }
.comments h3 { border-bottom: 1px solid rgb(51, 51, 51); font-size: 14px; padding-bottom: 5px; margin-bottom: 10px; }
.comments ol { list-style: none outside none; }
.comments ol li, #commentform { position: relative; }
.comments ol li ul li { list-style: none outside none; }
.comments .comment-content, .form-two { margin-left: 270px; min-height: 130px; }
.comments .comment-content p { margin-bottom: 1em; }
.comments .comment-meta, .form-one { font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; float: left; width: 250px; font-size: 10px; }
.comments .comment-author { font-size: 14px; font-weight: bold; }
.comments .comment-meta li { border-bottom: 1px solid rgb(34, 34, 34); line-height: normal; padding: 5px 2px; }
div.entry-content li { margin-left: 2.2em; }
div.comment-avatar { display: inline; }
/* ::::: http://gtmick.com/photo/index.php?q=aHR0cDovL3MwLndwLmNvbS93cC1jb250ZW50L3RoZW1lcy9oNC9nbG9iYWwuY3NzP209MTI1NjY3MTU4M2c%3D ::::: */

.possibly-related { clear: both; }
#wpl-likebox { clear: left; font-size: 11px; font-family: arial,tahoma,verdana,sans-serif ! important; min-height: 30px; margin: 10px 0pt ! important; padding: 5px 0pt 10px ! important; }
#wpl-button { float: left; background: url('index_007.php') repeat-x scroll left top transparent; margin-right: 7px; border: 1px solid rgb(212, 212, 212); -moz-border-radius: 3px 3px 3px 3px; }
#wpl-button a { color: rgb(102, 102, 102) ! important; line-height: 130% ! important; text-decoration: none ! important; outline: medium none; float: left; padding: 3px 6px 2px 24px ! important; font-size: 11px ! important; background: url('index_008.php') no-repeat scroll 6px 49.8% transparent; }
#wpl-likebox #wpl-count { min-height: 25px; line-height: 130% ! important; float: left; padding-top: 4px; }
/* ::::: http://s.gravatar.com/css/hovercard.css?v=3 ::::: */

/* ::::: http://s.gravatar.com/css/services.css ::::: */

