body { font-family: Helvetica,Arial,Verdana,sans-serif; font-size: 16px; padding: 0pt; margin: 0pt; }
a img { border: 0pt none; }
#container { position: absolute; width: 320px; border: 1px solid black; }
#info { position: absolute; left: 0pt; bottom: 0px; background: url('embed_shaddow.png') repeat-x scroll 0% 0% transparent; width: 320px; height: 127px; }
.textList { position: absolute; top: 0pt; left: 49px; width: 250px; height: 37px; color: white; margin: 0pt; padding: 11px; list-style-type: none; }
.title { white-space: nowrap; font-weight: bold; overflow: hidden; width: 100%; }
a, a:visited { color: white; text-decoration: none; }
