* { margin: 0px; outline: 0pt none; padding: 0px; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 12px; font-family: Arial,Helvetica,sans-serif; overflow: hidden ! important; width: 100%; border-right: 1px solid rgb(255, 255, 255); border-width: 2px 1px 1px; border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
#query { padding: 3px 3px 0pt; overflow: hidden; }
#query b { background-color: rgb(255, 255, 51); }
.cnt { overflow: hidden; padding-top: 10px; position: relative; }
a.more { color: rgb(0, 0, 0); text-decoration: none; font-size: 10px; line-height: 11px; height: 11px ! important; bottom: 1px; position: absolute; background-position: right top; right: 65px; }
#oop { color: rgb(0, 0, 0); font-size: 10px; line-height: 11px; height: 11px; position: absolute; text-decoration: none; bottom: 1px; right: 22px; z-index: 99999 ! important; }
#oop:hover { color: rgb(51, 51, 51); }
.more:hover { color: rgb(51, 51, 51); }
#pn { height: 12px; width: 18px; position: absolute; display: none; }
#pn a { text-decoration: none; color: blue; }
#pn a:hover { color: rgb(0, 0, 0); }
.gres { list-style-type: none; }
.gres img { height: 50px; width: 50px; border: 0pt none; }
a.resTitle, a.resTitle:visited { color: rgb(0, 0, 204); height: 17px; position: relative; display: block; font-size: 14px; line-height: 16px; white-space: nowrap; }
a.resTitle:hover { color: rgb(0, 0, 0); }
a.resDesc, a.resDesc:hover { display: block; color: rgb(0, 0, 0); line-height: 14px; overflow: hidden; text-decoration: none; }
a.resDomain, a.resDomain:hover, a.resDomain:visited { color: rgb(0, 0, 204); display: block; font-size: 11px; text-decoration: none; }
.searchlink { position: absolute; bottom: 1px; right: 2px; z-index: 1000; }
.searchlink img { border: 0pt none; display: block; height: 16px; width: 16px; }
#searchBlock { height: 100%; width: 100%; margin: 16px auto auto; position: absolute; top: 10px; left: 1px; text-align: center; display: none; }
#mquery { display: block; border: 1px solid rgb(26, 52, 112); }
#searchButton { display: block; }
.searchlink { display: block; }
.centerblock { width: 90%; margin: auto; }
#mquery { display: inline-block; }
#searchButton { display: inline-block; }
li { position: relative; }
#adchoices { position: absolute ! important; bottom: 0px ! important; left: 1px ! important; border: medium none ! important; height: 15px ! important; }
#adchoices img { border: medium none ! important; }
body { height: 87px; width: 548px; text-align: left; }
#query { font-size: 12px; line-height: 12px; height: 13px; }
.cnt { padding: 0px 4px 4px ! important; height: 67px ! important; overflow: hidden ! important; }
.gres li { overflow: hidden ! important; float: left ! important; width: 265px; height: 64px ! important; display: block ! important; margin-right: 4px ! important; }
.gres img { height: 50px ! important; width: 50px ! important; float: left ! important; margin-right: 6px ! important; text-align: left ! important; }
a.resTitle, a.resTitle:visited { font-size: 14px ! important; line-height: 14px ! important; height: 14px ! important; width: 200px ! important; margin-left: 6px ! important; display: block ! important; overflow: hidden ! important; padding: 0px ! important; }
a.resDesc, a.resDesc:hover { font-size: 11px ! important; line-height: 13px ! important; margin: 2px 0px 2px 6px ! important; height: 26px ! important; display: block ! important; overflow: hidden ! important; }
a.resDomain { margin-left: 6px ! important; height: 26px ! important; display: block ! important; overflow: hidden ! important; }
.more { right: 1px; }
#pn { bottom: 1px; right: 1px; }
#adchoices { bottom: 3px ! important; }
