/* ::::: http://mat1.gtimg.com/app/vt/css/show/show.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
body { font-size: 12px; line-height: 150%; color: rgb(57, 57, 57); }
li { list-style-type: none; }
h1 { font-size: 12px; font-weight: 200; line-height: 20px; height: 24px; }
h1 a { display: block; width: 87px; height: 24px; line-height: 24px; color: rgb(255, 255, 255); text-indent: -9999px; }
a { text-decoration: none; }
.fl { float: left; }
.fr { float: right; }
.cl { clear: both; }
img { border: medium none; }
#border { border: 1px solid rgb(192, 218, 222); overflow: hidden; }
#dataArea {  }
#userInfo { height: 64px; padding: 10px 0pt 0pt 6px; color: rgb(56, 58, 57); overflow: hidden; }
.userIco { float: left; }
.userInfo strong { font-size: 14px; font-family: tahoma; }
.userIco img { margin-left: 4px; border: 1px solid rgb(210, 210, 210); }
.userInfo { position: absolute; left: 70px; }
#hisFans { height: 30px; overflow: hidden; line-height: 30px; padding: 0pt 23px 0pt 7px; }
#fansList li { text-align: center; width: 75px; height: 80px; padding-bottom: 10px; overflow: hidden; float: left; }
#fansList li p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#fansList li img { border: 1px solid rgb(210, 210, 210); padding: 2px; }
#tweetArea { padding: 6px; }
#tweetArea li { padding: 8px 2px 0pt; line-height: 160%; word-wrap: break-word; }
#tweetArea li a { color: rgb(0, 0, 0); }
#tweetArea li .source { padding: 4px 5px; margin: 0pt 5px; }
.tweetinfo { height: auto; padding: 3px; }
.tweetinfo span.l { float: left; display: block; }
.tweetinfo span.r { display: block; float: right; padding-left: 16px; white-space: nowrap; background: url('act.gif') no-repeat scroll 0pt -32px transparent; }
.addlisten { width: 78px; height: 21px; display: block; background: url('listen.png') no-repeat scroll 0% 0% transparent; margin-top: -3px; }
.imgshow img { padding: 3px; }
.fcgray { color: rgb(163, 163, 163); }
#tweetList { overflow-x: hidden; overflow-y: auto; }
.otips { position: absolute; margin-top: -64px; height: 18px; }
.otips a { display: block; width: 18px; height: 18px; background: url('tips.gif') no-repeat scroll 0% 0% transparent; }
/* ::::: http://mat1.gtimg.com/app/vt/css/show/3.css ::::: */

#border { border: 1px solid rgb(56, 109, 2); background: none repeat scroll 0% 0% rgb(221, 233, 216); }
h1 { background: url('bgst.png') repeat-x scroll 0% 0% transparent; }
h1 a { background: url('bgs4.gif') no-repeat scroll left top transparent; }
#userInfo { background: url('bgs0.png') repeat-x scroll 0% 0% transparent; }
.userInfo a { color: rgb(53, 89, 79); }
#tweetList li { border-bottom: 1px solid rgb(221, 233, 216); }
#tweetList { border-top: 1px solid; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#tweetArea .source { background: none repeat scroll 0% 0% rgb(253, 254, 255); border: 1px solid rgb(221, 233, 216); }
#fansArea { border-top: 1px solid; }
.tweetinfo { color: rgb(163, 163, 163); }
#hisFans a { color: rgb(51, 89, 78); }
#fansList li a { color: rgb(51, 89, 78); }
.imgshow img { border: 1px solid rgb(241, 246, 248); }
