/* ::::: https://s7.addthis.com/static/r07/widget119.css ::::: */

.addthis_button_facebook_like .fb_iframe_widget { line-height: 100%; }
div.atclear { clear: both; }
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs { float: left; }
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m { padding: 0pt 2px; }
.at300b, .at300bo, .at300m, .at300bs { cursor: pointer; }
.addthis_button_facebook_like.at300b:hover, .addthis_button_facebook_send.at300b:hover, .addthis_button_facebook_like.at300bs:hover, .addthis_button_facebook_send.at300bs:hover { opacity: 1; }
:first-child + html #at_email textarea { height: 42px ! important; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0pt; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0pt none ! important; }
@media print {
  #at20mc { display: none; }
}
@media screen and (max-width: 680px) {
  #at3win { width: 95%; left: auto; margin-left: auto; }
}
/* ::::: https://www.linux.com/media/com_lfnews/css/lfnews-plugin.css?123481 ::::: */

/* ::::: https://www.linux.com/media/com_lfcomments/css/comments.css?123481 ::::: */

.lf-comments { margin-top: 40px; position: relative; }
.lf-comments .heading { line-height: 1.7em; }
.lf-comments-form { margin-bottom: 0pt; }
.lf-comments-form label { display: block; float: none; width: auto; text-align: left; line-height: 20px; padding-top: 0pt; margin-top: 20px; }
.lf-comments-form textarea { height: 100px; width: 98.5%; }
.lf-comments-form .button { margin: 1em 0pt; float: right; }
.lf-comments-form .inline-label { display: inline-block; }
.lf-comments-form .winnie { display: none ! important; }
/* ::::: https://www.linux.com/templates/system/css/system.css?123481 ::::: */

/* ::::: https://www.linux.com/templates/system/css/general.css?123481 ::::: */

/* ::::: https://www.linux.com/templates/linuxcom_v2/css/editor.css?123481 ::::: */

/* ::::: https://www.linux.com/templates/linuxcom_v2/css/typo.css?123481 ::::: */

a.rss { background: url('icon-rss.png') no-repeat scroll 0px 2px transparent; padding: 0pt 0pt 0pt 15px; }
/* ::::: https://www.linux.com/templates/linuxcom_v2/ja_menus/ja_moomenu/ja.moomenu.css?123481 ::::: */

#ja-cssmenu { float: left; list-style: none outside none; margin: 0pt; padding-top: 0pt; background: url('mainnav-sep.gif') no-repeat scroll left bottom transparent; }
#ja-cssmenu ul { margin: 0pt; padding: 0pt; }
#ja-cssmenu li { background: url('mainnav-sep.gif') no-repeat scroll right bottom transparent; cursor: pointer; float: left; margin: 0pt 2px 0pt 0pt; padding: 0pt 2px 0pt 0pt; }
#ja-cssmenu li ul { position: absolute; z-index: 99; left: -999em; height: auto; width: 15.9em; }
#ja-cssmenu li ul ul { margin: -2em 0pt 0pt 15em; }
#ja-cssmenu li li { padding: 0pt 1em 0pt 0pt; margin: 0pt; width: 14.9em; }
#ja-cssmenu ul a {  }
#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul, #ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul, #ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul { left: -999em; }
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul, #ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul, #ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul, #ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul { left: auto; }
#ja-cssmenu li a { display: block; color: rgb(51, 51, 51); font-size: 12px; text-decoration: none; font-weight: normal; }
#ja-cssmenu li a span { display: block; padding: 8px 15px 7px; }
#ja-cssmenu li.havechild a:hover, #ja-cssmenu li.havechild a:active, #ja-cssmenu li.havechild a:focus, #ja-cssmenu li:hover a { color: rgb(51, 51, 51); }
#ja-cssmenu li.havechild a:hover span, #ja-cssmenu li.havechild a:active span, #ja-cssmenu li.havechild a:focus span, #ja-cssmenu li:hover a span {  }
#ja-cssmenu li.havechild li a:hover, #ja-cssmenu li.havechild li a:active, #ja-cssmenu li.havechild li a:focus, #ja-cssmenu li:hover li a { background: none repeat scroll 0% 0% transparent; }
#ja-cssmenu li.havechild li a:hover span, #ja-cssmenu li.havechild li a:active span, #ja-cssmenu li.havechild li a:focus span, #ja-cssmenu li:hover li a span { background: none repeat scroll 0% 0% transparent; }
#ja-cssmenu li:hover, #ja-cssmenu li.sfhover, #ja-cssmenu li.havechildsfhover, #ja-cssmenu li.havechild-activesfhover { color: rgb(227, 116, 7); }
#ja-cssmenu li a.active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:focus { background: none repeat scroll 0% 0% transparent; }
#ja-cssmenu li a.active span, #ja-cssmenu li a.active:hover span, #ja-cssmenu li a.active:active span, #ja-cssmenu li a.active:focus span { background: none repeat scroll 0% 0% transparent; color: rgb(227, 116, 7); }
#ja-cssmenu li ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-left: 1px solid rgb(220, 220, 212); border-right: 1px solid rgb(220, 220, 212); border-bottom: 1px solid rgb(220, 220, 212); }
#ja-cssmenu li ul li { border-bottom: 1px solid rgb(220, 220, 212); border-right: medium none; background: url('menu-li-bg.jpg') repeat-x scroll 0% 0% transparent; }
#ja-cssmenu li ul li span { padding: 0pt; }
#ja-cssmenu li ul a { border: medium none; margin: 0pt; padding: 8px 10px; line-height: normal; background: none repeat scroll 0% 0% transparent; color: rgb(51, 51, 51); font-weight: normal; text-transform: none; font-size: 92%; }
#ja-cssmenu li.havesubchild, #ja-cssmenu li.havesubchild-active { background: url('arrow.png') no-repeat scroll 94% 50% transparent; }
#ja-cssmenu li ul a:hover, #ja-cssmenu li ul a:active, #ja-cssmenu li ul a:focus, #ja-cssmenu ul li:hover, #ja-cssmenu ul li.sfhover, #ja-cssmenu ul li.havesubchildsfhover, #ja-cssmenu ul li.havesubchild-activesfhover, #ja-cssmenu ul ul li:hover, #ja-cssmenu ul ul li.sfhover, #ja-cssmenu ul ul li.havesubchildsfhover, #ja-cssmenu ul ul li.havesubchild-activesfhover { background: none repeat scroll 0% 0% rgb(245, 244, 240); color: rgb(227, 116, 7); }
#ja-cssmenu ul li a.active, #ja-cssmenu ul li a.active:hover, #ja-cssmenu ul li a.active:active, #ja-cssmenu ul li a.active:focus { color: rgb(227, 116, 7); font-weight: normal; text-decoration: none; }
/* ::::: https://www.linux.com/templates/linuxcom_v2/css/template.css?123481 ::::: */

html, body, form, fieldset { margin: 0pt; padding: 0pt; }
body { color: rgb(85, 85, 85); font-family: Arial,Helvetica,sans-serif; line-height: 1.5; overflow-x: hidden; }
body#bd { color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(235, 233, 225); }
#bd p, #bd li { white-space: normal; }
body.fs3 { font-size: 12px; }
a { color: rgb(227, 116, 7); text-decoration: none; }
a:hover, a:active, a:focus { color: rgb(227, 116, 7); text-decoration: none; }
a img { border: medium none; }
.contentheading, .componentheading, h1, h2, h3, h4 { line-height: 1.1; }
small, .small, .smalldark, .createby, .createdate, .modifydate, .img_caption, p.site-slogan, a.readon, #ja-pathway, #ja-colwrap, #ja-botsl, #ja-footer { font-size: 92%; }
small, .small { color: rgb(153, 153, 153); }
img { margin: 0pt; padding: 0pt; }
h1 { font-size: 150%; font-weight: normal; }
h2 { font-size: 145%; font-weight: normal; }
h3 { font-size: 135%; }
p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 { margin: 10px 0pt; padding: 0pt; line-height: 18px; }
ul { list-style: none outside none; }
ul li { background: url('bullet.gif') no-repeat scroll 18px 7px transparent; line-height: 160%; padding-left: 30px; }
ol li { line-height: 180%; margin-left: 10px; }
ol.latestnews, ol.nb_latestnews { margin-left: 2px; list-style-image: none; list-style-type: none; }
ol.latestnews li { margin-bottom: 4px; }
td, div { font-size: 100%; }
form { margin: 0pt; padding: 0pt; }
form label { cursor: pointer; }
input, select, textarea, .inputbox { font-family: Arial,Helvetica,sans-serif; font-size: 100%; }
.inputbox { border: 1px solid rgb(212, 212, 212); padding: 3px; color: rgb(51, 51, 51); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.button { background: none repeat scroll 0% 0% rgb(51, 51, 51); border: 1px solid rgb(4, 4, 4); color: rgb(204, 204, 204); font-size: 100%; font-weight: bold; padding: 1px 8px; }
.article_separator { clear: both; display: block; height: 30px; background: url('dot.gif') repeat-x scroll center center transparent; }
h2.contentheading, .contentheading { margin: 10px 0pt; padding: 0pt 8px 0pt 0pt; font-size: 16px; }
a.contentpagetitle, a.contentpagetitle:hover, a.contentpagetitle:active, a.contentpagetitle:focus {  }
.article-tools { display: block; margin: 0pt 0pt 10px; width: 100%; clear: both; color: rgb(153, 153, 153); position: relative; padding-top: 5px; }
.article-meta { padding: 0pt; width: 70%; float: left; }
.createby { padding: 0pt 5px; }
.createdate { padding: 0pt 5px 0pt 0pt; background: url('vline.gif') no-repeat scroll right center transparent; }
#ja-header, #ja-mainnav, #ja-subnav, #ja-container, #ja-botsl, #ja-footer { width: 960px; margin: 0pt auto; clear: both; }
#ja-container { padding: 15px 0pt; }
#ja-content { clear: both; display: block; float: left; width: 63.2%; }
.leftlayout #ja-content { float: left; margin-left: 6px; }
#ja-current-content { margin-bottom: 10px; }
div.ja-wrap-center { margin: 0pt; padding: 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); clear: both; display: block; width: 100%; border-left: 1px solid rgb(222, 219, 209); border-right: 1px solid rgb(222, 219, 209); }
div.ja-wrap-top { background: none repeat scroll 0% 0% transparent; border-top: 1px solid rgb(222, 219, 209); }
div.ja-wrap-bot { padding: 15px; border-bottom: 1px solid rgb(222, 219, 209); background: url('box-gradiant.jpg') repeat-x scroll center top transparent; }
#ja-colwrap { float: right; overflow: hidden; width: 34.9%; }
.leftlayout #ja-colwrap { float: right; margin-right: 6px; }
#ja-colmass, ja-cols { clear: both; width: 100%; }
#ja-colmass { margin: 0pt; }
#ja-colmass div.module div div div { padding: 0pt; }
#ja-col1 { float: left; overflow: hidden; width: 50%; clear: both; }
#ja-col1 div.ja-innerpad {  }
#ja-colwrap a {  }
#ja-colwrap a:hover, #ja-colwrap a:active, #ja-colwrap a:focus {  }
#ja-containerwrap, #ja-containerwrap-c, #ja-containerwrap-cm, #ja-containerwrap-f, #ja-containerwrap-m { clear: both; }
#ja-containerwrap-cm #ja-container { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-left: 1px solid rgb(222, 219, 209); border-right: 1px solid rgb(222, 219, 209); }
#ja-containerwrap-cm #ja-col1, #ja-containerwrap-cm #ja-col2 { width: 100%; }
div.module h3 { border: 1px solid rgb(222, 219, 209); color: rgb(54, 54, 54); background: none repeat scroll 0% 0% rgb(235, 233, 225); display: block; font-size: 12px; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: bold; height: 16px; line-height: normal; margin: 0pt 0pt 7px; padding: 5px 8px; text-align: left; }
div.module, div.module_blank, div.module_members { margin-bottom: 10px; width: 100%; float: left; clear: both; }
div.module div { margin: 0pt; }
div.module div div {  }
div.module div div div { overflow: hidden; display: block; border: 1px solid rgb(222, 219, 209); background: url('box-gradiant.jpg') repeat-x scroll center top rgb(255, 255, 255); padding: 5px; }
div.module div div div div { background: none repeat scroll 0% 0% transparent; padding: 0pt; display: block; clear: both; width: 100%; }
#ja-botsl div.moduletable { padding: 0pt 10px 10px; height: auto ! important; }
#ja-botsl div.moduletable h3 { margin: 0pt 0pt 10px; padding: 0pt 0pt 5px; font-size: 100%; text-transform: uppercase; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(75, 75, 75); }
#ja-headerwrap { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(51, 51, 51); position: relative; z-index: 1; margin: 0pt auto; width: 960px; border-left: 1px solid rgb(222, 219, 209); border-right: 1px solid rgb(222, 219, 209); }
#ja-header { height: 96px; line-height: normal; position: relative; background: url('diagonal.gif') repeat-x scroll left top rgb(255, 255, 255); }
h1.logo, div.logo-text H1 { margin: 0pt; padding: 0pt; font-size: 300%; }
h1.logo a { width: 173px; display: block; background: url('lflogo_white.png') no-repeat scroll 0% 0% transparent; position: absolute; height: 65px; top: 20px; left: 0pt; margin-left: 10px; }
h1.logo a span { position: absolute; top: -1000px; }
#linux-header-wrap-bottom { position: relative; z-index: 100; margin: 0pt auto; width: 960px; border-left: 1px solid rgb(17, 17, 17); border-right: 1px solid rgb(17, 17, 17); border-top: 2px solid rgb(51, 51, 51); }
#linux-header { margin: 0pt auto; width: 960px; height: 22px; line-height: normal; position: relative; background: none repeat scroll 0% 0% rgb(34, 34, 34); }
#linux-header-left { height: 24px; float: left; padding-left: 6px; }
#linux-header-left ul { list-style-type: none; margin: 2px 0pt 0pt; padding: 0pt; line-height: 12px; }
#linux-header-left ul li { display: inline; background: none repeat scroll 0% 0% transparent; padding: 0pt 10px 0pt 0pt; }
#linux-header-right { height: 24px; float: right; padding-right: 6px; }
#linux-header-left ul li a, #linux-header-left ul li a:hover, #linux-header-right ul li a, #linux-header-right ul li a:hover { font-size: 11px; color: rgb(146, 146, 140); }
#ja-mainnavwrap { background: url('nav-bg.jpg') repeat-x scroll left bottom transparent; height: 34px; margin: 0pt auto; width: 960px; border-top: 1px solid rgb(249, 223, 197); border-right: 1px solid rgb(222, 219, 209); }
#ja-mainnav {  }
#ja-mainnav a, #ja-subnav a { outline: medium none; }
#ja-pathway { border: 1px solid rgb(222, 219, 209); margin: 0pt 0pt 15px; padding: 5px 10px 5px 18px; background: none repeat scroll 0% 0% rgb(245, 244, 240); color: rgb(54, 54, 54); font-size: 14px; font-weight: bold; width: 95.4%; }
#ja-pathway a { color: rgb(51, 51, 51); font-size: 14px; font-weight: bold; text-decoration: underline; }
#ja-pathway img { margin: 1px 5px; }
.ja-box-full, .ja-box-left, .ja-box-center, .ja-box-right { float: left; overflow: hidden; }
.ja-box-left, .ja-box-center {  }
#ja-botslwrap { background: url('botsl-bg.gif') repeat-x scroll left top rgb(23, 24, 19); color: rgb(153, 153, 153); margin: 0pt auto; width: 960px; }
#ja-botsl {  }
#ja-botsl a { color: rgb(255, 255, 255); }
#ja-botsl a:active, #ja-botsl a:focus { color: rgb(255, 255, 255); }
#ja-botsl a:hover { color: rgb(227, 116, 7); }
#ja-botsl .ja-box-left div.moduletable, #ja-botsl .ja-box-center div.moduletable { margin: 10px 6px 0pt 0pt; }
#ja-botsl .ja-box-right div.moduletable { margin: 10px 0pt 0pt 6px; }
#ja-footerwrap { padding: 5px 0pt 10px; clear: both; }
#ja-footer { color: rgb(102, 102, 102); padding: 0pt; margin: 0pt auto; }
#ja-footer small a { color: rgb(102, 102, 102); }
#ja-footer small { float: right; font-size: 100%; color: rgb(102, 102, 102); }
#ja-footer a:active, #ja-footer a:focus { color: rgb(255, 255, 255); }
#ja-footer a:hover { color: rgb(227, 116, 7); }
ul.accessibility { position: absolute; top: -100%; }
#search-linux-top { background: url('search-form.gif') repeat-x scroll left -4px transparent; border: 1px solid rgb(222, 219, 209); display: inline-block; float: right; height: 25px; margin: 8px 20px 8px 10px; width: 288px; }
#search-linux-top .inputbox { background: none repeat scroll 0% 0% transparent; border: medium none; padding: 0pt; margin: 3px 0pt 0pt 30px; color: rgb(172, 172, 172); font-size: 14px; font-weight: bold; }
#search-linux-top-wrap { display: inline-block; padding: 0pt; margin: 20px 6px 0pt 300px; width: 330px; height: 40px; }
#login-linux-top-wrap { display: inline-block; padding: 0pt; margin: 24px 6px 0pt 0pt; float: right; }
#login-linux-top { width: 250px; border: 1px solid rgb(222, 219, 209); background: url('box-gradiant2.jpg') repeat-x scroll right top rgb(245, 244, 240) ! important; display: inline-block; float: right; height: 25px; margin-top: 4px; text-align: center; }
.clearfix:after { clear: both; content: "."; display: block; height: 0pt; visibility: hidden; }
h1.footer-logo { background: url('logo_footer.png') no-repeat scroll left bottom transparent; width: 126px; height: 38px; }
h1.footer-logo span { display: none; }
.search { border: medium none ! important; }
.lf-comments .heading { border-bottom: 1px solid rgb(240, 102, 34); color: rgb(240, 102, 34); }
.lf-comments input[type="text"] { display: inline-block; width: 210px; height: 21px; padding: 4px; font-size: 13px; line-height: 21px; color: gray; border: 1px solid rgb(204, 204, 204); border-radius: 3px 3px 3px 3px; }
.lf-comments textarea { color: gray; border: 1px solid rgb(204, 204, 204); border-radius: 3px 3px 3px 3px; height: 100px; width: 98.5%; }
.lf-comments .button, .lf-comments .btn { cursor: pointer; display: inline-block; background-color: rgb(242, 242, 242); background-repeat: no-repeat; background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(255, 255, 255) 25%, rgb(242, 242, 242) 100%); padding: 5px 14px 6px; text-shadow: 0pt 1px 1px rgba(255, 255, 255, 0.75); color: rgb(51, 51, 51); font-size: 13px; line-height: normal; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; -moz-user-select: none; border-radius: 4px 4px 4px 4px; box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.2) inset, 0pt 1px 2px rgba(0, 0, 0, 0.05); -moz-transition: all 0.1s linear 0s ; }
.lf-comments a:link, .lf-comments a:visited { color: rgb(23, 103, 144); text-decoration: none; }
.lf-comments .btn:hover, .lf-comments .button:hover, .lf-comments button:hover { background-position: 0pt -15px; color: rgb(51, 51, 51); text-decoration: none; }
.lf-comments .btn:active, .lf-comments .button:active, .lf-comments button:active { box-shadow: 0pt 2px 3px rgba(0, 0, 0, 0.25) inset, 0pt 1px 2px rgba(0, 0, 0, 0.05); }
.lf-comments a.rss span, .componentheading a.rss span { display: block; text-indent: -999em; }
.lf-comments a.rss, .componentheading a.rss { line-height: 30px; }
.lf-comments a.rss, .componentheading a.rss { position: absolute; top: 4px; right: 0pt; padding: 0pt ! important; width: 24px; height: 24px; line-height: 30px; background: url('social-icons.png') no-repeat scroll 0pt -300px transparent; }
.lf-comments a.rss:hover, .componentheading a.rss:hover { background-position: 0pt -330px; }
.lf-comments a.rss span, .componentheading a.rss span { display: block; text-indent: -999em; }
.linkedin_badge, .stmblupn_badge { display: block; width: 74px; height: 20px; text-indent: -999999px; float: left; padding: 0pt 2px; }
.linkedin_badge { background: url('linkedin.png') no-repeat scroll 0pt -1px transparent; margin-right: 5px; }
.stmblupn_badge { background: url('stumbl.png') no-repeat scroll 0pt 1px transparent; }
li.upcomingcourses a.title { font-weight: bold; line-height: normal; }
ol.upcomingcourses li.upcomingcourses { list-style: none outside none; margin-bottom: 7px; overflow: hidden; }
ol.upcomingcourses { margin: 0px; }
a.orange.button { border-width: medium; border-style: none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; text-transform: uppercase; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(139, 186, 32); background-repeat: repeat-x; background-image: -moz-linear-gradient(center top , rgb(139, 186, 32), rgb(139, 186, 32)); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 0px 0px 0px 0px; margin: 5px 0pt; box-shadow: none; text-shadow: none; -moz-transition: all 0.5s linear 0s ; }
a.orange.button:hover { background: none repeat scroll 0% 0% rgb(51, 51, 51); }
a.orange.button { background: none repeat scroll 0% 0% rgb(239, 128, 38); }
/* ::::: https://www.linux.com/templates/linuxcom_v2/css/colors/default.css?123481 ::::: */

/* ::::: https://www.linux.com/includes/js/custom/universe_nav.css?123481 ::::: */

#dropmenudiv { position: absolute; border-width: 1px 1px 0pt; border-style: solid; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; line-height: 18px; z-index: 100; }
#ninjaboard_author_avatar { background: none repeat scroll 0% 0% white; border: 1px solid rgb(230, 230, 230); }
#ninjaboard_author_avatar a.avatar { float: left; padding: 10px; background-repeat: no-repeat; background-position: center center; }
.fb_reset { background: none repeat scroll 0% 0% transparent; border: 0pt none; border-spacing: 0pt; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0pt; overflow: visible; padding: 0pt; text-align: left; text-decoration: none; text-indent: 0pt; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_reset > div { overflow: hidden; }
.fb_iframe_widget { display: inline-block; position: relative; }
.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; }
.fb_iframe_widget iframe { position: absolute; }
