/* ::::: http://groups.google.com/groups/style.css?av=&hl=zh-CN ::::: */

img { border: 0pt none; }
img { border-color: rgb(0, 0, 160); }
a:link, .w, a.w:link, .w a:link { color: rgb(0, 0, 204); }
a:visited { color: rgb(85, 26, 139); }
a:active { color: rgb(255, 0, 0); }
body, td, input, textarea, select { font-family: arial,sans-serif; }
body { font-size: 83%; }
table { font-size: inherit; }
.fontsize2 { font-size: 91%; }
.g3rtn-ad-site .ad-item { padding-bottom: 1ex; font-size: 90%; }
.g3rtn-ad-site .ad-subject { font-size: 100%; }
.rnimc { padding-top: 5px; padding-left: 10px; }
.padt4 { padding-top: 4px; }
.padb4 { padding-bottom: 4px; }
.padl5 { padding-left: 5px; }
.adl:visited, .adl:link, .adl:active, .adl { color: rgb(0, 0, 204); }
.adul:visited, .adul:link, .adul:active, .adul { color: rgb(51, 51, 51); }
