.scripthide { display: none; }
.script12inline { display: inline; }
/* ::::: http://groups.google.com/groups/style.css?ig=1&stock=0&av=0&hl=zh-CN&v=1-3fe56b68_edc6f2de_e6ec1d30_11e7b72b_85758078 ::::: */

.hide { display: none; }
img { border: 0pt none; }
img { border-color: rgb(0, 0, 160); }
input.bt, button.bt { padding: 0pt 0.4em; width: auto; overflow: visible; }
.fixed_width { font-family: fixed-width,monospace; font-size: 90%; }
a:link, .w, a.w:link, .w a:link { color: rgb(0, 0, 204); }
a:visited { color: rgb(85, 26, 139); }
a:active { color: rgb(255, 0, 0); }
.on, .on:visited, .on:link { color: rgb(0, 0, 204); }
.on:active { color: rgb(240, 0, 0); }
body, td, input, textarea, select { font-family: arial,sans-serif; }
body { font-size: 83%; }
table { font-size: inherit; }
input, textarea, select { font-size: 100%; }
form { margin: 0pt; }
.st { margin-left: -1px; }
.fontsize0 { font-size: 78%; }
.fontsize1 { font-size: 83%; }
.fontsize2 { font-size: 91%; }
.lk { color: rgb(0, 0, 204); text-decoration: underline; cursor: pointer; }
.thread_star { padding: 0pt 0pt 4px; }
.msg #ftr_sep { background: none repeat scroll 0% 50% rgb(238, 238, 238); }
.msg .exh { margin: 0pt 16px; padding: 2px; background: none repeat scroll 0% 50% rgb(238, 238, 238); }
.msg .l { color: rgb(0, 0, 204); cursor: pointer; white-space: nowrap; }
.msg .lc, .msg .lc:visited, .msg .lc:active, .msg .lc:link .msg .lc:focus { color: rgb(0, 0, 204); outline: 0pt none; }
.msg .h { cursor: pointer; }
.msg { display: block; }
.msg_meta { width: 100%; }
.msg_meta td { white-space: nowrap; }
.msg .rc { width: 100%; table-layout: fixed; }
.msg .rc div { white-space: nowrap; overflow: hidden; }
.msg .author { font-weight: bold; }
.msg .mb { padding: 6px 8px 0px 14px; }
.msg .cg { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.bl { background: url('corner_bleft.gif') repeat scroll left bottom transparent; }
.br { background: url('corner_bright.gif') repeat scroll right bottom transparent; }
.tl, .bl, .tr, .br, .gtl, .gbl { background-repeat: no-repeat; padding-left: 4px; width: 4px; }
.ctop { background: url('card_top.gif') repeat-x scroll center top transparent; padding: 1px; width: 100%; }
.ctl { background: url('card_tleft.gif') repeat scroll left top transparent; }
.ctr { background: url('card_ttright2.gif') repeat scroll right top transparent; }
.cbot { background-image: url('card_bot.gif'); background-position: center bottom; background-repeat: repeat-x; padding: 1px; width: 100%; }
.cbl { background-image: url('card_bleft.gif'); background-position: left bottom; }
.cbr { background-image: url('card_bright2.gif'); background-position: right bottom; }
.msg .cb { background-image: url('card_left.gif'); background-position: left center; background-repeat: repeat-y; border-right: 1px solid rgb(232, 232, 232); }
.msg .cb2 { background-image: url('card_left2.gif'); background-position: left center; background-repeat: repeat-y; border-right: 1px solid rgb(232, 232, 232); }
.ctl, .ctld, .cttl, .ctr, .str, .strdd, .strdw, .strwd, .stl, .stldd, .stldw, .stlwd, .cbl, .cbr, .sbl { background-repeat: no-repeat; }
.ctl, .ctld, .cttl, .cbl, .stl, .stldd, .stldw, .stlwd, .sbl, .pd10 { padding: 0pt 10px 0pt 0pt; }
.ctr, .str, .strdd, .strdw, .strwd, .cbr, .pd9 { padding: 0pt 9px 0pt 0pt; }
.msg .pokh { padding: 0px 12px; font-weight: bold; font-size: 91%; }
.ghgrn { color: rgb(51, 51, 51); font-size: 189%; font-weight: bold; }
.ghgrn .ln, .ghgrn .ln:visited, .ghgrn .ln:active, .ghgrn .ln:link { color: rgb(51, 51, 51); text-decoration: none; }
.ghgrn .ln:hover { text-decoration: underline; }
.rnsecs { padding-top: 10px; }
.rnsecs .sec { padding: 0px 10px 5px; }
.rnsecs .sec .secln, .rnsecs .sec .secln:visited, .rnsecs .sec .secln:link, .rnsecs .sec .seclnact, .rnsecs .sec .seclnact:visited, .rnsecs .sec .seclnact:link { color: rgb(0, 0, 204); text-decoration: none; font-size: 114%; font-weight: bold; }
.rnsecs .sec .secln:hover, .rnsecs .sec .seclnact:hover { text-decoration: underline; }
.rnsecs .sec .seclnlt, .rnsecs .sec .seclnlt:visited, .rnsecs .sec .seclnlt:link { color: rgb(0, 0, 204); }
.rnsecs .selsec { border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(119, 153, 221) rgb(119, 153, 221) rgb(119, 153, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background-color: white; padding: 5px 5px 5px 11px; position: relative; left: -1px; margin-right: -1px; margin-bottom: 4px; }
.rnsecs .selsec .seclnact, .rnsecs .selsec .seclnact:visited, .rnsecs .selsec .seclnact:link { color: rgb(0, 0, 204); text-decoration: none; font-size: 114%; font-weight: bold; }
.rnsecs .selsec .seclnact:hover { text-decoration: underline; }
.rnsecs .actlns { font-size: 91%; padding-top: 2px; padding-bottom: 3px; }
.rnsecs .actlns, .rnsecs .sublevel { padding-left: 10px; }
.maincontheaderbox { padding: 10px 10px 0px; }
.maincontbox { padding: 10px 20px; }
.secttlbarwrap { width: 100%; }
.secttlbar { background-color: rgb(119, 153, 221); padding: 0px 10px; }
.secttlbar .secttl { color: rgb(255, 255, 255); background-color: inherit; font-size: 129%; font-weight: bold; }
.secttlbar .secmsg { color: rgb(255, 255, 255); font-size: 114%; }
.secttlbar .frtxt, .secttlbar .frtxt a, .secttlbar .frtxt a:visited, .secttlbar .frtxt a:active { color: rgb(255, 255, 255); }
.secttlbaroptpane { border-top: 3px solid rgb(119, 153, 221); background-color: rgb(195, 217, 255); padding: 6px 6px 6px 10px; }
.gtopbar { padding: 1px 10px 1px 4px; }
.gtopbar td.maincell { font-size: 91%; }
.hsep { margin-top: 3px; margin-bottom: 3px; border-bottom: 1px solid rgb(119, 153, 221); }
.grdk { color: rgb(112, 112, 112); }
.grlt { color: rgb(153, 153, 153); }
.grltl, .grltl:link, .grltl:active, .grltl:visited { color: rgb(119, 119, 204); }
.uit { color: rgb(112, 112, 112); font-size: 91%; }
.uitl, .uitl:link, .uitl:active, .uitl:visited { color: rgb(119, 119, 204); font-size: 91%; }
.algnl { text-align: left; }
.overflow-hide { overflow: hidden; }
.wdth100 { width: 100%; }
.hght0 { height: 0pt; }
.lf { float: left; }
.rf { float: right; }
.clear { clear: both; }
.padall4 { padding: 4px; }
.padt2 { padding-top: 2px; }
.padt5 { padding-top: 5px; }
.mrgt5 { margin-top: 5px; }
.mrgt8 { margin-top: 8px; }
.padt10 { padding-top: 10px; }
.padb0 { padding-bottom: 0pt; }
.mrgb2 { margin-bottom: 2px; }
.padb4 { padding-bottom: 4px; }
.mrgb8 { margin-bottom: 8px; }
.padb10 { padding-bottom: 10px; }
.mrgl1 { margin-left: 1px; }
.mrgl2 { margin-left: 2px; }
.padl4 { padding-left: 4px; }
.padl5 { padding-left: 5px; }
.mrgl5 { margin-left: 5px; }
.mrgl10 { margin-left: 10px; }
.padr10 { padding-right: 10px; }
#gbar, #guser { font-size: 13px; padding-top: 1px ! important; }
#gbar { float: left; height: 22px; }
#guser { padding-bottom: 7px ! important; text-align: right; }
.gbh, .gbd { border-top: 1px solid rgb(201, 215, 241); font-size: 1px; }
.gbh { height: 0pt; position: absolute; top: 24px; width: 100%; }
#gbs, .gbm { background: none repeat scroll 0% 0% rgb(255, 255, 255); left: 0pt; position: absolute; text-align: left; visibility: hidden; z-index: 1000; }
.gbm { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(201, 215, 241) rgb(51, 102, 204) rgb(51, 102, 204) rgb(162, 186, 231); z-index: 1001; }
.gb1 { margin-right: 0.5em; }
.gb1, .gb3 {  }
.gb2 { display: block; padding: 0.2em 0.5em; }
.gb2, .gb3 { text-decoration: none ! important; border-bottom: medium none; }
a.gb1, a.gb4 { text-decoration: underline ! important; }
a.gb1, a.gb2, a.gb3, a.gb4 { color: rgb(0, 0, 204) ! important; }
a.gb2:hover { background: none repeat scroll 0% 0% rgb(51, 102, 204); color: rgb(255, 255, 255) ! important; }
#gbar .gbz0l { color: rgb(0, 0, 0) ! important; cursor: default; font-weight: bold; text-decoration: none ! important; }
