/* ::::: http://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700%2C800&ver=3.8.1 ::::: */

@font-face {
  font-family: "Open Sans";  font-style: normal;  font-weight: 300;  src: local("Open Sans Light"), local("OpenSans-Light"), url('') format("woff");}
@font-face {
  font-family: "Open Sans";  font-style: normal;  font-weight: 400;  src: local("Open Sans"), local("OpenSans"), url('') format("woff");}
@font-face {
  font-family: "Open Sans";  font-style: normal;  font-weight: 700;  src: local("Open Sans Bold"), local("OpenSans-Bold"), url('') format("woff");}
@font-face {
  font-family: "Open Sans";  font-style: normal;  font-weight: 800;  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url('') format("woff");}
/* ::::: http://static.zeroturnaround.com/theme55/jquery-ui/jquery-ui-1.10.3.custom.min.css?ver=3.8.1 ::::: */

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://static.zeroturnaround.com/theme55/stylesheets/styles.css?ver=1395735237 ::::: */

:-moz-placeholder { color: gray; }
a { color: rgb(152, 195, 53); text-decoration: none; }
a:hover, a:focus { color: rgb(149, 192, 31); text-decoration: underline; }
a:active { color: rgb(149, 192, 31); }
body { background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-family: "Open Sans",Verdana,sans-serif; font-size: 0.875em; font-weight: 300; margin: 0px; padding: 0px; }
body.ztwp-rebellabs .post p, body.ztwp-blog .post p { line-height: 1.65; word-spacing: 0.15em; }
button, label, input[type="checkbox"], input[type="radio"], select { cursor: pointer; }
fieldset:not(:first-child) { margin-top: 1em; }
form .label { font-weight: 400; }
h1, h2, h3, h4, h5, h6 { margin: 0px; }
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) { margin-top: 1em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: rgb(95, 95, 95); }
h1, h2, h3 { font-weight: 300; line-height: 1.1; }
h1 { font-size: 2.4em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
input, select, textarea { -moz-box-sizing: border-box; transition: all 0.3s ease 0s; border: 2px solid rgb(223, 223, 223); border-radius: 0.2em; font-family: "Open Sans",Verdana,sans-serif; padding: 5px; }
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active { border-color: rgb(159, 207, 58); }
input { color: rgb(51, 51, 51); outline: medium none; }
img { border: 0px none; vertical-align: top; }
pre, code { color: rgb(148, 7, 10); font-family: monospace; }
pre { -moz-box-sizing: border-box; background: none repeat scroll 0% 0% rgba(159, 207, 58, 0.05); border: 1px solid rgb(159, 207, 58) ! important; line-height: 1.25; margin: 1em 0px; overflow: auto ! important; padding: 1em; }
table.zebra tr:nth-child(2n) td { background-color: rgb(255, 255, 255); }
ul, ol { padding: 0px; margin: 0px; }
ul { list-style: none outside none; }
ol.steps.menu > li > :first-child:before { content: counter(step, decimal) ". "; }
.center { text-align: center; }
.hidden { display: none; }
.highlight, .accent-color { color: rgb(159, 207, 58); }
.left { text-align: left; }
.upper, .uppercase { text-transform: uppercase; }
.card { -moz-box-sizing: border-box; padding: 30px; position: relative; }
.content > .card { margin-left: -30px; margin-right: -30px; }
.content > .card:first-child { margin-top: -30px; }
.content > .card.intro:first-child { padding-top: 0px; }
.content > .card:last-child { margin-bottom: -30px; }
.card.odd-zebra { background: none repeat scroll 0% 0% rgb(247, 247, 247); }
.card.intro { background: none repeat scroll 0% 0% rgb(67, 72, 76); box-shadow: none; color: white; }
.card .card-row { -moz-box-sizing: border-box; position: relative; z-index: 1; }
.card .card-row .card-col { -moz-box-sizing: border-box; display: inline-block; vertical-align: top; width: 100%; }
.card .card-row .card-col > :first-child { margin-top: 0px; }
.card .card-row .card-col > :last-child { margin-bottom: 0px; }
.card .card-row .card-col.bottom-img { margin-bottom: -30px; vertical-align: bottom; }
.card .card-row .card-col.bottom-img img { display: inline-block; vertical-align: top; }
.card .card-row.two-col .card-col { width: 47.5%; }
.card .card-row.two-col .card-col:nth-of-type(2n+1) { margin-right: 4.3%; }
.card .card-row.three-col .card-col:nth-of-type(3n+3) { margin-right: 0px; }
.card .card-row.four-col .card-col:nth-of-type(4n+4) { margin-right: 0px; }
.pages-nav .page-numbers:hover:not(.dots), .bbp-pagination-links .page-numbers:hover:not(.dots) { border: 1px solid rgb(236, 236, 236); }
.button { transition: all 0.3s ease 0s; background: none repeat scroll 0% 0% rgb(236, 235, 234); border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(152, 152, 152); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(152, 152, 152); display: inline-block; font-family: "Open Sans",Verdana,sans-serif; font-size: 0.9em; font-weight: 600; line-height: 1; margin-top: -0.5em; padding: 0.5em 2em; text-decoration: none ! important; white-space: nowrap; }
.button:active { background: none repeat scroll 0% 0% rgb(113, 123, 132) ! important; }
.button:hover, .button:focus { background: none repeat scroll 0% 0% rgb(66, 72, 77) ! important; border-color: rgb(66, 72, 77) ! important; color: rgb(236, 235, 234) ! important; }
.button.bigger { font-size: 125%; }
.button.em { background: none repeat scroll 0% 0% rgb(242, 105, 61) ! important; border-color: rgb(188, 55, 13) ! important; color: rgb(255, 255, 255); }
.button.em:hover, .button.em:focus { background: none repeat scroll 0% 0% rgb(188, 55, 13) ! important; }
.badges-list.boxed > .item:not(.visible) { z-index: -1; }
.comparison-matrix td:not(:first-child), .comparison-matrix th:not(:first-child) { font-weight: bold; text-align: center; }
.comparison-matrix td:nth-child(2), .comparison-matrix th:nth-child(2) { background-color: rgb(255, 255, 255); }
.content { position: relative; }
.content > :last-child { margin-bottom: 0px; }
.content-body { -moz-box-sizing: border-box; background: none repeat scroll 0% 0% rgb(255, 255, 255); margin: auto; padding: 30px; position: relative; width: 960px; }
@media all and (max-width: 1280px) {
  .content-body > .edit-button { top: 90px; }
}
.expandable:not(.disabled) > .toggle { cursor: pointer; }
.expandable:not(.disabled) > .toggle:hover { color: rgb(130, 172, 42); }
.hreveal > .hreveal-item:not(img) { padding: 1em; }
.hreveal:hover > :not(.hreveal-item), .hreveal:active > :not(.hreveal-item), .hreveal:focus > :not(.hreveal-item) { opacity: 0.5; }
.login-form input:not([type="checkbox"]) { width: 100%; }
.note { color: rgb(108, 108, 108); font-size: 88%; font-weight: 300; }
.people-list.small .person:nth-child(4n) { margin-right: 0px ! important; }
.post { position: relative; padding-bottom: 10px; }
.post:not(:first-child) { margin-top: 30px; }
.post:not(:last-child) { border-bottom: 1px solid rgb(236, 236, 236); margin-bottom: 30px; }
.sidebar ~ .post { width: 640px; }
.post .excerpt { margin-top: 20px; }
.post .meta { font-size: 0.85em; font-weight: normal; list-style: none outside none; margin: 10px 0px ! important; }
.post .meta a { color: rgb(95, 95, 95); text-decoration: none; }
.post .meta li { display: inline-block; margin: 0.3em 0.3em 0px 0px; padding: 0.5em; }
.post .meta.head li { background-color: rgb(252, 252, 252); }
.post .meta .icon { color: rgb(180, 180, 180); font-size: 1.3em; margin-right: 0.2em; vertical-align: text-top; }
.post .meta .tags .tag:not(:last-child):after { content: ", "; }
.post .title a { text-decoration: none; }
.order-data > .col > :not(:last-child) { border-bottom: 1px solid rgb(236, 236, 236); }
.products .product:not(:first-child) { margin-left: 5% ! important; }
.products .product .details li:not(:last-child) { border-bottom: 1px dotted rgb(236, 236, 236); }
.reports-list.featured-reports > .item:nth-child(n+2) { border-bottom: 1px solid rgb(236, 236, 236); margin: 0px 0px 20px; padding-left: 180px; padding-bottom: 10px; width: 360px; }
.reports-list.featured-reports > .item:nth-child(n+2) .thumbnail { position: absolute; left: 5px; width: 160px; margin: 0px; }
.reports-list > .item:nth-child(4n) { margin-right: 0px ! important; }
.sidebar { float: right; width: 230px; }
.card ~ .sidebar { margin-top: 30px; }
.sidebar .widget { border: 1px solid rgb(236, 236, 236); margin-bottom: 30px; padding: 10px; }
.sidebar .widgettitle { font-size: 1.2em; font-weight: 400; margin: 0px 0px 1em; }
.tagcloud a { -moz-box-sizing: border-box; background-color: rgb(243, 243, 243); border: 1px solid rgb(237, 237, 237); color: rgb(95, 95, 95); display: inline-block; font-size: 0.75em ! important; line-height: 21px; margin: 0.5em 0px 0px 20px; padding: 0px 10px 0px 5px; position: relative; text-decoration: none; white-space: nowrap; }
.tagcloud a:before { content: ""; background: url('') no-repeat scroll 0% 0% transparent; display: block; left: -20px; top: -1px; position: absolute; height: 23px; width: 20px; }
.tagcloud a:after { background-color: rgb(143, 185, 30); box-shadow: 0px 0px 0px 1px rgb(143, 185, 30); content: attr(title); color: white; display: inline-block; padding: 0px 0.3em; position: relative; right: -10px; }
.tagcloud a:hover { background-color: rgb(143, 185, 30); border-color: rgb(143, 185, 30); color: white; }
.tagcloud a:hover:before { background-image: url(''); }
.two-columns .col:nth-child(2n) { padding-left: 15px; }
.two-columns .col:nth-child(2n+1) { padding-right: 15px; }
.wrapper { -moz-box-sizing: border-box; margin: auto; position: relative; width: 960px; }
.content .testimonials .callout:nth-child(1) { float: left; margin-left: 2em; }
.content .testimonials .callout:nth-child(2) .quote { background: none repeat scroll 0% 0% rgb(54, 59, 63); border-color: rgb(54, 59, 63); color: white; }
.content .testimonials .callout:nth-child(2) .quote:after { background: -moz-linear-gradient(right top , rgb(54, 59, 63) 50%, transparent 50%) repeat scroll 0% 0% transparent; }
.content .testimonials .callout:nth-child(3) { float: right; margin-right: 2em; }
.content .testimonials .callout:nth-child(3) .quote { background: none repeat scroll 0% 0% rgb(242, 105, 61); border-color: rgb(242, 105, 61); color: white; }
.content .testimonials .callout:nth-child(3) .quote:after { background: -moz-linear-gradient(right top , rgb(242, 105, 61) 50%, transparent 50%) repeat scroll 0% 0% transparent; }
.tooltip .tip > :first-child { margin-top: 0px; }
.tooltip .tip > :last-child { margin-bottom: 0px; }
.zigzag-list > :nth-child(2n+1) { text-align: right; }
.zigzag-list > :nth-child(2n+1) img:first-child, .zigzag-list > :nth-child(2n+1) .icon { float: right; }
.zigzag-list > :nth-child(2n) { text-align: left; }
.zigzag-list > :nth-child(2n) img:first-child, .zigzag-list > :nth-child(2n) .icon { float: left; }
html, body { height: 100%; }
#viewport { clear: both; min-height: 100%; height: auto ! important; margin-bottom: -300px; }
#viewport { background: none repeat scroll 0% 0% rgb(67, 72, 76); min-width: 960px; }
@media all and (max-width: 1080px) {
  #widget-contacts-bar { left: 0px; margin-left: -10px; }
}
#top { background: none repeat scroll 0% 0% rgb(54, 59, 63); clear: both; margin-bottom: 30px; min-width: 960px; }
#top .logo { display: inline-block; margin: 0px; vertical-align: top; }
#top .logo img { display: block; padding: 10px 0px; }
#top #top-menu { float: right; font-size: 85%; font-weight: normal; height: 1px; margin-right: 130px; }
#top #top-menu .menu-item { border-top: 3px solid transparent; float: left; padding: 0px; margin: 0px; text-transform: uppercase; }
#top #top-menu .menu-item:hover a { transition: all 0.3s ease 0s; background-color: rgb(48, 53, 56); color: rgb(255, 255, 255); }
#top #top-menu .menu-item.highlight { background-color: rgba(0, 0, 0, 0.1); border-color: rgb(159, 207, 58); }
#top #top-menu .menu-item.highlight a { color: rgb(255, 255, 255); font-weight: bold; }
#top #top-menu .menu-item.small { font-size: 80%; line-height: 2.6; }
#top #top-menu .menu-item a { color: rgb(148, 148, 148); display: block; padding: 1.6em 1em; text-decoration: none; }
#top #user-menu { background: none repeat scroll 0% 0% rgb(54, 59, 63); border-radius: 0px 0px 0.2em 0.2em; list-style: none outside none; position: absolute; right: 0px; z-index: 2; }
#hud { background: none repeat scroll 0% 0% rgb(48, 53, 56); color: white; clear: both; overflow: hidden; position: relative; z-index: 110; }
#content, #footer { min-width: 960px; }
#header { background: none repeat scroll 0% 0% rgb(67, 72, 76); clear: both; overflow: auto; }
#header .wrapper { padding: 0px 30px; }
#main-search { box-shadow: 0px 0px 0px 5px rgb(67, 72, 76); display: inline-block; margin-top: -10px; position: absolute; right: 0px; top: 50%; }
#main-search label { display: none; }
#main-search:after { font-family: "ztwp-icomoon",sans-serif; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; background-color: rgb(67, 72, 76); color: rgba(255, 255, 255, 0.4); display: block; font-size: 1.1em; line-height: 20px; position: absolute; right: 0px; text-align: right; top: 0px; bottom: -0.1em; width: 20px; }
#main-search [type="submit"] { background: none repeat scroll 0% 0% transparent; border: medium none; position: absolute; top: 0px; bottom: 0px; right: 0px; text-indent: -9999px; width: 30px; z-index: 1; }
#main-search #search-q { background: none repeat scroll 0% 0% rgb(54, 59, 63); border: medium none; color: white; font-size: 85%; font-weight: bold; margin: 0px; padding: 0.2em 20px 0.2em 0.3em; width: 120px; }
#main-search #search-q:focus { background-color: rgb(67, 72, 76); box-shadow: none; width: 180px; }
#roi-calculator td:nth-child(2) { font-size: 80%; font-style: italic; font-weight: 400; white-space: nowrap; }
@font-face {
  font-family: "ztwp-icomoon";  font-style: normal;  font-weight: normal;  src: url('') format("embedded-opentype"), url('') format("woff"), url('') format("truetype"), url('') format("svg");}
[class^="icon-"], [class*=" icon-"] { font-family: "ztwp-icomoon",sans-serif; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.icon-google-plus:before { content: ""; }
.icon-rss:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-search:before, #main-search:after { content: ""; }
.icon-user:before { content: ""; }
.icon-comments:before { content: ""; }
.icon-calendar:before { content: ""; }
.twitter-badge > a { text-decoration: none; }
.twitter-badge .icon { background-color: rgb(49, 183, 218); color: rgb(255, 255, 255); display: inline-block; height: 38px; overflow: hidden; text-align: center; vertical-align: top; width: 38px; }
.twitter-badge .icon:before { display: block; font-size: 1.5em; line-height: 38px; width: 38px; }
.twitter-badge .icon { border-radius: 100%; }
.googleplus-badge > a { text-decoration: none; }
.googleplus-badge .icon { background-color: rgb(210, 62, 43); color: rgb(255, 255, 255); display: inline-block; height: 38px; overflow: hidden; text-align: center; vertical-align: top; width: 38px; }
.googleplus-badge .icon:before { display: block; font-size: 1.5em; line-height: 38px; width: 38px; }
.googleplus-badge .icon { border-radius: 100%; }
.rss-badge > a { text-decoration: none; }
.rss-badge .icon { background-color: rgb(255, 127, 0); color: rgb(255, 255, 255); display: inline-block; height: 38px; overflow: hidden; text-align: center; vertical-align: top; width: 38px; }
.rss-badge .icon:before { display: block; font-size: 1.5em; line-height: 38px; width: 38px; }
.rss-badge .icon { border-radius: 100%; }
.login-register-modal > :nth-child(2n+1) { border-right: 1px solid rgb(236, 236, 236); }
.promotion .body .counter-container .flap:nth-child(2), .promotion .body .counter-container .flap:nth-child(4) { margin-right: 0.5em; }
.promotion .body .counter-container .flap:nth-child(2n):before { color: rgb(13, 13, 13); font-size: 50%; position: absolute; top: -2em; left: 0px; }
.promotion .body .counter-container .flap:nth-child(2):before { content: "hours"; left: -1.6em; }
.promotion .body .counter-container .flap:nth-child(4):before { content: "min"; left: -1.15em; }
.promotion .body .counter-container .flap:nth-child(6):before { content: "sec"; left: -1.05em; }
.widget-subscribe-form { padding: 0px; }
.widget-subscribe-form .subscribe-options { text-align: center; margin-left: 0px ! important; }
.widget-subscribe-form .subscribe-options li { display: inline-block; list-style: none outside none; margin: 0px 0.5em; }
.widget-subscribe-form .section { padding: 10px; }
.widget-subscribe-form .section:first-child { border-bottom: 1px solid rgb(236, 236, 236); }
.widget_zt_promoted_entries { border-top: medium none ! important; position: relative; }
.sidebar > .widget_zt_promoted_entries { font-size: 0.9em; margin-top: 40px; }
.widget ~ .widget_zt_promoted_entries { margin-top: 80px; }
.widget_zt_promoted_entries > ul { list-style: none outside none; margin: 0px ! important; }
.widget_zt_promoted_entries > ul > li { margin: 0px ! important; }
.widget_zt_promoted_entries > .tab-switcher > .tab .tab-content { margin: -1px 0px 0px; display: none; }
.widget_zt_promoted_entries > .tab-switcher > .tab .tab-title { background: none repeat scroll 0% 0% rgb(255, 255, 255); display: block; position: absolute; left: -1px; top: -30px; width: 50%; border: 1px solid rgb(236, 236, 236); color: rgb(180, 180, 180) ! important; font-size: 1em; font-weight: 600; line-height: 2.5; text-align: center; text-transform: uppercase; }
.widget_zt_promoted_entries > .tab-switcher > .tab:nth-child(2n) .tab-title { left: auto; right: -1px; }
.widget_zt_promoted_entries > .tab-switcher > .tab.active .tab-content { display: block; }
.widget_zt_promoted_entries > .tab-switcher > .tab.active .tab-title { border-top-color: rgb(159, 207, 58); border-bottom: medium none; color: rgb(95, 95, 95) ! important; }
.widget_zt_promoted_entries > .tab-switcher > .tab .item { list-style: none outside none; margin: 10px 0px; }
.widget_zt_promoted_entries > .tab-switcher > .tab .item:last-child { margin-bottom: 0px; }
.widget_zt_promoted_entries > .tab-switcher > .tab .item a { font-weight: 600; display: block; }
.sidebar .widget_tag_cloud { border: medium none; padding: 0px; }
.socialize-in-content { background: none repeat scroll 0% 0% rgb(255, 255, 255); display: block; margin-bottom: 10px; padding: 10px 10px 5px; }
.socialize-in-content .socialize-in-button { display: inline-block; margin-right: 10px; vertical-align: top; min-width: 80px; }
.wp_syntax { -moz-box-sizing: border-box; border: 1px solid rgb(219, 237, 181) ! important; }
.wp_syntax pre { border: 0px none ! important; }
.wp_syntax > table td.code { background-image: linear-gradient(rgb(249, 252, 243) 50%, rgb(255, 255, 255) 50%); background-size: 1px 40px; }
.wp_syntax > table td.code pre { font-size: 14px ! important; line-height: 20px ! important; }
/* ::::: http://static.zeroturnaround.com/theme55/stylesheets/ecommerce.css?ver=3.8.1 ::::: */

.ecommerce-form-container:not([data-license-type-count="1"]) .ecommerce-form.ecommerce-orderitemlicense-form { display: inline-block; }
#jr-ecommerce-products.ecommerce-form .product-option ~ .section .field select, #jr-ecommerce-products.ecommerce-form .product-option ~ .section .field input:not([type="checkbox"]), #xr-ecommerce-products.ecommerce-form .product-option ~ .section .field select, #xr-ecommerce-products.ecommerce-form .product-option ~ .section .field input:not([type="checkbox"]) { text-align: center; width: 8em; }
/* ::::: http://zeroturnaround.com/wp-content/plugins/jquery-colorbox/themes/theme7/colorbox.css?ver=4.6 ::::: */

/* ::::: http://static.zeroturnaround.com/theme55/stylesheets/skin-rebellabs.css?ver=3.8.1 ::::: */

a { text-decoration: underline; }
a, a:hover, a:active, a:focus { color: rgb(93, 166, 206); }
body { color: rgb(102, 102, 102); }
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active { border-color: rgb(133, 188, 218); }
#top #top-menu .menu-item.highlight { border-color: rgb(113, 177, 212); }
#top #top-menu .menu-item.highlight a { color: rgb(113, 177, 212) ! important; }
.expandable:not(.disabled) > .toggle:hover { color: rgb(113, 177, 212); }
.post .title a:hover { color: rgb(113, 177, 212); }
.tagcloud a:after { box-shadow: 0px 0px 0px 1px rgb(113, 177, 212); background-color: rgb(113, 177, 212); }
.tagcloud a:hover { border-color: rgb(113, 177, 212); background-color: rgb(113, 177, 212); }
.tagcloud a:hover:before { background-image: url(''); }
.widget_zt_promoted_entries > .tab-switcher > .tab .tab-title:hover { color: rgb(113, 177, 212) ! important; }
.widget_zt_promoted_entries > .tab-switcher > .tab.active .tab-title { border-top-color: rgb(113, 177, 212); }
/* ::::: http://zeroturnaround.com/wp-content/plugins/wp-syntax/css/wp-syntax.css?ver=1.0 ::::: */

.wp_syntax { color: rgb(17, 0, 0); background-color: rgb(249, 249, 249); border: 1px solid silver; margin: 0px 0px 1.5em; overflow: auto; }
.wp_syntax { overflow-x: auto; overflow-y: hidden; width: 99%; }
.wp_syntax table { border: medium none ! important; border-collapse: collapse ! important; margin: 0px ! important; padding: 0px ! important; width: 100% ! important; }
.wp_syntax div, .wp_syntax td { border: medium none ! important; text-align: left ! important; padding: 0px ! important; vertical-align: top ! important; }
.wp_syntax td.code { background-color: rgb(238, 238, 238); background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.898) 50%); background-size: 1px 32px; line-height: normal ! important; white-space: normal ! important; width: 100% ! important; }
.wp_syntax pre { background: none repeat scroll 0% 0% transparent ! important; border: medium none ! important; margin: 0px ! important; width: auto ! important; float: none ! important; clear: none ! important; overflow: visible ! important; font-family: monospace ! important; font-size: 12px ! important; line-height: 16px ! important; padding: 0px 4px ! important; white-space: pre ! important; box-shadow: 0px 0px 0px transparent ! important; border-radius: 0px ! important; }
/* ::::: http://zeroturnaround.com/wp-content/plugins/wordpress-social-login/assets/css/style.css?ver=3.8.1 ::::: */

