/* ::::: http://s7.addthis.com/static/r07/widget48.css ::::: */

#at16lb { display: none; position: absolute; top: 0pt; left: 0pt; width: 100%; height: 100%; z-index: 1001; background-color: black; opacity: 0.001; }
#at20mc, #at_email, #at16pib, #at16pc, #at16pi, #at_share, #at_complete, #at_success, #at_error { position: static ! important; }
#at20mc { position: absolute; left: 0pt; top: 0pt; }
#at20mc a { color: rgb(51, 102, 187); }
#at20mc div { float: none; }
#at_msg, #at16p label, #at16nms, #at16sas, #at_share .at_item, #at16p, #at15s, #at16p form input, #at16p form textarea { font-family: arial,helvetica,tahoma,verdana,sans-serif ! important; font-size: 12px ! important; outline-style: none; outline-width: 0pt; line-height: 1em; }
#at15s { background: url('atbkg.png') repeat scroll 0% 0% transparent; float: none ! important; line-height: 1em ! important; margin: 0pt ! important; overflow: visible ! important; padding: 5px ! important; text-align: left ! important; position: absolute ! important; }
#at15s, #at16p { -moz-border-radius: 4px 4px 4px 4px; }
html > body #at15s { width: 250px ! important; }
#at15s_inner { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); margin: 0pt; }
#at15s_head { position: relative; background: none repeat scroll 0% 0% rgb(242, 242, 242); padding: 4px; cursor: default; border-bottom: 1px solid rgb(229, 229, 229); }
#at15s_brand, #at16_brand, #at15sptx { position: absolute; }
#at15s_brand { top: 4px; right: 4px; }
.at15s_brandx { right: 20px ! important; }
a#at15sptx { top: 4px; right: 4px; text-decoration: none; color: rgb(76, 76, 76); font-weight: bold; }
#at15sptx:hover { text-decoration: underline; }
#at16_brand { top: 5px; right: 30px; cursor: default; }
#at_hover { padding: 4px; }
#at_hover .at_item, #at_share .at_item { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; float: left ! important; color: rgb(76, 76, 76) ! important; }
#at16nms, #at16sas { padding: 4px 5px; }
#at_hover .at_item { width: 112px ! important; padding: 2px 3px ! important; margin: 1px; }
#at_hover .at_item:hover, #at_hover .at_item.athov { margin: 0pt ! important; }
#at_hover .at_item:hover, #at_hover .at_item.athov, #at_share .at_item:hover, #at_share .at_item.athov { background: none repeat scroll 0% 0% rgb(242, 242, 242) ! important; border: 1px solid rgb(229, 229, 229); color: rgb(0, 0, 0) ! important; }
#at_email label, #at_email input, #at_email textarea { font-size: 11px ! important; }
#at_email #at16meo { margin: 15px 0pt 0pt 2px; }
#at_email #at16meo span { float: left; margin-right: 5px; padding-top: 4px; }
#at_email #at16meo a { float: left; margin: 0pt; }
#at_sending { margin-top: 130px; text-align: center; }
#at_sending img { padding: 10px; }
.at15t { display: block ! important; height: 16px ! important; line-height: 16px ! important; padding-left: 20px ! important; background: url('widget24.png') no-repeat scroll 0pt 0pt transparent; cursor: pointer; text-align: left; }
.addthis_button { cursor: pointer; }
.at15t_topsitelernet { background-position: 0pt -16px; }
.at15t_tweetmeme { background-position: 0pt -32px; }
.at15t_posteezy { background-position: 0pt -48px; }
.at15t_qrfin { background-position: 0pt -64px; }
.at15t_redkum { background-position: 0pt -80px; }
.at15t_livefavoris { background-position: 0pt -96px; }
.at15t_connotea { background-position: 0pt -112px; }
.at15t_farkinda { background-position: 0pt -128px; }
.at15t_hackernews { background-position: 0pt -144px; }
.at15t_receeveit { background-position: 0pt -160px; }
.at15t_logger24 { background-position: 0pt -176px; }
.at15t_packg { background-position: 0pt -192px; }
.at15t_digthiswebhost { background-position: 0pt -208px; }
.at15t_gluvsnap { background-position: 0pt -224px; }
.at15t_tusul { background-position: 0pt -240px; }
.at15t_identica { background-position: 0pt -256px; }
.at15t_hedgehogs { background-position: 0pt -272px; }
.at15t_designmoo { background-position: 0pt -288px; }
.at15t_folkd { background-position: 0pt -304px; }
.at15t_bonzobox { background-position: 0pt -336px; }
.at15t_gamekicker { background-position: 0pt -368px; }
.at15t_ezyspot { background-position: 0pt -384px; }
.at15t_iorbix { background-position: 0pt -400px; }
.at15t_latafaneracat { background-position: 0pt -416px; }
.at15t_mawindo { background-position: 0pt -432px; }
.at15t_tellmypolitician { background-position: 0pt -464px; }
.at15t_scoopat { background-position: 0pt -480px; }
.at15t_eucliquei { background-position: 0pt -512px; }
.at15t_favoritus { background-position: 0pt -528px; }
.at15t_goodnoows { background-position: 0pt -544px; }
.at15t_box { background-position: 0pt -560px; }
.at15t_evernote { background-position: 0pt -576px; }
.at15t_vk { background-position: 0pt -592px; }
.at15t_blogger { background-position: 0pt -608px; }
.at15t_favorites { background-position: 0pt -624px; }
.at15t_plurk { background-position: 0pt -640px; }
.at15t_friendfeed { background-position: 0pt -656px; }
.at15t_buzz { background-position: 0pt -672px; }
.at15t_bebo { background-position: 0pt -688px; }
.at15t_hyves { background-position: 0pt -704px; }
.at15t_meinvz { background-position: 0pt -720px; }
.at15t_linkedin { background-position: 0pt -736px; }
.at15t_posterous { background-position: 0pt -752px; }
.at15t_sonico { background-position: 0pt -768px; }
.at15t_amazonwishlist { background-position: 0pt -784px; }
.at15t_delicious { background-position: 0pt -800px; }
.at15t_designbump { background-position: 0pt -816px; }
.at15t_google { background-position: 0pt -832px; }
.at15t_googlebuzz { background-position: 0pt -864px; }
.at15t_meneame { background-position: 0pt -880px; }
.at15t_myspace { background-position: 0pt -896px; }
.at15t_netvibes { background-position: 0pt -912px; }
.at15t_studivz { background-position: 0pt -928px; }
.at15t_orkut { background-position: 0pt -944px; }
.at15t_twitter { background-position: 0pt -960px; }
.at15t_reddit { background-position: 0pt -976px; }
.at15t_viadeo { background-position: 0pt -992px; }
.at15t_fark { background-position: 0pt -1008px; }
.at15t_hotmail { background-position: 0pt -1024px; }
.at15t_misterwong { background-position: 0pt -1040px; }
.at15t_newsvine { background-position: 0pt -1056px; }
.at15t_facebook { background-position: 0pt -1072px; }
.at15t_more { background-position: 0pt -1104px; }
.at15t_slashdot { background-position: 0pt -1120px; }
.at15t_tumblr { background-position: 0pt -1136px; }
.at15t_friendster { background-position: 0pt -1152px; }
.at15t_digg { background-position: 0pt -1184px; }
.at15t_virb { background-position: 0pt -1200px; }
.at15t_wordpress { background-position: 0pt -1216px; }
.at15t_mixx { background-position: 0pt -1232px; }
.at15t_squidoo { background-position: 0pt -1248px; }
.at15t_linkninja { background-position: 0pt -1264px; }
.at15t_oknotizie { background-position: 0pt -1280px; }
.at15t_stumbleupon { background-position: 0pt -1296px; }
.at15t_oyyla { background-position: 0pt -1312px; }
.at15t_googlereader { background-position: 0pt -1328px; }
.at15t_gacetilla { background-position: 0pt -1344px; }
.at15t_gmail { background-position: 0pt -1360px; }
.at15t_print { background-position: 0pt -1376px; }
.at15t_yahoobkm { background-position: 0pt -1392px; }
.at15t_yahoomail { background-position: 0pt -1408px; }
.at15t_youblr { background-position: 0pt -1424px; }
.at15t_hazarkor { background-position: 0pt -1440px; }
.at15t_givealink { background-position: 0pt -1456px; }
.at15t_bookmerkende { background-position: 0pt -1472px; }
.at15t_surfpeoplenet { background-position: 0pt -1488px; }
.at15t_amenme { background-position: 0pt -1520px; }
.at15t_tagvn { background-position: 0pt -1536px; }
.at15t_pafnetde { background-position: 0pt -1552px; }
.at15t_a1webmarks { background-position: 0pt -1568px; }
.at15t_technerd { background-position: 0pt -1584px; }
.at15t_cndig { background-position: 0pt -1600px; }
.at15t_email { background-position: 0pt -1616px; }
.at15t_springpad { background-position: 0pt -1632px; }
.at15t_isociety { background-position: 0pt -1648px; }
.at15t_bloggy { background-position: 0pt -1664px; }
.at15t_tagmarksde { background-position: 0pt -1680px; }
.at15t_bryderi { background-position: 0pt -1712px; }
.at15t_bookmarkycz { background-position: 0pt -1728px; }
.at15t_w3validator { background-position: 0pt -1744px; }
.at15t_instapaper { background-position: 0pt -1776px; }
.at15t_wykop { background-position: 0pt -1824px; }
.at15t_yorumcuyum { background-position: 0pt -1840px; }
.at15t_googletranslate { background-position: 0pt -1856px; }
.at15t_planypus { background-position: 0pt -1872px; }
.at15t_mekusharim { background-position: 0pt -1904px; }
.at15t_kommenting { background-position: 0pt -1920px; }
.at15t_lockerblogger { background-position: 0pt -1936px; }
.at15t_kipup { background-position: 0pt -1952px; }
.at15t_pusha { background-position: 0pt -1968px; }
.at15t_rediff { background-position: 0pt -1984px; }
.at15t_pdfmyurl { background-position: 0pt -2000px; }
.at15t_throwpile { background-position: 0pt -2016px; }
.at15t_diglog { background-position: 0pt -2032px; }
.at15t_mrcnetworkit { background-position: 0pt -2048px; }
.at15t_bizsugar { background-position: 0pt -2080px; }
.at15t_embarkons { background-position: 0pt -2096px; }
.at15t_adifni { background-position: 0pt -2112px; }
.at15t_blurpalicious { background-position: 0pt -2128px; }
.at15t_live { background-position: 0pt -2160px; }
.at15t_domaintoolswhois { background-position: 0pt -2176px; }
.at15t_blogtrottr { background-position: 0pt -2192px; }
.at15t_cosmiq { background-position: 0pt -2208px; }
.at15t_elefantapl { background-position: 0pt -2224px; }
.at15t_bookmarkedbyus { background-position: 0pt -2240px; }
.at15t_youmob { background-position: 0pt -2256px; }
.at15t_dipdive { background-position: 0pt -2272px; }
.at15t_jamespot { background-position: 0pt -2288px; }
.at15t_greaterdebater { background-position: 0pt -2320px; }
.at15t_thewebblend { background-position: 0pt -2336px; }
.at15t_simpy { background-position: 0pt -2384px; }
.at15t_allmyfaves { background-position: 0pt -2400px; }
.at15t_yammer { background-position: 0pt -2416px; }
.at15t_bobrdobr { background-position: 0pt -2432px; }
.at15t_hotklix { background-position: 0pt -2448px; }
.at15t_pimpthisblog { background-position: 0pt -2464px; }
.at15t_stumpedia { background-position: 0pt -2480px; }
.at15t_visitezmonsite { background-position: 0pt -2496px; }
.at15t_yoolink { background-position: 0pt -2512px; }
.at15t_baang { background-position: 0pt -2544px; }
.at15t_tulinq { background-position: 0pt -2560px; }
.at15t_spruzer { background-position: 0pt -2576px; }
.at15t_clickazoo { background-position: 0pt -2592px; }
.at15t_aim { background-position: 0pt -2608px; }
.at15t_funp { background-position: 0pt -2624px; }
.at15t_smiru { background-position: 0pt -2640px; }
.at15t_addio { background-position: 0pt -2656px; }
.at15t_qzone { background-position: 0pt -2672px; }
.at15t_shaveh { background-position: 0pt -2688px; }
.at15t_linkshares { background-position: 0pt -2704px; }
.at15t_cirip { background-position: 0pt -2720px; }
.at15t_dotnetshoutout { background-position: 0pt -2736px; }
.at15t_zooloo { background-position: 0pt -2752px; }
.at15t_bitly { background-position: 0pt -2768px; }
.at15t_globalgrind { background-position: 0pt -2784px; }
.at15t_mototagz { background-position: 0pt -2800px; }
.at15t_markme { background-position: 0pt -2816px; }
.at15t_linkuj { background-position: 0pt -2832px; }
.at15t_memori { background-position: 0pt -2848px; }
.at15t_segnalo { background-position: 0pt -2864px; }
.at15t_vybralisme { background-position: 0pt -2880px; }
.at15t_kaboodle { background-position: 0pt -2896px; }
.at15t_n4g { background-position: 0pt -2944px; }
.at15t_tarpipe { background-position: 0pt -2960px; }
.at15t_tagza { background-position: 0pt -2976px; }
.at15t_hipstr { background-position: 0pt -2992px; }
.at15t_douban { background-position: 0pt -3008px; }
.at15t_extraplay { background-position: 0pt -3024px; }
.at15t_sportpost { background-position: 0pt -3040px; }
.at15t_domelhor { background-position: 0pt -3056px; }
.at15t_yigg { background-position: 0pt -3072px; }
.at15t_netvouz { background-position: 0pt -3088px; }
.at15t_followtags { background-position: 0pt -3104px; }
.at15t_boardlite { background-position: 0pt -3120px; }
.at15t_citeulike { background-position: 0pt -3136px; }
.at15t_webnews { background-position: 0pt -3152px; }
.at15t_hatena { background-position: 0pt -3168px; }
.at15t_diigo { background-position: 0pt -3184px; }
.at15t_100zakladok { background-position: 0pt -3200px; }
.at15t_stuffpit { background-position: 0pt -3216px; }
.at15t_dosti { background-position: 0pt -3232px; }
.at15t_diggita { background-position: 0pt -3280px; }
.at15t_transferr { background-position: 0pt -3296px; }
.at15t_moemesto { background-position: 0pt -3312px; }
.at15t_tipd { background-position: 0pt -3328px; }
.at15t_camyoo { background-position: 0pt -3344px; }
.at15t_favable { background-position: 0pt -3360px; }
.at15t_flosspro { background-position: 0pt -3376px; }
.at15t_startaid { background-position: 0pt -3424px; }
.at15t_pingfm { background-position: 0pt -3440px; }
.at15t_linkagogo { background-position: 0pt -3456px; }
.at15t_bentio { background-position: 0pt -3472px; }
.at15t_ekudos { background-position: 0pt -3504px; }
.at15t_ihavegot { background-position: 0pt -3520px; }
.at15t_habergentr { background-position: 0pt -3536px; }
.at15t_blogmarks { background-position: 0pt -3584px; }
.at15t_oneview { background-position: 0pt -3600px; }
.at15t_youbookmarks { background-position: 0pt -3616px; }
.at15t_symbaloo { background-position: 0pt -3632px; }
.at15t_faves { background-position: 0pt -3648px; }
.at15t_digzign { background-position: 0pt -3664px; }
.at15t_blip { background-position: 0pt -3680px; }
.at15t_ladenzeile { background-position: 0pt -3696px; }
.at15t_xanga { background-position: 0pt -3712px; }
.at15t_shetoldme { background-position: 0pt -3728px; }
.at15t_linksgutter { background-position: 0pt -3760px; }
.at15t_thisnext { background-position: 0pt -3776px; }
.at15t_hadashhot { background-position: 0pt -3824px; }
.at15t_fresqui { background-position: 0pt -3888px; }
.at15t_mindbodygreen { background-position: 0pt -3904px; }
.at15t_librerio { background-position: 0pt -3920px; }
.at15t_jisko { background-position: 0pt -3952px; }
.at15t_dropjack { background-position: 0pt -3968px; }
.at15t_arto { background-position: 0pt -3984px; }
.at15t_buddymarks { background-position: 0pt -4000px; }
.at15t_yardbarker { background-position: 0pt -4016px; }
.at15t_baidu { background-position: 0pt -4032px; }
.at15t_windycitizen { background-position: 0pt -4048px; }
.at15t_sinaweibo { background-position: 0pt -4064px; }
.at15t_gravee { background-position: 0pt -4080px; }
.at15t_kaevur { background-position: 0pt -4112px; }
.at15t_bleetbox { background-position: 0pt -4128px; }
.at15t_aolmail { background-position: 0pt -4144px; }
.at15t_dwellicious { background-position: 0pt -4160px; }
.at15t_sphinn { background-position: 0pt -4176px; }
.at15t_socialbookmarkingnet { background-position: 0pt -4192px; }
.at15t_lynki { background-position: 0pt -4208px; }
.at15t_nujij { background-position: 0pt -4224px; }
.at15t_iwiw { background-position: 0pt -4256px; }
.at15t_storyfollower { background-position: 0pt -4272px; }
.at15t_plaxo { background-position: 0pt -4288px; }
.at15t_phonefavs { background-position: 0pt -4304px; }
.at15t_favlogde { background-position: 0pt -4320px; }
.at15t_popedition { background-position: 0pt -4352px; }
.at15t_dotnetkicks { background-position: 0pt -4368px; }
.at15t_worio { background-position: 0pt -4384px; }
.at15t_mashbord { background-position: 0pt -4400px; }
.at15t_pratiba { background-position: 0pt -4416px; }
.at15t_kledy { background-position: 0pt -4448px; }
.at15t_printfriendly { background-position: 0pt -4464px; }
.at15t_svejo { background-position: 0pt -4480px; }
.at15t_joliprint { background-position: 0pt -4496px; }
.at15t_digo { background-position: 0pt -4512px; }
.at15t_classicalplace { background-position: 0pt -4528px; }
.at15t_jumptags { background-position: 0pt -4544px; }
.at15t_aerosocial { background-position: 0pt -4560px; }
.at15t_thinkfinity { background-position: 0pt -4592px; }
.at15t_fwisp { background-position: 0pt -4608px; }
.at15t_laaikit { background-position: 0pt -4640px; }
.at15t_sekoman { background-position: 0pt -4672px; }
.at15t_tvinx { background-position: 0pt -4688px; }
.at15t_edelight { background-position: 0pt -4704px; }
.at15t_aviary { background-position: 0pt -4720px; }
.at15t_care2 { background-position: 0pt -4736px; }
.at15t_pdfonline { background-position: 0pt -4784px; }
.at15t_kirtsy { background-position: 0pt -4800px; }
.at15t_newstrust { background-position: 0pt -4816px; }
.at15t_grumper { background-position: 0pt -4832px; }
.at15t_typepad { background-position: 0pt -4848px; }
.at15t_startlap { background-position: 0pt -4864px; }
.at15t_gabbr { background-position: 0pt -4880px; }
.at15t_flaker { background-position: 0pt -4896px; }
.at15t_urlaubswerkde { background-position: 0pt -4912px; }
.at15t_readitlater { background-position: 0pt -4928px; }
.at15t_sodahead { background-position: 0pt -4944px; }
.at15t_thefreedictionary { background-position: 0pt -4992px; }
.at15t_myaol { background-position: 0pt -5008px; }
.at15t_informazione { background-position: 0pt -5024px; }
.at15t_meccho { background-position: 0pt -5040px; }
.at15t_dzone { background-position: 0pt -5056px; }
.at15t_woscc { background-position: 0pt -5072px; }
.at15t_brainify { background-position: 0pt -5088px; }
.at15t_wirefan { background-position: 0pt -5104px; }
.at15t_livejournal { background-position: 0pt -5120px; }
.at15t_twitthis { background-position: 0pt -5136px; }
.at15t_mylinkvault { background-position: 0pt -5152px; }
.at15t_forceindya { background-position: 0pt -5168px; }
.at15t_colivia { background-position: 0pt -5184px; }
.at15t_favoritende { background-position: 0pt -5200px; }
.at15t_multiply { background-position: 0pt -5216px; }
.at15t_hellotxt { background-position: 0pt -5232px; }
.at15t_zakladoknet { background-position: 0pt -5248px; }
.at15t_grono { background-position: 0pt -5264px; }
.at15t_speedtile { background-position: 0pt -5296px; }
.at15t_vyoom { background-position: 0pt -5312px; }
.at15t_netlog { background-position: 0pt -5328px; }
.at15t_idearef { background-position: 0pt -5344px; }
.at15t_drimio { background-position: 0pt -5360px; }
.at15t_bordom { background-position: 0pt -5376px; }
.at15t_clply { background-position: 0pt -5408px; }
.at15t_chiq { background-position: 0pt -5424px; }
.at15t_spokentoyou { background-position: 0pt -5440px; }
.at15t_2tag { background-position: 0pt -5456px; }
.at15t_stylehive { background-position: 0pt -5472px; }
.at15t_digaculturanet { background-position: 0pt -5488px; }
.at15t_hitmarks { background-position: 0pt -5504px; }
.at15t_2linkme { background-position: 0pt -5520px; }
.at15t_pochvalcz { background-position: 0pt -5536px; }
.at15t_quantcast { background-position: 0pt -5552px; }
.at15t_blinklist { background-position: 0pt -5568px; }
.at15t_buzzzy { background-position: 0pt -5584px; }
.at15t_biggerpockets { background-position: 0pt -5600px; }
.at15t_hotbookmark { background-position: 0pt -5632px; }
.at15t_osmosus { background-position: 0pt -5648px; }
.at15t_zanatic { background-position: 0pt -5664px; }
.at15t_fabulously40 { background-position: 0pt -5680px; }
#at_share .at_item { width: 123px ! important; padding: 4px; margin-right: 2px; border: 1px solid rgb(255, 255, 255); }
#at16pm { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 298px; height: 380px; text-align: left; border-right: 1px solid rgb(204, 204, 204); position: static; }
#at16pcc { position: fixed; top: 0pt; left: 0pt; width: 100%; margin: 0pt auto; font-size: 10px ! important; color: rgb(76, 76, 76); padding: 0pt; z-index: 10000001; overflow: visible; }
#at16p { background: url('atbkg.png') repeat scroll 0% 0% transparent; z-index: 10000001; }
#at16p, #atie6ifh, #atie6cmifh { position: absolute; top: 50%; left: 50%; width: 300px; padding: 10px; margin: -185px auto 0pt -155px; font-family: arial,helvetica,tahoma,verdana,sans-serif; font-size: 12px; color: rgb(94, 94, 94); }
#at_share { margin: 0pt; padding: 0pt; }
#at16ps { overflow-y: scroll; height: 304px; padding: 5px; }
#at16pi { background: none repeat scroll 0% 0% rgb(229, 229, 229); text-align: left; border-width: 1px 1px 0pt; border-style: solid solid none; border-color: rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color; }
#at16pi a { text-decoration: none; color: rgb(51, 102, 187); }
#at16pi a:hover { text-decoration: underline; }
#at16pt { position: relative; background: none repeat scroll 0% 0% rgb(242, 242, 242); height: 13px; padding: 5px 10px; }
#at16pt h4, #at16pt a { font-weight: bold; }
#at16pt h4 { display: inline; margin: 0pt; padding: 0pt; font-size: 12px; color: rgb(76, 76, 76); cursor: default; }
#at16pt a { position: absolute; top: 5px; right: 10px; color: rgb(76, 76, 76); text-decoration: none; }
#at16pc form { margin: 0pt; }
#at16pc form label { display: block; font-size: 11px; font-weight: bold; padding-bottom: 4px; float: none; text-align: left; }
#at16pc form label span { font-weight: normal; color: rgb(76, 76, 76); display: inline; }
#at_email textarea { height: 55px ! important; word-wrap: break-word; }
:first-child + html #at_email textarea { height: 42px ! important; }
#at_email form label { width: 220px; }
#at_email form input, #at_email form textarea { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); width: 272px ! important; margin: 0pt 0pt 8px; font-weight: normal; padding: 3px; font-family: arial,helvetica,tahoma,verdana,sans-serif; font-size: 11px; line-height: 1.4em; color: rgb(51, 51, 51); }
#at16pc form textarea { height: 48px; }
#at16pc form input:focus, #at16pc form textarea:focus { background: none repeat scroll 0% 0% rgb(255, 255, 240); color: rgb(51, 51, 51); }
#at16p .atbtn { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(181, 181, 181); width: 60px ! important; padding: 2px 4px; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0pt; margin-right: 2px ! important; font-size: 11px ! important; font-weight: bold; color: rgb(51, 51, 51); cursor: pointer; }
#at16p .atbtn:hover { border-color: rgb(68, 68, 68); color: rgb(0, 102, 204); }
#at16p .atrse { font-weight: normal ! important; color: rgb(102, 102, 102); margin-left: 2px ! important; }
#at_email #ateml { text-align: right; font-size: 10px; color: rgb(153, 153, 153); }
#at16pc { height: 343px; font-size: 11px; text-align: left; color: rgb(76, 76, 76); }
#at_email { padding: 5px 10px; }
#at16psf { position: relative; background: url('atf02.gif') no-repeat scroll center center rgb(242, 242, 242); border-bottom: 1px solid rgb(204, 204, 204); height: 20px; padding: 4px 10px; text-align: center; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0pt; }
#at16psf input { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: medium none; width: 220px; margin: 2px 0pt 0pt; color: rgb(102, 102, 102); outline-style: none; outline-width: 0pt; padding: 2px 0pt 0pt; line-height: 12px; font-family: arial,helvetica,tahoma,verdana,sans-serif; font-size: 12px; }
#at16pcc .at_error { background: none repeat scroll 0% 0% rgb(242, 109, 125); border-bottom: 1px solid rgb(223, 86, 102); padding: 5px 10px; color: rgb(255, 255, 255); }
#at16pcc #at_success { background: none repeat scroll 0% 0% rgb(208, 251, 218); border-bottom: 1px solid rgb(168, 231, 183); padding: 5px 10px; color: rgb(76, 76, 76); }
#at16pf { position: relative; background: none repeat scroll 0% 0% rgb(242, 242, 242); height: 12px; border-top: 1px solid rgb(229, 229, 229); }
#at16pf a { position: absolute; outline: medium none; padding: 0pt; margin: 0pt; overflow: hidden; font-size: 10px; color: rgb(76, 76, 76); font-family: Arial,Helvetica,Sans-Serif; text-decoration: none; }
#at16pf a:hover { text-decoration: underline; }
#at_complete { font-size: 13pt; color: rgb(71, 115, 29); text-align: center; padding-top: 130px; height: 208px ! important; width: 472px; }
#at16pf a#at-logo { background: url('logo88.gif') no-repeat scroll left center transparent; padding-left: 10px; right: 10px; }
.at_baa { display: block; overflow: hidden; outline: medium none; }
#at15s #at16pf a { top: 1px; }
#at_feed { display: none; padding: 10px; height: 300px; }
#at_feed span { margin-bottom: 10px; font-size: 12px; }
#at_feed div { width: 102px ! important; height: 26px ! important; line-height: 26px ! important; float: left ! important; margin-right: 68px; }
#at_feed div.at_litem { margin-right: 0pt; }
#at_feed a { margin: 10px 0pt; height: 17px; line-height: 17px; }
#at_feed .fbtn.bloglines { background-position: 0pt 0pt ! important; width: 94px; height: 20px ! important; line-height: 20px ! important; margin-top: 8px ! important; }
#at_feed .fbtn.yahoo { background-position: 0pt -20px ! important; }
#at_feed .fbtn.netvibes { background-position: 0pt -88px ! important; }
#at_feed .fbtn.pageflakes { background-position: 0pt -141px ! important; }
#at_feed .fbtn.newsisfree { background-position: 0pt -207px ! important; }
#at_feed .fbtn.google { background-position: 0pt -54px ! important; width: 104px; }
#at_feed .fbtn.mymsn { background-position: 0pt -158px ! important; width: 71px; height: 14px ! important; line-height: 14px ! important; margin-top: 12px ! important; }
#at_feed .fbtn.aol { background-position: 0pt -189px ! important; width: 92px; height: 18px ! important; line-height: 18px ! important; }
#at16pp { color: rgb(76, 76, 76); position: absolute; top: 12px; right: 12px; font-size: 11px; }
#at16eatdr { position: absolute; background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 0pt none; max-height: 110px; overflow: auto; z-index: 500; top: 129px; left: 21px; width: 277px; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
#at_pspromo { height: 130px; padding-top: 10px; }
#at_pspromo, #at15psp { width: 205px; padding-left: 5px; }
#at_testpromo { font-size: 12px; width: 220px; display: none; }
#at_promo h4, #at_testpromo h4 { font-family: arial,helvetica,tahoma,verdana,sans-serif; background: none repeat scroll 0pt 50% transparent; font-size: 14px; font-weight: bold; margin: 0pt 0pt 4px; padding: 0pt; }
#at_testpromo h4 { font-size: 13.5px; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0pt none ! important; }
.at-promo-single { padding: 2px 10px 10px; line-height: 1.5em; }
.at-promo-single img { padding: 3px; }
@media print {
  #at20mc { display: none; }
}
/* ::::: http://wagagate.appspot.com/EfrpZwkhjhhnvwxiiZzzz/http/wp-content/themes/thesis_17/style.css?072510-42031 ::::: */

body { font-size: 62.5%; }
* { padding: 0pt; margin: 0pt; }
#header { border-style: double; border-color: rgb(221, 221, 221); clear: both; }
.post_box, .teasers_box { border-style: dotted; border-color: rgb(187, 187, 187); clear: both; }
.top { border: medium none; }
#sidebars { border-color: rgb(221, 221, 221); }
#sidebar_1 { border-color: rgb(221, 221, 221); }
#footer { border-style: double; border-color: rgb(221, 221, 221); text-align: right; clear: both; }
a, a:hover { text-decoration: none; }
a img { border: medium none; }
abbr, acronym { line-height: 1em; text-transform: uppercase; letter-spacing: 1px; border-bottom: medium none; cursor: help; }
pre { background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 1px solid rgb(221, 221, 221); overflow: auto; clear: both; }
.remove_bottom_margin { margin-bottom: 0pt ! important; }
input, textarea { font-size: 1em; color: rgb(68, 68, 68); background: none repeat scroll 0% 0% rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(170, 170, 170) rgb(221, 221, 221) rgb(221, 221, 221) rgb(170, 170, 170); }
input:focus, textarea:focus { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-color: rgb(119, 119, 119) rgb(204, 204, 204) rgb(204, 204, 204) rgb(119, 119, 119); }
input.form_submit { font-weight: bold; color: rgb(17, 17, 17); background: url('submit-bg.gif') repeat scroll 0% 0% transparent; border-width: 3px; border-style: double; border-right: 3px double rgb(153, 153, 153); border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); cursor: pointer; width: auto ! important; overflow: visible; }
#commentform input.form_submit { border-width: 3px; }
input.form_submit:hover { color: rgb(0, 153, 0); }
img.alignright, img.right { float: right; }
h1, h2, h3, h6 { font-weight: normal; }
h4, h5 { font-weight: bold; }
.format_text h2 { font-weight: bold; }
.sidebar h3 { font-variant: small-caps; letter-spacing: 2px; }
.headline_meta { font-style: italic; }
.headline_meta span, .headline_meta abbr { font-style: normal; text-transform: uppercase; letter-spacing: 1px; }
.menu { position: relative; list-style: none outside none; z-index: 50; }
.menu li { position: relative; float: left; }
.menu a { display: block; }
.menu, .menu a, .menu li ul { border-style: solid; }
.menu a { text-transform: uppercase; letter-spacing: 2px; }
#logo { font-weight: bold; }
.format_text a { text-decoration: underline; }
.format_text a:hover { text-decoration: none; }
.format_text ul { list-style: square outside none; }
.prev_next { text-transform: uppercase; letter-spacing: 2px; color: rgb(102, 102, 102); border-style: solid; border-color: rgb(221, 221, 221); clear: both; }
.prev_next a { text-decoration: none; }
.prev_next a:hover { text-decoration: underline; }
.post_nav a { text-transform: none; letter-spacing: normal; }
.sidebar a:hover { text-decoration: underline; }
ul.sidebar_list { list-style: none outside none; }
li.widget { width: 100%; }
li.widget p a { text-decoration: underline; }
li.widget p a:hover { text-decoration: none; }
li.widget ul { list-style: none outside none; }
.comments_intro p { color: rgb(102, 102, 102); }
.comments_intro a { text-decoration: underline; }
.comments_intro a:hover { text-decoration: none; }
.comments_intro span { color: rgb(17, 17, 17); line-height: 1em; }
.comments_intro span.bracket { color: rgb(204, 204, 204); }
dl#comment_list { border-top: 1px dotted rgb(187, 187, 187); }
dl#comment_list dt a:hover { text-decoration: underline; }
dl#comment_list dt .comment_author { font-weight: bold; }
.comment_time, .edit_comment { color: rgb(136, 136, 136); }
.comment_time { white-space: nowrap; }
.comment_num { float: right; }
dl#comment_list .comment_num a { font-weight: bold; color: rgb(170, 170, 170); }
dl#comment_list .comment_num a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(170, 170, 170); text-decoration: none; }
dl#comment_list .bypostauthor { background: none repeat scroll 0% 0% rgb(231, 248, 251); }
dl#comment_list dd { border-bottom: 1px dotted rgb(187, 187, 187); }
#respond_intro p { color: rgb(85, 85, 85); }
#commentform { border-top: 1px dotted rgb(187, 187, 187); }
#commentform p { margin-bottom: 1em; }
#commentform p.subscribe-to-comments label { font-size: 1em; }
#footer a { border-bottom: 1px solid rgb(204, 204, 204); }
.menu:after, #content_box:after, #sidebars:after, .format_text:after, .teasers_box:after, .prev_next:after, ul.sidebar_list:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
/* ::::: http://wagagate.appspot.com/EfrpZwkhjhhnvwxiiZzzz/http/wp-content/themes/thesis_17/custom/layout.css?072510-51451 ::::: */

#container { width: 97.7em; margin: 0pt auto; }
#page { padding: 0em; }
#header, #footer { padding-right: 1.1em; padding-left: 1.1em; }
#content_box { width: 100%; background: url('dot-ddd.gif') repeat-y scroll 63.4em 0pt transparent; }
#content { width: 63.4em; float: left; }
.post_box, .teasers_box, .full_width #content_box .page { margin: 0pt 2.3em 0pt 1.1em; }
#archive_info, .prev_next { padding-right: 2.3em; padding-left: 1.1em; }
#sidebars { width: 34.2em; border: 0pt none; float: right; }
.sidebar { width: 100%; }
#sidebar_1 { border: 0pt none; }
.sidebar ul.sidebar_list { padding-right: 1.1em; padding-left: 1.1em; }
.menu { border-width: 0pt; }
#comments { margin-right: 2.3em; margin-left: 0em; }
.comments_intro, #respond_intro { margin-left: 1.1em; }
dl#comment_list dt, #trackback_list { padding-right: 1.1em; padding-left: 1.1em; }
dl#comment_list dd { padding-left: 1.1em; }
dl#comment_list dd .format_text, dl#comment_list dd #respond { padding-right: 1.1em; }
#commentform { padding-right: 2.3em; padding-left: 1.1em; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
#header { padding-top: 2.2em; padding-bottom: 2.2em; }
.post_box { padding-top: 2.2em; }
.headline_area { margin-bottom: 2.2em; }
#footer { padding-top: 1.1em; padding-bottom: 1.1em; }
#header #logo { font-size: 3.6em; line-height: 1.167em; }
.menu, .menu a, .menu li ul { border: medium none; }
.menu a { font-size: 1.4em; font-family: Tahoma,Geneva,Verdana,sans-serif; line-height: 1.286em; padding: 0.714em 0.857em; border-width: 0em 0em 0em 0pt; }
.headline_area h1, .headline_area h2 { font-size: 2.2em; line-height: 1.364em; }
.format_text h2, .format_text h3 { font-size: 1.286em; line-height: 1.222em; margin: 1.833em 0pt 0.611em; }
.sidebar h3 { font-size: 1em; line-height: 1.385em; margin-bottom: 0.692em; }
.headline_meta { font-size: 1em; line-height: 1.8em; }
.format_text { font-size: 1.4em; line-height: 1.571em; }
.format_text p { margin-bottom: 1.571em; }
.format_text code, .format_text pre { font-family: Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif; }
.format_text pre { font-size: 0.857em; line-height: 1.5em; margin-bottom: 1.833em; padding: 0.667em 0.917em; }
.format_text ul { margin: 0pt 0pt 1.571em 1.571em; }
.format_text ol { margin: 0pt 0pt 1.571em 1.571em; }
.format_text img.right, .format_text img.alignright, .wp-caption.alignright { margin: 0pt 0pt 1.571em 1.571em; }
.prev_next { padding-top: 1.1em; padding-bottom: 1.1em; }
.prev_next p { font-size: 1em; line-height: 2.2em; }
.post_nav .previous { margin-bottom: 0.55em; }
.post_nav a { font-size: 1.4em; line-height: 1.571em; }
#comments { margin-top: 4.4em; }
.comments_intro { margin-bottom: 1.1em; }
.comments_intro p { font-size: 1.2em; line-height: 1.833em; }
.comments_intro span { font-size: 1.833em; }
#comment_list, #trackback_list { margin-bottom: 4.4em; }
dl#comment_list dt { padding-top: 1.8em; }
dl#comment_list dt span { font-size: 1.2em; line-height: 1.833em; }
dl#comment_list dt .comment_author { font-size: 1.6em; line-height: 1.375em; padding-right: 0.688em; }
.comment_time { padding-right: 0.917em; }
.comment_num { padding-left: 0.833em; }
.comment_num a { font-size: 1em; line-height: 1.833em; padding: 0.083em 0.25em; }
dl#comment_list dd { padding-top: 1.1em; }
#respond { margin-bottom: 4.4em; }
#respond_intro { margin-bottom: 1.1em; }
#respond_intro p { font-size: 1.7em; line-height: 1.294em; }
#commentform { padding-top: 1.1em; }
#commentform p, .login_alert p { font-size: 1.4em; line-height: 1.571em; }
#commentform p.comment_box { line-height: 0.786em; }
#commentform label { padding-left: 0.786em; }
#commentform textarea { height: 12.571em; line-height: 1.571em; }
#commentform p.subscribe-to-comments { font-size: 1.4em; }
#commentform p.subscribe-to-comments label { font-size: 1em; }
.sidebar { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
li.widget { font-size: 1.3em; line-height: 1.385em; margin-bottom: 2.769em; }
li.widget p { margin-bottom: 1.385em; }
li.widget ul li { margin-bottom: 0.692em; }
input, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
.format_text input, #commentform input, #commentform textarea { width: 45%; padding: 0.214em; border-width: 0.071em; }
#commentform textarea { width: 96%; }
.format_text input.form_submit, #commentform .form_submit { font-size: 1.143em; padding: 0.313em 0.25em; }
.sidebar input[type="text"], .sidebar input[type="submit"] { padding: 0.308em; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
#footer p { font-size: 1.2em; line-height: 1.667em; }
ul.sidebar_list { padding-top: 2.2em; }
body { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#page { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
a, h2 a:hover, #logo a:hover { color: rgb(35, 97, 161); }
#logo, #logo a { color: rgb(17, 17, 17); }
h1, h2, h2 a { color: rgb(17, 17, 17); }
.headline_meta, .headline_meta a, .teaser_author, .teaser_date, .teaser .edit_post, .teaser_author a, .teaser_comments, .teaser_category, .teaser .edit_post a { color: rgb(136, 136, 136); }
.sidebar h3 { color: rgb(85, 85, 85); }
#footer, #footer a { color: rgb(136, 136, 136); }
#footer a:hover { color: rgb(17, 17, 17); }
.menu, .menu a, .menu li ul { border-color: rgb(221, 221, 221); }
.menu a, .menu .current ul a, .menu .current-cat ul a { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(64, 63, 63); }
.menu a:hover, .menu .current ul a:hover, .menu .current-cat ul a:hover, .menu .current-parent a:hover { color: rgb(17, 17, 17); background: none repeat scroll 0% 0% rgb(221, 221, 221); }
#header { border-width: 0pt 0pt 0.3em; }
.post_box, .teasers_box { border-width: 0.1em 0pt 0pt; }
#footer { border-width: 0.3em 0pt 0pt; }
.prev_next { border-width: 0.2em 0pt 0pt; }
/* ::::: http://wagagate.appspot.com/EfrpZwkhjhhnvwxiiZzzz/http/wp-content/themes/thesis_17/custom/custom.css?100910-42520 ::::: */

div.fancy-widget { padding: 5px; background: none repeat scroll 0% 0% rgb(249, 247, 228); border-color: rgb(173, 221, 230); border-style: solid; }
.social-bar { -moz-background-inline-policy: continuous; background: none repeat scroll 0% 0% rgb(242, 240, 232); clear: left; padding: 10px 10px 48px; }
.social-bar ul li { display: inline; float: left; width: 50%; }
.social-bar ul, .social-bar ul li { list-style-type: none; margin: 0pt; padding: 0pt; }
.social-bar ul li a:link, .social-bar ul li a:visited, .social-bar ul li a:active { color: rgb(133, 127, 112); display: block; font-size: 1.1em; font-weight: bold; margin-bottom: 10px; text-decoration: none; }
.social-bar ul li a:hover { color: rgb(53, 45, 22); text-decoration: underline; }
.social-bar-share a { -moz-background-inline-policy: continuous; background: url('bookmark-icon32.png') no-repeat scroll 0pt 0pt transparent; padding: 8px 0pt 8px 45px; }
.social-bar-comment a { -moz-background-inline-policy: continuous; background: url('comment-icon32.png') no-repeat scroll 0pt 0pt transparent; padding: 8px 0pt 8px 45px; }
.custom .headline_area { margin-bottom: 1em; }
#footer-ad { background: none repeat scroll 0% 0% rgb(102, 102, 102); border-top: 1px solid rgb(178, 31, 36); padding: 10px 0pt; }
#tgs-tags { font-size: x-small; color: rgb(102, 102, 102); }
#tgs-tags { border-bottom: 1px dotted rgb(187, 187, 187); }
.custom h1, .custom h2 { color: rgb(169, 0, 0); letter-spacing: -1px; }
body.custom { background: none repeat scroll 0% 0% rgb(83, 83, 83); }
.custom #container { margin-top: 1em; margin-bottom: 2em; background: none repeat scroll 0% 0% rgb(51, 255, 255); }
.custom #page { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.custom #header { border-bottom: 0pt none; padding: 1em 0pt 2em; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.custom #header:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.custom #header #logo { width: 172px; height: 100px; float: left; border: 0em solid rgb(62, 255, 255); padding: 0pt 0pt 0pt 8px; }
.custom #header #header_ad { width: 728px; height: 90px; float: right; padding: 6px 2px 0pt 0pt; }
.custom #header #header_ad #header_ad1 { width: 728px; height: 90px; border: 0px solid rgb(64, 63, 63); float: right; }
.menu { list-style: none outside none; border-style: solid; border-color: rgb(221, 221, 221); border-width: 0pt 0pt 0px 0px; background: none repeat scroll 0% 0% rgb(64, 63, 63); }
.menu a:hover { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(169, 0, 0); text-decoration: none; }
.menu a { display: block; line-height: 1em; color: rgb(255, 255, 255); text-transform: none; letter-spacing: 2px; }
#top-ad-menu { clear: both; float: left; width: 100%; text-align: left; background: none repeat scroll 0% 0% rgb(102, 102, 102); border-top: 1px solid rgb(178, 31, 36); padding: 6px 0pt; }
.custom #sidebars { background: none repeat scroll 0% 0% rgb(241, 240, 237); }
.custom #sidebar_1 { border-style: dotted; border-color: rgb(221, 221, 221); }
.custom .sidebar h3 { font-weight: bold; border-bottom: 2px dotted rgb(221, 221, 221); border-color: rgb(221, 221, 221); border-width: 2px; }
.custom .sidebar a { text-decoration: underline; }
.custom .sidebar_list h3 { font-weight: bold; text-align: left; border-bottom: 1px dotted rgb(221, 221, 221); border-color: rgb(221, 221, 221); }
.custom #footer { background: none repeat scroll 0% 0% rgb(27, 29, 30); color: rgb(255, 255, 255); }
#footer a:hover { color: rgb(255, 255, 255); }
.custom #text-7 { text-align: left; float: left; width: 33%; padding: 0px 10px 0pt; }
.custom #text-7 img.float { float: left; clear: left; margin: 5px; }
.custom #text-9 { text-align: left; float: right; width: 30%; padding: 0pt 10px; }
.custom #text-8 { float: right; width: 28%; padding: 0pt 10px; text-align: left; }
.custom input.form_submit { padding: 1px 5px; }
/* ::::: http://wagagate.appspot.com/gIzzz/http/uds/api/elements/1.0/f5c3c08a25feee64c08653abf2b98fbf/transliteration.css ::::: */

:first-child + html .goog-inline-block { display: inline; }
:first-child + html .goog-transliterate-indic-button-inner-box { left: -1px; }
:first-child + html .goog-transliterate-indic-button-rtl .goog-transliterate-indic-button-inner-box { left: 1px; }
:first-child + html .goog-transliterate-indic-button-disabled { margin: 2px 1px ! important; padding: 0pt 1px ! important; }
:first-child + html .goog-transliterate-indic-button-collapse-left .goog-transliterate-indic-button-inner-box { left: 0pt; }
/* ::::: http://wagagate.appspot.com/_rpx_static/bannerserver.css ::::: */

#_rpx_banner { background: none repeat scroll 0% 0% rgb(170, 51, 51); color: rgb(204, 204, 204); width: 100%; position: fixed; bottom: 0pt; z-index: 1000; }
#_rpx_banner * { margin: 0px; padding: 0px; }
#_rpx_banner a { color: white; }
#_rpx_banner #_rpx_warning { color: white; cursor: pointer; float: left; }
#_rpx_location { background: none repeat scroll 0pt 0pt rgb(204, 204, 204); border: 1px solid; height: 20px; width: 400px; }
#_rpx_banner ._rpx_warning_icon { display: block; float: left; background: url('warning_icon.png') repeat scroll 0% 0% transparent; height: 24px; width: 24px; }
#_rpx_banner li { display: inline; padding-left: 10px; }
