/* ::::: https://plusone.google.com/_/apps-static/_/ss/plusone/ver=-1q8rpp8vq16oi/am=!URM46xygDZ0vjJd2/bf=wgE/r=O ::::: */

* html .c-wa-Da, :first-child + html .c-wa-Da { display: inline; }
.SM { float: left; white-space: nowrap; }
.k-bl-bg-SH { margin: 0pt; padding: 0pt; }
.LM { outline: 0pt none; text-decoration: none; display: block; }
.Rg { width: 32px; height: 20px; }
.gf .Rg { background: url('sprite2.png') no-repeat scroll -132px -21px transparent; }
.gf a.Rg:hover { background: url('sprite2.png') no-repeat scroll -165px -21px transparent; }
.gf a.Rg:active { background: url('sprite2.png') no-repeat scroll -99px -21px transparent; }
.jk, .ik, .hk { float: left; }
.jn, .kn { background: url('sprite2.png') no-repeat scroll 0% 0% transparent; float: left; }
.hn { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; float: left; }
.in { color: rgb(102, 102, 102); font-family: arial,sans-serif; overflow: hidden; white-space: nowrap; }
.ik { padding-left: 1px; padding-right: 1px; }
.ik .jn { background-position: -207px -21px; height: 20px; width: 6px; }
.ik .kn { background-position: -252px -21px; height: 20px; width: 2px; }
.ik .hn { max-width: 47px; min-width: 10px; }
.ik .in { font-size: 11px; margin: 1px 6px; height: 16px; line-height: 17px; }
