/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/ImagePlugin/style.css ::::: */

/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/ImageGalleryPlugin/style.css ::::: */

/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/HeadlinesPlugin/style.css ::::: */

/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/TWikiTemplates/base.css ::::: */

.twikiLeft { float: left; position: relative; }
.twikiRight { position: relative; float: right; display: inline; margin: 0pt; }
.twikiClear { margin: 0pt; padding: 0pt; height: 0pt; line-height: 0px; clear: both; display: block; }
.twikiAccessKey { text-decoration: none; border-width: 0pt 0pt 1px; border-style: solid; }
a:hover .twikiAccessKey { text-decoration: none; border: medium none; }
.twikiImage img { padding: 3px; border-width: 1px; border-style: solid; }
#patternTopBar, #patternClearHeaderCenter, #patternClearHeaderLeft, #patternClearHeaderRight, #patternTopBarContentsOuter, #patternTopBarContents { height: 64px; overflow: hidden; }
#patternOuter { margin-left: 14em; }
#patternLeftBar { width: 14em; margin-left: -14em; }
/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/PatternSkin/layout.css ::::: */

html, body { margin: 0pt; padding: 0pt; border: 0pt none; height: 100%; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); min-width: 100%; text-align: center; }
.clear { clear: both; height: 0px; overflow: hidden; line-height: 1%; font-size: 0px; }
#patternWrapper { height: 100%; }
#patternWrapper { height: auto; }
#patternPage { margin-left: auto; margin-right: auto; text-align: left; position: relative; width: 100%; }
#patternOuter { z-index: 1; position: relative; height: 100%; }
#patternFloatWrap { width: 100%; float: left; display: inline; }
#patternLeftBar { float: left; display: inline; overflow: hidden; }
#patternLeftBarContents { position: relative; }
#patternMain { width: 100%; float: right; display: inline; }
#patternTopBar { z-index: 1; position: absolute; top: 0px; width: 100%; }
#patternBottomBar { z-index: 1; clear: both; width: 100%; }
/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/PatternSkin/style.css ::::: */

html body { font-size: small; }
html > body { font-size: small; }
p { margin: 1em 0pt 0pt; }
table {  }
strong, b { font-weight: bold; }
hr { height: 1px; border: medium none; }
pre { width: 100%; margin: 1em 0pt; }
html > body pre { overflow: auto ! important; width: auto; }
ol, ul { margin-top: 0pt; }
ol li, ul li {  }
h1 { padding: 0.25em 0pt 0pt; margin: 0pt 0pt 0.5em; }
h2, h3, h4, h5, h6 { padding: 0pt; margin: 1em 0pt 0.1em; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1em; }
h1 { font-size: 215%; }
h2 { font-size: 153%; }
h3 { font-size: 133%; font-weight: bold; }
h2, h3, h4, h5, h6 { display: block; padding: 0.25em 10px; margin: 1.25em -10px 0.35em; border-width: 0pt 0pt 1px; border-style: solid; height: auto; }
:link:focus, :visited:focus, :link, :visited, :link:active, :visited:active { text-decoration: underline; }
:link:hover, :visited:hover { text-decoration: none; }
img { vertical-align: text-bottom; border: 0pt none; }
form { display: inline; margin: 0pt; padding: 0pt; }
textarea, input, select { vertical-align: middle; font-family: arial,verdana,sans-serif; font-size: 100%; }
.twikiTextarea, .twikiInputField, .twikiInputFieldDisabled, .twikiInputFieldReadOnly, .twikiSelect { border-width: 2px; border-style: solid; }
.twikiTextarea, .twikiInputField, .twikiInputFieldDisabled, .twikiInputFieldReadOnly { font-size: 100%; }
.twikiInputField, .twikiInputFieldDisabled, .twikiInputFieldReadOnly { padding: 0.1em 0.2em; }
.twikiToc { margin: 1em 0pt; padding: 0.3em 0pt 0.6em; }
.twikiToc ul { list-style: none outside none; padding: 0pt 0pt 0pt 0.5em; margin: 0pt; }
.twikiToc li { margin-left: 1em; padding-left: 1em; background-repeat: no-repeat; background-position: 0pt 0.5em; }
.twikiAccessKey { text-decoration: none; border-width: 0pt 0pt 1px; border-style: solid; }
.twikiImage img { padding: 3px; border-width: 1px; border-style: solid; }
.twikiImage a:link, .twikiImage a:visited { background: none repeat scroll 0% 0% transparent; }
#twikiLogo img { margin: 0pt; padding: 0pt; }
#patternPage { font-family: arial,verdana,sans-serif; line-height: 1.5em; font-size: 105%; }
#patternTopBar { border-width: 1px; border-style: none none solid; }
#patternBottomBar { border-width: 1px 0pt 0pt; border-style: solid; }
#patternBottomBarContents {  }
#patternWebBottomBar { font-size: 94%; line-height: 125%; text-align: left; }
#patternLeftBarContents { margin: 0pt 0pt 1em; padding-right: 0.5em; padding-left: 1em; }
#patternMainContents, #patternBottomBarContents, #patternLeftBarContents { padding-top: 1em; }
#patternMainContents, #patternTopBarContents, #patternBottomBarContents { padding-right: 2.5em; }
#patternTopBarContents { padding-left: 1em; }
#patternMainContents { padding-left: 2.5em; }
#patternBottomBarContents { padding-left: 2.5em; }
#patternMainContents, #patternBottomBarContents { padding-bottom: 2em; }
.patternTopic { margin: 0.5em 0pt 2em; }
.patternViewPage #patternBottomBarContents { padding-left: 1em; }
#patternLeftBarContents {  }
#patternLeftBarContents img { margin: 0pt 3px 0pt 0pt; vertical-align: text-bottom; }
#patternLeftBarContents a:link, #patternLeftBarContents a:visited { text-decoration: none; }
#patternLeftBarContents ul { padding: 0pt; margin: 0pt; list-style: none outside none; }
#patternLeftBarContents, #patternLeftBarContents ul, #patternLeftBarContents li { line-height: 1.35em; }
#patternLeftBarContents .patternLeftBarPersonal, #patternLeftBarContents .patternWebIndicator { height: 1%; width: 100%; padding: 0pt 1em 0.75em; margin: 0pt -1em 0.75em; border-style: none none solid; border-width: 1px; }
.patternWebIndicator a { font-size: 1.1em; font-weight: bold; }
#patternLeftBarContents li { overflow: hidden; }
html > body #patternLeftBarContents li { overflow: visible; }
.patternMetaMenu input, .patternMetaMenu select, .patternMetaMenu select option { margin: 0pt; }
.patternMetaMenu ul { padding: 0pt; margin: 0pt; list-style: none outside none; }
.patternMetaMenu ul li { padding: 0pt; display: inline; }
.patternMetaMenu ul li .twikiInputField, .patternMetaMenu ul li .twikiSelect { margin: 0pt 0pt 0pt 0.5em; }
.patternHomePath .twikiSeparator { padding: 0pt 0.5em; }
.patternHomePath a:link, .patternRevInfo a:link { text-decoration: none; border-color: rgb(69, 113, 208); border-style: none none dotted; border-width: 1px; color: rgb(69, 113, 208); }
.patternHomePath a:visited, .patternRevInfo a:visited { text-decoration: none; border-color: rgb(88, 67, 139); border-style: none none dotted; border-width: 1px; color: rgb(88, 67, 139); }
.patternToolBar {  }
.patternToolBar span { float: left; }
.patternToolBar span s, .patternToolBar span strike, .patternToolBar span a:link, .patternToolBar span a:visited { display: block; border-width: 1px; border-style: solid; padding: 0.1em 0.35em; margin: 0pt 0pt 0.2em 0.25em; font-weight: bold; }
.patternToolBar span a:link, .patternToolBar span a:visited { text-decoration: none; outline: medium none; }
.patternToolBar span a:hover, .patternToolBar span a:hover { border-width: 1px; border-style: solid; }
.patternToolBar span a:active { outline: medium none; }
.patternToolBar span.twikiAccessKey { padding: 0pt; margin: 0pt; float: none; }
.patternToolBar a:hover .twikiAccessKey { border-width: 0pt 0pt 1px; border-style: solid; }
.patternTopicActions { border-width: 0pt 0pt 1px; border-style: solid; }
.patternTopicAction { line-height: 1.5em; padding: 0.4em 20px; border-width: 1px 0pt 0pt; border-style: solid; height: 1%; }
.patternActionButtons a:link, .patternActionButtons a:visited { padding: 1px 1px 2px; }
.patternTopicAction .patternActionButtons a:link, .patternTopicAction .patternActionButtons a:visited { text-decoration: none; }
.patternInfo { margin: 1.5em 0pt 0pt; }
.patternHomePath .patternRevInfo { font-size: 94%; white-space: nowrap; }
.patternMoved { margin: 1em 0pt; }
/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/PatternSkin/colors.css ::::: */

#patternTopBar { border-color: rgb(226, 226, 226); background-color: rgb(254, 252, 247); }
#patternMain {  }
#patternOuter { background-color: rgb(255, 255, 255); border-color: rgb(218, 218, 218); }
#patternLeftBar, #patternWrapper { background-color: rgb(246, 246, 246); }
#patternBottomBar { border-color: rgb(226, 226, 226); }
#patternBottomBarContents, #patternBottomBarContents a:link, #patternBottomBarContents a:visited { color: rgb(119, 119, 119); }
#patternBottomBarContents a:hover { color: rgb(255, 255, 255); }
html body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 { background-color: transparent; }
hr { color: rgb(226, 226, 226); background-color: rgb(226, 226, 226); }
pre, code, tt { color: rgb(122, 71, 7); }
h1, h2, h3, h4, h5, h6 { color: rgb(99, 0, 0); }
h2 { background-color: rgb(246, 246, 246); border-color: rgb(226, 226, 226); }
h3, h4, h5, h6 { border-color: rgb(226, 226, 226); }
:link:focus, :visited:focus, :link, :visited, :link:active, :visited:active { color: rgb(69, 113, 208); background-color: transparent; }
:link:hover, :visited:hover { color: rgb(255, 255, 255); background-color: rgb(206, 0, 15); background-image: none; }
:link:hover img, :visited:hover img { background-color: transparent; }
.patternTopic a:link { text-decoration: none; border-color: rgb(69, 113, 208); border-style: none none dotted; border-width: 1px; color: rgb(69, 113, 208); }
.patternTopic a:visited { text-decoration: none; border-color: rgb(88, 67, 139); border-style: none none dotted; border-width: 1px; color: rgb(88, 67, 139); }
.patternTopic a:active { text-decoration: none; border-color: rgb(69, 113, 208); border-style: none none dotted; border-width: 1px; color: rgb(69, 113, 208); }
.patternTopic a:hover { text-decoration: none; border-color: rgb(69, 113, 208); border-style: none none solid; border-width: 1px; color: rgb(69, 113, 208); background-color: rgb(213, 226, 255); }
.patternTopic a:visited:hover { text-decoration: none; border-color: rgb(88, 67, 139); border-style: none none solid; border-width: 1px; color: rgb(88, 67, 139); background-color: rgb(230, 219, 255); }
#patternMainContents h1 a:link, #patternMainContents h1 a:visited, #patternMainContents h2 a:link, #patternMainContents h2 a:visited, #patternMainContents h3 a:link, #patternMainContents h3 a:visited, #patternMainContents h4 a:link, #patternMainContents h4 a:visited, #patternMainContents h5 a:link, #patternMainContents h5 a:visited, #patternMainContents h6 a:link, #patternMainContents h6 a:visited { color: rgb(99, 0, 0); }
#patternMainContents h1 a:hover, #patternMainContents h2 a:hover, #patternMainContents h3 a:hover, #patternMainContents h4 a:hover, #patternMainContents h5 a:hover, #patternMainContents h6 a:hover { color: rgb(255, 255, 255); }
textarea, input, select { border-color: rgb(170, 170, 170); color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.twikiTextarea, .twikiInputField, .twikiInputFieldDisabled, .twikiInputFieldReadOnly, .twikiSelect { border-color: rgb(187, 187, 187) rgb(242, 242, 242) rgb(242, 242, 242) rgb(187, 187, 187); }
.twikiTextarea, .twikiInputField, .twikiSelect { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
.twikiInputField:active, .twikiInputField:focus, .twikiInputFieldFocus { background-color: rgb(255, 255, 224); }
.twikiInputFieldBeforeFocus { color: rgb(119, 119, 119); }
.twikiGrayText { color: rgb(119, 119, 119); }
.twikiAccessKey { color: inherit; border-color: rgb(119, 119, 119); }
a:link .twikiAccessKey, a:visited .twikiAccessKey { color: inherit; }
a:hover .twikiAccessKey { color: inherit; }
.twikiImage img { border-color: rgb(238, 238, 238); background-color: rgb(255, 255, 255); }
#patternTopBar .twikiImage img { background-color: transparent; }
.twikiImage a:hover img { border-color: rgb(206, 0, 15); }
#patternPage { background-color: rgb(255, 255, 255); }
.patternHomePath a:link, .patternHomePath a:visited { border-color: rgb(221, 221, 221); color: rgb(102, 102, 102); }
.patternTop a:hover { border: medium none; color: rgb(255, 255, 255); }
.patternHomePath .patternRevInfo, .patternHomePath .patternRevInfo a:link, .patternHomePath .patternRevInfo a:visited { color: rgb(119, 119, 119); }
#patternLeftBarContents { color: rgb(0, 0, 0); }
#patternLeftBarContents hr { color: rgb(226, 226, 226); background-color: rgb(226, 226, 226); }
#patternLeftBarContents a:link, #patternLeftBarContents a:visited { color: rgb(68, 68, 68); }
#patternLeftBarContents a:hover { color: rgb(255, 255, 255); }
#patternLeftBarContents .patternLeftBarPersonal, #patternLeftBarContents .patternWebIndicator { border-color: rgb(218, 218, 218); }
#patternLeftBarContents b, #patternLeftBarContents strong { color: rgb(99, 0, 0); }
.patternTopicActions { border-color: rgb(226, 226, 226); background-color: rgb(246, 246, 246); color: rgb(119, 119, 119); }
.patternTopicAction { border-color: rgb(226, 226, 226); }
.patternTopicAction .twikiSeparator { color: rgb(226, 226, 226); }
.patternActionButtons a:link, .patternActionButtons a:visited { color: rgb(190, 0, 10); }
.patternActionButtons a:hover { color: rgb(255, 255, 255); }
.patternTopicAction .twikiAccessKey { color: rgb(190, 0, 10); border-color: rgb(190, 0, 10); }
.patternTopicAction a:hover .twikiAccessKey { color: rgb(255, 255, 255); }
.patternToolBar a:link .twikiAccessKey, .patternToolBar a:visited .twikiAccessKey { color: inherit; border-color: rgb(102, 102, 102); }
.patternToolBar a:hover .twikiAccessKey { background-color: transparent; color: inherit; border-color: rgb(102, 102, 102); }
h2, .patternTopicAction { background-image: url('bg_action_gradient.gif'); background-repeat: repeat-x; }
.twikiToc li { background-image: url('bullet-toc.gif'); background-repeat: no-repeat; background-position: 0pt 0.4em; }
#patternOuter, #patternTopBar { background-image: url('bg_outer_gradient.gif'); background-repeat: repeat-x; }
.patternToolBar span a:link, .patternToolBar span a:visited, .patternToolBar span s, .patternToolBar span strike { background-image: url('bg_button_small_gradient.gif'); background-repeat: repeat-x; }
.patternToolBar span a:link, .patternToolBar span a:visited { background-position: 0px 0px; border-color: rgb(248, 246, 236) rgb(184, 182, 173) rgb(184, 182, 173) rgb(248, 246, 236); background-color: rgb(219, 217, 207); color: rgb(51, 51, 51); }
.patternToolBar span a:hover { background-position: 0px -80px; border-color: rgb(244, 242, 235) rgb(163, 160, 146) rgb(163, 160, 146) rgb(244, 242, 235); background-color: rgb(194, 191, 174); color: rgb(34, 34, 34); }
.patternToolBar span a:active { background-position: 0px -160px; border-color: rgb(163, 160, 146) rgb(244, 242, 235) rgb(244, 242, 235) rgb(163, 160, 146); background-color: rgb(232, 229, 215); color: rgb(34, 34, 34); }
.patternBookView .twikiTopRow, .patternWebIndicator a img, .patternWebIndicator a:hover img { background-color: rgb(221, 221, 221); }
#patternTopBarContents { background-image: url('twiki_header.gif'); background-repeat: no-repeat; }
/* ::::: https://twiki.cern.ch/twiki/pub/TWiki/PatternSkin/print.css ::::: */

@media print {
  .clear { clear: none; }
  #patternScreen, #patternPageShadow, #patternPage { margin: 0pt; padding: 0pt; top: 0pt; }
  #patternScreen { padding: 0pt; }
  body html { margin: 0pt; padding: 0pt; }
  #patternMain { padding-bottom: 1em; width: 100%; float: none; display: inline; overflow: visible; }
  #patternOuter { margin-left: 0pt; }
  #patternLeftBar { width: 0em; margin-left: 0em; display: none; }
  #patternWrapper { height: 1%; }
  #patternTopBar, #patternClearHeaderCenter, #patternClearHeaderLeft, #patternClearHeaderRight, #patternTopBarContentsOuter { display: none; }
  .patternTopicAction, .patternToolBar, .patternToolBarBottom, .patternHomePath img, .patternHomePathTitle { display: none; }
  #patternMainContents { padding: 0pt 0pt 0pt 2em; }
  #patternBottomBar { border: medium none; }
  #attachmentsshow, #attachmentshide { display: none; }
  .commentPlugin { display: none; }
  body { background-color: rgb(255, 255, 255); }
  h2, h3, h4, h5, h6 { background-color: transparent; }
  pre, html > body pre { overflow: visible ! important; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; page-break-inside: avoid; }
  img { page-break-inside: avoid; page-break-after: avoid; }
  blockquote, table, pre { page-break-inside: avoid; }
  ul, ol, dl { page-break-before: avoid; }
  pre, code, tt { color: rgb(91, 66, 33); }
  .twikiTable th { border-style: solid; border-width: 0pt 0pt 1px 1px; border-color: rgb(204, 204, 204); color: rgb(0, 0, 0); }
  .twikiTable th a:link, .twikiTable th a:visited, .twikiTable th a font, .twikiAttachments .twikiTable th a:link, .twikiAttachments .twikiTable th a:visited, .twikiAttachments .twikiTable th a font { color: rgb(0, 0, 0); text-decoration: none; }
  :visited, .patternTopic a:visited { color: rgb(0, 102, 204); background-color: transparent; }
  .twikiAttachments, .patternContent .twikiAttachments, .twikiForm, .patternContent .twikiForm { background-color: rgb(255, 255, 255); }
  .patternTopicFooter { margin: 1em 0pt 0pt; }
  .patternRevInfo, .twikiGrayText { color: rgb(102, 102, 102); }
  .patternRevInfo a:link, .patternRevInfo a:visited .twikiGrayText a:link, .twikiGrayText a:visited { color: rgb(102, 102, 102); }
  .twistyTrigger { display: none; }
  .editTableEditImageButton { display: none; }
}
