/* ::::: http://static.ak.fbcdn.net/rsrc.php/v1/yN/r/nLcyxU0ha6K.css ::::: */

.uiButton input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.mrm { margin-right: 10px; }
/* ::::: http://static.ak.fbcdn.net/rsrc.php/v1/y6/r/p1kOEng59HG.css ::::: */

.fan_box .connect_top { padding: 10px 10px 8px; }
.fan_box .profileimage { float: left; width: 40px; height: 40px; padding: 0pt 10px 0pt 0pt; margin: 0pt 0pt 4px; }
.fan_box .connect_action { padding: 0pt 0pt 0pt 8px; }
.fan_box .connect_action .name { line-height: 15px; font-size: 14px; font-weight: bold; }
.fan_box .connect_widget .connect_widget_text { padding: 0pt; }
.fan_box .connect_widget td.connect_widget_vertical_center { height: 20px; }
.fan_box .connect_widget td.connect_widget_vertical_center a.connect_widget_like_button { margin-right: 7px; }
.fan_box .connect_widget .connect_widget_interactive_area { margin: 5px 0pt 0pt; }
.connect_widget { overflow: hidden; }
/* ::::: http://static.ak.fbcdn.net/rsrc.php/v1/yE/r/pfM8kGQo6zU.css ::::: */

body.transparent_widget { background-color: transparent; overflow: hidden; }
body.plugin.transparent_widget { overflow-y: hidden; }
.connect_widget { background-color: transparent; }
.connect_widget .connect_widget_interactive_area { border-collapse: collapse; }
.connect_widget td.connect_widget_vertical_center { border-spacing: 0pt; font-size: 11px; line-height: normal; padding: 0pt; }
.connect_widget td.connect_widget_button_cell { vertical-align: top; }
.connect_widget .connect_button_slider { position: relative; }
a.connect_widget_like_button { display: block; float: left; border-radius: 3px 3px 3px 3px; padding: 4px 5px; border: 1px solid rgb(0, 0, 0); }
a.connect_widget_like_button span { line-height: 14px; }
a.connect_widget_like_button:hover { text-decoration: none; }
.connect_widget_like_button .liketext { background: url('ql9vukdcc4r.png') no-repeat scroll -1px -33px transparent; color: rgb(59, 89, 152); display: block; padding-left: 17px; white-space: nowrap; }
.connect_widget .like_button_no_like .piece, .connect_widget .like_button_no_like { background-color: rgb(236, 238, 245); border-color: rgb(202, 212, 231); }
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover { background-color: rgb(235, 237, 244); border-color: rgb(157, 172, 206); }
.connect_widget .connect_text_wrapper { position: relative; }
.connect_widget div.connect_confirmation_cell { padding: 0pt; margin: 0pt; }
.connect_widget div.connect_confirmation_cell_no_like { padding-left: 7px; }
.connect_widget .connect_widget_text { display: block; padding-left: 17px; line-height: 14px; }
.connect_widget a.connect_widget_error_text { color: rgb(170, 0, 0); font-weight: bold; }
.connect_widget_like_button .liketext { background: url('ql9vukdcc4r.png') no-repeat scroll -1px -33px transparent; }
.connect_widget a.like_button_no_like:hover .piece, .connect_widget a.like_button_no_like:hover { background-color: rgb(236, 238, 245); border-color: rgb(157, 172, 206); }
.connect_widget .tombstone_cross { background: url('ql9vukdcc4r.png') no-repeat scroll 0pt -128px transparent; display: block; float: left; height: 12px; margin-right: 3px; width: 14px; z-index: 99; }
.like_button_no_like .tombstone_cross { display: none; }
body.plugin { background: none repeat scroll 0% 0% transparent; overflow: hidden; }
/* ::::: http://static.ak.fbcdn.net/rsrc.php/v1/yd/r/ugO8DSdGvsR.css ::::: */

body { background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 11px; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; color: rgb(51, 51, 51); line-height: 1.28; margin: 0pt; padding: 0pt; text-align: left; direction: ltr; unicode-bidi: embed; }
a { cursor: pointer; color: rgb(59, 89, 152); text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0pt none; }
td, td.label { font-size: 11px; text-align: left; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0pt; height: 0pt; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
body { overflow-y: scroll; }
.auto_resize_iframe { height: auto; overflow: hidden; }
