a:link, a:visited, a:hover, a:active { color: rgb(0, 108, 176); cursor: pointer; }
body, table, div, ul, li { font-size: 10px; margin: 0px; padding: 0px; }
body { background-color: transparent; font-family: arial,sans-serif; height: 100%; }
#aus { height: 90px; width: 728px; }
#ads { left: 0px; position: absolute; top: 0px; width: 728px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 36px; margin: 0px 6px; overflow: hidden; width: 716px; }
.adtuc { width: 1000px; }
.ad { margin: 0px; overflow: hidden; }
.adt { font-size: 14px; font-weight: bold; line-height: 18px; }
.adb { color: rgb(58, 58, 58); font-size: 14px; line-height: 18px; }
.adu { color: rgb(0, 108, 176); font-size: 10px; line-height: 18px; overflow: hidden; white-space: nowrap; }
.adus { cursor: pointer; }
.adc { height: 36px; overflow: hidden; table-layout: fixed; width: 100%; }
#abgi { left: 648px; position: absolute; top: 73px; }
#aubg { background-color: rgb(186, 205, 216); border: 0px solid rgb(186, 205, 216); height: 90px; width: 728px; }
#load { height: 36px; }
#load table { height: 100%; width: 100%; }
#load td { color: rgb(58, 58, 58); font-size: 14px; text-align: center; vertical-align: middle; }
#smac { display: none; left: 2px; list-style: none outside none; overflow: hidden; position: absolute; top: 74px; width: 34px; }
#smac div { height: 14px; position: relative; width: 15px; }
#smap { float: left; }
#sman { float: right; }
