a:link, a:visited, a:hover, a:active { color: rgb(0, 108, 176); cursor: pointer; }
body, table, div, ul, li { font-size: 10px; margin: 0px; padding: 0px; }
body { background-color: transparent; font-family: verdana,arial,sans-serif; height: 100%; }
#aus { height: 250px; width: 300px; }
#ads { left: 0px; position: absolute; top: 0px; width: 300px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; height: 77px; margin: 0px 16px; overflow: hidden; width: 268px; }
.ad { margin: 0px; }
.adt { font-size: 13px; font-weight: bold; }
.adb { color: rgb(58, 58, 58); display: block; font-size: 13px; }
.adu { color: rgb(0, 108, 176); font-size: 10px; line-height: 12px; overflow: hidden; white-space: nowrap; }
.adus { cursor: pointer; }
.adc { height: 77px; overflow: hidden; table-layout: fixed; width: 100%; }
#abgi { left: 220px; position: absolute; top: 233px; }
#aubg { background-color: rgb(186, 205, 216); border: 0px solid rgb(186, 205, 216); height: 250px; width: 300px; }
