a:link, a:visited, a:hover, a:active { color: rgb(0, 108, 176); cursor: pointer; }
body, table, div, ul, li { font-size: 10px; margin: 0px; padding: 0px; }
body { background-color: transparent; font-family: verdana,arial,sans-serif; height: 100%; }
#aus { height: 600px; width: 160px; }
#ads { left: 0px; position: absolute; top: 18px; width: 160px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; margin: 10px 3px; overflow: hidden; width: 152px; }
.ad { margin: 0px; }
.adt { font-size: 13px; font-weight: bold; }
.adb { color: rgb(58, 58, 58); display: block; font-size: 13px; }
.adu { color: rgb(0, 108, 176); font-size: 10px; line-height: 12px; overflow: hidden; white-space: nowrap; }
.adus { cursor: pointer; }
.adc { overflow: hidden; table-layout: fixed; width: 100%; }
#abgi { left: 2px; position: absolute; top: 2px; }
#aubg { background-color: rgb(186, 205, 216); border: 0px solid rgb(186, 205, 216); height: 600px; width: 160px; }
#load {  }
#load table { height: 100%; width: 100%; }
#load td { color: rgb(58, 58, 58); font-size: 13px; text-align: center; vertical-align: middle; }
#smac { display: none; left: 124px; list-style: none outside none; overflow: hidden; position: absolute; top: 2px; width: 34px; }
#smac div { height: 14px; position: relative; width: 15px; }
#smap { float: left; }
#sman { float: right; }
