html { color: rgb(0, 0, 0); background-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
fieldset, img { border: 0pt none; }
body { margin: 0pt; padding: 0pt; }
.bd-logo, .bd-logo2, .bd-logo3, .bd-logo4 { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0pt; right: 0pt; z-index: 2147483647; }
.bd-logo { height: 18px; width: 18px; background: url('bg.png') no-repeat scroll 0pt 0pt transparent; }
.bd-logo:hover { background-position: -70px 0pt; }
.loader { text-align: center; width: 90%; font-size: 12px; padding: 8px; border: 1px solid rgb(170, 170, 170); margin-top: 30px; display: none; }
.container { padding: 0px; border-style: solid; border-width: 0px; border-color: rgb(255, 255, 255); width: 468px; height: 60px; background-color: rgb(255, 255, 255); position: relative; overflow: hidden; float: none; text-align: center; }
.item { padding: 0px; width: 468px; height: 60px; float: left; overflow: hidden; text-align: left; }
.image { padding: 0px; width: 468px; height: 60px; float: left; overflow: hidden; }
.image a { height: 60px; }
