body { font-family: helvetica,arial,san-serif; }
table { border-color: rgb(153, 153, 153); border-collapse: collapse; margin-top: 0.5em; }
th { background-color: rgb(187, 187, 187); color: rgb(0, 0, 0); }
td, th { padding: 0.25em; }
