/* ::::: http://web.psung.name/emacs/emacs.css ::::: */

a:link { color: rgb(0, 0, 204); }
a:visited { color: rgb(0, 0, 204); }
body { font-family: sans-serif; width: 880px; }
h1 { font-size: x-large; }
h2 { font-size: large; border-bottom: 1px solid rgb(102, 102, 102); padding-top: 1.5em; }
tt { font-weight: bold; }
