#abg { font-family: arial,sans-serif; font-size: 12px; color: rgb(0, 0, 0); white-space: nowrap; font-weight: bold; }
.al { font-family: arial,sans-serif; font-size: 11px; line-height: 14px; white-space: nowrap; }
.al .alt, .al a { color: rgb(255, 255, 0); font-weight: normal; text-decoration: underline; white-space: nowrap; }
