/* ::::: http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic ::::: */

@font-face {
  font-family: "OFL Sorts Mill Goudy TT";  font-style: normal;  font-weight: 400;  src: local("OFL Sorts Mill Goudy TT"), local("OFLGoudyStMTT"), url('9zzvvbrccennpbxqwlh8inc5-fygmom9n-sazqustdy.woff') format("woff");}
@font-face {
  font-family: "OFL Sorts Mill Goudy TT";  font-style: italic;  font-weight: 400;  src: local("OFL Sorts Mill Goudy TT Italic"), local("OFLGoudyStMTT-Italic"), url('4zlbkwdiblhtyaxv3yyok1map0k-03pf3ikr-tplv18_bniuymz_hd58qnx2bu5m.woff') format("woff");}
/* ::::: http://stevelosh.com/media/css/aal.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, section, article, aside, footer { border: 0pt none; margin: 0pt; outline: 0pt none; padding: 0pt; background: none repeat scroll 0% 0% transparent; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
header, nav, section, article, aside, footer { display: block; }
html { overflow-y: scroll; }
body { background: none repeat scroll 0% 0% rgb(253, 253, 253); color: rgb(53, 53, 53); font: 18px/25px Palatino,"Palatino Linotype",serif; text-rendering: optimizelegibility; }
html > body { font-size: 18px; line-height: 25px; }
img { display: inline-block; vertical-align: bottom; }
h1, h2, h3, h4, h5, h6, strong, b, dt, th { font-weight: 700; }
address, cite, em, i, caption, dfn, var { font-style: italic; }
h1 { font-size: 45px; line-height: 50px; margin: 25px 0pt; }
h2 { font-size: 32px; line-height: 50px; margin: 25px 0pt; }
h3 { font-size: 23px; line-height: 25px; margin: 25px 0pt; }
p, ul, ol, dl, blockquote, pre { margin: 0pt 0pt 25px; }
li ul, li ol { margin: 0pt; }
ul { list-style: disc outside none; }
li { margin: 0pt 0pt 0pt 44px; }
a { text-decoration: underline; }
a:hover { text-decoration: none; }
tt, code, kbd, samp, pre { font-size: 14px; line-height: 25px; font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
.group:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
/* ::::: http://stevelosh.com/media/css/sjl.css ::::: */

html { overflow-y: scroll; }
body { text-rendering: optimizelegibility; color: rgb(34, 34, 34); position: relative; }
body a { text-decoration: none; color: rgb(229, 0, 83); }
body a:hover { text-decoration: underline; }
body h1, body h2, body h3, body h4, body h5, body h6 { font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif; font-weight: normal; }
body h1 a, body h2 a, body h3 a, body h4 a, body h5 a, body h6 a { color: rgb(34, 34, 34); }
body h1 a:hover, body h2 a:hover, body h3 a:hover, body h4 a:hover, body h5 a:hover, body h6 a:hover { color: rgb(229, 0, 83); text-decoration: none; }
body h1 { font-size: 45px; line-height: 50px; margin: 25px 0pt; }
body h2 { font-size: 32px; line-height: 50px; margin: 25px 0pt; }
body h3 { font-size: 23px; line-height: 25px; margin: 25px 0pt; }
body code, body pre { font-family: Consolas,Menlo,"Courier New",monospace; font-size: 14px; }
body .codehilite code, body .codehilite pre { font-family: Consolas,Menlo,"Courier New",monospace; font-size: 16px; line-height: 25px; overflow-x: auto; border-width: 1px 1px 1px 10px; border-style: solid; border-color: rgb(213, 213, 213); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background-color: rgb(250, 250, 250); padding: 11px 15px 12px; margin-left: -25px; }
body p code, body li code, body table code { border: 1px solid rgb(204, 204, 204); background-color: rgb(250, 250, 250); font-size: 13px; padding: 1px 3px; line-height: 20px; margin: 0pt; white-space: nowrap; }
body .wrap { width: 612px; margin: 0pt auto 5em; }
body .wrap .top header { float: left; font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif; font-size: 23px; line-height: 50px; text-transform: lowercase; padding-left: 2px; width: 210px; }
body .wrap .top header a { color: rgb(34, 34, 34); }
body .wrap .top header a:hover { color: rgb(229, 0, 83); }
body .wrap .top nav { font: 18px/50px 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif; text-align: right; text-transform: lowercase; padding-right: 2px; width: 398px; float: left; }
body .wrap .top nav .sep { padding: 0pt 4px; color: rgb(102, 102, 102); }
body .wrap .hr { margin-top: -12px; margin-bottom: 37px; height: 25px; background: url('hr.png') no-repeat scroll left top transparent; }
body .wrap .hrb { height: 25px; margin-top: 50px; background: url('hrb.png') no-repeat scroll left top transparent; }
body .wrap footer { text-align: center; }
body .wrap footer p { font-size: 14px; font-style: italic; line-height: 50px; margin-bottom: 0px; }
body .wrap footer .rochester-made img { opacity: 0.7; padding: 5px 20px; }
.section-listing ol li:nth-child(2n+1) { margin-right: 25px; }
.section-listing ol li:nth-child(2n) { margin-left: 25px; }
span.dquo { margin-left: -0.23em; }
#leaf-stats p { color: rgb(102, 102, 102); margin-top: -22px; margin-bottom: 22px; }
#leaf-content img { display: block; margin: 25px auto 26px; border: 11px solid rgb(229, 229, 229); padding: 1px; background: none repeat scroll 0% 0% black; max-width: 590px; }
#leaf-content .toc ul { list-style: none outside none; }
#leaf-content .toc ul:first-child > li { margin-left: 0em; }
.print-links { display: none; }
#scrolling-header { color: rgb(153, 153, 153); font: italic 23px/30px 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT',serif; position: fixed; top: 75px; text-align: right; width: 180px; }
.flattr { float: right; padding-top: 1px; }
/* ::::: http://stevelosh.com/media/css/pygments-monokai-light.css ::::: */

.codehilite .k { color: rgb(0, 168, 200); }
.codehilite .p { color: rgb(17, 17, 17); }
.codehilite .m { color: rgb(174, 129, 255); }
.codehilite .s { color: rgb(216, 130, 0); }
.codehilite .na { color: rgb(117, 175, 0); }
.codehilite .nb { color: rgb(17, 17, 17); }
.codehilite .nt { color: rgb(249, 38, 114); }
.codehilite .s2 { color: rgb(216, 130, 0); }
.codehilite .sr { color: rgb(216, 130, 0); }
.codehilite .s1 { color: rgb(216, 130, 0); }
