/* ::::: http://web.psung.name/psung.css ::::: */

body { background-color: rgb(178, 185, 131); margin: 0pt; }
div.content { border: 3px solid rgb(77, 98, 41); padding: 1em; margin: 1em 1em 1em 12em; background-color: rgb(255, 252, 224); }
div.content > h1:first-child { margin-top: 0pt; }
h1 { font-size: large; font-family: sans-serif; }
a:link { color: rgb(56, 48, 221); }
a:visited { color: rgb(42, 42, 102); }
