/* ::::: https://github.global.ssl.fastly.net/assets/github-03d7d0e461f220686789f46ba4d419b5ab596104.css ::::: */

.container { width: 980px; margin-left: auto; margin-right: auto; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
audio:not([controls]) { display: none; height: 0pt; }
html { font-family: sans-serif; }
body { margin: 0pt; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0pt none; }
h1 { font-size: 2em; margin: 0.67em 0pt; }
b, strong { font-weight: bold; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
img { border: 0pt none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0pt; }
button, input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { padding: 0pt; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
textarea { overflow: auto; vertical-align: top; }
h1, h2, h3, h4, h5, h6 { margin-top: 15px; margin-bottom: 15px; line-height: 1.1; }
h1 { font-size: 30px; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
ul, ol { padding: 0pt; margin-top: 0pt; margin-bottom: 0pt; }
tt, code, pre { font-family: Consolas,"Liberation Mono",Courier,monospace; font-size: 12px; }
pre { margin-top: 0pt; margin-bottom: 0pt; }
label, input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { font-size: 13px; }
input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { min-height: 34px; padding: 7px 8px; outline: medium none; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-position: right center; border: 1px solid rgb(204, 204, 204); border-radius: 3px 3px 3px 3px; box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.075) inset; vertical-align: middle; }
input.focus[type="text"], #adv_code_search .focus.search-page-label, input[type="text"]:focus, .focused .drag-and-drop, #adv_code_search .search-page-label:focus, input.focus[type="password"], input[type="password"]:focus, input.focus[type="email"], input[type="email"]:focus, input.focus[type="number"], input[type="number"]:focus, input.focus[type="tel"], input[type="tel"]:focus, input.focus[type="url"], input[type="url"]:focus, textarea.focus, textarea:focus { border-color: rgb(81, 167, 232); box-shadow: 0pt 1px 2px rgba(0, 0, 0, 0.075) inset, 0pt 0pt 5px rgba(81, 167, 232, 0.5); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
  .form-cards > .cards .card { background-image: url('credit-cards-@2x.png'); background-size: 300px 31px; }
}
.tabnav { margin: 0pt 0pt 15px; border-bottom: 1px solid rgb(221, 221, 221); }
.tabnav .tabnav-tabs { display: inline-block; }
.tabnav .tabnav-tabs > li { display: inline-block; margin-bottom: -1px; }
.tabnav-tab { display: inline-block; padding: 8px 12px 7px; border-width: 1px 1px 0pt; border-style: solid solid none; border-color: transparent transparent -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; font-size: 14px; line-height: 20px; color: rgb(102, 102, 102); text-decoration: none; }
.tabnav-tab:hover { text-decoration: none; }
.tabnav-right { position: relative; display: block; float: right; }
.tabnav-widget { display: inline-block; vertical-align: top; }
table.capped-list tr:nth-child(2n) { background-color: rgb(252, 252, 252); }
.traffic-graph .x.axis .tick:nth-child(14) line { stroke: rgb(29, 127, 179); stroke-width: 2px; }
.markdown-body { font-size: 15px; line-height: 1.7; overflow: hidden; word-wrap: break-word; }
.markdown-body > :first-child { margin-top: 0pt ! important; }
.markdown-body > :last-child { margin-bottom: 0pt ! important; }
.markdown-body a.anchor { display: block; padding-right: 6px; padding-left: 30px; margin-left: -30px; cursor: pointer; position: absolute; top: 0pt; left: 0pt; bottom: 0pt; }
.markdown-body a.anchor:focus { outline: medium none; }
.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 { margin: 1em 0pt 15px; padding: 0pt; font-weight: bold; line-height: 1.7; cursor: text; position: relative; }
.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link { display: none; color: rgb(0, 0, 0); }
.markdown-body h1:hover a.anchor, .markdown-body h2:hover a.anchor, .markdown-body h3:hover a.anchor, .markdown-body h4:hover a.anchor, .markdown-body h5:hover a.anchor, .markdown-body h6:hover a.anchor { text-decoration: none; line-height: 1; padding-left: 8px; margin-left: -30px; top: 15%; }
.markdown-body h1:hover a.anchor .octicon-link, .markdown-body h2:hover a.anchor .octicon-link, .markdown-body h3:hover a.anchor .octicon-link, .markdown-body h4:hover a.anchor .octicon-link, .markdown-body h5:hover a.anchor .octicon-link, .markdown-body h6:hover a.anchor .octicon-link { display: inline-block; }
.markdown-body h1 { font-size: 2.5em; border-bottom: 1px solid rgb(221, 221, 221); }
.markdown-body h2 { font-size: 2em; border-bottom: 1px solid rgb(238, 238, 238); }
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre { margin: 15px 0pt; }
.markdown-body ul, .markdown-body ol { padding-left: 30px; }
.markdown-body blockquote > :first-child { margin-top: 0px; }
.markdown-body blockquote > :last-child { margin-bottom: 0px; }
.markdown-body table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
.markdown-body .highlight pre, .markdown-body pre { background-color: rgb(248, 248, 248); border: 1px solid rgb(221, 221, 221); font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px 3px 3px 3px; }
.markdown-body pre { word-wrap: normal; }
.button, .minibutton { position: relative; display: inline-block; padding: 7px 12px; font-size: 13px; font-weight: bold; color: rgb(51, 51, 51); text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.898); white-space: nowrap; background-color: rgb(238, 238, 238); background-image: -moz-linear-gradient(rgb(252, 252, 252), rgb(238, 238, 238)); background-repeat: repeat-x; border-radius: 3px 3px 3px 3px; border: 1px solid rgb(213, 213, 213); vertical-align: middle; cursor: pointer; -moz-user-select: none; }
.button:focus, .minibutton:focus { outline: medium none; text-decoration: none; border-color: rgb(81, 167, 232); box-shadow: 0pt 0pt 5px rgba(81, 167, 232, 0.5); }
.button:hover, .button:active, .button.zeroclipboard-is-hover, .button.zeroclipboard-is-active, .minibutton:hover, .minibutton:active, .minibutton.zeroclipboard-is-hover, .minibutton.zeroclipboard-is-active { text-decoration: none; background-color: rgb(221, 221, 221); background-image: -moz-linear-gradient(rgb(238, 238, 238), rgb(221, 221, 221)); background-repeat: repeat-x; border-color: rgb(204, 204, 204); }
.button:active, .button.selected, .button.selected:hover, .button.zeroclipboard-is-active, .minibutton:active, .minibutton.selected, .minibutton.selected:hover, .minibutton.zeroclipboard-is-active { background-color: rgb(220, 220, 220); background-image: none; border-color: rgb(181, 181, 181); box-shadow: 0pt 2px 4px rgba(0, 0, 0, 0.15) inset; }
.button:disabled, .button:disabled:hover, .button.disabled, .button.disabled:hover, .minibutton:disabled, .minibutton:disabled:hover, .minibutton.disabled, .minibutton.disabled:hover { color: rgba(102, 102, 102, 0.5); text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.898); background-image: none; background-color: rgba(229, 229, 229, 0.5); border-color: rgba(197, 197, 197, 0.5); cursor: default; box-shadow: none; }
.button.primary, .minibutton.primary { color: rgb(255, 255, 255); text-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.25); background-color: rgb(96, 176, 68); background-image: -moz-linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68)); background-repeat: repeat-x; border-color: rgb(92, 169, 65); }
.button.primary:hover, .minibutton.primary:hover { color: rgb(255, 255, 255); background-color: rgb(86, 158, 61); background-image: -moz-linear-gradient(rgb(121, 216, 88), rgb(86, 158, 61)); background-repeat: repeat-x; border-color: rgb(74, 153, 62); }
.button.primary:active, .button.primary.selected, .minibutton.primary:active, .minibutton.primary.selected { background-color: rgb(86, 158, 61); background-image: none; border-color: rgb(65, 135, 55); }
.button.primary:disabled, .button.primary:disabled:hover, .button.primary.disabled, .button.primary.disabled:hover, .minibutton.primary:disabled, .minibutton.primary:disabled:hover, .minibutton.primary.disabled, .minibutton.primary.disabled:hover { color: rgb(254, 254, 254); text-shadow: 0pt -1px 0pt rgba(39, 39, 39, 0.25); background-color: rgb(173, 211, 159); background-image: -moz-linear-gradient(rgb(195, 236, 180), rgb(173, 211, 159)); background-repeat: repeat-x; border-color: rgb(185, 220, 172) rgb(185, 220, 172) rgb(167, 200, 155); }
.button.with-count, .minibutton.with-count { border-top-right-radius: 0pt; border-bottom-right-radius: 0pt; float: left; }
.minibutton { padding: 0pt 10px; line-height: 24px; box-shadow: none; }
input[type="text"] + .minibutton { margin-left: 5px; }
.minibutton .octicon { vertical-align: middle; margin-top: -1px; margin-right: 6px; -moz-transition: none 0s ease 0s ; }
.minibutton.zeroclipboard-button .octicon { margin-right: 0pt; }
.social-count { padding: 0pt 7px; font-size: 11px; font-weight: bold; float: left; background-color: rgb(255, 255, 255); line-height: 24px; color: rgb(51, 51, 51); vertical-align: middle; border-width: 1px 1px 1px 0pt; border-style: solid solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
.social-count:hover { color: rgb(65, 131, 196); cursor: pointer; text-decoration: none; }
.flash, .flash-global { position: relative; border: 1px solid rgb(151, 193, 218); color: rgb(38, 76, 114); background-color: rgb(208, 227, 239); background-image: -moz-linear-gradient(rgb(216, 235, 248), rgb(208, 227, 239)); background-repeat: repeat-x; text-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.5); }
.flash.flash-error, .flash-global.flash-error { color: rgb(153, 17, 17); background-color: rgb(239, 208, 208); background-image: -moz-linear-gradient(rgb(248, 216, 216), rgb(239, 208, 208)); background-repeat: repeat-x; border-color: rgb(218, 151, 151); }
.flash:hover, .flash-global:hover { border-color: rgb(95, 159, 198); }
.flash.flash-error:hover, .flash-global.flash-error:hover { border-color: rgb(198, 95, 95); }
.flash { padding: 15px; border-radius: 3px 3px 3px 3px; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.1); }
.flash .close { float: right; cursor: pointer; opacity: 0.6; text-decoration: none; margin-top: 1px; }
.flash:hover .close { opacity: 1; }
@font-face {
  font-family: "octicons";  font-style: normal;  font-weight: normal;  src: url('octicons-d014e51542f9c7898a6e803ee79e714a05d2fa9e.eot') format("embedded-opentype"), url('octicons-60ea98c9292f725220220d571a41aa049165053c.woff') format("woff"), url('octicons-aa678f53582c51b4a6165519f3627d3c41763c94.ttf') format("truetype"), url('octicons-cdc456dbc5906e59b8c4d1c649a4b734fb0fd97b.svg') format("svg");}
.octicon { font: 16px/1 octicons; display: inline-block; text-decoration: none; }
.mega-octicon { font: 32px/1 octicons; display: inline-block; text-decoration: none; }
.octicon-alert:before { content: ""; }
.octicon-book:before { content: ""; }
.octicon-check:before { content: ""; }
.octicon-clippy:before { content: ""; }
.octicon-cloud-download:before { content: ""; }
.octicon-code:before { content: ""; }
.octicon-color-mode:before { content: ""; }
.octicon-eye-unwatch:before { content: ""; }
.octicon-eye-watch:before { content: ""; }
.octicon-git-branch:before { content: ""; }
.octicon-git-branch-create:before { content: ""; }
.octicon-git-pull-request:before { content: ""; }
.octicon-graph:before { content: ""; }
.octicon-issue-opened:before { content: ""; }
.octicon-link:before { content: ""; }
.octicon-log-out:before { content: ""; }
.octicon-mark-github:before { content: ""; }
.octicon-mute:before { content: ""; }
.octicon-organization:before { content: ""; }
.octicon-plus:before { content: ""; }
.octicon-pulse:before { content: ""; }
.octicon-question:before { content: ""; }
.octicon-remove-close:before { content: ""; }
.octicon-repo:before { content: ""; }
.octicon-repo-create:before { content: ""; }
.octicon-screen-normal:before { content: ""; }
.octicon-star:before { content: ""; }
.octicon-star-delete:before { content: ""; }
.octicon-tools:before { content: ""; }
body, input, select, textarea, button { font: 13px/1.4 Helvetica,arial,freesans,clean,sans-serif; }
body { min-width: 1020px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
* { -moz-box-sizing: border-box; }
*::-moz-selection { text-shadow: none; background: none repeat scroll 0% 0% rgba(65, 131, 196, 0.4); }
a { color: rgb(65, 131, 196); text-decoration: none; }
a:hover { text-decoration: underline; }
a:focus, a:active { text-decoration: underline; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.right { float: right; }
.hidden { display: none; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
  .branch-action-body .spinner { background-image: url('octocat-spinner-64.gif'); background-size: 32px 32px; }
}
table.branches tr.base a:not(.status) { color: rgb(255, 255, 255); }
.starring-container .unstarred, .starring-container.on .starred { display: inline-block; }
.starring-container.on .unstarred, .starring-container .starred { display: none; }
@media only screen and (max-width: 1155px) {
  .slide-left, .slide-right { display: none; }
}
.commit-group-item:nth-child(2n+1) { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.commit-group-item:nth-child(2n+1) .gobutton { border-color: rgb(213, 220, 223); background-color: rgb(227, 234, 237); background-image: -moz-linear-gradient(rgb(242, 245, 246), rgb(227, 234, 237)); background-repeat: repeat-x; }
.page-context-loader { margin-left: 10px; display: none; }
.explore-section:nth-child(2n) { background: none repeat scroll 0% 0% rgb(249, 249, 249); }
.explore-section:nth-child(2n) .repo-collection > ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.explore-section:nth-child(2n+1):last-child { border-bottom: 0pt none; padding-bottom: 0pt; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
  .facebox-loading { background-image: url('octocat-spinner-128.gif'); background-size: 64px 64px; }
}
.site-footer { position: relative; margin-top: 40px; padding-top: 40px; padding-bottom: 40px; font-size: 12px; line-height: 1.5; color: rgb(119, 119, 119); border-top: 1px solid rgb(238, 238, 238); }
.site-footer:before, .site-footer:after { content: " "; display: table; }
.site-footer:after { clear: both; }
.site-footer .octicon-mark-github { position: absolute; top: 38px; left: 50%; height: 24px; width: 24px; margin-left: -12px; font-size: 24px; color: rgb(204, 204, 204); }
.site-footer .octicon-mark-github:hover { color: rgb(187, 187, 187); }
.site-footer-links { float: left; margin: 0pt; list-style: none outside none; }
.site-footer-links.right { float: right; }
.site-footer-links li { display: inline-block; line-height: 16px; }
.site-footer-links li + li { margin-left: 10px; }
.header { text-shadow: 0pt 1px 0pt rgb(255, 255, 255); border-bottom: 1px solid rgb(229, 229, 229); min-width: 1000px; }
.header-logged-in { background-color: rgb(243, 243, 243); background-image: -moz-linear-gradient(rgb(249, 249, 249), rgb(243, 243, 243)); background-repeat: repeat-x; }
.header-logo-invertocat { float: left; padding: 8px 10px 6px; margin-left: -10px; margin-right: 5px; color: rgb(51, 51, 51); white-space: nowrap; }
.header-logo-invertocat .octicon-mark-github { float: left; width: 24px; height: 25px; font-size: 25px; }
.header-logo-invertocat:hover { color: rgb(65, 131, 196); text-decoration: none; }
.notification-indicator { float: left; width: 42px; height: 100%; margin-right: 15px; text-align: center; line-height: 40px; padding-left: 1px; border-left: 1px solid rgb(229, 229, 229); border-right: 1px solid rgb(229, 229, 229); box-shadow: 1px 0pt 0pt rgba(255, 255, 255, 0.15) inset, 1px 0pt 0pt rgba(255, 255, 255, 0.15); }
.notification-indicator .mail-status { display: inline-block; width: 8px; height: 8px; border-radius: 100px 100px 100px 100px; background-color: rgb(204, 204, 204); background-image: -moz-linear-gradient(rgb(170, 170, 170), rgb(204, 204, 204)); background-repeat: repeat-x; box-shadow: 0pt 1px 0pt rgba(0, 0, 0, 0.1) inset, 0pt 1px 0pt rgb(255, 255, 255); }
.notification-indicator:hover .mail-status { background-color: rgb(187, 187, 187); background-image: -moz-linear-gradient(rgb(153, 153, 153), rgb(187, 187, 187)); background-repeat: repeat-x; }
.notification-indicator .unread { background-color: rgb(50, 105, 160); background-image: -moz-linear-gradient(rgb(65, 131, 196), rgb(50, 105, 160)); background-repeat: repeat-x; box-shadow: 0pt 1px 0pt rgba(255, 255, 255, 0.15) inset, 0pt 1px 0pt rgba(0, 0, 0, 0.1), 0pt 0pt 10px rgb(65, 131, 196); }
.notification-indicator:hover .unread { background-color: rgb(44, 93, 141); background-image: -moz-linear-gradient(rgb(56, 118, 180), rgb(44, 93, 141)); background-repeat: repeat-x; }
.top-nav { float: left; list-style: none outside none; }
.top-nav > li { float: left; }
.top-nav > li + li { margin-left: 5px; }
.top-nav > li > a { display: block; padding: 5px; font-size: 13px; font-weight: bold; color: rgb(51, 51, 51); }
.top-nav > li > a:hover { color: rgb(65, 131, 196); text-decoration: none; }
.dropdown-menu { position: absolute; top: 100%; left: 50%; z-index: 100; float: left; width: 180px; list-style: none outside none; margin: 2px 0pt 0pt -90px; padding-top: 7px; padding-bottom: 7px; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 5px 5px 5px 5px; box-shadow: 0pt 3px 12px rgba(0, 0, 0, 0.15); }
.dropdown-menu:before { content: ""; display: inline-block; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid rgba(0, 0, 0, 0.15); position: absolute; top: -8px; left: 82px; }
.dropdown-menu:after { content: ""; display: inline-block; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid rgb(255, 255, 255); position: absolute; top: -7px; left: 83px; }
.new-menu.js-menu-container .js-menu-content { display: none; }
.dropdown-menu > li.section-title { padding-left: 10px; padding-top: 10px; padding-bottom: 5px; font-weight: bold; font-size: 12px; }
.dropdown-menu > li > a { display: block; padding: 4px 10px 4px 38px; color: rgb(51, 51, 51); }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a.zeroclipboard-is-hover { color: rgb(255, 255, 255); text-decoration: none; text-shadow: none; background-color: rgb(65, 131, 196); }
.dropdown-menu > li > a > .octicon { float: left; margin-top: 1px; margin-left: -23px; color: rgb(85, 85, 85); }
.dropdown-menu > li > a:hover > .octicon, .dropdown-menu > li > a.zeroclipboard-is-hover > .octicon { color: rgb(255, 255, 255); }
.dropdown-toggle { position: relative; }
.dropdown-arrow { content: ""; display: inline-block; width: 0pt; height: 0pt; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid rgb(51, 51, 51); vertical-align: middle; }
#user-links > li .dropdown-arrow { margin-top: -5px; }
#user-links > li > a:hover .dropdown-arrow, #user-links > .dropdown-toggle.open > a .dropdown-arrow { border-top-color: rgb(65, 131, 196); }
#user-links { float: right; margin: 7px 0pt 0pt; padding: 0pt; list-style: none outside none; }
#user-links > li { position: relative; float: left; margin-left: 5px; }
#user-links > li > a { display: block; padding: 5px; font-size: 13px; color: rgb(51, 51, 51); }
#user-links > li > a:hover, #user-links > li > a:focus { color: rgb(65, 131, 196); text-decoration: none; }
#user-links .name { font-weight: bold; line-height: 16px; white-space: nowrap; }
#user-links .name img { float: left; margin: -2px 5px 0pt 0pt; border-radius: 3px 3px 3px 3px; box-shadow: 0pt 1px 0pt rgb(255, 255, 255); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
  .form-signup-home dl.is-loading:after { background-image: url('octocat-spinner-32_001.gif'); background-size: 16px 16px; }
}
/* ::::: https://github.global.ssl.fastly.net/assets/github2-d4ade64d02bd38f5f6d8e8023ad1ceca55924eb2.css ::::: */

#ajax-error-message { display: none; position: fixed; top: -200px; left: 50%; width: 914px; z-index: 9999; margin: 0pt 3px 0pt -457px; }
#ajax-error-message > .octicon-alert { vertical-align: text-top; }
.capped-card:nth-child(2n+1) { margin-left: 0pt; }
.capped-card:nth-child(2n) { margin-right: 0pt; }
.command-bar { position: relative; float: left; margin-top: 6px; margin-bottom: 6px; }
.command-bar .command-bar-form { position: relative; z-index: 95; width: 220px; }
.command-bar input[type="text"] { position: relative; width: 100%; min-height: 28px; padding: 4px 20px 4px 8px; font-size: 12px; }
.command-bar:not(.command-bar-focus) input[type="text"] { border-color: rgb(221, 221, 221); background: none repeat scroll 0% 0% rgb(252, 252, 252); box-shadow: 1px 1px 0pt rgb(255, 255, 255); }
.command-bar .help { position: absolute; top: 0pt; bottom: 0pt; right: 10px; width: 12px; height: auto; line-height: 24px; z-index: 96; color: rgb(153, 153, 153); }
.command-bar .octicon-question { font-size: 12px; cursor: pointer; }
.command-bar.in-repository .command-bar-form { width: 340px; }
.command-bar.in-repository input[type="text"] { padding-left: 123px; }
.command-bar.in-repository .search-context-select-menu { text-shadow: none; }
.command-bar.in-repository .search-context-select-menu .select-menu-button { position: absolute; top: 1px; left: 1px; margin: 0pt; width: 118px; height: 26px; padding-right: 7px; line-height: 26px; font-size: 11px; border-width: medium 1px medium medium; border-style: none solid none none; border-color: -moz-use-text-color rgb(221, 221, 221) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-radius: 2px 0pt 0pt 2px; background-color: rgb(244, 244, 244); background-image: -moz-linear-gradient(rgb(248, 248, 248), rgb(244, 244, 244)); background-repeat: repeat-x; box-shadow: none; }
.command-bar.in-repository .search-context-select-menu .select-menu-button:hover, .command-bar.in-repository .search-context-select-menu .select-menu-button.selected { background-color: rgb(228, 228, 228); background-image: -moz-linear-gradient(rgb(232, 232, 232), rgb(228, 228, 228)); background-repeat: repeat-x; }
.command-bar.in-repository .search-context-select-menu .select-menu-button:before { top: 11px; border-color: rgb(153, 153, 153) transparent transparent; }
.command-bar.in-repository .search-context-select-menu .select-menu-modal { width: 150px; }
.header-logged-in .command-bar .top-nav { position: absolute; top: 0pt; left: 230px; width: 211px; opacity: 1; z-index: 1; }
.header-logged-in .in-repository .top-nav { left: 350px; }
.features-next .features-section:nth-child(2n) { background-color: rgb(245, 245, 245); }
#fork-select .target:not(.disabled) { cursor: pointer; font-weight: bold; }
#fork-select .target:not(.disabled) img { opacity: 1; }
#fork-select .target:hover:not(.disabled) { background-color: rgb(221, 233, 244); color: rgb(65, 131, 196); border-color: rgb(65, 131, 196); }
#fork-select .target:active:not(.disabled) { color: rgb(38, 80, 121); background-color: rgb(143, 182, 220); }
.fullscreen-overlay { display: none; position: fixed; top: 0pt; bottom: 0pt; left: 0pt; right: 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-shadow: none; z-index: 1000; }
.fullscreen-overlay .fullscreen-container { max-width: 800px; height: 100%; margin: 0pt auto; padding: 30px 0pt; }
.fullscreen-overlay .textarea-wrap { width: 100%; height: 100%; position: relative; }
.fullscreen-overlay textarea { width: 100%; height: 100%; padding: 20px; border: 0pt none; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(153, 153, 153); font-size: 21px; line-height: 1.6em; resize: none; box-shadow: none; }
.fullscreen-overlay textarea:focus, .fullscreen-overlay textarea:hover { outline: medium none; color: rgb(51, 51, 51); }
.fullscreen-overlay .fullscreen-sidebar { position: absolute; top: 30px; right: 30px; text-align: right; z-index: 1002; }
.fullscreen-overlay .fullscreen-sidebar .exit-fullscreen, .fullscreen-overlay .fullscreen-sidebar .fullscreen-info, .fullscreen-overlay .fullscreen-sidebar .theme-switcher { color: rgb(179, 179, 179); float: right; clear: right; margin-bottom: 15px; }
.fullscreen-overlay .fullscreen-sidebar .exit-fullscreen:hover, .fullscreen-overlay .fullscreen-sidebar .fullscreen-info:hover, .fullscreen-overlay .fullscreen-sidebar .theme-switcher:hover { color: rgb(51, 51, 51); text-shadow: 0pt 0pt 10px rgb(255, 255, 255); }
.fullscreen-overlay .fullscreen-sidebar .theme-switcher { margin-right: 8px; }
#gollum-footer { font-size: 12px; line-height: 19px; }
#gollum-footer #last-edit { color: rgb(153, 153, 153); margin: 10px 0pt 0pt; }
.oauth-permissions-details.default:not(.delete) .no-access, .oauth-permissions-details.default:not(.delete) .default-access, .oauth-permissions-details.none .no-access, .oauth-permissions-details.none .default-access { display: inline; }
.oauth-permissions-details.default:not(.delete) .access-details, .oauth-permissions-details.default:not(.delete) .permission-title, .oauth-permissions-details.none .access-details, .oauth-permissions-details.none .permission-title { color: rgb(153, 153, 153); }
.oauth-permissions-details.default:not(.delete) .mega-octicon, .oauth-permissions-details.none .mega-octicon { color: rgb(204, 204, 204); }
@media only screen and (max-width: 1155px) {
  .team-header .label-permissions { position: static; margin-bottom: 10px; }
}
.pagehead { position: relative; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid rgb(238, 238, 238); }
.pagehead ul.pagehead-actions { margin: 0pt; float: right; z-index: 21; }
.pagehead h1 { margin-top: 0pt; margin-bottom: 0pt; font-size: 20px; font-weight: normal; line-height: 28px; }
.pagehead h1 strong { font-weight: bold; }
.pagehead h1 a { color: rgb(65, 131, 196); white-space: nowrap; }
.pagehead.repohead h1 { color: rgb(102, 102, 102); padding-left: 34px; position: relative; float: left; }
.pagehead.repohead h1 .octicon-lock, .pagehead.repohead h1 .octicon-mirror-private, .pagehead.repohead h1 .octicon-repo, .pagehead.repohead h1 .octicon-mirror-public, .pagehead.repohead h1 .octicon-repo-forked { position: absolute; left: 0pt; top: 12px; line-height: 32px; margin-top: -13px; }
.pagehead.repohead h1 .octicon-lock:before, .pagehead.repohead h1 .octicon-mirror-private:before, .pagehead.repohead h1 .octicon-repo:before, .pagehead.repohead h1 .octicon-mirror-public:before, .pagehead.repohead h1 .octicon-repo-forked:before { color: rgb(187, 187, 187); }
.pagehead.repohead span.repo-label { position: absolute; top: 15px; left: -75px; width: 65px; margin-top: -14px; text-align: right; font-size: 11px; text-transform: uppercase; color: rgb(185, 185, 185); font-weight: 300; text-shadow: none; }
@media only screen and (max-width: 1155px) {
  .pagehead.repohead span.repo-label { opacity: 0; }
}
.pagehead-actions > li { list-style-type: none; font-size: 11px; color: rgb(51, 51, 51); margin: 0pt 10px 0pt 0pt; float: left; }
.pagehead-actions > li:last-child { margin-right: 0pt; }
.pagehead-actions .octicon-mute { color: rgb(204, 0, 0); }
@media not all, screen and (max--moz-device-pixel-ratio: 2) {
  .context-loader { background-color: rgb(238, 238, 238); background-image: url('octocat-spinner-32-eaf2f5.gif'); background-repeat: no-repeat; background-attachment: scroll; background-position: 10px 50%; background-clip: border-box; background-origin: padding-box; background-size: 16px auto; }
}
@media not all, screen and (max--moz-device-pixel-ratio: 2) {
  .pagination.ajax_paginate.loading a { background-image: url('octocat-spinner-32_001.gif'); background-size: 16px auto; }
}
.hide-line-numbers .diff-line-num:not(.expandable-line-num):before { content: attr(data-line-number); }
.uploaded-files > li.delete:nth-child(2) { border-top-right-radius: 4px; border-top-left-radius: 4px; }
.uploaded-files > li:nth-child(2) { border-top: medium none; }
.render-container.is-render-ready.is-render-requested:not(.is-render-failed) { background: none repeat scroll 0% 0% transparent; height: 500px; padding: 0pt; }
.render-container.is-render-ready.is-render-requested:not(.is-render-failed) .render-viewer { display: block; }
.render-container.is-render-ready.is-render-requested:not(.is-render-failed) :not(.render-viewer) { display: none; }
.render-container.is-render-requested.is-render-failed > :not(.render-viewer-error) { display: none; }
.render-container.is-render-requested.is-render-failed-fatal > :not(.render-viewer-fatal) { display: none; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
  .more-repos-link.is-loading { background-image: url('octocat-spinner-32_001.gif'); background-size: 16px 16px; }
}
.repo-container { min-height: 345px; }
.repo-nav .counter { display: none; }
.repo-nav .full-word { display: none; }
.only-with-full-nav { display: none; }
.repository-with-sidebar:before, .repository-with-sidebar:after { content: " "; display: table; }
.repository-with-sidebar:after { clear: both; }
.repository-with-sidebar .repository-sidebar { float: right; width: 38px; }
.repository-with-sidebar .repository-sidebar .sidebar-button { margin: 0pt 0pt 10px; width: 100%; text-align: center; }
.repository-with-sidebar .repository-sidebar h3 { margin: 10px 0pt 5px; font-size: 11px; font-weight: normal; color: rgb(153, 153, 153); }
.repository-with-sidebar .repository-sidebar h3 > strong { font-weight: bold; color: rgb(0, 0, 0); }
.repository-with-sidebar .repository-sidebar .clone-url { display: none; overflow: hidden; margin-top: -5px; }
.repository-with-sidebar .repository-sidebar .clone-url.open { display: block; }
.repository-with-sidebar .repository-sidebar .clone-url-box { display: table; border-collapse: separate; }
.repository-with-sidebar .repository-sidebar input.clone { display: table-cell; width: 100%; white-space: nowrap; min-height: 26px; padding: 4px 5px; font-family: Monaco,"Liberation Mono",Courier,monospace; font-size: 11px; color: rgb(153, 153, 153); border-top-right-radius: 0pt; border-bottom-right-radius: 0pt; }
.repository-with-sidebar .repository-sidebar .url-box-clippy { display: table-cell; width: 1%; }
.repository-with-sidebar .repository-sidebar .clone-options { margin: 8px 0pt 15px; font-size: 11px; color: rgb(102, 102, 102); }
.repository-with-sidebar .repository-sidebar .clone-options .octicon-question { position: relative; bottom: 1px; font-size: 11px; cursor: pointer; color: rgb(0, 0, 0); }
.repository-with-sidebar .repository-content { float: left; width: 920px; }
.clone-url { display: table-cell; vertical-align: top; }
.url-box-clippy { border-radius: 0pt 3px 3px 0pt; border-left: 0pt none; margin-left: 0pt ! important; }
.pagehead.repohead .select-menu-button.with-count { float: none; }
.pagehead.repohead .select-menu .social-count { float: right; }
.pagehead.repohead .select-menu .select-menu-modal-holder { z-index: 25; }
.select-menu-button { padding-right: 25px; }
.select-menu-button .octicon { margin-right: 1px; }
.select-menu-button:before { position: absolute; top: 10px; right: 10px; display: block; width: 0pt; height: 0pt; content: ""; border-width: 4px; border-style: solid; border-color: -moz-use-text-color transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; }
.select-menu-modal-holder { position: absolute; display: none; z-index: 21; }
.select-menu-modal { position: relative; width: 300px; margin-top: 4px; margin-bottom: 20px; overflow: hidden; font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 5px 5px 5px 5px; box-shadow: 0pt 3px 12px rgba(0, 0, 0, 0.25); }
.select-menu-header { padding: 8px 10px; background-color: rgb(238, 238, 238); background-image: -moz-linear-gradient(rgb(250, 250, 250), rgb(238, 238, 238)); background-repeat: repeat-x; border-bottom: 1px solid rgb(221, 221, 221); }
.select-menu-header .select-menu-title { font-weight: bold; color: rgb(51, 51, 51); text-shadow: 0pt 1px 0pt rgb(255, 255, 255); }
.select-menu-header .octicon { display: block; float: right; color: rgb(204, 204, 204); cursor: pointer; }
.select-menu-header .octicon:hover { color: rgb(85, 85, 85); }
.select-menu-list { max-height: 400px; overflow: auto; position: relative; }
.select-menu-item { cursor: pointer; border-bottom: 1px solid rgb(238, 238, 238); display: table; table-layout: fixed; width: 100%; overflow: hidden; color: inherit; }
.select-menu-item:hover { text-decoration: none; }
.select-menu-item .octicon { color: rgb(51, 51, 51); }
.select-menu-item input[type="radio"] { display: none; }
.select-menu-item .select-menu-item-icon { display: table-cell; color: transparent; vertical-align: top; padding: 8px 0pt 8px 8px; width: 24px; text-align: center; }
.select-menu-item.select-menu-action, .select-menu-item.selected { color: rgb(51, 51, 51); }
.select-menu-item.select-menu-action .description, .select-menu-item.selected .description { color: rgb(102, 102, 102); }
.select-menu-item.select-menu-action > .octicon, .select-menu-item.selected > .octicon { color: rgb(51, 51, 51); }
.select-menu-item .hidden-select-button-text { display: none; }
.select-menu-item.last-visible, .select-menu-list:last-child .select-menu-item:last-child { border-bottom: 0pt none; border-radius: 0pt 0pt 3px 3px; }
.select-menu-item-text { display: table-cell; vertical-align: top; padding: 8px 0pt 8px 8px; text-align: left; }
.select-menu-item-text:first-child { margin-left: 5px; }
.select-menu-item-text .description { color: rgb(153, 153, 153); font-size: 11px; max-width: 265px; display: block; margin-top: 2px; margin-bottom: 2px; }
.select-menu-item-text h4 { margin-top: 0pt; margin-bottom: 0pt; }
.modal-backdrop { display: none; -moz-user-select: none; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, not all {
  .two-factor-graphic { background-image: url('2fa_guide@2x.png'); background-size: 675px 135px; }
}
.signup-plans tr:nth-child(2n+1) td { background-color: rgb(245, 245, 245); }
.signup-plans-personal tr:nth-child(2n+1) td { background-color: rgb(240, 245, 250); }
.signup-plans-orgs tr:nth-child(2n+1) td { background-color: rgb(246, 252, 244); }
.stars-browser .jump-to-users a:nth-child(7) img, .stars-browser .jump-to-users a:nth-child(14) img { margin-right: 0pt; }
.sunken-menu .sunken-menu-contents, .sunken-menu .sunken-menu-item, .sunken-menu .sunken-menu-separator { position: relative; }
.sunken-menu .sunken-menu-contents:before, .sunken-menu .sunken-menu-contents:after, .sunken-menu .sunken-menu-item.selected:after, .sunken-menu .sunken-menu-separator:before { content: ""; position: absolute; }
.sunken-menu .sunken-menu-contents { margin: 0pt; }
.sunken-menu .sunken-menu-group { list-style-type: none; }
.sunken-menu .sunken-menu-item { padding: 8px 10px; display: block; text-shadow: 0pt 1px 0pt rgb(255, 255, 255); text-decoration: none; border: 1px solid transparent; outline: 0pt none; }
.sunken-menu .sunken-menu-item.selected { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); color: rgb(51, 51, 51); font-weight: bold; }
.sunken-menu .sunken-menu-item.selected:after { background-color: rgb(186, 93, 15); background-image: -moz-linear-gradient(rgb(210, 105, 17), rgb(186, 93, 15)); background-repeat: repeat-x; box-shadow: -1px -1px 0pt rgba(0, 0, 0, 0.1) inset; }
.sunken-menu .sunken-menu-item .octicon { left: -1px; color: rgb(153, 153, 153); width: 16px; text-align: center; }
.sunken-menu .sunken-menu-item:hover .octicon { color: rgb(51, 51, 51); }
.sunken-menu .sunken-menu-item.selected .octicon { color: rgb(51, 51, 51); }
.sunken-menu .sunken-menu-item .counter { padding: 2px 5px; font-size: 11px; font-weight: bold; color: rgb(153, 153, 153); background: none repeat scroll 0% 0% rgb(238, 238, 238); border-radius: 2px 2px 2px 2px; box-shadow: 0pt -1px 0pt rgb(227, 227, 227) inset; }
.sunken-menu .sunken-menu-item .mini-loader { display: none; position: absolute; top: 9px; left: 9px; }
.sunken-menu.vertical-right { max-width: 250px; }
.sunken-menu.vertical-right .sunken-menu-contents { padding: 12px 0pt 15px; box-shadow: 1px 0pt 0pt rgb(238, 238, 238) inset; background-image: -moz-linear-gradient(left center , rgb(246, 246, 246) 0%, rgb(255, 255, 255) 8px); }
.sunken-menu.vertical-right .sunken-menu-contents:before, .sunken-menu.vertical-right .sunken-menu-contents:after { height: 15px; width: 100%; left: 0pt; background-color: transparent; }
.sunken-menu.vertical-right .sunken-menu-contents:before { background-image: -moz-linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0)); background-repeat: repeat-x; background-color: transparent; top: 0pt; }
.sunken-menu.vertical-right .sunken-menu-contents:after { background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)); background-repeat: repeat-x; background-color: transparent; bottom: 0pt; }
.sunken-menu.vertical-right .sunken-menu-item { margin: 5px 0pt; }
.sunken-menu.vertical-right .sunken-menu-item:focus, .sunken-menu.vertical-right .sunken-menu-item:hover { box-shadow: 2px 0pt 0pt rgb(204, 204, 204) inset; }
.sunken-menu.vertical-right .sunken-menu-item.selected { box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05); border-left: 1px solid transparent; }
.sunken-menu.vertical-right .sunken-menu-item.selected:after { width: 3px; top: -1px; bottom: -1px; right: -1px; border-radius: 0pt 2px 2px 0pt; }
.sunken-menu.vertical-right .sunken-menu-item .counter { position: absolute; top: 8px; right: 10px; }
.sunken-menu.vertical-right .sunken-menu-separator { margin: 8px 0pt 6px 1px; height: 5px; background-image: -moz-radial-gradient(left top , farthest-side, rgb(244, 244, 244), rgba(244, 244, 244, 0)); }
.sunken-menu.vertical-right .sunken-menu-separator:before { width: 100%; height: 1px; top: 0px; background-image: -moz-linear-gradient(left center , rgb(238, 238, 238) 70%, rgb(255, 255, 255) 100%); }
.wiki-actions { float: right; padding: 0pt; list-style-type: none; }
.wiki-actions li { float: left; margin-left: 7px; }
#wiki-body .markdown-body { padding: 0pt 30px; margin: 0pt -30px; }
#wiki-rightbar > :first-child { margin-top: 0pt; }
#wiki-footer #gollum-footer-content > :first-child { margin-top: 0pt; }
#wiki-history table tr:nth-child(2n), #wiki-history table table tr.alt-row, #wiki-history tbody tr:nth-child(2n), #wiki-history tbody table tr.alt-row { background-color: rgb(243, 247, 250); }
