.rfac { cursor: pointer; border: medium none; display: block; padding: 2px; width: 15px; height: 15px; overflow: hidden; color: rgb(0, 0, 0); font-size: 13px; text-decoration: none; white-space: nowrap; background-color: rgb(255, 255, 255); }
.rfac_anim { background-color: rgba(255, 255, 255, 0.6); transition-duration: 0.3s; transition-delay: 0.5s; }
.rfac_anim:hover { width: 80px; background-color: rgb(255, 255, 255); transition-duration: 0.3s; transition-delay: 0.5s; }
.rfac_right { direction: rtl; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
