/* ::::: http://ekd123.is-programmer.com/stylesheets/common.css?1309108734 ::::: */

img { border: 0px none; }
a.up { background: url('up-blue.gif') no-repeat scroll left center transparent; padding-left: 14px; }
a.down { background: url('down-blue.gif') no-repeat scroll left center transparent; padding-left: 14px; }
#article_header { color: rgb(119, 119, 119); margin: 0px 0px 8px 10px; padding: 0px 10px 0px 30px; }
#category { text-align: left; }
#category li { font-size: 12px; line-height: 20px; }
#info { font-weight: normal; font-size: 12px; padding: 0px 10px; }
#article_body { font-size: 13px; line-height: 20px; padding-bottom: 35px; }
.articlefooter { background: none repeat scroll 0% 0% rgb(238, 238, 238); border-top: 1px solid rgb(204, 204, 204); padding: 3px 4px 4px; margin-bottom: 5px; }
.comment_box { padding: 10px; width: 93%; margin-left: 10px; margin-bottom: 10px; }
.comments_count { float: right; font-weight: bold; font-style: italic; font-family: Georgia,Serif; margin-right: 3px; }
.comment_header { padding: 1px; }
.reply_comment_button { text-align: center; margin-right: 10px; float: right; }
.comment_box:hover .reply_comment_button { display: inline; }
.comment_box:hover {  }
.comment_box0 a, .comment_box1 a { font-weight: bold; }
.comment_box0 a:hover, .comment_box1 a:hover {  }
.comment_avatar { float: left; padding: 5px 15px 10px 5px; }
.comment_content { padding: 0px 15px 5px 5px; }
.comment_content p { margin-top: 0pt; }
.comment_content small { display: block; }
.pc { height: 150px; }
#post_comment form label { display: block; }
#post_comment { padding: 20px; width: 95%; }
input, textarea, select { font-size: small; margin: 5px 0px 0px; }
input:hover { color: rgb(0, 0, 0); }
input:focus, textarea:focus {  }
#comment_editor { width: 100%; margin-top: 20px; margin-bottom: 20px; padding: 0pt; }
textarea#comment_content { width: 80%; display: inline; }
#comment_editor_button { position: absolute; width: 32px; height: 32px; margin-left: 8px; background: url('power_editor.gif') no-repeat scroll center center transparent; }
.clear { clear: both; }
#head { margin-top: 5px; text-align: center; }
#article_body { text-align: justify; }
#count { font-size: 20px; color: rgb(153, 153, 153); text-align: center; font-weight: bold; font-style: italic; font-family: Tahoma,Georgia,Serif; }
div#chito_search { padding: 5px 5px 5px 9px; }
#search_form #s { width: 90%; }
img.feed { margin-bottom: -1px; }
#article_bar { margin: 30px 0pt; }
div.pre_next_post { font-size: 90%; float: right; margin-right: 25px; }
.twitter_comment_button { text-align: center; margin-right: 10px; float: right; }
.follow_him:hover { text-decoration: none; }
.follow_him { background: url('twitter.png') no-repeat scroll left center transparent; padding-left: 16px; margin-top: 5px; margin-right: 5px; }
.comment_info_field { display: none; width: 0px; height: 0px; margin: 0px; padding: 0px; }
/* ::::: http://ekd123.is-programmer.com/stylesheets/admin/smoothness/jquery-ui.css?1309108734 ::::: */

.ui-helper-reset { margin: 0pt; padding: 0pt; border: 0pt none; outline: 0pt none; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none outside none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
.ui-helper-clearfix { display: block; }
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget-content { border: 1px solid rgb(170, 170, 170); background: url('ui-bg_flat_75_ffffff_40x100.png') repeat-x scroll 50% 50% rgb(255, 255, 255); color: rgb(34, 34, 34); }
.ui-widget-content a { color: rgb(34, 34, 34); }
.ui-widget-header { border: 1px solid rgb(170, 170, 170); background: url('ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% rgb(204, 204, 204); color: rgb(34, 34, 34); font-weight: bold; }
.ui-widget-header a { color: rgb(34, 34, 34); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid rgb(211, 211, 211); background: url('ui-bg_glass_75_e6e6e6_1x400.png') repeat-x scroll 50% 50% rgb(230, 230, 230); font-weight: normal; color: rgb(85, 85, 85); }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: rgb(85, 85, 85); text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid rgb(170, 170, 170); background: url('ui-bg_glass_65_ffffff_1x400.png') repeat-x scroll 50% 50% rgb(255, 255, 255); font-weight: normal; color: rgb(33, 33, 33); }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: rgb(33, 33, 33); text-decoration: none; }
.ui-widget :active { outline: medium none; }
.ui-corner-top { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bottom { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-all { border-radius: 4px 4px 4px 4px; }
button.ui-button::-moz-focus-inner { border: 0pt none; padding: 0pt; }
.ui-tabs { position: relative; padding: 0.2em; }
.ui-tabs .ui-tabs-nav { margin: 0pt; padding: 0.2em 0.2em 0pt; }
.ui-tabs .ui-tabs-nav li { list-style: none outside none; float: left; position: relative; top: 1px; margin: 0pt 0.2em 1px 0pt; border-bottom: 0pt none ! important; padding: 0pt; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: 0.5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0pt; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0pt; padding: 1em 1.4em; background: none repeat scroll 0% 0% transparent; }
.ui-tabs .ui-tabs-hide { display: none ! important; }
/* ::::: http://ekd123.is-programmer.com/themes/user/coldblue/stylesheets/reset.css?1309110474 ::::: */

body {  }
select, input, textarea { font: 99% arial,helvetica,clean,sans-serif; }
body * { line-height: 1.22em; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
fieldset, img { border: 0pt none; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0pt none; }
abbr, acronym { border-bottom: 1px dotted rgb(0, 0, 0); }
strong { font-weight: bold; }
.clear:after { content: "."; display: block; height: 0pt; font-size: 0pt; clear: both; visibility: hidden; }
.clear { display: inline-block; }
.clear { display: block; }
/* ::::: http://ekd123.is-programmer.com/themes/user/coldblue/stylesheets/style.css?1309110474 ::::: */

body { text-align: center; color: rgb(51, 51, 51); background: url('background.gif') repeat-x scroll center top rgb(40, 49, 58); font-size: 13px; font-family: Helvetica,Arial,sans-serif; }
div#header { background: url('header_background.gif') repeat-x scroll center bottom rgb(55, 118, 189); width: 100%; border-bottom: 1px solid rgb(55, 118, 189); }
div#search { background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 100%; }
div.inner { width: 840px; margin: auto; text-align: left; padding: 15px 0pt; }
div#search div.inner { padding: 10px 0pt; }
div#header h1 { font-size: 23px; font-weight: bold; float: left; width: 40%; text-shadow: 1px 0px rgb(43, 68, 98); letter-spacing: -1px; }
div#header h1 a { color: rgb(255, 255, 255); text-decoration: none; }
ul#navigation { float: right; width: 50%; position: relative; top: 7px; text-align: right; }
ul#navigation li { display: inline; color: rgb(153, 153, 153); }
div#search form { font-size: 14px; width: 40%; float: right; text-align: right; }
div#search form * { vertical-align: middle; }
input#s { width: 220px; }
ul#sidebar input#s { width: 100px; }
#nav-link a { color: rgb(204, 204, 204); font-size: 13px; position: relative; top: 4px; text-decoration: none; margin: 0pt 20px 0pt 0pt; }
#nav-link li { display: block; float: left; }
div#wrapper { text-align: left; width: 800px; padding: 20px; margin: auto; background: url('wrapper.gif') repeat-y scroll -60px 0px rgb(255, 255, 255); border-right: 2px solid rgb(36, 44, 52); border-left: 2px solid rgb(36, 44, 52); }
div#content { width: 520px; float: left; padding: 0pt 10px 0pt 0pt; overflow: hidden; }
ul#sidebar { display: block; width: 240px; float: left; padding: 10px 0pt 0pt 30px; font-size: 13px; }
ul#sidebar h2 { font-size: 20px; }
ul#sidebar ul { margin: 0pt 0pt 20px; padding: 0pt 0pt 10px; border-bottom: 1px dotted rgb(204, 204, 204); }
ul#sidebar ul li { font-size: 13px ! important; margin: 0pt; padding: 3px 0px; border: medium none; }
ul#sidebar ul li a { padding: 3px 0pt; text-decoration: none; }
ul#sidebar ul li a:hover { text-decoration: none; }
h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); }
h2 { font-size: 20px; margin: 0pt 0pt 8px ! important; letter-spacing: -1px; }
p { margin: 0pt 0pt 20px; font-size: 13px; line-height: 20px; }
p img { padding: 5px; }
a { color: rgb(0, 120, 200); }
a:hover { color: rgb(0, 149, 248); }
blockquote { font-size: 15px ! important; font-family: Georgia,Times,'Times New Roman',serif; color: rgb(68, 68, 68); font-style: italic; margin: 0pt 0pt 0pt 22px; line-height: 24px ! important; display: block; }
blockquote p { font-size: 15px ! important; line-height: 24px ! important; }
a abbr, a acronym { border: medium none; }
div#footer { clear: both; background: none repeat scroll 0% 0% rgb(0, 0, 0); padding: 25px 10px 15px; display: block; width: 820px; margin: auto; border-right: 2px solid rgb(36, 44, 52); border-left: 2px solid rgb(36, 44, 52); text-align: left; }
div#footer p { font-size: 12px; margin: 0pt 0pt 5px 20px; color: rgb(85, 85, 85); }
div#footer a { color: rgb(204, 204, 204); text-decoration: none; border-bottom: 1px solid rgb(34, 34, 34); font-weight: bold; }
div#footer a:hover { color: rgb(255, 255, 255); border-bottom: 1px solid rgb(68, 68, 68); }
div#footer p#webrevolutionary-link { color: rgb(51, 51, 51); }
div#footer p#webrevolutionary-link a { color: rgb(68, 68, 68); }
div#footer p#webrevolutionary-link a:hover { color: rgb(102, 102, 102); }
#pageurl { clear: both; }
#article_wrap h1 { font-size: 2em; }
#content a { text-decoration: none; }
/* ::::: http://ekd123.is-programmer.com/plugin.css ::::: */

blockquote { font: 14px/22px 'Ubuntu',sans-serif; margin-top: 10px; margin-bottom: 10px; margin-left: 50px; padding-left: 15px; border-left: 3px solid rgb(204, 204, 204); }
body { font-family: 'Ubuntu',sans-serif; }
/* ::::: http://fonts.googleapis.com/css?family=Podkova|Cousine|Ubuntu&v2 ::::: */

@font-face {
  font-family: "Podkova";  font-style: normal;  font-weight: normal;  src: local("Podkova"), url('e0t5zu6y9vgtsywiwvwk7q.woff') format("woff");}
@font-face {
  font-family: "Ubuntu";  font-style: normal;  font-weight: normal;  src: local("Ubuntu"), url('_xyn3apat_yrrdeqb3sprg.woff') format("woff");}
@font-face {
  font-family: "Cousine";  font-style: normal;  font-weight: normal;  src: local("Cousine"), url('cjj-bxzwl4jwitog5qolaa.woff') format("woff");}
#MicrosoftTranslatorWidget { font-family: "Segoe UI",Verdana,Arial,Helvetica,Sans-Serif; font-size: 14px; }
#MicrosoftTranslatorWidget * { background-attachment: scroll; background-color: Transparent; background-image: none; clip: auto; color: White; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; margin: 0px; outline-style: none; overflow: visible; padding: 0px; position: static; vertical-align: top; visibility: visible; word-spacing: normal; }
#MicrosoftTranslatorWidget div, #MicrosoftTranslatorWidget span, #MicrosoftTranslatorWidget a, #MicrosoftTranslatorWidget img { border-style: none; }
#MicrosoftTranslatorWidget #MSTWContent a { color: White; cursor: pointer; display: inline-block; height: 18px; margin: 1px 2px; text-decoration: none; }
#MicrosoftTranslatorWidget #MSTWContent a:link { padding: 0px; }
#MicrosoftTranslatorWidget select { display: inline-block; margin: 1px 2px; width: 160px; }
#MicrosoftTranslatorWidget select, #MicrosoftTranslatorWidget option { background-color: White; color: Black; font-size: 11px; }
#MicrosoftTranslatorWidget .MSTWBox { display: inline-block; height: 22px; overflow: hidden; padding: 2px 0px; white-space: nowrap; }
#MicrosoftTranslatorWidget .MSTWButtonLink { border-style: solid; border-width: 1px; margin-left: 1px; margin-right: 1px; text-align: center; width: 24px; white-space: normal; }
#MicrosoftTranslatorWidget #MSTWHeader { border-bottom-style: solid; border-bottom-width: 1px; }
#MicrosoftTranslatorWidget #MSTWFooter { height: 26px; }
#MicrosoftTranslatorWidget { direction: ltr; text-align: left; }
#MicrosoftTranslatorWidget #MSTWContent #MSTWBrand { float: left; }
#MicrosoftTranslatorWidget #MSTWContent #MSTWGetShare { float: right; }
/* ::::: http://www.passit.cn/css/passit_bar_big_new.css ::::: */

#passit_barDiv a, #passit_barDiv a span, #passit_barDiv img, #passit_box, #passit_box_con, #passit_box_con_icon, #passit_box_con span, #passit_box_con a, h5#passit_box_con_top, h5#passit_box_con_bottom { color: rgb(51, 51, 51); text-align: left; padding: 0px; margin: 0px; list-style: none outside none; font-family: "Arial","宋体"; }
#passit_box a, #passit_box img, #passit_box span, #passit_box * { padding: 0pt; margin: 0pt; border: 0pt none; list-style-type: none; }
#passit_barDiv a, #passit_barDiv a:link { border: 0pt none; list-style-type: none; }
#passit_barDiv { width: auto; height: 40px; line-height: 40px; padding: 0px; margin: 3px auto; display: block; text-decoration: none; background: none repeat scroll 0% 0% transparent; border: 0px solid white; }
#passit_barDiv .passit_default { width: 0px; height: 32px; display: block; line-height: 32px; margin: auto; float: left; font-size: 14px; color: rgb(51, 51, 51); font-family: "宋体",tahoma,Arial,Helvetica,sans-serif; text-decoration: none; background: none repeat scroll 0% 0% transparent; outline: medium none; vertical-align: middle; border: 0px solid white; }
#passit_barDiv a { width: 32px; height: 32px; line-height: 32px; margin-right: 6px; float: left; font-size: 12px; text-decoration: none; font-weight: normal; color: rgb(51, 51, 51); display: block; overflow: hidden; position: relative; background: none repeat scroll 0% 0% transparent; outline: medium none; }
#passit_barDiv a:hover { height: 32px; line-height: 32px; text-decoration: none; color: rgb(51, 51, 51); outline: medium none; background: none repeat scroll 0% 0% transparent; opacity: 0.8; }
#passit_barDiv a span { background: url('passit_dot.png') no-repeat scroll 0% 0% transparent; border: 0px none; width: 32px; height: 32px; display: block; cursor: pointer; }
#passit_box { width: 258px; height: auto; display: none; position: absolute; }
#passit_r_top { width: 258px; height: 5px; overflow: hidden; background: url('passit_div_bg.png') no-repeat scroll 0px 0px transparent; }
#passit_r_center { overflow: hidden; background: url('passit_div_bg.png') repeat scroll 0px -10px transparent; width: 258px; }
#passit_r_bottom { width: 258px; height: 5px; overflow: hidden; background: url('passit_div_bg.png') no-repeat scroll 0px -320px transparent; }
#passit_box_con { width: 248px; margin: 0pt auto; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); font-size: 12px; overflow: hidden; color: rgb(76, 76, 76); }
h5#passit_box_con_top, h5#passit_box_con_bottom { padding-left: 10px; font-weight: normal; height: 22px; line-height: 22px; font-size: 12px; background: none repeat scroll 0% 0% rgb(242, 242, 242); overflow: hidden; }
h5#passit_box_con_top { border-bottom: 1px solid rgb(229, 229, 229); margin-bottom: 6px; }
h5#passit_box_con_bottom { border-top: 1px solid rgb(229, 229, 229); }
h5#passit_box_con_bottom a, h5#passit_box_con_bottom a:hover { font-size: 12px; color: rgb(51, 51, 51); }
h5#passit_box_con_bottom a { text-decoration: none; }
h5#passit_box_con_bottom a:hover { text-decoration: underline; }
#passit_box_con_icon { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 248px; padding: 0px 3px; margin: 0pt auto; overflow: hidden; }
#passit_box { overflow: hidden; }
#passit_box a:hover { left: 0px; top: 0px; border: 0px none; }
#simple_captcha { padding: 5px 0pt 0pt ! important; }
#simple_captcha, #simple_captcha div { display: table; }
#simple_captcha .simple_captcha_field, #simple_captcha .simple_captcha_image { margin: 0px 0px 2px ! important; padding: 0px ! important; }
#simple_captcha .simple_captcha_image img { margin: 0px ! important; padding: 0px ! important; width: 110px ! important; }
#simple_captcha .simple_captcha_label { font-size: 12px; }
#simple_captcha .simple_captcha_field input { width: 120px ! important; border: 1px solid rgb(204, 204, 204); background-color: rgb(239, 239, 239); }
/* ::::: http://ekd123.is-programmer.com/plugins/syntaxhighlighter/stylesheets/shCore.css?1309110654 ::::: */

/* ::::: http://ekd123.is-programmer.com/plugins/syntaxhighlighter/stylesheets/shThemeFadeToGrey.css?1309110654 ::::: */

/* ::::: http://ekd123.is-programmer.com/plugins/img_resize/stylesheets/jquery.lightbox-0.5.css?1309110654 ::::: */

