/* ::::: http://fonts.googleapis.com/css?family=Droid+Sans+Mono ::::: */

@font-face {
  font-family: "Droid Sans Mono";  font-style: normal;  font-weight: 400;  src: local("Droid Sans Mono"), local("DroidSansMono"), url('ns-m2xqyezatqh7ai59hjuyutaaiffn5gtwtrycmbq4.woff') format("woff");}
/* ::::: http://nvie.com/css/style.css ::::: */

body, div, p, h1, h2, h3, h4 { margin: 0pt; padding: 0pt; }
body { font-family: 'arimo',Helvetica,Arial,sans-serif; background: url('bg.png') repeat scroll 0% 0% transparent; }
img { border: medium none; }
h1, h2, h3, h4 { font-family: 'ff-enzo-web',Helvetica,Arial,sans-serif; }
a { text-decoration: none; }
a:link, a:visited { color: rgb(50, 112, 174); }
a:hover { color: rgb(0, 141, 255); }
span.reldate { color: rgb(136, 136, 136); }
.print-only { display: none; }
p.autoalign { position: relative; left: 0pt; display: block; width: 100%; }
ins, div.ins { text-decoration: none; }
del, div.del { text-decoration: none; display: none; }
#header { display: block; height: 50px; color: rgb(238, 238, 238); width: 640px; margin: 0pt auto; padding: 0pt 8px 0pt 20px; }
#header h1 { position: absolute; font-weight: 400; font-size: 23pt; padding: 0pt; margin: 32px 10px; }
#header span#nvie { font-weight: 700; color: rgb(255, 255, 255); }
#header span#dot { color: rgb(204, 204, 204); }
#header span#ext { letter-spacing: -0.05em; color: rgb(187, 187, 187); }
#header ul { display: block; width: 380px; float: right; margin: 36px 0pt 10px; padding: 8px; text-align: right; }
#header ul li { display: inline; color: rgb(221, 221, 221); border-radius: 4px 4px 4px 4px; margin: 0pt 4px; padding: 6px 10px; font-family: 'ff-enzo-web',Helvetica,Arial,sans-serif; font-weight: 600; font-size: 10pt; text-shadow: 1px 0pt 2px rgb(51, 51, 51); }
#header ul li a { color: inherit; font-weight: 700; }
#header ul li:hover, #header ul li.current { background-color: rgb(221, 221, 221); background-image: -moz-linear-gradient(center top , rgb(221, 221, 221) 1%, rgb(153, 153, 153) 100%); color: rgb(34, 34, 34); text-shadow: none; box-shadow: 1px 1px 2px rgb(0, 0, 0); }
#actionbox { display: none; position: absolute; top: 0pt; left: 0pt; width: 32px; }
#actionbox #rss, #actionbox #tweet { width: 16px; padding: 0pt; margin: 8px; }
#actionbox #rss img, #actionbox #tweet img { vertical-align: middle; }
#main { position: relative; background-color: rgb(255, 255, 255); top: 38px; z-index: 2; width: 600px; margin-left: auto; margin-right: auto; min-height: 480px; border-radius: 8px 8px 8px 8px; box-shadow: 1px 2px 5px rgb(0, 0, 0); color: rgb(51, 51, 51); padding: 20px; overflow: visible; }
#main h1, #main h2, #main h3, #main h4 { clear: both; }
#main h1 { font-size: 2em; font-weight: 700; line-height: 1.2em; letter-spacing: -1px; margin: 12px 0pt 18px; color: rgb(51, 51, 51); }
#main #permalink { margin-top: -16px; font-family: 'ff-enzo-web',Helvetica,Arial,sans-serif; }
#main h2 { font-size: 1.5em; font-weight: 700; margin-top: 24px; margin-bottom: 12px; }
#main p + ul { margin-top: -12px; }
#main ul { margin: 10px 0pt 20px; }
#main p { margin: 10px 0pt 20px; font-size: 11pt; line-height: 16pt; }
#main ul li { list-style-type: square; }
#main li { font-size: 11pt; line-height: 16pt; }
#main p.dateline { font-family: 'arimo',Helvetica,Arial,sans-serif; font-size: 10pt; color: rgb(204, 204, 204); text-align: left; padding: 0pt; }
#main p.created_at { margin-top: -16px; margin-bottom: 8px; }
#main p.updated_at { margin-top: -12px; margin-bottom: 8px; }
#main a#toggle-edits { margin-left: 8px; background-color: lightyellow; }
#main code { font-family: 'Droid Sans Mono',Courier New,monospace ! important; font-size: 9pt; }
#main pre code { margin: 0pt; padding: 0pt; display: block; max-width: 520px; overflow: visible; }
#main pre { font-family: 'Droid Sans Mono',Courier New,monospace ! important; font-size: 9pt; line-height: 1.4em; color: rgb(34, 34, 34); border-width: 1px 1px 1px 5px; border-style: solid; border-color: rgb(247, 166, 0); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background-color: rgb(254, 254, 241); display: table; margin: 10px 20px 20px; padding: 10px 16px; border-bottom-right-radius: 12px; box-shadow: 2px 3px 5px rgb(204, 204, 204); overflow: hidden; }
#main p + pre { margin-top: -10px; }
#main img { max-width: 580px; }
#main img.right { float: right; margin: 0pt 0pt 12px 12px; }
#main .flattr-quick { float: right; }
#footer { color: rgb(204, 204, 204); text-shadow: 1px 1px 1px rgb(17, 17, 17); margin: 0pt auto; padding: 68px 40px 40px; width: 600px; line-height: 1.1em; }
#footer a { color: rgb(255, 255, 255); text-decoration: none; }
#footer p { font-family: 'arimo',Helvetica,Arial,sans-serif; font-size: 10.5pt; line-height: 14pt; margin-top: 8px; }
div.influads_block { width: 204px ! important; margin-top: 5em ! important; margin-left: -24px ! important; padding: 1em 1em 1em 24px ! important; border: 2px solid rgb(51, 51, 51); background-color: rgb(221, 221, 221) ! important; border-radius: 8px 8px 8px 8px; box-shadow: 1px 2px 5px rgb(0, 0, 0); }
.typekit-badge { display: none ! important; }
/* ::::: http://nvie.com/css/syntax.css ::::: */

.c { color: rgb(153, 153, 136); font-style: italic; }
.k { font-weight: 700; }
.m { color: rgb(0, 153, 153); }
.nb { color: rgb(153, 153, 153); }
.s2 { color: rgb(187, 136, 68); }
.sr { color: rgb(128, 128, 0); }
.s1 { color: rgb(187, 136, 68); }
/* ::::: http://nvie.com/css/fontface.css ::::: */

/* ::::: http://nvie.com/css/mobile.css ::::: */

#header ul li { letter-spacing: -1px; padding-bottom: 8px; }
#main h1 { letter-spacing: -2px; }
#main h2 { letter-spacing: -1px; }
/* ::::: http://nvie.com/css/mobile.css ::::: */

#header ul li { letter-spacing: -1px; padding-bottom: 8px; }
#main h1 { letter-spacing: -2px; }
#main h2 { letter-spacing: -1px; }
/* ::::: http://use.typekit.net/c/909bb9/arimo:i4:n4:n7,ff-enzo-web:n6:n7,proxima-nova:i4:n1:n3:n4:n7:n8:n9.WX8:F:2,WX6:F:2,WX7:F:2,Trx:F:2,Vcp:F:2,W0W:F:2,Vmv:F:2,Vmx:F:2,W0V:F:2,W0Y:F:2,Vn5:F:2,Vn7:F:2/d?3bb2a6e53c9684ffdc9a9bfe135b2a62619e5c28019a937bcbf0d7fbb9dcc3898c71cb4dcd537459146aef18bd5d46b146b3e659e64f4690021b94aee7e506e6b92ebc3f892a3dfb27c7bc26b94e260c03ed313df93526dc2f2e0bc50fbb174ec194fbc9e72d951bdd6f02d4576f54f985671bf28e326f5cb68e39be74e5e3f7c87105396d24e50e9dba0984b33803c4fbfebfb9d159004d587adb537637e2c7fda1470ad165b624e9c0ebdbd548d2d3eb4e9994081328899f4669abe3 ::::: */

@font-face {
  font-family: "arimo";  font-style: italic;  font-weight: 400;  src: url('undefined');}
@font-face {
  font-family: "arimo";  font-style: normal;  font-weight: 400;  src: url('undefined');}
@font-face {
  font-family: "arimo";  font-style: normal;  font-weight: 700;  src: url('undefined');}
@font-face {
  font-family: "ff-enzo-web";  font-style: normal;  font-weight: 600;  src: url('undefined');}
@font-face {
  font-family: "ff-enzo-web";  font-style: normal;  font-weight: 700;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: italic;  font-weight: 400;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: normal;  font-weight: 100;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: normal;  font-weight: 300;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: normal;  font-weight: 400;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: normal;  font-weight: 700;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: normal;  font-weight: 800;  src: url('undefined');}
@font-face {
  font-family: "proxima-nova";  font-style: normal;  font-weight: 900;  src: url('undefined');}
