/* ::::: http://www.saltycrane.com/site_media/css/blueprint/screen750.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0pt; padding: 0pt; border: 0pt none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
body { line-height: 1.5; }
table { border-collapse: separate; border-spacing: 0pt; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
a img { border: medium none; }
body { font-size: 75%; color: rgb(34, 34, 34); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: rgb(17, 17, 17); }
h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; height: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0pt; }
p { margin: 0pt 0pt 1.5em; }
a:focus, a:hover { color: rgb(0, 0, 0); }
a { color: rgb(0, 0, 153); text-decoration: underline; }
em, dfn { font-style: italic; }
pre, code { margin: 1.5em 0pt; white-space: pre; }
pre, code, tt { font: 1em/1.5 'andale mono','lucida console',monospace; }
ul, ol { margin: 0pt 1.5em 1.5em; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0pt 0pt 1.5em; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table { margin-bottom: 1.4em; width: 100%; }
th, td { padding: 4px 10px 4px 5px; }
.small { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
.last { margin-right: 0pt; padding-right: 0pt; }
.container { width: 750px; margin: 0pt auto; }
body { margin: 1.5em 0pt; }
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20 { float: left; margin-right: 10px; }
div.last { margin-right: 0pt; }
.span-1 { width: 28px; }
.span-5 { width: 180px; }
.span-14 { width: 522px; }
.span-20, div.span-20 { width: 750px; margin: 0pt; }
.container:after { display: block; height: 0pt; clear: both; visibility: hidden; }
.clearfix, .container { display: inline-block; }
.clearfix, .container { display: block; }
label { font-weight: bold; }
input.text, input.title, textarea, select { margin: 0.5em 0pt; border: 1px solid rgb(187, 187, 187); }
input.text:focus, input.title:focus, textarea:focus, select:focus { border: 1px solid rgb(102, 102, 102); }
textarea { width: 390px; height: 250px; padding: 5px; }
/* ::::: http://www.saltycrane.com/site_media/css/mystyle.css ::::: */

p { margin: 0.75em 0pt; }
th, td { border: 1px solid rgb(0, 0, 0); padding: 0.5em; font-weight: normal; }
h1.heading1 { margin: 0em 0pt 0.2em; font-weight: normal; }
h3 { margin: 0.5em 0pt; }
h4 { margin: 1.7em 0pt 0.3em; }
h5 { margin: 1.7em 0pt 0.3em; }
h1, h2, h3, h4 { font-family: "Trebuchet MS",sans-serif; font-weight: bold; }
body { font-size: 80%; margin: 0pt; padding-bottom: 0pt; font-family: sans-serif; background-color: rgb(238, 238, 238); }
ul, ol { margin: 0pt; }
ol, ul, dl { margin-left: 1.6em; }
ul li { list-style: square outside none; }
a { text-decoration: none; color: rgb(0, 96, 240); }
p a { border-bottom: 1px dotted; }
a:visited { color: rgb(0, 64, 160); }
a:hover { color: rgb(0, 96, 240); border-bottom: 1px solid; }
div.post_footer { font-family: Verdana,Arial,sans-serif; font-size: 77%; margin-top: -7px; margin-bottom: 2em; padding: 0pt; }
div.container { margin-bottom: 0pt; margin-top: 0pt; padding-bottom: 0pt; padding-top: 0pt; }
#hd { margin-top: 5px; text-align: center; background-color: white; border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204); }
#ft { padding: 3px 0pt; margin-bottom: 5px; text-align: center; background-color: white; font-size: 77%; border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204); }
.postsum { background-color: rgb(255, 255, 255); border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204); padding: 5px; margin-top: 10px; margin-bottom: 10px; margin-right: 0pt; }
div.console pre { background-color: rgb(238, 238, 238); }
li pre { margin-top: 0.2em; margin-left: 0pt; }
pre { margin: 1em; border-style: solid; border-width: 1px; border-color: rgb(204, 204, 204); padding: 0.5em; overflow: auto; line-height: normal; background-color: white; font-size: 83%; font-family: "Mono","lucida console",monospace; }
.small { font-size: 77%; }
.colored { color: rgb(208, 96, 32); }
.colored:visited { color: rgb(176, 64, 16); }
.colored:hover { color: rgb(248, 128, 64); }
td.label { padding-left: 0px; padding-right: 0px; vertical-align: top; text-align: right; border: medium none; font-size: 108%; font-weight: normal; }
td.input { border: medium none; }
.info { font-size: 77%; font-style: italic; color: grey; }
.acomment { margin: 0pt; padding: 0pt; }
.acomment h1, .acomment h2, .acomment h3, .acomment h4 { margin: 1.7em 0pt 0.3em; }
.acomment h1 { font-size: 1.4em; }
h4:hover > a.sectionlink, h5:hover > a.sectionlink { visibility: visible; }
a.sectionlink { padding: 0pt 4px; visibility: hidden; color: rgb(198, 15, 15); }
a.sectionlink:hover { color: white; background-color: rgb(198, 15, 15); border-bottom: medium none; }
.go { color: rgb(128, 128, 128); }
.gp { color: rgb(0, 0, 128); font-weight: bold; }
.nb { color: rgb(0, 128, 0); }
.s1 { color: rgb(186, 33, 33); }
