/* ::::: [internal] ::::: */

.title { text-align: center; }
.right { margin-left: auto; margin-right: 0px; text-align: right; }
.left { margin-left: 0px; margin-right: auto; text-align: left; }
#postamble p, #preamble p { font-size: 90%; margin: 0.2em; }
pre { border: 1px solid rgb(204, 204, 204); box-shadow: 3px 3px 3px rgb(238, 238, 238); padding: 8pt; font-family: monospace; overflow: auto; margin: 1.2em; }
pre.src { position: relative; overflow: visible; padding-top: 1.2em; }
pre.src:before { display: none; position: absolute; background-color: white; top: -10px; right: 10px; padding: 3px; border: 1px solid black; }
pre.src:hover:before { display: inline; }
pre.src-sh:before { content: "sh"; }
pre.src-R:before { content: "R"; }
pre.src-java:before { content: "Java"; }
table { border-collapse: collapse; }
td, th { vertical-align: top; }
th.right { text-align: center; }
th.left { text-align: center; }
td.right { text-align: right; }
td.left { text-align: left; }
dt { font-weight: bold; }
.figure { padding: 1em; }
.figure p { text-align: center; }
#org-div-home-and-up { text-align: right; font-size: 70%; white-space: nowrap; }
#org-info-js_console-label { font-size: 10px; font-weight: bold; white-space: nowrap; }
/* ::::: http://home.fnal.gov/%7Eneilsen/notebook/css/notebook.css ::::: */

body { max-width: 60em; margin: 0px auto; }
pre.example { text-align: left; border: 1pt solid rgb(160, 160, 160); background-color: rgb(240, 240, 240); padding: 1ch; display: block; clear: right; }
p { margin-left: auto; margin-right: auto; }
pre { border: 1pt solid rgb(174, 189, 204); background-color: rgb(243, 245, 247); padding: 5pt; font-family: monospace; font-size: small; overflow: auto; }
h1 { font-size: x-large; }
h2 { font-size: large; }
html { font-family: serif; }
a:link, a:visited { color: navy; }
/* ::::: [internal] ::::: */

#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
/* ::::: [internal] ::::: */

.MathJax_Display { text-align: center; margin: 1em 0em; position: relative; display: block; width: 100%; }
.MathJax_Preview { color: rgb(136, 136, 136); }
.MathJax { display: inline; font-family: serif; font-style: normal; font-weight: normal; line-height: normal; font-size: 100%; font-size-adjust: none; text-indent: 0px; text-align: left; text-transform: none; letter-spacing: normal; word-spacing: normal; word-wrap: normal; white-space: nowrap; float: none; border: 0px none; padding: 0px; margin: 0px; }
.MathJax img, .MathJax nobr, .MathJax a { border: 0px none; padding: 0px; margin: 0px; max-width: none; max-height: none; vertical-align: 0px; line-height: normal; text-decoration: none; }
.MathJax span { display: inline; border: 0px none; padding: 0px; margin: 0px; vertical-align: 0px; line-height: normal; text-decoration: none; }
.MathJax .math span { font-family: MathJax_Main,MathJax_Size1,MathJax_AMS; }
