/* ::::: http://s7.addthis.com/static/r07/widget119.css ::::: */

.addthis_default_style .addthis_separator { margin: 0pt 5px; display: inline; }
div.atclear { clear: both; }
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m, .addthis_default_style .at300bs { float: left; }
.addthis_default_style .at300b, .addthis_default_style .at300bo, .addthis_default_style .at300m { padding: 0pt 2px; }
.at300b, .at300bo, .at300m, .at300bs { cursor: pointer; }
.at300bs { background: url('widget059.gif') no-repeat scroll 0pt 0pt transparent; overflow: hidden; display: block; height: 16px; width: 16px; line-height: 16px ! important; }
.at16nc { background: url('widget016_top.gif') no-repeat scroll 0% 0% transparent; overflow: hidden; display: block; height: 16px; width: 16px; line-height: 16px ! important; }
.at15t_delicious { background-position: 0pt -912px; }
.at15t_digg { background-position: 0pt -944px; }
.at15t_expanded { background-position: 0pt -1264px; }
.at15t_facebook { background-position: 0pt -1328px; }
.at15t_google { background-position: 0pt -1824px; }
.at15t_reddit { background-position: 0pt -3520px; }
.at15t_twitter { background-position: 0pt -4384px; }
.at15t_expanded { background-position: 0pt -2880px; }
.at16nc.at16t_delicious { background-position: 0pt -176px; }
.at16nc.at16t_digg { background-position: 0pt -192px; }
.at16nc.at16t_facebook { background-position: 0pt -272px; }
.at16nc.at16t_google { background-position: 0pt -336px; }
.at16nc.at16t_reddit { background-position: 0pt -720px; }
.at16nc.at16t_twitter { background-position: 0pt -832px; }
.at16nc.at16t_expanded { background-position: 0pt -528px; }
.addthis_default_style .at15t_expanded, .addthis_default_style .at15t_compact { margin-right: 4px; }
:first-child + html #at_email textarea { height: 42px ! important; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0pt; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0pt none ! important; }
@media print {
  #at20mc { display: none; }
}
.at_a11y { position: absolute ! important; top: auto ! important; width: 1px ! important; height: 1px ! important; overflow: hidden ! important; }
@media screen and (max-width: 680px) {
  #at3win { width: 95%; left: auto; margin-left: auto; }
}
/* ::::: http://blog.wyeworks.com/stylesheets/application.css ::::: */

/* ::::: http://blog.wyeworks.com/stylesheets/layout.css ::::: */

body { text-align: center; margin: 0pt; padding: 0px; }
#container { width: 920px; text-align: left; margin: 0pt auto; padding: 5px; background: url('shadow.png') repeat scroll left top transparent; }
#header { height: 106px; margin: 0pt -0.5px 0px 0pt; padding: 0pt; }
#page { background-color: white; padding: 20px 15px; }
#content { float: left; width: 662px; padding: 0pt 0pt 0pt 5px; }
#sidebar { float: right; text-align: left; width: 200px; padding-left: 15px; border-left: 1px dotted rgb(221, 221, 221); }
#footer { height: 40px; margin: 10px 0pt 0pt; padding: 10px 0pt 0pt; clear: both; }
/* ::::: http://blog.wyeworks.com/stylesheets/content.css ::::: */

body { background: url('background.jpg') repeat-x scroll left top rgb(214, 193, 128); }
#header { background: url('header.jpg') no-repeat scroll center top transparent; position: relative; height: 200px; }
#header .inner { width: 940px; margin: 0pt auto; position: relative; }
#header a:link, #header a:visited { color: rgb(0, 0, 0); text-decoration: none; }
#header a:hover, #header a:active { color: rgb(153, 51, 0); background: none repeat scroll 0% 0% transparent; text-decoration: none; }
#header h1, #header h2 { margin: 0px; }
#header h1 { float: left; height: 140px; width: 290px; }
#header h2 { float: right; height: 140px; width: 110px; }
#header h1 a, #header h2 a { display: block; text-indent: -9000px; }
#header h1 a { letter-spacing: -1px; margin: 0pt; height: 100px; width: 290px; }
#header h2 a { font: 12px verdana,arial,sans-serif; margin: 0pt; height: 80px; width: 130px; }
#content {  }
#content h1, #content h2, #content h3, #content h4, #content h5 { font-family: georgia,times; font-weight: normal; letter-spacing: -1px; }
#content h2 { font-size: 23px; margin: 1.2em 0pt 0.3em; color: rgb(63, 63, 63); }
#content h3 { font-size: 22px; margin: 1.2em 0pt 0.3em; color: rgb(63, 63, 63); }
#content p { margin: 0pt 0pt 1.2em; }
#content ul, #content ol { margin: 1em; padding: 0pt; }
#content ul { list-style-type: square; }
#content li { margin: 0pt 0pt 0pt 1em; padding: 0pt; }
#content code {  }
#content pre { color: rgb(99, 255, 0); background: none repeat scroll 0% 0% rgb(238, 238, 238); overflow: auto; font-size: 12px; margin: 0.9em 0pt; padding: 8px; }
#content div.right { float: right; height: 45px; }
#content .hentry a.twitter { float: left; height: 40px; width: 80px; display: block; margin: 0pt auto; }
#content .hentry a:link, #content .recomend a:visited { color: rgb(128, 8, 10); }
#content .hentry a:hover { color: rgb(58, 5, 6); }
#content .hentry { margin: 0pt 0pt 2em; padding: 0pt 0pt 4em; background: url('entry-footer.jpg') no-repeat scroll center bottom transparent; }
#content .hentry .gravatar { float: left; margin-right: 10px; border: 1px solid rgb(204, 204, 204); }
#content .hentry .entry-title { font-size: 28px; line-height: 99%; letter-spacing: -1.5px; margin: 0pt 0pt 3px; }
#content .hentry .entry-title a:link, #content .hentry .entry-title a:visited { color: rgb(92, 8, 8); text-decoration: none; }
#content .hentry .entry-title a:hover, #content .hentry .entry-title a:active { background: none repeat scroll 0% 0% transparent; text-decoration: underline; }
#content .hentry .vcard, #content .hentry .published { float: left; color: rgb(169, 169, 169); font: 16px/14px helvetica,arial,verdana,sans-serif; letter-spacing: -1px; margin: 1px 0pt 0.6em 2px; }
#content .hentry .fn { font-weight: bold; margin-right: 5px; }
#content .hentry .clear { clear: both; }
#content .hentry .entry-content { margin-top: 10px; }
#content .hentry .entry-content a:link, #content .hentry .entry-content a:visited { font-style: italic; font-family: georgia,sans-serif; font-size: 14px; }
#content .hentry ul.meta { font-size: 10px; background: none repeat scroll 0% 0% rgb(238, 238, 238); margin: 0pt 0pt 10px; padding: 5px; border: 1px solid rgb(221, 221, 221); list-style-type: none; }
#content .hentry ul.meta li { line-height: 13px; margin: 0pt; padding: 0pt; }
#content .hentry .meta a:link, #content .hentry .meta a:visited { color: rgb(85, 85, 85); text-decoration: none; border-bottom: 1px dotted rgb(170, 170, 170); }
#content .hentry .meta a:hover, #content .hentry .meta a:active { color: rgb(255, 255, 255); }
#sidebar { font-size: 11px; }
#sidebar h3 { font: bold 14px "lucidamac bold","lucida grande",verdana,arial,helvetica,sans-serif; margin: 0pt 0pt 0.5em; }
#sidebar ul { list-style-type: none; margin: 0pt 0pt 2em; padding: 0pt; }
#sidebar li { margin: 0pt; padding: 1px 0pt; }
#footer { font-size: 90%; background: url('shadow.png') repeat scroll center bottom transparent; margin: 0px auto; width: 890px; padding: 10px 20px 0px; color: white; }
#footer a:link, #footer a:visited { text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; }
#footer a:hover, #footer a:active { color: rgb(221, 221, 221); }
#footer hr { display: none; }
#footer p { text-align: left; width: 40%; float: left; margin: 0pt; padding: 0pt; }
#footer ul { width: 40%; margin: 0pt; padding: 0pt; list-style-type: none; text-align: right; float: right; }
#footer li { margin: 0pt; padding: 0pt 0pt 0pt 1em; display: inline; }
#comments_div { margin-top: 15px; }
/* ::::: http://blog.wyeworks.com/stylesheets/syntax.css ::::: */

#content pre code { color: rgb(0, 0, 0); }
/* ::::: http://blog.wyeworks.com/stylesheets/local.css ::::: */

@media print {
  #sidebar { display: none; }
  #content { float: none; width: 90%; }
  #content pre { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(238, 238, 238); }
  #content form.comments { display: none; }
}
body { font: 13px/1.3em "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif; }
abbr { border: medium none; }
a img { border: medium none; padding: 0pt; margin: 0pt; }
a:link, a:visited { color: rgb(63, 63, 63); }
a:hover, a:active { color: rgb(111, 111, 111); }
pre { white-space: pre-wrap; word-wrap: break-word; }
.disqus-loader {  }
