a { color: rgb(0, 0, 255); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
body { background-color: transparent; font-family: verdana,arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 60px; width: 234px; }
#ads { height: 60px; left: 0px; position: absolute; top: 0px; width: 234px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0pt; }
.rhtitle { color: rgb(0, 0, 255); text-decoration: none; word-wrap: break-word; }
.rhtitle:hover { text-decoration: underline; }
.rhbody { color: rgb(0, 0, 0); word-wrap: break-word; }
.rhurlctr { cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.rhurl { text-decoration: none; }
.rhurl span { color: rgb(0, 128, 0); }
.rhbutton { background: none repeat scroll 0% 0% rgb(63, 159, 63); cursor: pointer; display: inline-block; height: 100%; margin: 0pt; width: 100%; }
.rhbutton img { border-width: 0pt; display: block; }
.rhbutton:hover { background: none repeat scroll 0% 0% rgb(90, 160, 90); }
.rh-nessie-button .rhbutton { border-radius: 50% 50% 50% 50%; }
.rh-nessie-button .rhbutton img { height: 56%; padding: 22% 28% 22% 36%; width: 36%; }
#ads ul li { height: 60px; width: 234px; }
.rh { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 1px 6px; width: 222px; }
.rh > table { height: 100%; }
.rh-body { display: inline-block; font-size: 10px; line-height: 12px; overflow: hidden; padding: 0pt; }
.rh-bodyc { padding: 0pt; vertical-align: top; }
.rh-nessie-button { display: inline-block; height: 24px; overflow: hidden; padding: 0pt 5px; width: 24px; }
.rh-nessie-buttonc { padding: 0pt; text-align: left; vertical-align: middle; width: 36px; }
.rh-title { display: inline-block; font-size: 15px; line-height: 18px; overflow: hidden; padding: 0pt; white-space: nowrap; }
.rh-titlec { padding: 0pt; }
.rh-url { display: inline-block; font-size: 10px; line-height: 14px; overflow: hidden; padding: 1px 0pt; white-space: nowrap; }
.rh-urlc { padding: 0pt; }
.rh1 { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 0pt; }
.rh1 > table { width: 100%; }
.rh1c { padding: 0pt; vertical-align: top; }
.rh2 { display: inline-block; overflow: hidden; padding: 0pt; width: 0pt; }
.rh2c { padding: 0pt; width: 0pt; }
div, ul, li { margin: 0pt; padding: 0pt; }
#abgc { height: 15px; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0pt; width: 15px; z-index: 9010; }
#abgb { height: 100%; }
#abgc svg { display: block; }
#abgs { display: none; height: 100%; }
#abgl { text-decoration: none; }
#cbc { background-image: url('x_button_blue2.png'); background-repeat: no-repeat; cursor: pointer; height: 15px; right: 0pt; top: 0pt; margin: 0pt; overflow: hidden; padding: 0pt; position: absolute; width: 16px; z-index: 9010; display: none; }
#cbc > #cb-x { height: 15px; position: absolute; width: 16px; right: 0pt; top: 0pt; }
#cbc > #cbm { height: 100%; left: 0pt; position: absolute; top: 0pt; width: 100%; }
#cbtf { background-color: white; left: 0px; position: absolute; top: 0px; display: none; z-index: 9020; width: 100%; height: 100%; }
#cbtf p { margin: 0px; padding: 5px; font-family: Arial,sans-serif; color: rgb(51, 51, 51); font-size: 13px; }
#cbtf a, #cbtf a:visited, #cbtf a:link { color: rgb(51, 102, 204); text-decoration: underline; font-size: 13px; }
#cbtf #confirm, #cbtf #confirm a { font-size: 18px; font-weight: bold; }
#cbtf #confirm img { height: 14px; }
#cbtf #logo { height: 28px; vertical-align: middle; }
.tmc { background: none repeat scroll 0% 0% rgb(88, 88, 90); border-radius: 3px 3px 3px 3px; color: rgb(255, 255, 255); font: 11px Arial,sans-serif; padding: 3px; position: absolute; z-index: 9020; }
.tmc.right { margin-left: 8px; }
.tmc .tip { border-left: 4px solid transparent; border-right: 4px solid transparent; height: 0pt; position: absolute; width: 0pt; font-size: 0pt; line-height: 0; }
.tmc.bottom .tip { border-bottom: 4px solid rgb(88, 88, 90); top: -4px; }
.tmc.right .tip { right: 3px; }
.tmc .tooltip-content { display: block; }
.tooltip-content { display: none; }
