/* ::::: http://www.gstatic.com/sites/p/035c66/system/app/themes/microlite/standard-css-microlite-ltr-ltr.css ::::: */

:first-child + html .goog-inline-block { display: inline; }
:first-child + html .goog-custom-button-inner-box { left: -1px; }
:first-child + html .goog-custom-button-rtl .goog-custom-button-inner-box { left: 1px; }
:first-child + html .goog-custom-button-disabled { margin: 2px 1px ! important; padding: 0pt 1px ! important; }
:first-child + html .goog-custom-button-collapse-left .goog-custom-button-inner-box { left: 0pt; }
:first-child + html .goog-menu-button-inner-box { left: -1px; }
:first-child + html .goog-menu-button-rtl .goog-menu-button-inner-box { left: 1px; right: auto; }
:first-child + html .goog-menu-button-disabled { margin: 2px 1px ! important; padding: 0pt 1px ! important; }
:first-child + html .goog-toolbar-button-inner-box { left: -1px; }
:first-child + html .goog-toolbar-button-rtl .goog-toolbar-button-inner-box { left: 1px; right: auto; }
:first-child + html .goog-toolbar-button-disabled { background-color: rgb(240, 240, 240); margin: 0pt 1px; padding: 0pt 1px; }
:first-child + html .goog-toolbar-button-collapse-left .goog-toolbar-button-inner-box { left: 0pt; }
:first-child + html .goog-toolbar-menu-button-inner-box { left: -1px; }
:first-child + html .goog-toolbar-menu-button-rtl .goog-toolbar-menu-button-inner-box { left: 1px; right: auto; }
:first-child + html .goog-toolbar-menu-button-disabled { background-color: rgb(240, 240, 240); margin: 0pt 1px; padding: 0pt 1px; }
:first-child + html .share-client-dialog { max-height: none ! important; overflow: visible ! important; }
@media print {
  div.CSS_SHORTCUTS_HELP_POPUP { display: none ! important; }
}
#sites-header-title { padding-left: 5px; overflow: visible; }
#title-crumbs { padding: 5px 0pt 0pt 10px; }
.sites-layout-searchbox { text-align: right; padding-right: 6px; }
.sites-embed-content { text-align: left; }
#sites-chrome-header .sites-header-secondary-row td { padding: 0px 4px ! important; }
.sites-layout-hbox { width: 100%; table-layout: fixed; }
.sites-layout-tile { padding: 3px; }
:first-child + html .goog-inline-block { display: inline; }
:first-child + html .goog-button-base-inner-box { left: -1px; }
:first-child + html .goog-button-base-content { display: inline-block; }
:first-child + html .goog-button-base-rtl .goog-button-base-inner-box { left: 1px; }
:first-child + html .goog-menu-button-dropdown { top: 0.7em; }
:first-child + html .goog-button-base-collapse-left .goog-button-base-inner-box { left: 0pt; }
:first-child + html .goog-button-base-rtl.goog-button-base-collapse-left .goog-button-base-inner-box { left: 1px; }
:first-child + html .goog-button-base-rtl.goog-button-base-collapse-right .goog-button-base-inner-box { left: 0pt; }
:first-child + html .goog-button-base-rtl.goog-button-base-hover.goog-button-base-collapse-left, :first-child + html .goog-button-base-rtl.goog-button-base-focused.goog-button-base-collapse-left { border-left: 1px solid rgb(136, 136, 136); margin-left: -1px; }
html, body { padding: 0pt; margin: 0pt; direction: ltr; }
body { font: 10pt Arial,sans-serif; }
td { vertical-align: top; }
code { color: rgb(0, 96, 0); }
#sites-chrome-everything { margin: 0pt auto; }
#sites-canvas-main { min-height: 150px; padding-bottom: 5px; padding-top: 15px; }
#sites-canvas-main table { margin: 0pt; }
#title-crumbs, body #sites-page-title-header, .sites-tile-name-header, #sites-canvas-main .sites-tile-name-content-1, .sites-tile-name-footer, .sites-subpages, .sites-kix-editor-wrapper { padding-left: 10px; padding-right: 10px; }
#sites-canvas-main .sites-tile-name-header { padding-top: 10px; padding-bottom: 0pt; }
#sites-canvas-main .sites-tile-name-content-1, #sites-canvas-main .sites-tile-name-content-2, #sites-canvas-main .sites-tile-name-content-3 { padding-top: 10px; padding-bottom: 10px; }
#sites-status { position: fixed; top: 0pt; width: 100%; z-index: 1010; text-align: center; }
.sites-notice { background: none repeat scroll 0% 0% rgb(255, 204, 51); color: rgb(0, 0, 0); display: inline; font: bold 13px Arial,sans-serif; padding: 2px 10px 3px; z-index: 199; }
#sites-header-title h2 { margin: 0pt; }
#sites-page-title-header { font-size: 22px; font-weight: bold; margin: 0pt; }
.sites-adminfooter { font-size: 11px; text-align: center; }
.sites-adminfooter p { margin: 0pt; padding: 5px; }
.sites-embed { margin: 0pt 0pt 6px; }
.sites-embed-content, .sites-embed-content-notitle { overflow: hidden; }
.sites-embed-align-left-wrapping-off { display: block; clear: both; text-align: left; margin: 5px auto 5px 0pt; }
.sites-embed-align-left-wrapping-off .sites-embed { margin: 0pt auto 5px 0pt; }
.sites-embed-border-off { border: medium none ! important; }
#sites-chrome-everything { width: 100%; }
ol { list-style-type: decimal; }
body {  }
#sites-chrome-everything h2, #sites-chrome-everything h3, #sites-chrome-everything h4 { color: rgb(51, 51, 51); margin: 1em 0pt 0.5em; font-family: "Trebuchet MS",arial,sans-serif; }
#sites-chrome-everything h2 { font-size: 1.5em; }
#sites-chrome-everything h3 { font-size: 1.2em; }
#sites-chrome-everything h4 { color: rgb(51, 51, 51); font-size: 1.1em; margin: 1.5em 0pt 1em; }
td { vertical-align: top; padding: 1px 4px; }
#sites-chrome-everything a, #sites-chrome-everything .goog-tree-item-label a { color: rgb(0, 0, 0); text-decoration: underline; }
#sites-chrome-everything a:visited, #sites-chrome-everything .goog-tree-item-label a:visited { color: rgb(51, 51, 51); text-decoration: underline; }
#sites-chrome-everything a:hover, #sites-chrome-everything a:active, #sites-chrome-everything .goog-tree-item-label a:hover { background-color: rgb(224, 224, 224); border-bottom: 1px dotted rgb(187, 36, 45); text-decoration: none; }
#sites-chrome-everything hr { border: 0pt none; background-color: rgb(204, 204, 204); height: 1px; }
#sites-chrome-everything { color: rgb(68, 68, 68); line-height: 1.4; font-family: "Verdana","Helvetica","Arial",sans-serif; }
#sites-chrome-page-wrapper { width: 90%; margin: auto; }
#sites-chrome-main { text-align: left; padding: 0pt; margin-bottom: 10px; }
#sites-chrome-footer { padding-top: 15px; }
#sites-chrome-header-wrapper { background: url('hd-bg.gif') repeat-x scroll center bottom rgb(255, 255, 255); }
.sites-header-primary-row #sites-header-title { height: 95px; padding-left: 15px; }
body #sites-header-title h2 { font: 2.4em "Trebuchet MS",arial,sans-serif; margin: 0pt; letter-spacing: 0.1em; }
.sites-header-primary-row td { vertical-align: bottom; }
.sites-header-primary-row .sites-header-cell-buffer-wrapper { padding-bottom: 40px; }
.sites-layout-searchbox { padding-left: 10px; padding-right: 10px; }
#sites-canvas { padding-top: 5px; }
body #sites-page-title-header { color: rgb(34, 34, 34); font: 1.8em "Trebuchet MS",arial,sans-serif; margin: 0pt; padding: 5px 10px; }
.sites-canvas-main { background-color: transparent; }
.sites-embed { color: rgb(68, 68, 68); font-size: 12px; }
.sites-embed-content, .sites-embed-content-notitle { background-image: none; margin: 0pt; }
.sites-canvas-main .sites-embed { color: rgb(68, 68, 68); font-size: 12px; background: none repeat scroll 0% 0% transparent; border: 1px solid rgb(204, 204, 204); }
#sites-canvas-bottom-panel { background-color: transparent; font-size: 12px; }
/* ::::: http://sites.google.com/site/steveyegge2/_/rsrc/1316102116000/system/app/css/overlay.css?cb=microliteundefineda710px150goog-ws-noside ::::: */

#sites-chrome-page-wrapper { width: 710px ! important; }
#sites-chrome-everything { min-width: 710px ! important; }
#sites-chrome-header .sites-header-primary-row { display: table-row; }
body#body { background-color: rgb(226, 230, 236) ! important; }
body#body { background-image: url('madison-one-container-fill.gif') ! important; background-position: center top ! important; background-repeat: repeat-y ! important; }
#sites-chrome-everything .sites-system-link { color: rgb(113, 115, 118) ! important; }
#sites-chrome-everything .powered-by { color: rgb(113, 115, 118) ! important; }
#sites-chrome-everything { background-image: url('madison-one-container-top.gif') ! important; background-position: center top ! important; background-repeat: no-repeat ! important; }
#sites-chrome-everything a:link { color: rgb(18, 94, 188) ! important; }
#sites-chrome-everything a:visited { color: rgb(99, 139, 188) ! important; }
#sites-chrome-header { background-color: transparent ! important; }
#sites-chrome-header-wrapper { background-color: transparent ! important; }
#sites-chrome-header { background-image: none ! important; }
#sites-chrome-header-wrapper { background-image: url('cleardot.gif') ! important; background-position: left top ! important; background-repeat: no-repeat ! important; }
#sites-page-title { color: rgb(0, 0, 0) ! important; }
#sites-canvas, #sites-attachment-wrapper, #sites-comment-wrapper, #sites-canvas-bottom-panel h3, #sites-canvas-bottom-panel h3 a, #sitemap-tree .goog-tree-root .selected span { color: rgb(63, 63, 63) ! important; }
#sites-chrome-header-wrapper { border-bottom: 0px none ! important; }
