body { margin: 0px; padding: 0px; }
a, a:visited { color: rgb(0, 0, 255); }
a img { border: medium none; }
div#content { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); border: 1px solid rgb(0, 0, 0); margin: 0px; padding: 0px; width: 118px; height: 238px; text-align: center; font-family: 'Arial',sans-serif; font-size: 10px; position: relative; overflow: hidden; }
div#image { height: 110px; margin: 2px 0px; padding-top: 7px; }
p { margin: 3px 0px; }
p#prices { white-space: nowrap; }
form { margin: 3px 0px; }
p#privacy { position: absolute; margin: 0px auto; left: 0px; bottom: 0px; width: 118px; background-color: rgb(255, 255, 255); }
p#privacy a, p#privacy a:visited { color: rgb(161, 161, 161); }
span.price { color: rgb(153, 0, 0); }
