a { color: rgb(21, 145, 192); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
body { background-color: transparent; font-family: arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 90px; width: 658px; }
#ads { height: 90px; left: 0px; position: absolute; top: 0px; width: 658px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0pt; }
.rhtitle { color: rgb(21, 145, 192); text-decoration: none; word-wrap: break-word; }
.rhtitle:hover { text-decoration: underline; }
.rhbody { color: rgb(0, 0, 0); word-wrap: break-word; }
.rhurlctr { cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.rhurl { text-decoration: none; }
.rhurl span { color: rgb(54, 54, 54); }
.rhbutton { background: none repeat scroll 0% 0% rgb(104, 104, 104); cursor: pointer; display: inline-block; height: 100%; margin: 0pt; width: 100%; }
.rhbutton img { border-width: 0pt; display: block; }
.rhbutton:hover { background: none repeat scroll 0% 0% rgb(120, 120, 120); }
.rh-nessie-button .rhbutton { border-radius: 50% 50% 50% 50%; }
.rh-nessie-button .rhbutton img { height: 56%; padding: 22% 28% 22% 36%; width: 36%; }
#ads ul li { height: 90px; width: 658px; }
.rh { display: inline-block; font-size: 0pt; height: 90px; line-height: 0; overflow: hidden; padding: 0pt; width: 658px; }
.rh > table { height: 100%; }
.rh-body { display: inline-block; font-size: 15px; line-height: 18px; overflow: hidden; padding: 0pt; }
.rh-bodyc { padding: 0pt; vertical-align: top; }
.rh-nessie-button { display: inline-block; height: 40px; overflow: hidden; padding: 0pt 9px; width: 40px; }
.rh-nessie-buttonc { padding: 0pt; text-align: left; vertical-align: middle; width: 77px; }
.rh-title { display: inline-block; font-size: 27px; line-height: 32px; overflow: hidden; padding: 0pt; white-space: nowrap; }
.rh-titlec { padding: 0pt; }
.rh-url { display: inline-block; font-size: 15px; line-height: 21px; overflow: hidden; padding: 6px 0pt; white-space: nowrap; }
.rh-urlc { padding: 0pt; }
.rh1 { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 3px 17px; width: 624px; }
.rh1 > table { height: 100%; }
.rh10 { display: inline-block; font-size: 0pt; line-height: 0; overflow: hidden; padding: 0pt; }
.rh10 > table { width: 100%; }
.rh10c { padding: 0pt; vertical-align: top; }
.rh11 { display: inline-block; overflow: hidden; padding: 0pt; width: 4px; }
.rh11c { padding: 0pt; width: 4px; }
.rh1c { padding: 0pt; width: 658px; }
div, ul, li { margin: 0pt; padding: 0pt; }
#abgc { height: 15px; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0pt; width: 15px; z-index: 9010; }
#abgb { height: 100%; }
#abgc svg { display: block; }
#abgs { display: none; height: 100%; }
#abgl { text-decoration: none; }
