html { overflow: hidden; }
@media (max-width: 100000px) {
  #postCompatContainer { display: none; }
}
/* ::::: http://a.disquscdn.com/next/styles/lounge.dde48e65fb7b1dffaf4cae9d447f82cc.css ::::: */

html, body { margin: 0pt; padding: 0pt; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0pt; padding: 0pt; border: 0pt none; font-weight: 400; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
html { overflow-y: scroll; font-size: 100%; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0pt none; }
audio:not([controls]) { display: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0pt none; padding: 0pt; }
body { margin: 0pt; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; color: rgba(29, 47, 58, 0.6); background-color: rgb(255, 255, 255); }
a { color: rgb(0, 105, 214); text-decoration: none; }
a:hover { color: rgb(0, 67, 138); text-decoration: underline; }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0pt; border: 0pt none; }
* { -moz-box-sizing: border-box; }
html { overflow: hidden; }
body { background: none repeat scroll 0% 0% transparent; color: rgb(63, 69, 73); font-family: "Helvetica Neue",arial,sans-serif; font-size: 15px; }
a:hover, a:active { text-decoration: none; }
a:focus { outline: 0pt none; }
a { text-decoration: none; color: rgb(40, 140, 228); }
a:hover { color: rgb(25, 119, 202); }
button::-moz-focus-inner { border: 0pt none; }
p { margin: 0pt 0pt 1.5em; }
@media (max-width: 480px) {
  .btn.follow-btn { font-size: 13px; padding: 4px 9px; }
  .btn.follow-btn .icon-plus, .btn.follow-btn .icon-lock { position: static ! important; }
  .btn.follow-btn .btn-text { display: none ! important; }
  .btn.follow-btn .icon-plus { display: inline; }
  .btn.follow-btn .icon-checkmark { display: none; }
  .btn.follow-btn.following .icon-checkmark { position: static; display: inline; }
  .btn.follow-btn.following .icon-plus { display: none; }
}
@font-face {
  font-family: "embed-icons";  font-style: normal;  font-weight: 400;  src: url('embed-icons.f485179ee97879cea4a76b4dc2c08ea7.eot') format("embedded-opentype"), url('embed-icons.b47581f5ba4a76da649c1fe5a6b68775.svg') format("svg"), url('embed-icons.5d68ca083908ed566c93a0e95dbfc25b.woff') format("woff"), url('embed-icons.844e1c14d6e23e49a03ac2497fd3fcaf.ttf') format("truetype");}
@media (max-width: 500px) {
  #form .avatar { display: none; }
  #form .textarea-wrapper { margin-left: 0pt ! important; }
  #form .textarea-wrapper .textarea .placeholder { font-size: 15px; line-height: 1em; position: relative; top: 2px; }
  #form.expanded .textarea-wrapper .textarea { min-height: 60px; }
}
@media not all {
  .nav .dropdown-toggle { padding-right: 24px; }
}
@media (min-width: 500px) {
  .nav-primary > ul > li.user-menu { margin-left: 6px; }
  .nav-primary > ul > li.user-menu .dropdown-toggle { overflow: hidden; text-overflow: ellipsis; padding-right: 14px; }
  .nav-primary > ul > li.user-menu .dropdown-toggle .dropdown-toggle-wrapper .username { display: inline; }
  .nav-primary > ul > li.user-menu .dropdown-toggle .dropdown-toggle-wrapper .avatar { display: none; }
}
@media (max-width: 480px) {
  .moderate label { width: 100%; }
}
@media (max-width: 600px) {
  #top-users .top-user { width: 48%; }
}
@media (max-width: 430px) {
  #top-users .top-user { width: 98%; margin-left: 2%; }
}
@media (min-width: 480px) {
  .mobile #conversation .post-list .auth-section .connect { position: relative; }
  .mobile #conversation .post-list .auth-section .guest { margin: 0pt; padding: 13px 13px 0pt; }
  .mobile #conversation .post-list .auth-section .proceed { position: static; }
  .mobile #conversation .post-list .auth-section .proceed:before, .mobile #conversation .post-list .auth-section .proceed:after { display: table; content: ""; line-height: 0; }
  .mobile #conversation .post-list .auth-section .proceed:after { clear: both; }
  .mobile #conversation .post-list .auth-section .proceed .forgot { color: rgba(0, 39, 59, 0.2); font-size: 12px; padding: 3px 0pt; line-height: 2.5; }
  .mobile #conversation .post-list .auth-section .proceed:before, .mobile #conversation .post-list .auth-section .proceed:after { display: table; content: ""; line-height: 0; }
  .mobile #conversation .post-list .auth-section .proceed:after { clear: both; }
  .mobile #conversation .post-list .auth-section .proceed .forgot { color: rgba(0, 39, 59, 0.2); font-size: 12px; padding: 3px 0pt; line-height: 2.5; }
}
@media (min-width: 580px) {
  .mobile #conversation .post-list .auth-section .connect { position: relative; display: inline; float: left; border-right: 0pt none; padding: 13px 0pt 0pt 13px; }
  .mobile #conversation .post-list .auth-section .guest { margin: 0pt; padding: 10px 22px 0pt 13px; float: left; border: 0pt none; width: 50%; }
  .mobile #conversation .post-list .auth-section .proceed { position: static; padding: 34px 0pt 0pt; margin-top: 0pt; }
  .mobile #conversation .post-list .auth-section .proceed:before, .mobile #conversation .post-list .auth-section .proceed:after { display: table; content: ""; line-height: 0; }
  .mobile #conversation .post-list .auth-section .proceed:after { clear: both; }
  .mobile #conversation .post-list .auth-section .proceed .forgot { color: rgba(0, 39, 59, 0.2); font-size: 12px; padding: 3px 0pt; line-height: 2.5; }
  .mobile #conversation .post-list .auth-section .proceed:before, .mobile #conversation .post-list .auth-section .proceed:after { display: table; content: ""; line-height: 0; }
  .mobile #conversation .post-list .auth-section .proceed:after { clear: both; }
  .mobile #conversation .post-list .auth-section .proceed .forgot { color: rgba(0, 39, 59, 0.2); font-size: 12px; padding: 3px 0pt; line-height: 2.5; }
  .mobile #conversation .post-list .auth-section .proceed button { width: 15%; }
}
@media (max-width: 480px) {
  .auth-section .column { width: 100%; }
  .auth-section .connect { position: relative; }
  .auth-section .guest { margin: 0pt; padding: 0pt; border: 0pt none; }
  .auth-section .proceed { position: static; }
  .auth-section .proceed:before, .auth-section .proceed:after { display: table; content: ""; line-height: 0; }
  .auth-section .proceed:after { clear: both; }
  .auth-section .proceed .forgot { color: rgba(0, 39, 59, 0.2); font-size: 12px; padding: 3px 0pt; line-height: 2.5; }
  .auth-section .proceed:before, .auth-section .proceed:after { display: table; content: ""; line-height: 0; }
  .auth-section .proceed:after { clear: both; }
  .auth-section .proceed .forgot { color: rgba(0, 39, 59, 0.2); font-size: 12px; padding: 3px 0pt; line-height: 2.5; }
  #community-tab { display: none; }
  #onboard .notice { text-align: center; }
  #onboard .notice .icon-disqus { display: none; }
  #onboard .notice a { display: inline-block; }
  #onboard .notice a.btn { width: 100%; }
  #onboard .notice a.message { margin-bottom: 12px; }
  .auth-section .audiencesync .icons-container img { width: 16px; }
  #footer { margin: 0pt 0pt 10px; }
  #footer li { float: none ! important; margin: 0pt; border-bottom: 1px solid rgba(0, 49, 79, 0.08); padding: 16px 0pt; }
  #footer .install i { top: 16px; }
  #footer .email i { top: 14px; }
  #footer .logo { padding-top: 0pt; }
  #footer .logo a { float: none; }
  #footer .email .icon-checkmark { right: 13px; }
  #footer .email.subscribed .default .icon-checkmark { top: 16px; }
  .my-disqus-nav li { width: 50%; }
  .my-disqus-nav li.user-followers-count { display: none; }
}
