/* ::::: http://s7.addthis.com/static/r07/widget68.css ::::: */

.addthis_toolbox.addthis_default_style span { line-height: 16px; }
div.atclear { clear: both; }
.addthis_default_style .addthis_separator, .addthis_default_style .at300b, .addthis_default_style .at300m, .addthis_default_style .at300bs { float: left; }
.addthis_default_style .at300b, .addthis_default_style .at300m { padding: 0pt 2px; }
.at300b, .at300m, .at300bs { cursor: pointer; }
.at300bs:hover { opacity: 0.8; }
.at300bs { background: url('widget33.png') no-repeat scroll 0pt 0pt transparent; overflow: hidden; display: block; height: 16px; width: 16px; line-height: 16px ! important; }
.at15t_compact { background-position: 0pt -3344px; }
.addthis_default_style .at15t_expanded, .addthis_default_style .at15t_compact { margin-right: 4px; }
:first-child + html #at_email textarea { height: 42px ! important; }
* html #at16psf input, :first-child + html #at16psf input { padding: 0pt; }
:first-child + html #at_email #at16eatdr { top: 115px ! important; width: 272px ! important; }
#_atssh { width: 1px ! important; height: 1px ! important; border: 0pt none ! important; }
@media print {
  #at20mc { display: none; }
}
/* ::::: http://static.embarcadero.com/styles/edn.css ::::: */

.primary-menu { background: none repeat scroll 0% 0% transparent; font-weight: normal; padding: 7px 1px 0pt 0pt; white-space: nowrap; text-align: center; }
.primary-menu ul { margin: 0pt; }
.primary-menu a { border-bottom: medium none; color: rgb(204, 204, 204); line-height: 28px; padding: 13px 15px 5px; text-decoration: none; text-transform: uppercase; }
.primary-menu ul li a {  }
.primary-menu a:visited { border-bottom: medium none; color: rgb(204, 204, 204); text-decoration: none; }
.primary-menu a:hover { background: url('mainnav_bg_over.gif') repeat-x scroll center bottom transparent; border-bottom: medium none; color: rgb(255, 255, 255); text-decoration: none; }
.primary-menu li { line-height: 0; list-style: none outside none; }
.primary-menu ul ul a { background: none repeat scroll 0% 0% rgb(64, 64, 64); border: 0pt none; color: white; display: block; font-size: 11px; font-weight: bold; line-height: 14px; padding: 5px 18px 5px 10px; text-transform: uppercase; }
.primary-menu ul ul a:visited { color: white; }
.primary-menu ul ul a:hover { background: none repeat-y scroll right center black; text-decoration: none; }
.primary-menu ul, .primary-menu ul ul li { padding-top: 0ex; padding-bottom: 0ex; }
.primary-menu ul { padding-left: 0px; }
.primary-menu a { padding-left: 2.7em; padding-right: 2.7em; }
.primary-menu ul li { display: inline; margin: 0pt; padding: 0pt; }
.primary-menu ul ul { padding: 0px; text-align: left; }
.primary-menu ul ul li { display: block; font-size: 0pt; padding-bottom: 0pt; padding-top: 0pt; }
.primary-menu ul li { position: relative; }
.primary-menu ul li:hover, .primary-menu ul li.over { z-index: 999; }
.primary-menu ul ul { display: none; font-size: 11px; position: absolute; top: 25px; left: 0px; }
.primary-menu ul li:hover ul, .primary-menu ul li.over ul { z-index: 997; }
.primary-menu ul ul li { min-width: 6em; width: 151px; }
.primary-menu li:hover ul, .primary-menu li.over ul { display: block; z-index: 99999; }
.primary-menu li:hover, .primary-menu li.over { direction: ltr; z-index: 99999; }
.primary-menu ul ul { margin-left: 0px; }
.primary-menu ul ul li {  }
.primary-menu ul ul li a {  }
.langbg { padding-left: 0px; padding-right: 0px; }
.langselect { padding: 0pt; }
.langselect .primary-menu { height: 26px; padding-top: 7px; }
.primary-menu ul.langbg li a { line-height: 18px; padding-bottom: 5px; }
.primary-menu ul.langbg { padding-left: 0pt; }
.primary-menu ul.langbg ul { font-size: 1em; top: 12px; width: 146px; }
.primary-menu ul.langbg ul a { font-size: 11px; line-height: normal; padding-left: 0.5em; padding-right: 0.5em; }
.primary-menu ul.langbg ul a:visited {  }
.primary-menu ul.langbg ul a:hover {  }
.primary-menu ul.langbg li { padding: 0pt; margin: 0px; }
.primary-menu ul.langbg li a { color: rgb(52, 52, 52); padding: 0px; }
.primary-menu .langbg li ul li { background-image: none; border: medium none; padding: 0px; width: 150px; }
.primary-menu .langbg li ul li a { border-top: 1px solid rgb(102, 102, 102); padding: 2px 12px 2px 8px; font-size: 11px; font-weight: normal; text-decoration: none; text-transform: none; width: 150px; color: white; }
.primary-menu .langbg li ul li a:hover { color: white; }
.primary-menu ul.langbg ul {  }
#langselected {  }
#langselecteda { background: none repeat scroll 0% 0% transparent; border-right: medium none; color: white; }
.countryselected ul { left: -50px; }
.primary-menu .countrylist .countryselected .countryselecteda { background: none repeat scroll 0% 0% transparent; border-right: medium none; color: white; }
.primary-menu .countrylist li ul .section { background: none repeat scroll 0% 0% black; color: white; font-size: 12px; font-weight: 900; line-height: 14px; margin-left: 10px; padding: 5px 12px 4px 8px; text-align: center; text-decoration: none; text-transform: none; }
.primary-menu ul ul {  }
.primary-menu ul ul li { border-top: 1px solid rgb(102, 102, 102); padding: 0pt; }
html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; background-image: url('body_bg.jpg'); background-repeat: repeat-x; background-position: center top; background-color: rgb(131, 131, 131); }
form {  }
a { color: rgb(0, 114, 188); }
img { border: medium none; }
.main_wrapper {  }
.main_wrapper { margin-right: auto; margin-left: auto; background-image: url('body_shadow_bg.jpg'); background-repeat: repeat-y; background-position: left center; }
.main_wrapper_inner_left { background-image: url('body_head_bg.jpg'); background-repeat: no-repeat; background-position: left top; padding-left: 5px; min-height: 100%; }
.main_wrapper2 { background-image: url('body_shadow_bg.jpg'); background-repeat: repeat-y; background-position: right center; margin-left: 19px; }
.main_wrapper2_inner_right { background-image: url('body_head_bg.jpg'); background-repeat: no-repeat; background-position: right top; padding-right: 24px; }
.shadow_bg_wrapper { min-height: 885px; height: auto ! important; }
.shadow_bg_wrapper { background-repeat: no-repeat; background-position: center top; position: relative; }
.header_wrapper { width: 980px; background-image: url('header_bg.jpg'); background-repeat: no-repeat; background-position: center top; height: 168px; margin-right: auto; margin-left: auto; padding-top: 4px; position: relative; z-index: 6; }
.ednlogo, .ednlogo img { display: block; margin-top: 17px; margin-left: 8px; border: medium none; position: relative; }
* html .ednlogo, .ednlogo img { margin-left: 6px; margin-top: 9px; }
.mainlogo { width: 600px; }
.mainlogo, .mainlogo img { display: block; margin-top: 30px; margin-left: 5px; border: medium none; position: relative; }
* html .mainlogo, .mainlogo img { margin-top: 15px; }
.mininav_wrapper { text-align: right; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 10px; height: 18px; margin-right: 19px; }
.mininav_wrapper a:link, .mininav_wrapper a:visited, .mininav_wrapper a:active { color: rgb(255, 255, 255); text-decoration: none; margin-right: 10px; margin-left: 10px; }
.mininav_wrapper a:hover { text-decoration: underline; }
.search { display: inline; margin: 0px; }
.search .s { background-color: rgb(204, 204, 204); border: 1px solid rgb(70, 70, 70); font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(51, 51, 51); margin-right: 10px; }
.mininav_wrapper a.site-home { color: rgb(255, 70, 70); }
.main_nav_wrapper { height: 28px; text-align: left; padding-right: 1px; width: 970px; margin-right: auto; margin-left: auto; position: relative; top: -5px; }
.main_nav_wrapper a:link, .main_nav_wrapper a:visited, .main_nav_wrapper a:active { font-family: Arial,Helvetica,sans-serif; display: block; float: left; color: rgb(204, 204, 204); text-decoration: none; font-size: 14px; text-transform: uppercase; font-weight: bold; padding: 8px 10px 9px; margin-right: 45px; }
* html .main_nav_wrapper a:link, .main_nav_wrapper a:visited, .main_nav_wrapper a:active { padding-bottom: 10px; }
.main_nav_wrapper a:hover { color: rgb(255, 255, 255); background-color: rgb(54, 54, 54); border-width: 1px; border-style: solid solid none; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(255, 255, 255); padding: 7px 9px 9px; margin-right: 45px; }
.subnav_wrapper { position: absolute; left: 0px; }
.subnav { position: absolute; visibility: hidden; background-color: rgb(54, 54, 54); padding-top: 15px; padding-bottom: 10px; margin-top: -1px; border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153); background-image: url('subnav_bg2.gif'); background-repeat: repeat-x; background-position: center bottom; overflow: hidden; }
.subnav .col { float: left; width: 180px; }
.subnav h1 { margin: 0px 15px 10px; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; color: rgb(251, 102, 0); }
.subnav a:link, .subnav a:visited { display: block; font-family: Arial,Helvetica,sans-serif; text-align: left; font-size: 11px; font-weight: bold; color: rgb(194, 194, 194); text-decoration: none; width: 160px; padding: 5px; border-width: 1px; border-style: none none solid; border-color: rgb(86, 91, 95); margin-right: 10px; margin-left: 10px; }
.subnav a:hover { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(146, 65, 12); }
#Communities_subnav { width: 400px; }
.footer { height: 76px; margin-right: auto; margin-left: auto; background-image: url('footer_bg.jpg'); background-repeat: no-repeat; background-color: rgb(146, 146, 146); font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(239, 239, 239); padding-left: 28px; text-align: center; }
.footer2 { height: 76px; margin-right: auto; margin-left: auto; background-image: url('footer_bg.jpg'); background-repeat: no-repeat; background-position: right top; font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(239, 239, 239); padding-right: 28px; text-align: center; }
.footer_center { height: 36px; margin-right: auto; margin-left: auto; background-image: url('footer_bg_tile.jpg'); background-repeat: repeat-x; padding-top: 40px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; color: rgb(239, 239, 239); text-align: center; }
.print_btn a { margin-left: 5px; }
.print_btn { float: right; }
.print_btn ul { margin: 0pt; padding: 0pt; }
.print_btn ul li { display: inline; margin: 0pt; padding: 0pt; }
.print_btn ul li a {  }
.print_btn ul .print a { background: url('btn_print.gif') no-repeat scroll center center transparent; padding: 11px 0pt 11px 69px; }
.print_btn ul .print a span { display: none; }
.print_btn ul .submit-translation a { background: url('btn_submit_translation.jpg') no-repeat scroll center center transparent; padding: 11px 0pt 11px 151px; }
.print_btn ul .submit-translation a span { display: none; }
.content_wrapper_inside { margin-right: auto; margin-left: auto; padding: 15px; background: url('content_top.jpg') repeat-x scroll 0% 0% white; min-height: 743px; }
.content_wrapper_inside h1 { margin-top: 0px; margin-bottom: 15px; width: auto; }
.content_wrapper_inside h1, .content_wrapper_inside h2, .content_wrapper_inside h3, .content_wrapper_inside h4 { margin-top: 0px; margin-bottom: 15px; color: rgb(51, 51, 51); }
.content_wrapper_inside h1 { font-size: 22px; color: rgb(255, 100, 0); }
.content_wrapper_inside .colright { margin-left: 15px; }
.content_wrapper h2, .content_wrapper_inside h2 { font-size: 20px; }
.content_wrapper_top { padding-bottom: 1px; }
.article-with-rightcol {  }
.clearblock { clear: both; height: 0px; overflow: hidden; }
.top { margin-bottom: 15px; }
.breadcrumb { font-size: 11px; }
.breadcrumb ul { margin: 0pt; padding: 0pt; }
.breadcrumb ul li { display: inline; margin: 0pt; padding: 0pt; }
.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active { color: rgb(70, 70, 70); font-weight: bold; text-decoration: none; }
.breadcrumb a:hover { text-decoration: underline; }
.link, .colright div { background-image: url('linksbox_bg.gif'); background-repeat: repeat-y; background-position: center center; }
.colright div div div h2 { margin-bottom: 0pt; }
.link a, .colright div div div h2 .top, .colright div div div.chat-invitation a, .colright div div div.article-rating h2 a { padding: 10px 10px 10px 35px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; color: rgb(102, 102, 102); margin-right: 10px; margin-left: 10px; text-decoration: none; text-transform: uppercase; background-repeat: no-repeat; background-position: left center; margin-bottom: 0pt; }
.colright div div div h2 .sectioncollapse, .colright div div div h2 .sectionexpand, .colright div div div h2 a.top img, .colright div div div.chat-invitation a img { display: none; }
.colright div div div.article-translations h2 a.top { background-image: url('translation_icon.gif'); }
.colright div div div.article-translations div { margin-top: 10px; }
.colright div div div.article-translations div div { margin-top: 0pt; }
.colright div div div.article-rating h2 a { background-image: url('icon_rating.jpg'); }
.colright div div div.article-rating div table { margin-top: 5px; }
.colright div div div.article-rating .toptable td { padding: 0pt; vertical-align: top; }
.colright div div div.article-rating .toptable td .sectionexpand, .colright div div div.article-rating .toptable td .sectioncollapse { display: none; }
.colright div div div.article-rating ul.rating { height: 18px; margin: 0px; padding: 0px; width: 90px; background: url('transparentstar.gif') repeat-x scroll 0px 0px transparent; position: relative; border: medium none; float: none; }
.colright div div div.article-rating ul.rating li { display: block; margin: 0pt; position: absolute; }
.colright div div div.article-rating ul.rating li a { border-bottom: medium none; width: 100%; display: block; text-decoration: none; font-size: 18px; }
.colright div div div.article-rating ul.rating li a:hover { background: url('greenstar.gif') repeat-x scroll 0px 0px transparent; border-bottom: medium none; text-decoration: none; }
.colright div div div.article-rating ul.rating li.r1 { width: 18px; z-index: 200; }
.colright div div div.article-rating ul.rating li.r2 { width: 36px; z-index: 190; }
.colright div div div.article-rating ul.rating li.r3 { width: 54px; z-index: 180; }
.colright div div div.article-rating ul.rating li.r4 { width: 72px; z-index: 170; }
.colright div div div.article-rating ul.rating li.r5 { width: 90px; z-index: 160; }
.colright div div div.article-rating ul.rating li.r-existing { background: url('redstar.gif') repeat-x scroll 0px 0px transparent; z-index: 150; }
.colright div div div.article-tags h2 .top, .colright div div div.popular-tags h2 .top { background-image: url('icon_tag.jpg'); }
.colright div div div.article-tags div, .colright div div div.popular-tags div { padding: 10px; }
.colright div div div.article-tags div div, .colright div div div.popular-tags div div { padding: 0pt; }
.colright div div div.article-tags div .tagcloud a, .colright div div div.article-tags div .tagcloud a:link, .colright div div div.article-tags div .tagcloud a:visited, .colright div div div.popular-tags div .tagcloud a, .colright div div div.popular-tags div .tagcloud a:link, .colright div div div.popular-tags div .tagcloud a:visited { color: rgb(0, 114, 188); }
.colright div div div.article-tags div .tagcloud a:hover, .colright div div div.popular-tags div .tagcloud a:hover { color: rgb(0, 114, 188); }
.link_top, .colright div div { background-image: url('linksbox_top.gif'); background-repeat: no-repeat; background-position: center top; padding-top: 5px; position: relative; }
.link_bottom, .colright div div div { background-image: url('linksbox_bottom.gif'); background-repeat: no-repeat; background-position: center bottom; position: relative; padding: 10px 5px 15px; }
.colright div div div div { background: none repeat scroll 0% 0% transparent; padding: 0pt; }
.colright .module div {  }
.module-highlight { display: none; position: absolute; z-index: 999; }
.module-left-border { border-right: 2px solid rgb(137, 137, 137); }
.module-right-border { border-left: 2px solid rgb(137, 137, 137); }
.module-top-border { border-bottom: 2px solid rgb(137, 137, 137); }
.module-bottom-border { border-top: 2px solid rgb(137, 137, 137); }
.link, .colright div .module {  }
.article-comments { background: url('comment_bg.gif') repeat scroll 0% 0% transparent; width: 657px; }
.article-comments div { background: url('comments_top.gif') no-repeat scroll 0% 0% transparent; }
.article-comments div div { background: url('comments_bottom.gif') no-repeat scroll left bottom transparent; padding: 19px 15px; }
.article-comments div div div { background: none repeat scroll 0% 0% transparent; padding: 0pt; }
.article-comments div div .section { margin: 15px 0pt 0pt; }
.article-comments h1 { background: url('icon_comments.jpg') no-repeat scroll left center transparent; color: rgb(51, 51, 51); font-size: 14px; margin-bottom: 0pt; padding-left: 20px; position: relative; text-transform: uppercase; }
.article-comments h1 .sectioncollapse, .article-comments h1 .sectionexpand { display: none; }
.article-comments h1 .view-all, .article-comments h1 .add-new, .article-comments h1 .rssbtn, .article-comments h1 .atombtn { display: inline-block; height: 22px; padding-right: 8px; vertical-align: middle; }
.article-comments h1 .view-all span, .article-comments h1 .add-new span, .article-comments h1 .rssbtn span, .article-comments h1 .atombtn span { display: none; }
.article-comments h1 .view-all { background: url('btn_view_all.jpg') no-repeat scroll right center transparent; padding-left: 76px; }
.article-comments h1 .add-new { background: url('btn_add_new.jpg') no-repeat scroll right center transparent; padding-left: 66px; }
.article-comments h1 .rssbtn { background: url('icon_rss.jpg') no-repeat scroll right center transparent; padding-left: 56px; }
.article-comments h1 .atombtn { background: url('icon_atom.jpg') no-repeat scroll right center transparent; padding-left: 61px; }
.article-comments .CommentBox { padding-bottom: 5px; padding-top: 5px; }
.article-comments .CommentBox .commentheader { font-size: 8pt; padding: 2px 0pt; }
.article-comments .CommentBox .commenttitle { font-weight: bold; padding: 2px 0pt; }
.article-comments .CommentBox .commentexcerpt { padding: 2px 0pt 2px 5px; }
.article-comments .CommentBox .commentexcerpt a:hover { text-decoration: none; }
.search-hint-box { background: none repeat scroll 0% 0% rgb(64, 64, 64); border: 1px solid rgb(102, 102, 102); display: none; padding: 0pt; position: absolute; text-align: left; text-transform: none; z-index: 9999; }
.search-hint-box .hitcount { font-size: 8pt ! important; padding: 4px ! important; }
.tagcloud { text-align: justify; word-spacing: 0.4em; }
.tagcloud .tag { text-align: left; white-space: nowrap; word-spacing: normal; }
.tagcloud a { border-bottom: medium none; color: rgb(139, 0, 0); text-decoration: none; }
.tagcloud a:visited { border-bottom: medium none; color: rgb(178, 34, 34); text-decoration: none; }
.tagcloud a:hover { border-bottom: medium none; color: rgb(178, 34, 34); text-decoration: underline; }
.tag-medium { font-size: 100%; }
.article h1.title3 { font-size: 20px; margin-bottom: 5px; }
.article #expand-collapse-all {  }
.article #expand-collapse-all span { float: left; margin-top: 3px; padding-right: 7px; }
.article #expand-collapse-all span a { display: block; height: 18px; width: 18px; }
.article #expand-all { background: url('plus_bullet_lg.gif') no-repeat scroll 0% 0% transparent; }
.article #collapse-all { background: url('minus_bullet_lg.gif') no-repeat scroll 0% 0% transparent; }
.article p.author { font-size: 14px; font-weight: bold; margin-top: 0pt; }
.article a, .article a:link, .article a:visited { font-weight: bold; text-decoration: none; }
.article a:hover { text-decoration: underline; }
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 { margin-bottom: 0pt; }
.article-content h2, .article-content .heading2 { font-size: 16px; }
.article-content p {  }
.article .toclink, .article .sectioncollapse, .article .sectionexpand {  }
.article .toclink a, .article .sectioncollapse a, .article .sectionexpand a { background-position: center center; background-repeat: no-repeat; float: left; margin-right: 4px; width: 13px; }
.article .toclink a:hover, .article .sectioncollapse a:hover, .article .sectionexpand a:hover { text-decoration: none; }
.article .sectioncollapse a { background-image: url('minus_bullet.gif'); }
.article-content { margin-left: 20px; }
code { font-family: Courier New,monospace; }
code.comment { color: rgb(0, 128, 0); font-weight: normal; }
code.keyword { color: rgb(0, 0, 192); }
code.quote { color: rgb(128, 0, 0); font-weight: normal; }
.sourcecode { border: 1px solid rgb(192, 192, 192); margin-left: 20px; margin-right: 20px; padding: 5px 20px; white-space: pre; background-color: rgb(245, 245, 245); font-family: Courier New,monospace; font-size: 9pt; }
form { margin: 0px; padding: 0px; }
.horizontal_dotted { height: 5px; width: 100%; background-image: url('horizontal_dotted.jpg'); background-repeat: repeat-x; }
.button { background-image: url('button2.gif') ! important; background-repeat: repeat-x; background-color: rgb(228, 229, 230); border: 1px solid rgb(226, 226, 226); height: 32px; line-height: 34px; text-align: center; width: 195px; }
.button a { border-bottom: medium none; color: rgb(48, 48, 48); display: block; font-size: 16px; font-weight: bold; text-decoration: none; }
.button a:hover { border-bottom: medium none; color: black; text-decoration: none; }
.button-image { text-align: left; }
.button-image a { background-repeat: no-repeat; background-position: left center; margin: 0pt 3px; padding-left: 34px; white-space: nowrap; }
.button-cart a { background-image: url('icon-shop.gif'); }
.button-dl a { background-image: url('icons-small-download.gif'); }
