/* ::::: http://www.cnblogs.com/css/common.css ::::: */

img { border: 0px none; }
#MySignature { margin-top: 10px; }
#blog_post_info_block { margin-top: 20px; }
#EntryTag { font-size: 12px; }
.cnblogs_code { background-color: rgb(245, 245, 245); font-family: Courier New; font-size: 12px; border: 1px solid rgb(204, 204, 204); padding: 5px; overflow: auto; margin: 5px 0px; }
.cnblogs_code pre { font-size: 12px; }
.cnblogs_code span { font-family: Courier New; font-size: 12px; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; padding: 2px; font-size: 12px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; word-wrap: break-word; }
#commentform_title { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; padding: 0pt 0pt 0pt 25px; margin-bottom: 10px; }
div.commentform input.author, div.commentform input.email, div.commentform input.url { background-image: url('icon_form.gif'); background-repeat: no-repeat; border: 1px solid rgb(204, 204, 204); padding: 4px 4px 4px 30px; width: 300px; font-size: 13px; }
div.commentform input.author { background-position: 3px -3px; }
div.commentform input.url { background-position: 3px -63px; }
div.commentform textarea { width: 450px; height: 300px; font-size: 13px; }
div.commentform p { margin-top: 10px; line-height: 20px; }
.commentbox_title { width: 450px; }
.commentbox_title_left { float: left; }
.commentbox_title_right { float: right; height: 22px; }
.clear { clear: both; }
.comment_icon { vertical-align: middle; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#digg_block { margin-top: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_avatar { vertical-align: top; float: left; margin-right: 5px; padding-top: 5px; padding-left: 2px; border: 0px none; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#author_profile_follow a:link {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 120px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: url('upup.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url('downdown.gif') no-repeat scroll 0% 0% transparent; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
blockquote { background: none repeat scroll 0% 0% transparent; border: 2px solid rgb(239, 239, 239); color: rgb(51, 51, 51); margin-left: 25px; padding: 5px 10px; margin-top: 10px; margin-bottom: 10px; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
div.commentform textarea.comment_textarea { line-height: 1.6; }
#green_channel { padding: 10px 5px; margin-bottom: 0px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 9pt; color: rgb(0, 0, 0); width: 390px; }
#green_channel a { background: url('undefined') repeat-x scroll 0% 0% transparent; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 5px 5px 5px 5px; box-shadow: 0pt 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0pt -1px 1px rgba(0, 0, 0, 0.25); font-size: 9pt; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_contact { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; }
#green_channel #green_channel_weibo { background: none repeat scroll 0% 0% transparent; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#cnblogs_post_body ul { list-style-type: disc; }
#cnblogs_post_body ul { margin-left: 45px; }
a.comment_uploadimg_a { font-size: 12px; }
#site_nav_under { margin-top: 5px; }
#site_nav_under a { margin-right: 10px; }
.recent_comment_author { text-align: right; margin-right: 4px; }
.cnblogs_code_toolbar { margin-top: 5px; }
.cnblogs_code_toolbar span { padding-right: 5px; }
/* ::::: http://www.cnblogs.com/Skins/coffee/style.css ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0pt; padding: 0pt; }
html { height: 100%; }
body { color: rgb(0, 0, 0); background: url('bg_body.gif') repeat scroll left top transparent; font-family: "verdana","ms song","宋体","Arial","微软雅黑","Helvetica","sans-serif"; font-size: 9pt; min-height: 101%; }
fieldset, img { border: 0pt none; }
ul {  }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a:link { color: rgb(7, 93, 179); text-decoration: none; }
a:visited { color: rgb(7, 93, 179); text-decoration: none; }
a:hover { color: rgb(7, 93, 179); text-decoration: underline; }
a:active { color: rgb(7, 93, 179); text-decoration: none; }
.clear { clear: both; }
#home { margin: 0pt auto; width: 100%; min-width: 930px; }
#header { background: url('header.gif') no-repeat scroll right top transparent; height: 178px; }
#blogTitle { height: 178px; clear: both; background: url('bg_title.gif') no-repeat scroll 170px 40px transparent; }
#blogTitle h1 { font-weight: bold; line-height: 1.5em; padding-top: 25px; margin-left: 2em; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; font-size: 28px; }
#blogTitle a { color: rgb(147, 90, 50); }
#blogTitle h2 { line-height: 1.5em; margin-left: 4.5em; color: rgb(147, 90, 50); }
#blogLogo { float: right; }
#main { width: 97%; min-width: 950px; text-align: left; margin: auto; }
#mainContent .forFlow { margin: 0pt 250px 0pt 0pt; background: url('bg_left.gif') repeat-x scroll left top rgb(254, 254, 242); padding-top: 35px; padding-bottom: 15px; }
#mainContent { float: left; width: 100%; margin: 0pt -250px 0pt 0pt; background: none repeat scroll 0% 0% transparent; border: 0px solid green; text-align: left; overflow-x: hidden; }
#navigator { clear: both; width: 95%; margin: auto auto 20px; height: 40px; background: url('line.gif') repeat-x scroll left bottom rgb(254, 254, 242); }
#navList { min-height: 30px; float: left; }
#navList li { float: left; }
#navList a { height: 22px; float: left; text-align: center; padding-top: 8px; margin-right: 12px; }
#navList a { color: rgb(51, 51, 51); }
#navList a:hover { color: rgb(147, 90, 50); }
.blogStats { float: right; color: rgb(51, 51, 51); margin-top: 8px; text-align: right; }
.postTitle { font-weight: bold; float: right; line-height: 1.5em; width: 100%; clear: both; font-size: 14px; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(51, 51, 51); }
.postTitle a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
.postDesc { float: right; width: 100%; clear: both; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; font-size: 12px; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(170, 122, 83); }
.postDesc a:hover { text-decoration: underline; }
#sideBar { width: 230px; padding: 0px 0pt 0px 5px; float: right; text-overflow: ellipsis; overflow: hidden; }
.newsItem .catListTitle { display: none; }
.newsItem { padding: 15px 0pt 5px 0px; margin-bottom: 8px; }
#calendar { width: 229px; }
#calendar .Cal { width: 100%; line-height: 2em; }
.Cal { border: 0px solid black; color: rgb(129, 109, 101); }
#calendar table a:link, #calendar table a:visited, #calendar table a:active { font-weight: bold; color: rgb(116, 88, 75); }
#calendar table a:hover { color: white; text-decoration: none; background-color: rgb(170, 122, 83); }
#calendar td, #calendar th { font-size: 12px; }
.CalTodayDay { background: url('bg_cal_today.gif') no-repeat scroll 52% 3px transparent; color: white; }
.CalWeekendDay { background: none repeat scroll 0% 0% rgb(243, 230, 207); }
#calendar .CalNextPrev a:link, #calendar .CalNextPrev a:visited, #calendar .CalNextPrev a:active { font-weight: bold; background-color: transparent; }
#calendar .CalNextPrev a:hover { font-weight: bold; color: white; background-color: rgb(170, 122, 83); }
.CalDayHeader { background: url('bg_cal_day.gif') no-repeat scroll 50% 0pt transparent; color: white; padding-bottom: 5px; }
.CalTitle { background: none repeat scroll 0% 0% transparent; color: rgb(170, 122, 83); font-weight: bold; height: 30px; text-align: center; width: 100%; }
.catListTitle { font-weight: bold; line-height: 1.2em; font-size: 25px; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; margin-top: 15px; margin-bottom: 10px; text-align: left; background: url('title_cata.gif') no-repeat scroll 0pt 50% transparent; color: rgb(170, 122, 83); padding: 8px 0px 0px 32px; }
.catListComment { line-height: 1.5em; }
#sideBarMain ul { line-height: 1.5em; }
#topics { width: 95%; min-height: 200px; padding: 0px 0px 10px 0pt; text-overflow: ellipsis; overflow: hidden; margin: auto; }
#topics a:link { color: rgb(7, 93, 179); }
#topics a:visited { color: rgb(7, 93, 179); }
#topics a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
#topics a:active { color: rgb(7, 93, 179); }
#topics .postTitle { font-size: 14px; font-weight: bold; float: left; line-height: 1.5em; padding-left: 5px; }
.postBody { padding: 5px 2px 5px 5px; line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody p { line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody span { line-height: 1.5; }
#EntryTag { color: rgb(102, 102, 102); }
#EntryTag a { margin-left: 5px; }
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active { color: rgb(102, 102, 102); }
#EntryTag a:hover { color: rgb(255, 102, 0); }
#topics .postDesc { float: right; width: 100%; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; }
.commentform { width: 90%; margin: auto auto 10px; }
#HistoryToday { font-weight: bold; }
#footer { text-align: center; min-height: 15px; height: 30px; margin-top: 10px; padding-top: 30px; background: url('bg_left.gif') repeat-x scroll left top rgb(254, 254, 242); }
.postBody { line-height: 1.5; margin-top: 5px; }
.postBody p, .postCon p { line-height: 1.5em; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
.postBody ul, .postCon ul { margin-left: 2em; }
.postBody li, .postCon li { list-style-type: disc; margin-bottom: 1em; }
.postBody blockquote { background: url('comment.gif') no-repeat scroll 25px 0px transparent; padding: 10px 60px 5px; min-height: 35px; line-height: 1.6em; color: rgb(51, 51, 51); }
/* ::::: http://www.cnblogs.com/css/common2.css ::::: */

p { margin: 5px auto; text-indent: 0px; }
.postBody p, .postCon p { margin: 5px auto; }
.postBody p, .postCon p { text-indent: 0px; }
.cnblogs_code span { line-height: 1.5; }
#div_digg .diggnum { line-height: 1.5em; }
#div_digg .burynum { line-height: 1.5em; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255); border: medium none; }
.cnblogs_code { font-family: Courier New; font-size: 12px; }
.cnblogs_code pre { font-family: Courier New; font-size: 12px; }
.cnblogs_code span { font-family: Courier New; font-size: 12px; }
#cnblogs_post_body ul li { list-style: inherit; }
/* ::::: http://common.cnblogs.com/css/shStyle.css ::::: */

/* ::::: http://files.cnblogs.com/bamanzi/prettify.css ::::: */

@media screen {
  .str { color: rgb(0, 136, 0); }
  .kwd { color: rgb(0, 0, 136); }
  .com { color: rgb(136, 0, 0); }
  .typ { color: rgb(102, 0, 102); }
  .lit { color: rgb(0, 102, 102); }
  .pun, .opn, .clo { color: rgb(102, 102, 0); }
  .tag { color: rgb(0, 0, 136); }
  .atn { color: rgb(102, 0, 102); }
  .atv { color: rgb(0, 136, 0); }
  .dec, .var { color: rgb(102, 0, 102); }
  .fun { color: red; }
}
@media print, projection {
  .str { color: rgb(0, 102, 0); }
  .kwd { color: rgb(0, 0, 102); font-weight: bold; }
  .com { color: rgb(102, 0, 0); font-style: italic; }
  .typ { color: rgb(68, 0, 68); font-weight: bold; }
  .lit { color: rgb(0, 68, 68); }
  .pun, .opn, .clo { color: rgb(68, 68, 0); }
  .tag { color: rgb(0, 0, 102); font-weight: bold; }
  .atn { color: rgb(68, 0, 68); }
  .atv { color: rgb(0, 102, 0); }
}
