html { margin: 0pt; padding: 0pt; font-size: 11px; font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif; line-height: 20px; }
body { margin: 0pt; padding: 0pt; color: rgb(51, 51, 51); }
#widget { overflow: hidden; height: 20px; }
.vcard a:hover, .vcard a:focus { text-decoration: underline; }
a { cursor: pointer; text-decoration: none; font-weight: bold; color: rgb(24, 100, 135); }
b { display: none; }
.loaded b { display: inline; color: rgb(24, 100, 135); opacity: 0.6; }
.button { -moz-user-select: none; }
.button b { visibility: hidden; }
#screen-name, #followers, .button { overflow: hidden; float: left; display: inline-block; vertical-align: top; outline: medium none; text-decoration: none; }
.button { width: 61px; }
.button:hover, .button:focus { background-position: 0pt -25px; }
.button:active { background-position: 0pt -50px; }
.button { background: url('en.9530b7e7dba1551550507315591d061b.png') no-repeat scroll 0% 0% transparent; }
