div, ul, li { margin: 0pt; padding: 0pt; }
#abgc { height: 15px; position: absolute; right: 0px; text-rendering: geometricprecision; top: 0pt; width: 15px; z-index: 9010; }
#abgb { height: 100%; }
#abgc svg { display: block; }
#abgs { display: none; height: 100%; }
#abgl { text-decoration: none; }
