body { margin: 0px; padding: 0px; }
div#amazoncontent { font-family: 'Arial',sans-serif; font-size: 10px; padding: 0px; margin: 0px; color: rgb(0, 0, 0); position: relative; width: 180px; height: 150px; border: 0px solid rgb(0, 0, 0); background-color: rgb(255, 255, 255); overflow: hidden; text-align: left; }
div#amazoncontent * { margin: 0px; padding: 0px; }
div#amazoncontent a { color: rgb(51, 153, 255); text-decoration: none; }
div#amazoncontent div#logo { text-align: center; background-color: rgb(0, 0, 0); margin-bottom: 10px; }
div#amazoncontent div#logo a { color: rgb(204, 102, 0); text-decoration: none; }
div#amazoncontent div.product { position: relative; margin: 2px; padding: 3px; }
div#amazoncontent p.details { position: relative; margin-left: 64px; }
div#amazoncontent img.productImage { position: absolute; visibility: hidden; top: 0px; left: -66px; border: medium none; }
div#amazoncontent span.title { text-decoration: underline; }
div#amazoncontent span.author, div#amazoncontent span.price, div#amazoncontent span.loyalty, div#amazoncontent span.info { margin: 8px 0px; color: rgb(0, 0, 0); }
div#amazoncontent span.price, div#amazoncontent span.loyalty { color: rgb(153, 0, 0); }
div#amazoncontent div#privacy { position: absolute; width: 172px; bottom: 0px; left: 0px; padding: 3px; text-align: center; color: rgb(161, 161, 161); background-color: rgb(255, 255, 255); z-index: 1; }
div#amazoncontent div#privacy a { color: rgb(161, 161, 161); }
