/* ::::: http://people.debian.org/%7Ecalvin/pytutor.css ::::: */

h1 { padding: 1em 1em 2em 2em; color: maroon; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; font-weight: 700; font-size: 20px; text-align: center; }
h2 { font-size: 18px; color: maroon; padding-bottom: 4px; border-bottom: thin dashed maroon; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
h3 { font-size: 16px; color: maroon; padding-bottom: 4px; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
body { margin-left: 2em; margin-right: 6em; font-family: Arial,Verdana,Geneva,Helvetica,sans-serif; line-height: 1.5em; }
b { color: maroon; }
dt, th { font-weight: bold; color: maroon; }
dl { margin-left: 2em; }
ul { list-style-image: url('square-highlight.png'); }
.main { float: left; width: 75%; }
.sidebar { color: maroon; margin-left: 70%; width: 23%; border: 1px dashed rgb(204, 204, 204); text-align: left; font-size: 12px; position: fixed; }
li, dd, dt { padding-bottom: 4px; }
pre { font-family: monospace,Verdana,Courier; font-size: 12px; padding: 1em 3em; background-color: rgb(255, 255, 204); color: black; border: 1px dashed gray; }
code { font-family: monospace,Verdana,Courier; font-size: 12px; padding: 3px; background-color: rgb(255, 255, 204); color: black; }
p, table { color: black; padding: 1em 2em; background-color: rgb(245, 245, 245); border: 1px dotted rgb(204, 204, 204); border-collapse: collapse; }
a { text-decoration: none; color: maroon; }
a:hover { text-decoration: none; color: red; }
