tr {  }
col {  }
br {  }
td { padding-top: 1px; padding-right: 1px; padding-left: 1px; vertical-align: middle; white-space: nowrap; color: windowtext; font-size: 12pt; font-weight: 400; font-style: normal; text-decoration: none; font-family: 宋体; border: medium none; }
.xl22 { text-align: center; font-weight: 700; font-family: Arial; }
.xl23 { white-space: normal; font-family: 微软雅黑,sans-serif; }
.xl24 { white-space: normal; font-family: Arial; }
.xl25 { text-align: center; font-weight: 700; font-family: Arial; border: 0.5pt solid windowtext; }
.xl26 { white-space: normal; font-weight: 700; font-family: 微软雅黑,sans-serif; border: 0.5pt solid windowtext; }
.xl27 { white-space: normal; font-weight: 700; font-family: 微软雅黑,sans-serif; border: 0.5pt solid windowtext; }
.xl28 { white-space: normal; font-family: 微软雅黑,sans-serif; border: 0.5pt solid windowtext; }
.xl29 { white-space: normal; font-family: Arial; border: 0.5pt solid windowtext; }
