/* ::::: http://wiki.dropbox.com/wiki/dropbox/css/common.css ::::: */

/* ::::: http://wiki.dropbox.com/wiki/dropbox/css/screen.css ::::: */

body { font-family: "Segoe UI",Tahoma,Helvetica,trebuchet ms,arial,sans serif; padding: 0pt 20px; border: 0pt none; }
p { font-size: 9pt; color: rgb(68, 68, 68); }
a:link { text-decoration: none; color: rgb(31, 117, 204); }
a:link:hover { text-decoration: underline; color: rgb(17, 153, 255); }
a:visited { text-decoration: none; color: rgb(42, 145, 217); }
a:visited:hover { text-decoration: underline; color: rgb(17, 153, 255); }
input {  }
.disabled { color: gray; }
#header { margin: 1px; padding: 1px; background: none repeat scroll 0% 0% rgb(255, 255, 255); line-height: 1.1em; }
#logo { float: left; margin: 20px 20px 10px 10px; padding: 0pt; font-size: 1.4em; line-height: 1em; font-weight: bold; }
#logo img { vertical-align: middle; }
#logo a { color: black; text-decoration: none; }
#username { float: right; margin: 10px 12px 0pt 0pt; padding: 0pt; text-align: right; font-size: 8pt; white-space: nowrap; }
#username li { display: inline; padding: 0pt 1.2em 0pt 0pt; }
#searchform { display: block; padding: 15px 10px; font-size: 0.82em; text-align: right; }
#searchform-div { background-color: rgb(246, 251, 255); border-bottom: 1px solid rgb(170, 204, 238); width: 100%; }
#locationline { clear: right; padding: 0pt; }
#pagelocation { display: block; margin: 10px 0pt; padding: 0pt; font-size: 10.5pt; }
#pagetrail li, #pagelocation li { display: inline; margin: 0pt; font-weight: bold; border: 0pt none ! important; }
#pagelocation li:after { content: " » "; }
#pagelocation li:last-child:after { content: ""; }
.clear { clear: both; }
#left_column { margin-right: 230px; position: relative; }
#searchinput { width: 175px; margin-bottom: 7px; }
#right_column { width: 202px; margin: -2px 1px; position: relative; float: right; border-right: 1px solid rgb(170, 204, 238); border-width: 0pt 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(170, 204, 238) rgb(170, 204, 238); background-color: rgb(233, 244, 255); }
.bottomround { bottom: -1px; left: -1px; position: absolute; }
.topround { left: -1px; position: absolute; top: -1px; }
.editbar, #navibar { width: 180px; display: block; margin: 0pt 0pt 20px; padding: 22px; font-size: 0.82em; border: medium none; }
#navibar { padding-bottom: 0pt; }
.editbar li, #navibar li { list-style: none outside none; margin: 5px 0pt; white-space: nowrap; }
.editbar form select { width: 156px; }
#navibar li.wikilink {  }
.editbar a, #navibar a, #navibar a:visited { color: rgb(42, 145, 217); font-size: 13px; }
#navibar li.current a { color: rgb(51, 51, 51); font-weight: normal; }
#navibar li:hover {  }
#navibar li.current, #navibar li.current:hover {  }
#pageline { clear: both; margin: 0pt; padding: 0pt; width: 100%; height: 4px; line-height: 4px; border-bottom: 1px solid rgb(170, 204, 238); }
.editbar a, .editbar a:visited { color: rgb(42, 145, 217); }
#page { background-color: white; margin: 0pt; padding: 2px 20px 20px; }
#footer { clear: both; margin: 0pt; padding: 3px 0pt; background: url('skinny_dots.gif') repeat-x scroll 0% 0% transparent; }
#credits {  }
#credits, #version, #timings { margin: 5px 10px; padding: 0pt; text-align: left; font-size: 0.88em; color: rgb(108, 118, 128); }
#credits li, #timings li { display: inline; padding: 0pt 2px; margin: 0pt 4px; }
table { width: 99% ! important; }
