/* ::::: http://widgets.digg.com/css/buttons3.css ::::: */

/* ::::: http://www.howtogeek.com/public/css/howtogeek.css?1316003924t1 ::::: */

body { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
table { border-collapse: collapse; border-spacing: 0pt; }
fieldset, img { border: 0pt none; }
li { list-style: none outside none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
body { font: 13px/1.22 arial,helvetica,clean,sans-serif; }
table { font-size: inherit; }
body { text-align: center; }
#ft { clear: both; }
#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 { margin: auto; text-align: left; width: 57.69em; min-width: 750px; }
#doc4 { width: 74.923em; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf, .yui-gc .yui-u, .yui-gd .yui-g, .yui-g .yui-gc .yui-u, .yui-ge .yui-u, .yui-ge .yui-g, .yui-gf .yui-g, .yui-gf .yui-u { float: right; }
.yui-g .yui-gc div.first, .yui-g .yui-ge div.first, .yui-g div.first, .yui-gc div.first, .yui-gc div.first div.first, .yui-gd div.first, .yui-ge div.first, .yui-gf div.first { float: left; }
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf { width: 49.1%; }
.yui-ge .yui-u, .yui-ge .yui-g, .yui-gf div.first { width: 24%; }
.yui-ge div.first, .yui-gf .yui-g, .yui-gf .yui-u { width: 74.2%; }
#bd:after, .yui-g:after, .yui-gb:after, .yui-gc:after, .yui-gd:after, .yui-ge:after, .yui-gf:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
#bd, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {  }
a { text-decoration: none; }
a:visited {  }
#doc4 { margin-top: 5px; width: 1000px; }
#mainheader { margin: 0px; padding: 0px; }
.menu { height: 26px; background: none repeat scroll 0% 0% rgb(172, 172, 172); padding-top: 7px; }
#toplinkbar, #topbarleft, #topbarright, #toplinkbar li { height: 28px; }
#topbarleft, #topbarleft li, .menu li, #menucat, #mainnav { float: left; }
#topbarright, #topbarright li, #skyboxes { float: right; }
#topbarleft { width: 160px; }
#topbarright { width: 283px; }
#toplinkbar li { display: inline; margin-left: 1px; }
.menu li { display: inline; padding-right: 1px; }
#skyboxes { width: 400px; height: 160px; }
#mainnav li { padding-right: 5px; }
body { background: none repeat scroll 0% 0% rgb(23, 34, 50); }
a { color: rgb(23, 34, 50); }
a:hover { color: rgb(213, 78, 33); text-decoration: underline; }
#doc4 { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
#bd { border: 1px solid rgb(23, 34, 50); }
#mainheader { background: url('header.jpg') no-repeat scroll 0px 0px rgb(23, 34, 50); }
#toplinkbar { background: url('topmenu.png') no-repeat scroll 0px 0px transparent; }
#menucat { background: url('menubg.png') no-repeat scroll 0px 0px transparent; }
#mainnav { background: url('mainnav-v2.png') no-repeat scroll 0px 0px transparent; }
.menuicon:hover img, #menucat .sel img { background: url('menubgsel.png') no-repeat scroll 0% 0% transparent; }
.navbutton:hover img, #mainnav .sel img { background: url('mainnav-v2.png') no-repeat scroll 0% 0% transparent; }
#menucat, #mainnav { height: 26px; }
#menucat { width: 358px; margin-left: 5px; }
#mainnav { width: 292px; margin-left: 20px; }
#menu-win7 { margin-left: 83px; }
#menu-win7:hover img, #menu-win7.sel img { background-position: -33px 0px; }
#menu-virus:hover img, #menu-virus.sel img { background-position: -66px 0px; }
#menu-vista:hover img, #menu-vista.sel img { background-position: -94px 0px; }
#menu-office:hover img, #menu-office.sel img { background-position: -124px 0px; }
#menu-web:hover img, #menu-web.sel img { background-position: -151px 0px; }
#menu-linux:hover img, #menu-linux.sel img { background-position: -180px 0px; }
#menu-fun:hover img, #menu-fun.sel img { background-position: -206px 0px; }
#menu-misc:hover img, #menu-misc.sel img { background-position: -233px 0px; }
#menu-xp:hover img, #menu-xp.sel img { background-position: 0px 0px; }
#menu-forum:hover img, #menu-forum.sel img { background-position: -359px 0px; }
#menu-features:hover img, #menu-features.sel img { background-position: -439px 0px; }
#menu-home:hover img, #menu-home.sel img { background-position: -292px 0px; }
#menu-etc:hover img, #menu-etc.sel img { background-position: -532px 0px; }
#hd { background: none repeat scroll 0% 0% rgb(23, 34, 50); }
#menulogin { float: right; height: 28px; margin-right: 10px; padding-top: 2px; }
#menulogin a { font-weight: bold; }
#menusearch { float: right; height: 28px; margin-right: 10px; }
#keyboardninjalist li:first-child, .rp li:first-child { border-top: 1px solid rgb(255, 255, 255); }
.content { padding: 10px; margin-right: 50px; }
.sidebar { padding: 4px 0px 0px 4px; margin-left: -76px; border-left: 1px solid rgb(255, 255, 255); }
.rp { margin-left: 0px; font-size: 85%; }
.rp li { margin-bottom: 4px; padding-top: 4px; background: url('bullet_go.png') no-repeat scroll 0px 3px transparent; padding-left: 20px; padding-bottom: 4px; border-top: 1px solid rgb(204, 204, 204); margin-right: 10px; margin-left: 0px; }
.rp li a { text-decoration: none; }
.htgsidelinksbox { margin: 10px 10px 0px 0px; padding: 0px; }
.htgsidelinksbox .boxtitle { font-weight: bold; margin: 0.4em 0pt 0.5em 0px; font-size: 110%; color: rgb(85, 85, 85); width: 240px; padding-top: 5px; }
.thepost { margin-top: 10px; margin-right: 60px; }
.thecontent { margin-right: -50px; }
.thepost h2 { margin-bottom: 4px; width: 650px; }
.thepost h2 a { letter-spacing: -1px; font-weight: bold; font-size: 152%; }
.thecontent p { margin: 20px 0pt; color: rgb(51, 51, 51); font-size: 92%; font-family: Verdana; line-height: 128%; }
.thecontent { font-size: 114%; }
.thecontent blockquote { text-align: left; clear: both; margin: 0pt; padding: 4px 4px 4px 6px; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; font-family: monospace; }
.thecontent blockquote p { margin: 10px 0pt; padding: 0pt; }
.smalltext { font-size: 11px; }
.thecontent a { text-decoration: underline; }
.thecontent li { list-style-type: disc; margin-left: 15px; margin-bottom: 10px; }
.thecontent h4, h1, h2, h3, h5, h6, h7 { font-weight: bold; color: rgb(23, 34, 50); }
.thecontent h3 { font-size: 120%; }
.thecontent ul, .thecontent ol { margin-left: 15px; color: rgb(51, 51, 51); line-height: 128%; font-family: Verdana; font-size: 92%; }
.thepost img { margin-left: -2px; }
.date, .tags { background: url('date.png') no-repeat scroll 0pt 3px transparent; padding-top: 5px; padding-left: 20px; display: block; margin-bottom: 5px; }
.tags { background: url('tag_green.png') no-repeat scroll 0pt 3px transparent; margin-bottom: 0pt; }
.tags > a { border-bottom: 1px dashed rgb(238, 238, 238); }
.tags > a:hover { border-bottom: 0pt none; }
.contsep { width: 640px; border-top: 1px solid rgb(238, 238, 238); margin-top: 20px; clear: both; }
.contsepnomargin { width: 640px; border-top: 1px solid rgb(238, 238, 238); clear: both; }
.usertagline { width: 70%; }
.commentlist { float: left; width: 640px; border-top: 1px solid rgb(223, 223, 223); border-left: 1px solid rgb(223, 223, 223); border-right: 1px solid rgb(223, 223, 223); margin-top: 10px; margin-bottom: 20px; }
.comment-alt, .geekcomment, .comment-def { float: left; width: 608px; background: none repeat scroll 0% 0% rgb(246, 246, 246); padding: 10px 16px 16px; border-bottom: 1px solid rgb(223, 223, 223); }
.comment-def { background: none repeat scroll 0% 0% rgb(253, 253, 253); border-bottom: 1px solid rgb(223, 223, 223); }
#commentauthor { color: rgb(0, 51, 113); padding-bottom: 10px; letter-spacing: normal; font: 18px helvetica,"lucida grande","lucida sans unicode",arial,sans-serif; }
.commenttext { color: rgb(34, 34, 34); font-size: 112%; padding-bottom: 10px; }
.commenttext p { margin: 10px 0pt; }
.commentmetadata { float: right; }
.commentmetadata a { font-size: 13px; color: rgb(182, 182, 182); margin-top: -4px; }
h3#comments { font-size: 152%; color: rgb(0, 51, 113); font-family: helvetica; font-weight: normal; padding-top: 10px; }
h3#comments #commentnumber { color: rgb(153, 153, 153); font-size: 85%; }
#comment { width: 610px; }
.smalltext { font-size: 85%; }
.bottomul li { margin-bottom: 4px; }
#popul2 { margin-left: 10px; }
#popul2 li { margin-bottom: 5px; background: url('bullet_black.png') no-repeat scroll 0px 0px transparent; padding-left: 20px; }
#popul2 li a { text-decoration: none; }
#popul2 li a:hover { text-decoration: underline; }
#proclistfoot a { padding: 4px; }
#proclistfoot { width: 100%; font-size: 100%; }
#ft { background-color: rgb(255, 255, 255); border-bottom: 4px solid rgb(23, 34, 50); border-top: 10px solid rgb(23, 34, 50); color: rgb(0, 51, 113); padding: 10px; }
#ft a { text-decoration: none; font-weight: normal; }
#ft a:hover { text-decoration: underline; }
#printH1 { display: none; }
.thecontent a:hover { color: darkOrange; }
.thecontent a { color: rgb(17, 68, 145); }
#featposttable { margin-top: 10px; }
#featposttable td { text-align: center; padding-right: 15px; vertical-align: top; padding-bottom: 4px; }
#featposttable a { font-size: 12px; font-weight: bold; color: rgb(23, 34, 50); font-family: Verdana; }
#featposttable a:hover { color: darkorange; }
#featposttable img { border: 1px solid rgb(136, 136, 136); }
.singlepostnav { float: right; }
.tmnAdsenseContainer { float: left; padding: 15px 10px; }
.tmnAdsByGoogleCont { float: left; }
.tmnAdsByGoogle { font-size: 12px; float: left; text-align: right; }
.tmnAdsByGoogle a { color: rgb(119, 119, 119); text-decoration: none; font-size: 11px; }
.tmnAdsenseAdCont { float: left; overflow: hidden; }
.tmnAdsenseAdTitle { margin-bottom: 5px; }
.tmnAdsenseAdTitle a { text-decoration: none; font-size: 15px; color: rgb(68, 68, 221); font-weight: bold; }
.tmnAdsenseAdDesc { color: rgb(0, 0, 0); font-size: 11px; }
.tmnAdsenseAdLink {  }
.tmnAdsenseAdLink a { color: rgb(153, 153, 153); text-decoration: none; font-size: 11px; }
.thepost h2 a { text-decoration: none; }
.thepost h2 a:hover { text-decoration: underline; }
.thecontent p:first-child { margin-top: 0px; }
.sharinglinks li { display: inline; }
.sharinglinks { width: 650px; }
.fbShare { margin-left: 0px; }
#commentform p { padding: 10px; }
#respond h3 { font-size: 140%; margin-left: 10px; }
#commentform #submit { padding: 10px; }
#respond h3 { padding-top: 20px; width: 600px; margin-top: 10px; }
.commentlist { float: left; width: 640px; border-top: 1px solid rgb(223, 223, 223); border-left: 1px solid rgb(223, 223, 223); border-right: 1px solid rgb(223, 223, 223); margin-top: 10px; margin-bottom: 20px; }
.htgauthorbox { background: none repeat scroll 0pt 0pt rgb(235, 243, 251); border: 1px solid rgb(170, 204, 238); padding-bottom: 5px; width: 298px; }
.htgauthorbox h4 { margin: 0pt 0pt 10px; padding: 6px 0pt 0pt 10px; }
.htgauthorbox h4 span { border-bottom: 1px dashed rgb(170, 204, 238); color: rgb(0, 51, 102); font-size: 11px; font-weight: bold; text-transform: uppercase; }
.htgauthorbox img { float: right; height: 80px; margin: 0pt 10px 0pt 5px; width: 80px; }
.htgauthorbox .htgauthorbio { float: left; margin: 0pt; padding: 0pt; width: 195px; }
.htgauthorbox .htgauthorbio p { font-size: 11.3px; margin: 0pt 10px 5px; }
