a { color: rgb(0, 0, 255); }
body, table, div, ul, li { margin: 0pt; padding: 0pt; }
#tlc .rc_bg div { background-color: rgb(255, 255, 255); }
#trc .rc_bg div { background-color: rgb(255, 255, 255); }
#blc .rc_bg div { background-color: rgb(255, 255, 255); }
#brc .rc_bg div { background-color: rgb(255, 255, 255); }
.bg { background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-style: solid; border-width: 0px; height: 18px; position: absolute; width: 18px; }
#ads { height: 89px; left: 1px; position: absolute; top: 0px; width: 726px; }
#ads ul { list-style: none outside none; }
#ads ul li { clear: both; float: left; line-height: 0; padding: 1px 4px; overflow: hidden; text-align: center; }
.adc { table-layout: fixed; width: 100%; }
.adt { font-size: 19px; font-weight: bold; line-height: 1.7; }
.adt:hover { color: rgb(255, 0, 0); }
.adb { color: rgb(0, 0, 0); font-size: 15px; line-height: 1.2; }
.adu { color: rgb(0, 153, 0); font-size: 15px; line-height: 1.2; overflow: hidden; text-decoration: underline; text-overflow: ellipsis; white-space: nowrap; }
.adus { cursor: pointer; }
.attribution li { float: right; height: 18px; }
