body { margin: 0pt; padding: 0pt; }
.uptown { position: relative; width: 250px; height: 250px; }
.uptown #dish0 { width: 250px; height: 250px; position: absolute; top: 0pt; left: 0pt; background-color: rgb(255, 255, 255); opacity: 0; }
.uptown #dish1 { width: 250px; height: 250px; position: absolute; top: 0pt; left: 0pt; border: 1px solid rgb(255, 255, 255); }
a.logo { display: block; height: 18px; width: 26px; text-align: justify; letter-spacing: 20px; text-decoration: none; overflow: hidden; cursor: default; position: absolute; bottom: 0px; right: 0px; z-index: 10; }
.cpro a.logo { background: url('cpro_media_small.png') no-repeat scroll left top transparent; }
.cpro a.logo:hover { width: 78px; background: url('cpro_media_large.png') no-repeat scroll left top transparent; }
