/* ::::: http://bdimg.share.baidu.com/static/css/bdsstyle.css?cdnversion=20130704 ::::: */

#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li, #bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li { list-style: none outside none; margin: 0pt; padding: 0pt; }
#bdshare { z-index: 999999; padding-bottom: 2px; font-size: 12px; float: left; text-align: left ! important; }
#bdshare a, #bdshare_s a, #bdshare_pop a { text-decoration: none; cursor: pointer; }
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
#bdshare h6, #bdshare_s h6 { width: 100%; font: 700 14px/22px '宋体'; text-indent: 0.5em; border-top: 1px solid rgb(251, 251, 251); border-bottom: 1px solid rgb(242, 241, 241); background-color: rgb(246, 246, 246); float: left; padding: 5px 0pt; margin: 0pt; }
#bdshare ul, #bdshare_s ul { width: 98%; float: left; padding: 8px 0pt; margin-left: 2px; overflow: hidden; }
#bdshare ul li, #bdshare_s ul li { width: 47%; float: left; margin: 4px 2px; }
#bdshare ul li a, #bdshare_s ul li a { color: rgb(86, 86, 86); font: 12px '宋体'; display: block; width: 98%; padding: 6px 0pt; text-indent: 2.4em; border: 1px solid rgb(255, 255, 255); }
#bdshare ul li a:hover, #bdshare_s ul li a:hover { background-color: rgb(243, 243, 243); border: 1px solid rgb(238, 238, 238); border-radius: 3px 3px 3px 3px; }
#bdshare p, #bdshare_s p { width: 100%; height: 21px; font: 12px '宋体'; border-top: 1px solid rgb(242, 241, 241); background-color: rgb(248, 248, 248); float: left; padding: 0pt; margin: 0pt; }
#bdshare p a, #bdshare_s p a { width: auto; text-align: right; float: right; padding: 0pt 5px; }
#bdshare_l { width: 212px; position: absolute; top: 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; }
#bdshare_l_c { width: 210px; float: left; border: 1px solid rgb(233, 233, 233); text-align: left; }
#bdshare_l_c ul li { width: 47%; height: 26px; float: left; margin: 2px; }
#bdshare_l_c ul li a { background: url('is.png') no-repeat scroll 0% 0% transparent; height: auto ! important; }
#bdshare_l, #bdshare_m { box-shadow: 0pt 0pt 7px rgb(238, 238, 238); z-index: 99999; }
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite { text-align: right; background: url('pi.gif') no-repeat scroll 0pt center transparent; line-height: 16px; padding-left: 12px; color: rgb(140, 140, 140); }
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover, #bdshare_pop p a.goWebsite:hover { color: rgb(0, 169, 224); }
span.bds_more, .bds_tools a { display: block; font-family: '宋体',Arial; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }
.bds_tools a { background: url('is.png') no-repeat scroll 0% 0% transparent; }
.bds_more { background-image: url('is.png') ! important; background-position: 0pt 4px ! important; }
.bds_qzone { background-position: 0pt -75px ! important; }
.bds_tsina { background-position: 0pt -115px ! important; }
.bds_bdhome { background-position: 0pt -155px ! important; }
.bds_renren { background-position: 0pt -195px ! important; }
.bds_tqq { background-position: 0pt -235px ! important; }
.bds_kaixin001 { background-position: 0pt -275px ! important; }
.bds_tqf { background-position: 0pt -315px ! important; }
.bds_douban { background-position: 0pt -395px ! important; }
.bds_tsohu { background-position: 0pt -435px ! important; }
.bds_tieba { background-position: 0pt -595px ! important; }
.bds_thx { background-position: 0pt -1829px ! important; }
.bds_mshare { background-position: 0pt -2070px ! important; }
.bds_bdxc { background-position: 0pt -2190px ! important; }
.bds_sqq { background-position: 0pt -2230px ! important; }
.bds_bdysc { background-position: 0pt -2550px ! important; }
/* ::::: http://css.360doc.com/wz20130912.css?t=2014012206 ::::: */

body { font-family: Arial,Helvetica,sans-serif; font-size: 12px; background-color: rgb(255, 255, 255); text-align: center; padding: 0px; margin: 0px; word-wrap: break-word; }
.share-bar-btn td { border-bottom: 1px solid rgb(242, 242, 242); }
.share-bar-btn a { float: left; display: block; width: 90px ! important; height: 16px ! important; line-height: 16px; font-size: 12px; margin: 0pt ! important; padding: 0pt ! important; background: url('sharepic1.gif') no-repeat scroll 0% 0% transparent ! important; }
.share-bar-btn a { color: rgb(61, 107, 167); }
.share-bar-btn a:hover { color: rgb(61, 107, 167); }
.share-bar-btn .bds_qzone { background-position: 0pt 0pt ! important; }
.share-bar-btn a.bds_qzone:hover { background-position: 0pt 0pt ! important; opacity: 1 ! important; }
.share-bar-btn .bds_tsina { background-position: 0pt -16px ! important; }
.share-bar-btn a.bds_tsina:hover { background-position: 0pt -16px ! important; opacity: 1 ! important; }
.share-bar-btn .bds_tqq { background-position: 0pt -32px ! important; }
.share-bar-btn a.bds_tqq:hover { background-position: 0pt -32px ! important; opacity: 1 ! important; }
.share-bar-btn .bds_renren { background-position: 0pt -48px ! important; }
.share-bar-btn a.bds_renren:hover { background-position: 0pt -48px ! important; opacity: 1 ! important; }
.share-bar-btn .bds_kaixin001 { background-position: 0pt -64px ! important; }
.share-bar-btn a.bds_kaixin001:hover { background-position: 0pt -64px ! important; opacity: 1 ! important; }
.share-bar-btn .bds_tsohu { background-position: 0pt -80px ! important; }
.share-bar-btn a.bds_tsohu:hover { background-position: 0pt -80px ! important; opacity: 1 ! important; }
.share-bar-btn .bds_py { background: url('sharepic1.gif') no-repeat scroll 0pt -96px transparent ! important; width: 90px; height: 16px; line-height: 16px; font-size: 12px; }
.share-bar-btn .bds_jubao { background: url('sharepic1.gif') no-repeat scroll 0pt -112px transparent ! important; width: 90px; height: 16px; line-height: 16px; font-size: 12px; }
.share-bar-btn2 a { float: left; display: block; width: 22px ! important; height: 16px ! important; margin: 0pt ! important; padding: 0pt ! important; background: url('sharepic1a.gif') no-repeat scroll 0% 0% transparent ! important; }
.share-bar-btn2 span { float: left; line-height: 28px; color: rgb(153, 153, 153); }
.share-bar-btn2 .bds_qzone { background-position: 0pt 0pt ! important; }
.share-bar-btn2 a.bds_qzone:hover { background-position: 0pt 0pt ! important; opacity: 1 ! important; }
.share-bar-btn2 .bds_tsina { background-position: 0pt -16px ! important; }
.share-bar-btn2 a.bds_tsina:hover { background-position: 0pt -16px ! important; opacity: 1 ! important; }
.share-bar-btn2 .bds_tqq { background-position: 0pt -32px ! important; }
.share-bar-btn2 a.bds_tqq:hover { background-position: 0pt -32px ! important; opacity: 1 ! important; }
img { border: 0px none; }
ul { list-style-type: none; padding: 0px; margin: 0px; }
li { padding: 0px; margin: 0px; }
.lf360 { float: left; }
.rt360 { float: right; }
.both { clear: both; }
A:link { color: rgb(61, 107, 167); text-decoration: none; }
A:visited { color: rgb(61, 107, 167); text-decoration: none; }
A:hover { color: rgb(61, 107, 167); text-decoration: underline; }
.list {  }
.list A:link { color: rgb(59, 110, 167); text-decoration: none; }
.list A:visited { color: rgb(59, 110, 167); text-decoration: none; }
.list A:hover { color: rgb(59, 110, 167); text-decoration: underline; }
.lswzbox { padding: 5px 26px 0px; width: 670px; }
.mainzt { margin: 0px auto; width: 997px; }
.biaoti { color: rgb(61, 107, 167); padding: 37px 26px 26px; }
.biaoti2 { font-size: 22px; font-weight: bold; }
.wenzhangcss { padding: 0px 26px; line-height: 1.5; min-height: 245px; height: auto ! important; font-size: 16px; color: rgb(68, 68, 68); }
.xiantao { height: 2px; line-height: 0px; background-color: rgb(222, 231, 226); width: 100%; }
.xianhua { height: 43px; color: rgb(51, 51, 51); font-weight: bold; line-height: 43px; font-size: 14px; }
.shangyp { height: 24px; clear: both; text-align: left; }
.modlist { text-align: left; font-size: 14px; padding-top: 3px; }
.modlist ul { padding: 0px; margin: 0px; }
.modlist2 { text-align: left; font-size: 14px; padding-top: 10px; }
.modlist2 ul { padding: 0px; margin: 0px; }
.modlist2 li { clear: both; padding: 0px 0px 0px 12px; margin: 0px; height: 26px; line-height: 26px; background-image: url('wz14.gif'); background-repeat: no-repeat; background-position: 0px 10px; }
.modlist3 { text-align: left; font-size: 12px; padding-top: 10px; }
.modlist3 ul { padding: 0px; margin: 0px; }
.modlist3 li { clear: both; padding: 0px 0px 0px 12px; margin: 0px; height: 24px; line-height: 24px; background-image: url('wz14.gif'); background-repeat: no-repeat; background-position: 0px 10px; }
.titwx1 { color: rgb(82, 82, 82); font-weight: bold; font-size: 14px; height: 22px; position: absolute; border-bottom: 1px solid rgb(255, 120, 0); padding: 0px 2px; }
.titwx { color: rgb(70, 70, 70); font-size: 14px; font-weight: bold; height: 20px; }
.plbox { width: 670px; height: 175px; background-color: rgb(250, 250, 250); }
.plmain { padding: 15px 20px; }
.deluwx { color: rgb(98, 98, 98); height: 70px; text-align: center; font-size: 14px; padding-top: 32px; }
.deluwx span { font-weight: bold; }
.fenxiang { position: absolute; border: 1px solid rgb(203, 203, 203); text-align: left; background-color: rgb(255, 255, 255); margin-top: 9px; margin-left: -40px; font-size: 12px; height: 150px; width: 108px; }
UL { padding: 0px; list-style-type: none; margin: 0px; }
LI { line-height: 23px; }
H1 { line-height: 150%; }
.box_6 { border-width: 1px; border-style: solid; border-color: rgb(169, 169, 169); background-color: rgb(255, 255, 255); }
.index_main { margin: 0px auto; padding-top: 10px; }
IMG { border-width: 0px; }
PRE { word-wrap: break-word; }
.ggwz { padding-left: 3px; padding-right: 2px; position: absolute; margin-top: -15px; background-color: rgb(154, 154, 154); color: rgb(255, 255, 255); }
.ggwz A:link { color: rgb(255, 255, 255); text-decoration: none; }
.ggwz A:visited { color: rgb(255, 255, 255); text-decoration: none; }
.ggwz A:hover { color: rgb(255, 255, 255); text-decoration: none; }
.zcbutton { position: absolute; margin-left: 30px; margin-top: -10px; }
.addtionone { position: absolute; color: rgb(255, 133, 0); margin-left: 90px; margin-top: -45px; font-size: 22px; font-weight: bold; display: none; }
#goTop2 { bottom: 10px; position: fixed; right: 0pt; width: 50px; z-index: 10; }
#goTop #go_top, #goTop #go_top:hover { background-image: url('wz26.gif'); cursor: pointer; float: left; overflow: hidden; }
#goTop #go_top { height: 50px; width: 50px; }
#goTop #go_top:hover { background-image: url('wz26a.gif'); }
#goTop1 #go_top1, #goTop1 #go_top1:hover { background-image: url('wz27a.gif'); cursor: pointer; float: left; overflow: hidden; }
#goTop1 #go_top1 { height: 49px; width: 50px; }
#goTop1 #go_top1:hover { background-image: url('wz27a.gif'); }
.lswz { width: 330px; height: 287px; background-color: rgb(250, 250, 250); }
.lstwtop { padding-top: 13px; padding-left: 19px; padding-right: 13px; }
.lswztit { border-bottom: 1px solid rgb(220, 220, 220); height: 22px; position: relative; }
.twentit { line-height: 18px; padding-top: 4px; width: 114px; }
.remenwz { width: 247px; border-right: 1px solid rgb(228, 228, 228); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(228, 228, 228) rgb(228, 228, 228); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background-color: rgb(251, 251, 251); height: 358px; }
.rementop { height: 34px; border-top: 2px solid rgb(255, 124, 16); background-color: rgb(255, 255, 255); }
.sekuaibox { position: absolute; width: 146px; border: 1px solid rgb(203, 203, 203); height: 35px; background-color: rgb(255, 255, 255); margin-left: 60px; margin-top: 5px; }
.sekuaibox img { padding-left: 6px; }
.wztopxx { width: 670px; height: 32px; padding-left: 26px; color: rgb(119, 123, 122); }
.btzctsg { padding-left: 10px; padding-right: 14px; }
.danxunbt { padding-left: 8px; }
.danxunwz { padding-top: 2px; }
.gzbt1 { width: 48px; height: 22px; }
.gzbt1 a:link, .gzbt1 a:visited { display: block; width: 48px; height: 22px; background-image: url('wz19.gif'); background-repeat: no-repeat; }
.gzbt1 a:hover { display: block; width: 48px; height: 22px; background-image: url('wz19a.gif'); background-repeat: no-repeat; }
.zscbt { width: 168px; height: 43px; }
.zscbt a:link, .zscbt a:visited { display: block; width: 168px; height: 43px; background-image: url('wz99.gif'); background-repeat: no-repeat; }
.zscbt a:hover { display: block; width: 168px; height: 43px; background-image: url('wz99a.gif'); background-repeat: no-repeat; }
.zswdbt { width: 111px; height: 22px; }
.zswdbt a:link, .zswdbt a:visited { display: block; width: 111px; height: 22px; background-image: url('zcbt.gif'); background-repeat: no-repeat; }
.zswdbt a:hover { display: block; width: 111px; height: 22px; background-image: url('zcbta.gif'); background-repeat: no-repeat; }
.titwx3 { color: rgb(82, 82, 82); font-weight: bold; font-size: 14px; height: 22px; padding-left: 7px; padding-top: 4px; }
.xhmainbox { width: 111px; height: 43px; background-image: url('wzxh14.gif'); background-repeat: no-repeat; }
.share-bar-btn .bds_weixin { background: url('weixin.gif') no-repeat scroll 0% 0% transparent; width: 90px; height: 16px; line-height: 16px; font-size: 12px; }
/* ::::: http://css.360doc.com/wzhead.css?t=2013041705 ::::: */

.lan A:link { color: rgb(45, 96, 159); text-decoration: none; }
.lan A:visited { color: rgb(45, 96, 159); text-decoration: none; }
.lan A:hover { color: rgb(45, 96, 159); text-decoration: underline; }
.name A:link { color: rgb(88, 134, 0); text-decoration: none; }
.name A:visited { color: rgb(88, 134, 0); text-decoration: none; }
.name A:hover { color: rgb(88, 134, 0); text-decoration: underline; }
.mainnav { height: 48px; background-color: rgb(241, 241, 241); width: 100%; min-width: 1000px; }
.mainnav1 { margin: 0px auto; width: 1000px; text-align: left; }
.navwz1 { font-size: 16px; font-weight: bold; color: rgb(95, 95, 95); text-align: center; padding-top: 4px; cursor: pointer; }
.mainnav { height: 48px; background-color: rgb(241, 241, 241); }
.navxt { text-align: left; border-right: medium none; border-width: 1px medium medium; border-style: solid none none; border-color: rgb(255, 255, 255) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; background-image: url('sy-3.gif'); background-repeat: repeat-x; height: 15px; width: 100%; margin-top: -1px; min-width: 1000px; }
.navwz1 A:link { color: rgb(95, 95, 95); text-decoration: none; }
.navwz1 A:visited { color: rgb(95, 95, 95); text-decoration: none; }
.navwz1 A:hover { color: rgb(88, 134, 0); text-decoration: none; }
.serch { background-image: url('sy-21.gif'); background-repeat: no-repeat; width: 187px; height: 25px; }
.serchpt { text-align: left; height: 16px; background-color: rgb(255, 255, 255); font-size: 12px; line-height: 16px; border: 1px solid rgb(255, 255, 255); padding: 2px; width: 173px; color: rgb(178, 178, 178); margin: 1px 0px 0px 2px; }
.ssuo { width: 37px; height: 25px; float: left; }
.ssuo a:link, .ssuo a:visited { display: block; width: 37px; height: 25px; background-image: url('sy-23.gif'); background-repeat: no-repeat; }
.ssuo a:hover { display: block; width: 37px; height: 25px; background-image: url('sy-23a.gif'); background-repeat: no-repeat; }
.denglbj { background-image: url('sy-30.gif'); background-repeat: no-repeat; width: 131px; height: 25px; line-height: 25px; float: right; }
.lan2 A:link { color: rgb(45, 96, 159); text-decoration: none; }
.lan2 A:visited { color: rgb(45, 96, 159); text-decoration: none; }
.lan2 A:hover { color: rgb(45, 96, 159); text-decoration: none; }
.boxwid { width: 45px; float: left; text-align: center; }
.tipzhu { border: 1px solid rgb(212, 212, 212); width: 94px; height: 108px; background-color: rgb(255, 255, 255); z-index: 0; margin-top: -1px; }
.tipzhu ul { margin: 0px; padding: 0px; }
.tipzhu li { margin: 0px; padding: 0px; height: 27px; line-height: 27px; }
.tugduo { width: 41px; z-index: 100; position: relative; }
.xinngdui { width: 40px; padding-top: 7px; z-index: 2000000; position: relative; }
.tipzhu a:link, .tipzhu a:visited { display: block; width: 81px; padding-left: 13px; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tipzhu a:hover { display: block; width: 81px; background: none repeat scroll 0% 0% rgb(242, 242, 242); padding-left: 13px; }
.hui2 li A:link { color: rgb(102, 102, 102); text-decoration: none; }
.hui2 li A:visited { color: rgb(102, 102, 102); text-decoration: none; }
.hui2 li A:hover { color: rgb(102, 102, 102); text-decoration: none; }
/* ::::: http://bdimg.share.baidu.com/static/css/bdsstyle.css?cdnversion=20131219 ::::: */

#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li, #bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li { list-style: none outside none; margin: 0pt; padding: 0pt; }
#bdshare { z-index: 999999; padding-bottom: 2px; font-size: 12px; float: left; text-align: left ! important; }
#bdshare a, #bdshare_s a, #bdshare_pop a { text-decoration: none; cursor: pointer; }
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
#bdshare h6, #bdshare_s h6 { width: 100%; font: 700 14px/22px '宋体'; text-indent: 0.5em; border-top: 1px solid rgb(251, 251, 251); border-bottom: 1px solid rgb(242, 241, 241); background-color: rgb(246, 246, 246); float: left; padding: 5px 0pt; margin: 0pt; }
#bdshare ul, #bdshare_s ul { width: 98%; float: left; padding: 8px 0pt; margin-left: 2px; overflow: hidden; }
#bdshare ul li, #bdshare_s ul li { width: 47%; float: left; margin: 4px 2px; }
#bdshare ul li a, #bdshare_s ul li a { color: rgb(86, 86, 86); font: 12px '宋体'; display: block; width: 98%; padding: 6px 0pt; text-indent: 2.4em; border: 1px solid rgb(255, 255, 255); }
#bdshare ul li a:hover, #bdshare_s ul li a:hover { background-color: rgb(243, 243, 243); border: 1px solid rgb(238, 238, 238); border-radius: 3px 3px 3px 3px; }
#bdshare p, #bdshare_s p { width: 100%; height: 21px; font: 12px '宋体'; border-top: 1px solid rgb(242, 241, 241); background-color: rgb(248, 248, 248); float: left; padding: 0pt; margin: 0pt; }
#bdshare p a, #bdshare_s p a { width: auto; text-align: right; float: right; padding: 0pt 5px; }
#bdshare_l { width: 212px; position: absolute; top: 0pt; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: left; }
#bdshare_l_c { width: 210px; float: left; border: 1px solid rgb(233, 233, 233); text-align: left; }
#bdshare_l_c ul li { width: 47%; height: 26px; float: left; margin: 2px; }
#bdshare_l_c ul li a { background: url('is.png') no-repeat scroll 0% 0% transparent; height: auto ! important; }
#bdshare_l, #bdshare_m { box-shadow: 0pt 0pt 7px rgb(238, 238, 238); z-index: 99999; }
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite { text-align: right; background: url('pi.gif') no-repeat scroll 0pt center transparent; line-height: 16px; padding-left: 12px; color: rgb(140, 140, 140); }
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover, #bdshare_pop p a.goWebsite:hover { color: rgb(0, 169, 224); }
span.bds_more, .bds_tools a { display: block; font-family: '宋体',Arial; height: 16px; float: left; cursor: pointer; padding-top: 6px; padding-bottom: 3px; padding-left: 22px; }
.bds_tools a { background: url('is.png') no-repeat scroll 0% 0% transparent; }
.bds_more { background-image: url('is.png') ! important; background-position: 0pt 4px ! important; }
.bds_qzone { background-position: 0pt -75px ! important; }
.bds_tsina { background-position: 0pt -115px ! important; }
.bds_bdhome { background-position: 0pt -155px ! important; }
.bds_renren { background-position: 0pt -195px ! important; }
.bds_tqq { background-position: 0pt -235px ! important; }
.bds_kaixin001 { background-position: 0pt -275px ! important; }
.bds_tqf { background-position: 0pt -315px ! important; }
.bds_douban { background-position: 0pt -395px ! important; }
.bds_tsohu { background-position: 0pt -435px ! important; }
.bds_tieba { background-position: 0pt -595px ! important; }
.bds_thx { background-position: 0pt -1829px ! important; }
.bds_mshare { background-position: 0pt -2070px ! important; }
.bds_bdxc { background-position: 0pt -2190px ! important; }
.bds_sqq { background-position: 0pt -2230px ! important; }
.bds_bdysc { background-position: 0pt -2550px ! important; }
