html { color: rgb(0, 0, 0); background-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0pt; padding: 0pt; }
fieldset, img { border: 0pt none; }
body { margin: 0pt; padding: 0pt; }
.bd-logo, .bd-logo2, .bd-logo3, .bd-logo4 { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0pt; right: 0pt; z-index: 2147483647; }
.bd-logo { height: 18px; width: 18px; background: url('bg.png') no-repeat scroll 0pt 0pt transparent; }
.bd-logo:hover { background-position: -70px 0pt; }
body { margin: 0pt; padding: 0pt; }
.container { position: relative; }
a { display: inline-block; position: absolute; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; overflow: hidden; color: rgb(255, 255, 255); font-family: "微软雅黑"; text-decoration: none; }
.block1 { font-size: 24px; }
.block3 { font-size: 12px; }
