/* ::::: http://wiki.lazarus.freepascal.org/skins/monobook/main.css?42b ::::: */

/* ::::: http://wiki.lazarus.freepascal.org/skins/css/roadmap.css ::::: */

#content { margin: 2.8em 0pt 0pt 12.2em; padding: 0pt 1em 1.5em; position: relative; z-index: 2; }
a.new, #p-personal a.new { color: rgb(186, 0, 0); }
a.new:visited, #p-personal a.new:visited { color: rgb(165, 88, 88); }
a.selected { font-weight: bold; }
#bodyContent { font-family: sans-serif; font-size: 92%; }
p { margin: 0.4em 0pt 0.5em; line-height: 1.5em; }
h1 { font-size: 188%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; font-weight: normal; }
h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
.editsection { float: right; margin-left: 5px; }
#bodyContent ul { margin: 0.3em 0pt 0pt 1.5em; padding: 0pt; }
dt { font-weight: bold; margin-bottom: 0.1em; }
dl { margin-top: 0.2em; margin-bottom: 0.5em; }
#bodyContent pre { padding: 1em; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); }
#siteSub { display: none; }
#jump-to-nav { display: none; }
#contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0pt 0pt 1.4em 1em; color: rgb(125, 125, 125); width: auto; }
#bodyContent h1, #bodyContent h2 { margin-bottom: 0.6em; }
#bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0.3em; }
.firstHeading { margin-bottom: 0.1em; }
#catlinks { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; margin-top: 1em; clear: both; }
#toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; font-size: 95%; }
#toc h2, .toc h2 { display: inline; border: medium none; padding: 0pt; font-size: 100%; font-weight: bold; }
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
#toc ul, .toc ul { margin-left: 0pt; padding-left: 0pt; text-align: left; }
#toc li, .toc li { list-style-type: none; list-style-image: none; }
#toc ul ul, .toc ul ul { margin: 0pt 0pt 0pt 2em; }
#toc .toctoggle, .toc .toctoggle { font-size: 94%; }
#bodyContent a.external, #bodyContent a[href^="gopher://"] { background: url('external.png') no-repeat scroll right center transparent; padding-right: 13px; }
#bodyContent a.external { color: rgb(51, 102, 187); }
input.searchButton { margin-top: 1px; font-size: 95%; }
#searchGoButton { padding-left: 0.5em; padding-right: 0.5em; font-weight: bold; }
#searchInput { width: 10.9em; margin: 0pt; font-size: 95%; }
#footer li { display: inline; margin: 0pt 1em; }
head:first-child + body #footer li { white-space: nowrap; }
#f-poweredbyico, #f-copyrightico { margin: 0pt 8px; position: relative; top: -2px; }
#f-poweredbyico { float: right; height: 1%; }
#f-copyrightico { float: left; height: 1%; }
.printfooter { display: none; }
/* ::::: http://wiki.lazarus.freepascal.org/skins/css/fp.css ::::: */

body { margin: 0pt; color: rgb(17, 17, 17); background-color: rgb(255, 255, 255); font-family: "Trebuchet MS",Arial,Verdana,sans-serif; text-align: left; }
a { color: rgb(77, 135, 206); text-decoration: none; }
a:hover { color: rgb(42, 101, 173); }
ul li { list-style-image: url('li.gif'); line-height: 20px; text-align: left; }
#menu { width: 100%; padding-top: 20px; padding-bottom: 20px; background-color: rgb(37, 49, 131); margin: 0pt; color: rgb(255, 0, 0); text-align: center; font-family: Verdana,Arial,sans-serif; font-size: 90%; font-variant: small-caps; background-image: url('back.png'); background-repeat: repeat-x; }
#menu a { color: rgb(255, 255, 255); text-decoration: none; padding: 20px 10px; direction: inherit; }
#menu a:hover { border-bottom: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(36, 52, 130); border-right: 1px solid rgb(36, 52, 130); padding-left: 9px; padding-right: 9px; color: rgb(0, 0, 0); background-color: rgb(128, 128, 128); background-image: url('hover.jpg'); direction: inherit; }
#welcome { margin: 0pt 0pt 0pt 40px; }
#welcome a { margin: 0pt 5px; }
#header .spacer { height: 1.4em; float: left; border: 1px solid rgb(255, 255, 255); }
#header img { float: right; margin: 0pt 10% 0pt 0pt; }
#header h1 { font-family: "Century Gothic","Trebuchet MS","Arial Narrow",Arial,sans-serif; font-size: 375%; font-weight: normal; margin: 0pt; padding: 0pt 0pt 0pt 20px; color: rgb(37, 49, 131); background-color: rgb(255, 255, 255); text-align: left; clear: left; }
#header h2 { font-family: "Century Gothic","Trebuchet MS","Arial Narrow",Arial,sans-serif; font-size: 110%; text-transform: uppercase; text-align: right; font-weight: normal; margin: 0pt 20px; padding: 0pt; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(238, 238, 238); }
#content { margin: 0pt 40px; padding: 0pt; text-align: left; }
#sidebar { width: 10em; float: right; font-size: 95%; color: rgb(37, 49, 131); background-color: rgb(255, 255, 255); text-align: left; margin: 0pt; padding-top: 0pt; }
#sidebar h1 { font-family: "Century Gothic","Trebuchet MS","Arial Narrow",Arial,sans-serif; font-size: 140%; text-transform: uppercase; font-weight: normal; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(37, 49, 131); background-color: rgb(255, 255, 255); text-align: right; margin-top: 10px; }
.submenu a { display: block; width: 100%; background-image: url('submenua.png'); background-position: right center; background-repeat: no-repeat; padding: 3px 0px 3px 5px; text-align: left; }
.submenu a:hover { background-color: rgb(238, 238, 238); background-image: url('submenua_hover.jpg'); background-repeat: repeat-y; }
#mainbar { margin-right: 10.2em; padding-right: 0.7em; background-image: url('mainbar.jpg'); background-position: right top; background-repeat: no-repeat; }
#mainbar h1 { font-family: "Century Gothic","Trebuchet MS","Arial Narrow",Arial,sans-serif; font-size: 25px; text-transform: uppercase; font-weight: normal; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(37, 49, 131); margin-top: 10px; }
ul li p { margin: 0pt; }
#footer { clear: both; width: 95%; font-size: 75%; text-align: center; background-color: rgb(37, 49, 131); border-top: 1px solid rgb(129, 192, 255); border-bottom: 0pt none; padding-top: 5px; padding-bottom: 5px; margin: 0pt auto; color: rgb(255, 255, 255); direction: ltr; }
#footer a { color: rgb(129, 192, 255); }
#footer a:hover { color: rgb(175, 215, 255); }
/* ::::: http://wiki.lazarus.freepascal.org/index.php?title=MediaWiki:Common.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000 ::::: */

/* ::::: http://wiki.lazarus.freepascal.org/index.php?title=MediaWiki:Monobook.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000 ::::: */

/* ::::: http://wiki.lazarus.freepascal.org/index.php?title=-&action=raw&gen=css&maxage=18000 ::::: */

a.new, #quickbar a.new { color: rgb(204, 34, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
.code .kw1 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw2 { color: rgb(0, 0, 0); font-weight: bold; }
.code .kw3 { color: rgb(0, 0, 102); }
.code .kw4 { color: rgb(153, 51, 51); }
.code .br0 { color: rgb(102, 204, 102); }
.code .st0 { color: rgb(255, 0, 0); }
.code .nu0 { color: rgb(204, 102, 204); }
.code .me1 { color: rgb(0, 102, 0); }
